html body {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

.whirly {
    display:inline-block;
    width: 20px;
    height: 20px;
}

.top_level_buttons {
    float: right;
    margin:1em;
}

/* A node in the spec tree */
div.node {
    padding: 0.5em;
}

.keys {
    font-family: "Courier New", Courier, monospacecourier;
    font-weight: bold;
    margin-right: 1em;
}

.value_modified {
    color: pink;
}

.closed > .description {
    display: none;
}

.open > .description {
    display: block;
}

/* Inside .contents, text description */
.description {
    
}

/* Used to record that a leaf node has been populated with a value */
.valued {
}

/* Classes added to elements that have been checked. All of these
 * may be added; we want errors > warnings > information */
div.information {
}

.reports > .warnings {
    background-image: url(warningsIcon.png);
    padding-left: 22px;
    background-position: left 45%;
    background-repeat: no-repeat;
    color: #AA0;
}

.reports > .errors {
    background-image: url(errorsIcon.png);
    padding-left: 22px;
    background-position: left 45%;
    background-repeat: no-repeat;
    color: #A00;
}

.tab.warnings {
    background-image: url(warningsIcon.png);
    padding-right: 22px;
    background-position: right 45%;
    background-repeat: no-repeat;
    color: #AA0;
}

.tab.errors {
    background-image: url(errorsIcon.png);
    padding-right: 22px;
    background-position: right 45%;
    background-repeat: no-repeat;
    color: #A00;
}

.tab.warnings.errors {
    background-image: url(warningsAndErrorsIcon.png);
    padding-right: 44px;
    background-position: right 45%;
    background-repeat: no-repeat;
}

.key_controls {
    border: 1px solid black;
    width: 44px;
    height: 22px;
    float:right;
}

/* Shown if value has been modified in this session */
.undo_button {
    width: 20px !important;
    height: 20px !important;
}

.undo-icon {
    background-image: url("undo-modified-icon.png") !important;
}

/* Button shown if value differs from default */
.control_button {
    width: 20px !important;
    height: 20px !important;
}

.default-icon {
    background-image: url("reset-icon.png") !important;
}

.info-icon {
    background-image: url("info-icon.png") !important;
}

.expert {
    display: block;
    background-image: url(expert.png);
    padding-left: 60px !important;
    background-position: left 45%;
    background-repeat: no-repeat;
}

.hidden_expert {
    display: none;
}

.hidden_di {
    display: none;
}

.closed_dialog {
    display: none;
}

#auth_prompt {
    height: 300px;
    width: 350px;
}

textarea.report {
    width: 100%;
    height: 40%;
}
