<!-- Modal form to confirm discard changes -->

<div id="configureDiscardChangesForm" class="configureModalForm configureDiscardChangesForm">

<h1>Discard pending changes</h1>

<#if pendingCount gt 0>
You are about to discard all pending changes.

  <form method="post" action="${formAction}" enctype="multipart/form-data" name="changePassword">
    <input type="hidden" name="time" value="${time}"  />
 <#assign actionButtonLabel>Confirm discard</#assign>
${actionButton}
</#if>
<#if pendingCount == 0>
There are no pending changes.
</#if>

${actionFeedback}
<$authenticationReason>Discarding your pending changes</$authenticationReason>
${authenticationNeeded}
  </form>
</div> 
