<html>
<head>
<!-- This error is sent to a modal window when a feedback request
     violates the protocol.  It is not a full HTML context; the
     content inside the body tags will be inserted into a
     configureFeedbackErrorWindow div.  Everything else is used
     to identify this as a protocol exception, but is not displayed. -->
</head>
<#assign noHeader>
    The message received was missing a FeedbackRequest header.
    <p>The feedback mechanism is not for direct interactive use.
</#assign>
<#assign noVersion>
    The message received had a malformed FeedbackRequest header.
    <p> Please clear your browser's cache and refresh your window.
    <p>If this does not resolve the problem, your Foswiki installation
    is corrupted or out of date.
</#assign>
<#assign versionSkew>
    The message received was the wrong version (${protocolVersion}).
    <p> Please clear your browser's cache and refresh your window.
    <p>If this does not resolve the problem, your Foswiki installation
    is corrupted or out of date.
</#assign>
<#assign noScriptVer>
    Your browser does not have the current configure javascript loaded.
    The message received was missing a ScriptVersion header.
    <p> Please clear your browser's cache and refresh your window.
    <p>If this does not resolve the problem, your Foswiki installation
    is corrupted or out of date.
</#assign>
<#assign scriptVerSkew>
    Your browser does not have the current configure javascript loaded.<br />
    The message received is version ${scriptVersionReceived}.<br />
    The version required is ${scriptVersionRequired}.
    <p> Please clear your browser's cache and refresh your window.
    <p> If this does not resolve the problem, your Foswiki installation
    is corrupted or out of date.
</#assign>
<#asign scriptFileCorrupt>
    Configure was unable to locate the version of its client javascript file.
    <p> Your Foswiki installation is corrupted or out of date.
</#assign>
<#assign scriptTimeSkew>
    The time reported by your browser differs from the 
    time reported by the server by more than ${maxTimeSkew}.<table><tbody>
    <tr><td><strong>Browser time:</strong><td>${clientTime}
    <tr><td><strong>Server time:</strong><td>${serverTime}</table>
    <p> This can cause problems with authentication, logging and topic edits.
   <p> Please correct the time on the machine running your browser and/or server.
   <p> Note: The local times are in the server's time zone; the time zone of your 
     browser does <strong>not</strong> need to match that of the server.
   <p> We strongly suggest using NTP or SNTP ('Internet time' in windows) to maintain
   the correct time for both clients and servers.
</#assign>
<body>
  <div class="configureFeedbackError">
    <h1><img src="%RESOURCEURI%icon_error.png">Invalid feedback request</h1>
        <h2>Feedback request was not accepted</h2><p>
        <#if etype == 1>
            ${noHeader}
       </#if>
        <#if etype == 2>
            ${noVersion}
       </#if>
        <#if etype == 3>
            ${versionSkew}
       </#if>
        <#if etype == 4>
            ${noScriptVer}
       </#if>
        <#if etype == 5>
            ${scriptVerSkew}
       </#if>
        <#if etype == 6>
            ${scriptFileCorrupt}
       </#if>
        <#if etype == 7>
            ${scriptTimeSkew}
       <#else>
        <p><b>Developers:</b> If you are running from trunk or pseudo-installed, executing ${resourcePath}/make_gz may resolve this error.
       </#if>
   </div>
</body>
</html>
