<#-- Template used for Feedback pending summary div -->

<#if pendingCount == 0>
 <#assign unsavedDetailButton>
    <div class="configureNoChanges"><span>No unsaved changes</span></div>
 </#assign>
</#if>
<#if pendingCount gt 0><#assign unsavedDetailButtonLabel>
  <span class="configureUnsaved">
    <#if pendingCount == 1>1 unsaved change</#if><#--
    --><#if pendingCount gt 1>${pendingCount} unsaved changes</#if><#--
    --><#if timesaved??>,&nbsp;from ${timesaved}</#if>
     <#assign unsavedDetailButtonLabel>${nPending}</#assign>
  </span>
</#assign></#if>
${unsavedDetailButton}
