<h3>Where to go from here?</h3>
<p>
    <a href='${frontpageUrl}' class="foswikiButton">Go to your Foswiki front page</a><a href='${configureUrl}' class="foswikiButton">Return to configuration </a></li>
</p>