<div id="doc3" class="yui-t8 configureMain">
	
	<div id="bd" class="section configureMainContents">
		
		<div id="yui-main">
			<div class="yui-b">
				<#if contents??>${contents}</#if>
			</div>
		</div>

		<div class="yui-b">
			<#if navigation??>
			    <div class='navigation'>
                    ${navigation}
                    <div class='configureToggleSections foswikiMakeVisibleBlock'>
                        <a href='#' class='configureNotShowSection'>open all sections</a>
                        <a href='#' class='configureToggleSection'>close all sections</a>
                    </div>
                </div>
			</#if>
		</div>
		
	</div>

</div>

<div id="configureToolTipTemplate" class="foswikiHidden">
Reset to the default value, which is:<br />
<code>VALUE</code> <br />
(click twice to undo)
</div>
