<#-- SECTION TEMPLATE -->

<div id='${id}Body' class='${bodyClass}'><a name='${id}'><!--//--></a>

<#-- any header -->
<#if headline??><h${depth}>${headline}</h${depth}></#if>

<#-- any warning or error message -->
<#-- suppress blocks for level 3 to not clutter the interface too much -->
<#-- Data is provided and updated by javascript -->
<#if depth < 3><div id='${id}Alerts' class='foswikiAlert${alertActive}'></div></#if>

<#-- any navigation -->
<#if navigation??>${navigation}</#if>

<#-- any description -->
<#if description??>${description}</#if>

<#-- any contents (table) -->
<#if contents??>${contents?replace("CONFIGURE_EXPERT_LINK", "<span><a class='configureExpert configureMakeHidden' href='#'>Hide expert options</a><a class='configureNotExpert foswikiMakeHidden' href='#'>Show expert options</a></span>")?replace("CONFIGURE_INFO_LINK", "<span><a class='configureInfoText foswikiMakeVisible' href='#'>Hide all info</a><a class='configureNotInfoText foswikiMakeVisible' href='#'>Show all info</a></span>")}</#if>

</div><!--/${id}Body-->