<!-- Modal form to confirm discard changes -->

<div id="configureSessionTimeoutForm" class="configureModalForm configureSessionTimeoutForm">

<h1>Session Inactive</h1>

<p>
Your session has been inactive for too long.

  <form method="post" action="${formAction}" enctype="multipart/form-data" name="sessionTimeout">
    <input type="hidden" name="time" value="${time}"  />

<$authenticationReason>Continuing to work with configure</$authenticationReason>
${authenticationNeeded}
<#assign actionButtonLabel>Continue working</#assign>
${actionButton}
${actionFeedback}
  </form>
</div> 
