<!-- Template used for Audit results -->

<h2>${checksPerformed} configuration item check<#if checksPerformed == 1> &nbsp;was<#else>s were</#if> performed on ${itemCount} item<#if itemCount gt 1>s</#if></h2>
<#assign itemMsg><#if itemCount le itemListLimit>were:<#else>included:</#if></#assign>
Item<#if itemCount == 1> &nbsp;checked is<#else>s checked ${itemMsg}</#if>

<#list itemsChecked as i>
<strong>${i.item}</strong>&nbsp; 
</#list>

