/* PatternSkin colors */

/* LAYOUT ELEMENTS */

#patternScreen {
    background:#eeedec;
}
#patternPage {
    border-color:#ccc;
}
#patternTopBar {
   border-color:#dfdfdf;
   background:#eeedec;
   /* color can be overridden with WEBHEADERBGCOLOR in System/DefaultPreferences */
}
#patternMain { /* don't set a background here; use patternOuter */ }
#patternOuter {
   background:none;
   border-color:#eee;
}
#patternSideBar,
#patternWrapper {
   background:#fff;
}
#patternBottomBar {
   border-color:#ccc;
   background-color:#eeedec;
}
#patternBottomBarContents,
#patternBottomBarContents a:link,
#patternBottomBarContents a:visited {
   color:#797979;
}
#patternBottomBarContents a:hover {
   color:#06c;
}

/* GENERAL HTML ELEMENTS */

html body {
   background-color:#eeedec;
   color:#000;
}
html body.patternEditPage,
.mceContentBody {
   background-color:#fff;
}

/* be kind to netscape 4 that doesn't understand inheritance */
body, p, li, ul, ol, dl, dt, dd, acronym, h1, h2, h3, h4, h5, h6 {
   background-color:transparent;
}
hr {
   color:#dfdfdf;
   background-color:#dfdfdf;
}
pre, code, tt {
   color:#333;
}
pre {
   background:#ededeb;
   border-color:#ddd;
}
blockquote {
   background-color:#f5f5f5;
   border-color:#ddd;
}
blockquote h2 {
   background:none;
}
h1 {
   color:#333;
}
h2, h3, h4, h5, h6 {
   color:#339000;
}

/* to override old Render.pm coded font color style */
:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
   color:#06c;
   background-color:transparent;
}
:link:hover,
:visited:hover {
   color:#06c;
   background-color:transparent;
   background-image:none;
}
:link:hover img,
:visited:hover img {
   background-color:transparent;
}
a:visited {
   color:#4c94db;
}
a:hover {
   color:#06c;
}
.foswikiUnvisited a:visited {
   color:#06c;
}
.foswikiUnvisited a:hover {
   color:#06c;
}

/* Form elements */

textarea,
input,
select {
   border-color:#aaa;
   color:#000;
   background-color:#fff;
}
.foswikiTextarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly,
.foswikiSelect {
   border-color:#bbb #f2f2f2 #f2f2f2 #bbb;
}
.foswikiTextarea,
.foswikiInputField,
.foswikiSelect {
   color:#000;
   background-color:#fff;
}
.foswikiInputField:active,
.foswikiInputField:focus,
.foswikiInputFieldFocus {
   background-color:#ebf5fa;
}

.foswikiTextareaRawView {
   color:#000;
}
.foswikiInputFieldDisabled {
   color:#aaa;
   background-color:#fafaf8;
}
.foswikiInputFieldReadOnly {
   color:#797979;
}
.foswikiSelect {
   border-color:#bbb #f2f2f2 #f2f2f2 #bbb;
   color:#000;
   background-color:#fff;
}
.foswikiInputFieldDisabled,
.foswikiSelectDisabled {
   color:#aaa;
   border-color:#bbb #f2f2f2 #f2f2f2 #bbb;
   background-color:#fafaf8;
}
.foswikiInputFieldBeforeFocus {
   color:#797979;
}

/*   -----------------------------------------------------------
   Plugin elements
   -----------------------------------------------------------   */

/* TablePlugin */
.foswikiTable,
.foswikiTable td,
.foswikiTable th {
   border-color:#eee;
}
.foswikiTable th {
	background:#d6d3cf;
}
.foswikiTable th,
.foswikiTable th a:link,
.foswikiTable th a:visited {
   color:#000;
}

/* TwistyContrib */
.twistyPlaceholder {
   color:#797979;
}
a:hover.twistyTrigger {
   color:#06c;
}

/* TipsContrib */
.tipsOfTheDay {
	background-color:#f6f6f5;
}

/* RevCommentPlugin */
.revComment .patternTopicActions {
   background-color:#f6f6f5;
}

/*   -----------------------------------------------------------
   Foswiki styles
   -----------------------------------------------------------   */

.foswikiGrayText {
   color:#797979;
}
.foswikiGrayText a:link,
.foswikiGrayText a:visited {
   color:#797979;
}
.foswikiGrayText a:hover {
   color:#06c;
}

.foswikiEditForm .foswikiFormTable,
.foswikiEditForm .foswikiFormTable th,
.foswikiEditForm .foswikiFormTable td {
   border-color:#eee;
}

.foswikiEditForm th a:visited,
.foswikiEditForm th a:link {
   color:inherit;
}

.foswikiForm + .patternTopicActions,
.foswikiAttachments + .patternTopicActions {
    border-color: #e2e2e2;
}

.foswikiAttachments table {
   border-color:#eee;
   background-color:#fff;
}
table.foswikiFormTable,
.foswikiAttachments table,
.foswikiAttachments th,
.foswikiAttachments td {
   border-color:#eee;
   background-color:#fcfcfc !important;
}
.foswikiForm td,
.foswikiForm th,
.foswikiAttachments td, 
.foswikiAttachments th {
   border-color:#eee;
}

.foswikiFormSteps {
    border-color: #e2e2e2;
    background-color: #f9f9fa;
}
.foswikiFormSteps .foswikiFormSteps {
    background-color:#fff;
}
.foswikiFormSteps h3,
.foswikiFormSteps h4 {
   background-color:transparent;
}
.foswikiFormSteps .foswikiFormSteps h3,
.foswikiFormSteps .foswikiFormSteps h4 {
    color: #797979;
}
.foswikiToc .foswikiTocTitle {
   color:#797979;
}
.foswikiBroadcastMessage,
.foswikiNotification {
   background-color:#fef7e3;
   border-color:#fbad17;
}

.foswikiBroadcastMessage h1,
.foswikiBroadcastMessage h2,
.foswikiBroadcastMessage h3,
.foswikiBroadcastMessage h4,
.foswikiBroadcastMessage h5,
.foswikiBroadcastMessage h6,
.foswikiNotification h1,
.foswikiNotification h2,
.foswikiNotification h3,
.foswikiNotification h4,
.foswikiNotification h5,
.foswikiNotification h6 {
    color: #665024;
}

.foswikiMessage {
   background-color:#fef7e3;
}
.foswikiHelp {
   background-color:#deeffa;
   border-color:#daedf8;
}
.foswikiFormSteps .foswikiHelp {
   background-color:#fff;
}
.foswikiHelp h1,
.foswikiHelp h2,
.foswikiHelp h3,
.foswikiHelp h4,
.foswikiHelp h5,
.foswikiHelp h6 {
    color: #45759a;
}

.foswikiBroadcastMessage b,
.foswikiBroadcastMessage strong {
   color:#f00;
}
.foswikiAlert,
.foswikiAlert code {
   color:#f00;
}
.foswikiEmulatedLink {
   color:#06c;
}
.foswikiPageForm table {
   border-color:#eee;
   background:#fff;
}
.foswikiPageForm hr {
   border-color:#cfcfcf;
   background-color:#cfcfcf;
   color:#cfcfcf;
}

.foswikiAccessKey {
   color:inherit;
   border-color:#797979;
}
a:link .foswikiAccessKey,
a:visited .foswikiAccessKey {
   color:inherit;
}
a:hover .foswikiAccessKey {
   color:inherit;
}

.foswikiImage {
	background-color:#fff;
}
.foswikiImage img,
.foswikiImage a:link img,
.foswikiImage a:visited img {
   border-color:#eee;
   background-color:#fff;
}
#patternTopBar .foswikiImage,
#patternTopBar .foswikiImage img {
   background-color:transparent;
}
.foswikiImage a:hover img {
   border-color:#06c;
}
.foswikiSeparator {
   color:#ccc;
}
.foswikiHorizontalList ul li {
	border-color:#ccc;
}
.foswikiAllowNonWikiWord {}

/*   -----------------------------------------------------------
   Pattern skin specific elements
   -----------------------------------------------------------   */
#patternPage {
   background-color:#fff;
}
.patternHomePathTitle,
.patternRevInfo,
.patternHomePath a:link,
.patternHomePath a:visited {
   color:#797979;
}
.patternHomePath:hover a:link,
.patternHomePath:hover a:visited {
   color:#06c;
}

/* Left bar */
#patternSideBarContents {
   color:#000;
}
#patternSideBarContents hr {
   color:#ddd;
   background-color:#ddd;
}
#patternSideBarContents a:link,
#patternSideBarContents a:visited {
   color:#333;
}
#patternSideBarContents a:hover {
   color:#06c;
}
#patternSideBarContents .patternLeftBarPersonal,
#patternSideBarContents .patternWebIndicator {
    border-color:#eee;
}
#patternSideBarContents b,
#patternSideBarContents strong {
    color:#333;
}

.patternActionButtons a:link,
.patternActionButtons a:visited,
.patternActionButtons a:hover {
   color:#06c;
}
.patternTopicActions s,
.patternTopicActions strike {
   color:#aaa;
}
.patternTopicActions .foswikiAccessKey {
   color:#06c;
   border-color:#06c;
}
.patternTopicActions a:hover .foswikiAccessKey {
   color:#06c;
}
.patternTopicActions label {
   color:#000;
}
.patternHelpCol {
   color:#797979;
}
.patternSigLine {
   color:#797979;
}

.patternInfo,
.patternInfo a:link,
.patternInfo a:visited {
	color:#797979;
}
.patternInfo:hover a:link,
.patternInfo:hover a:visited,
.patternInfo a:hover {
	color:#06c;
}
.patternTwistyButton {
	color:#06c;
}
.patternAttachmentHeader .foswikiSmall {
   color:#797979;
}

/* WebSearch, WebSearchAdvanced */

table#foswikiSearchTable {
   border-color:#ddd;
   background-color:#eeedec;
}
table#foswikiSearchTable th,
table#foswikiSearchTable td {
   background-color:#fff;
   border-color:#ddd;
}
table#foswikiSearchTable hr {
   border-color:#ddd;
   background-color:#ddd;
}
table#foswikiSearchTable th {
   color:#000;
}

/*   -----------------------------------------------------------
   Search results
   styles and overridden styles used in search.pattern.tmpl
   -----------------------------------------------------------   */

.foswikiSearchResult .foswikiAlert {
   color:#f00;
}
.foswikiSearchResult .foswikiSummary .foswikiAlert {
   color:#900;
}
.foswikiSearchResult .foswikiBottomRow,
.foswikiSearchResult .foswikiBottomRow a:link,
.foswikiSearchResult .foswikiBottomRow a:visited {
   color:#049804;
}
.foswikiSearchResult .foswikiBottomRow:hover a:link,
.foswikiSearchResult .foswikiBottomRow:hover a:visited {
   color:#06c;
}
.patternViewPage .patternSearchResultsBegin {
   border-color:#eee;
}

/* preview.pattern.tmpl */

.foswikiPreviewArea {
	background:#fff;
}

/* rdiff.pattern.tmpl */

.patternDiff,
.patternDiffPage .foswikiDiffTable {
   border-color:#ccc;
}
.patternDiff .foswikiTopRow {
   background-color:#f5f5f5;
}
tr.foswikiDiffDebug td {
   border-color:#f5f5f5;
}
.foswikiDiffTable table th {
   background-color:#f5f5f5;
}
.foswikiDiffTable th {
   background-color:#f5f5f5;
}
/* Changed */
.foswikiDiffChangedHeader {
	/* violet - do not change */
	background:#ccf !important;
}
.foswikiDiffChangedText {
	/* violet - do not change */
	border-color:#99f !important;
	background-color:#fff !important;
}
/* Deleted */
.foswikiDiffDeletedHeader {
	background-color:#ffd6d6 !important;
}
.foswikiDiffDeletedMarker {
	/* red - do not change */
	border-color:#f33 !important;
	background-color:#fff !important;
}
/* Added */
.foswikiDiffAddedHeader {
	background-color:#ccf5d6 !important;
}
.foswikiDiffAddedMarker {
	/* green - do not change */
	border-color:#0c3 !important;
	background-color:#fff !important;
}
/* Unchanged */
.foswikiDiffUnchangedMarker {
	border-color:#f5f5f5 !important;
	background-color:#fff !important;
}
.foswikiDiffUnchangedText {
   color:#797979;
}
.foswikiDiffUnchangedTextContents { }
.foswikiDiffLineNumberHeader th {
   background-color:#f5f5f5 !important;
}


/* IMAGES */
/* image positions are set here as well as these are dependent on the image */

#patternTopBar {
    /* image is defined as WEBHEADERART in System/DefaultPreferences */
}
.foswikiToc li {
   background-image:url(bullet-toc.gif);
   background-repeat:no-repeat;
   background-position:0 .4em;
}
.patternPrintPage #patternOuter {
   background:#fff; /* white - do not change */
}

.patternTextareaButton {
   border-color:#fffefd #b8b6ad #b8b6ad #fffefd;
   overflow:hidden;
}
.patternButtonFontSelector {
   background-image:url(button_font_selector.gif);
   width:33px;
   height:16px;
}
.patternButtonFontSelectorProportional {
   background-position:0 0;
}
.patternButtonFontSelectorMonospace {
   background-position:0 -16px;
}
.patternButtonEnlarge,
.patternButtonShrink {
   background-image:url(button_arrow.gif);
   width:16px;
   height:16px;
}
.patternButtonEnlarge {
   background-position:0 0;
}
.patternButtonEnlarge:hover {
   background-position:0 -42px;
}
.patternButtonEnlarge:active {
   background-position:0 -84px;
}
.patternButtonShrink {
   background-position:16px 0;
}
.patternButtonShrink:hover {
   background-position:16px -42px;
}
.patternButtonShrink:active {
   background-position:16px -84px;
}

/* common settings */
.patternLeftBarPersonal li,
li.patternLogOut,
li.patternLogIn {
   padding-left:13px;
   background-position:0 .4em;
   background-repeat:no-repeat;
}
.patternLeftBarPersonal li {
   background-image:url(bullet-personal_sidebar.gif);
}
.patternLeftBarPersonal li.patternLogOut {
   background-image:url(bullet-lock.gif);
}
.patternLeftBarPersonal li.patternLogIn {
   background-image:url(bullet-lock.gif);
}
.patternShadow {
	border:10px solid #fff;
	margin-top:10px;
	margin-bottom:10px;
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}
.foswikiJs a.jqPopUpWindow:link,
.foswikiJs a.jqPopUpWindow:visited,
.foswikiJs a.jqPopUpWindow:hover {
	background-image:url(popup.gif);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:14px;
	margin-right:3px;
}

/*
* BUTTONS
*/
.jqButton {
  height: auto;
  float: none;
  margin: 0;
  background-image: none;
}
.jqButton span {
  background: none;
  float: none;
  height: auto;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.foswikiButton,
.jqButton,
a.jqButton,
.foswikiButtonSmall,
.foswikiButtonLarge,
.foswikiButtonMini {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 7px 2px 7px;
  margin-bottom: 0;
  line-height: 22px;
  *line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  *border: 0;
  *margin-left: .3em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}
.foswikiButton:first-child,
.jqButton:first-child,
a.jqButton:first-child,
.foswikiButtonSmall:first-child,
.foswikiButtonLarge:first-child,
.foswikiButtonMini:first-child {
  *margin-left: 0;
}
.foswikiButton .foswikiIcon,
.jqButton .foswikiIcon,
a.jqButton .foswikiIcon,
.foswikiButtonSmall .foswikiIcon,
.foswikiButtonLarge .foswikiIcon,
.foswikiButtonMini .foswikiIcon {
  vertical-align: middle;
  line-height: .5;
}
.foswikiButton,
.jqButton,
a.jqButton,
.foswikiButtonSmall,
.foswikiButtonLarge,
.foswikiButtonMini,
.foswikiButton:link,
.jqButton:link,
a.jqButton:link,
.foswikiButtonSmall:link,
.foswikiButtonLarge:link,
.foswikiButtonMini:link {
  text-decoration: none;
}
.foswikiButton,
.jqButton,
a.jqButton,
.foswikiButtonSmall,
.foswikiButtonLarge,
.foswikiButtonMini,
.foswikiButton:link,
.jqButton:link,
a.jqButton:link,
.foswikiButtonSmall:link,
.foswikiButtonLarge:link,
.foswikiButtonMini:link,
.foswikiButton:visited,
.jqButton:visited,
a.jqButton:visited,
.foswikiButtonSmall:visited,
.foswikiButtonLarge:visited,
.foswikiButtonMini:visited {
  color: #555555;
  text-shadow: none;
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #fbfbfb, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #eeeeee);
  background-image: -o-linear-gradient(top, #fbfbfb, #eeeeee);
  background-image: linear-gradient(to bottom, #fbfbfb, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbfb', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eeeeee #eeeeee #c8c8c8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #eeeeee;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #e1e1e1;
}
.foswikiButton .foswikiIcon,
.jqButton .foswikiIcon,
a.jqButton .foswikiIcon,
.foswikiButtonSmall .foswikiIcon,
.foswikiButtonLarge .foswikiIcon,
.foswikiButtonMini .foswikiIcon,
.foswikiButton:link .foswikiIcon,
.jqButton:link .foswikiIcon,
a.jqButton:link .foswikiIcon,
.foswikiButtonSmall:link .foswikiIcon,
.foswikiButtonLarge:link .foswikiIcon,
.foswikiButtonMini:link .foswikiIcon,
.foswikiButton:visited .foswikiIcon,
.jqButton:visited .foswikiIcon,
a.jqButton:visited .foswikiIcon,
.foswikiButtonSmall:visited .foswikiIcon,
.foswikiButtonLarge:visited .foswikiIcon,
.foswikiButtonMini:visited .foswikiIcon {
  color: #555555;
}
.foswikiButton .foswikiCaret,
.jqButton .foswikiCaret,
a.jqButton .foswikiCaret,
.foswikiButtonSmall .foswikiCaret,
.foswikiButtonLarge .foswikiCaret,
.foswikiButtonMini .foswikiCaret,
.foswikiButton:link .foswikiCaret,
.jqButton:link .foswikiCaret,
a.jqButton:link .foswikiCaret,
.foswikiButtonSmall:link .foswikiCaret,
.foswikiButtonLarge:link .foswikiCaret,
.foswikiButtonMini:link .foswikiCaret,
.foswikiButton:visited .foswikiCaret,
.jqButton:visited .foswikiCaret,
a.jqButton:visited .foswikiCaret,
.foswikiButtonSmall:visited .foswikiCaret,
.foswikiButtonLarge:visited .foswikiCaret,
.foswikiButtonMini:visited .foswikiCaret {
  border-top-color: rgba(85, 85, 85, 0.4);
}
.foswikiButton:hover,
.jqButton:hover,
a.jqButton:hover,
.foswikiButtonSmall:hover,
.foswikiButtonLarge:hover,
.foswikiButtonMini:hover,
.foswikiButton.foswikiActive,
.jqButton.foswikiActive,
a.jqButton.foswikiActive,
.foswikiButtonSmall.foswikiActive,
.foswikiButtonLarge.foswikiActive,
.foswikiButtonMini.foswikiActive,
.foswikiButton > .foswikiRequiresChangePermission a:hover,
.jqButton > .foswikiRequiresChangePermission a:hover,
a.jqButton > .foswikiRequiresChangePermission a:hover,
.foswikiButtonSmall > .foswikiRequiresChangePermission a:hover,
.foswikiButtonLarge > .foswikiRequiresChangePermission a:hover,
.foswikiButtonMini > .foswikiRequiresChangePermission a:hover {
  color: #4d4d4d;
  text-shadow: none;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #f3f3f3, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e6e6e6);
  background-image: -o-linear-gradient(top, #f3f3f3, #e6e6e6);
  background-image: linear-gradient(to bottom, #f3f3f3, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3f3f3', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #c0c0c0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #dadada;
  text-decoration: none;
}
.foswikiButton:hover .foswikiIcon,
.jqButton:hover .foswikiIcon,
a.jqButton:hover .foswikiIcon,
.foswikiButtonSmall:hover .foswikiIcon,
.foswikiButtonLarge:hover .foswikiIcon,
.foswikiButtonMini:hover .foswikiIcon,
.foswikiButton.foswikiActive .foswikiIcon,
.jqButton.foswikiActive .foswikiIcon,
a.jqButton.foswikiActive .foswikiIcon,
.foswikiButtonSmall.foswikiActive .foswikiIcon,
.foswikiButtonLarge.foswikiActive .foswikiIcon,
.foswikiButtonMini.foswikiActive .foswikiIcon,
.foswikiButton > .foswikiRequiresChangePermission a:hover .foswikiIcon,
.jqButton > .foswikiRequiresChangePermission a:hover .foswikiIcon,
a.jqButton > .foswikiRequiresChangePermission a:hover .foswikiIcon,
.foswikiButtonSmall > .foswikiRequiresChangePermission a:hover .foswikiIcon,
.foswikiButtonLarge > .foswikiRequiresChangePermission a:hover .foswikiIcon,
.foswikiButtonMini > .foswikiRequiresChangePermission a:hover .foswikiIcon {
  color: #4d4d4d;
}
.foswikiButton:hover .foswikiCaret,
.jqButton:hover .foswikiCaret,
a.jqButton:hover .foswikiCaret,
.foswikiButtonSmall:hover .foswikiCaret,
.foswikiButtonLarge:hover .foswikiCaret,
.foswikiButtonMini:hover .foswikiCaret,
.foswikiButton.foswikiActive .foswikiCaret,
.jqButton.foswikiActive .foswikiCaret,
a.jqButton.foswikiActive .foswikiCaret,
.foswikiButtonSmall.foswikiActive .foswikiCaret,
.foswikiButtonLarge.foswikiActive .foswikiCaret,
.foswikiButtonMini.foswikiActive .foswikiCaret,
.foswikiButton > .foswikiRequiresChangePermission a:hover .foswikiCaret,
.jqButton > .foswikiRequiresChangePermission a:hover .foswikiCaret,
a.jqButton > .foswikiRequiresChangePermission a:hover .foswikiCaret,
.foswikiButtonSmall > .foswikiRequiresChangePermission a:hover .foswikiCaret,
.foswikiButtonLarge > .foswikiRequiresChangePermission a:hover .foswikiCaret,
.foswikiButtonMini > .foswikiRequiresChangePermission a:hover .foswikiCaret {
  border-top-color: rgba(77, 77, 77, 0.4);
}
.foswikiButton .foswikiAccessKey,
.jqButton .foswikiAccessKey,
a.jqButton .foswikiAccessKey,
.foswikiButtonSmall .foswikiAccessKey,
.foswikiButtonLarge .foswikiAccessKey,
.foswikiButtonMini .foswikiAccessKey {
  border: none;
}
.foswikiButtonSmall {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 20px;
}
.foswikiButtonSmall [class^="icon-"] {
  margin-top: 0;
}
.foswikiButtonMini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 18px;
}
.foswikiSubmit {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 7px 2px 7px;
  margin-bottom: 0;
  line-height: 22px;
  *line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  *border: 0;
  *margin-left: .3em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}
.foswikiSubmit:first-child {
  *margin-left: 0;
}
.foswikiSubmit .foswikiIcon {
  vertical-align: middle;
  line-height: .5;
}
.foswikiSubmit,
.foswikiSubmit:link {
  text-decoration: none;
}
.foswikiSubmit,
.foswikiSubmit:link,
.foswikiSubmit:visited {
  color: #ffffff;
  text-shadow: none;
  background-color: #50aace;
  background-image: -moz-linear-gradient(top, #58aed1, #44a4cb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#58aed1), to(#44a4cb));
  background-image: -webkit-linear-gradient(top, #58aed1, #44a4cb);
  background-image: -o-linear-gradient(top, #58aed1, #44a4cb);
  background-image: linear-gradient(to bottom, #58aed1, #44a4cb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff58aed1', endColorstr='#ff44a4cb', GradientType=0);
  border-color: #44a4cb #44a4cb #2a7898;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #44a4cb;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #3598c0;
}
.foswikiSubmit .foswikiIcon,
.foswikiSubmit:link .foswikiIcon,
.foswikiSubmit:visited .foswikiIcon {
  color: #ffffff;
}
.foswikiSubmit .foswikiCaret,
.foswikiSubmit:link .foswikiCaret,
.foswikiSubmit:visited .foswikiCaret {
  border-top-color: rgba(255, 255, 255, 0.4);
}
.foswikiSubmit:hover,
.foswikiSubmit:active {
  color: #ffffff;
  text-shadow: none;
  background-color: #44a4cb;
  background-image: -moz-linear-gradient(top, #4ca8cd, #389ec8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ca8cd), to(#389ec8));
  background-image: -webkit-linear-gradient(top, #4ca8cd, #389ec8);
  background-image: -o-linear-gradient(top, #4ca8cd, #389ec8);
  background-image: linear-gradient(to bottom, #4ca8cd, #389ec8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4ca8cd', endColorstr='#ff389ec8', GradientType=0);
  border-color: #389ec8 #389ec8 #276f8c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #389ec8;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #328fb4;
  text-decoration: none;
}
.foswikiSubmit:hover .foswikiIcon,
.foswikiSubmit:active .foswikiIcon {
  color: #ffffff;
}
.foswikiSubmit:hover .foswikiCaret,
.foswikiSubmit:active .foswikiCaret {
  border-top-color: rgba(255, 255, 255, 0.4);
}
.foswikiButtonCancel,
a.jqButton.foswikiButtonCancel,
.jqButton.foswikiButtonCancel {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 7px 2px 7px;
  margin-bottom: 0;
  line-height: 22px;
  *line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  *border: 0;
  *margin-left: .3em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}
.foswikiButtonCancel:first-child,
a.jqButton.foswikiButtonCancel:first-child,
.jqButton.foswikiButtonCancel:first-child {
  *margin-left: 0;
}
.foswikiButtonCancel .foswikiIcon,
a.jqButton.foswikiButtonCancel .foswikiIcon,
.jqButton.foswikiButtonCancel .foswikiIcon {
  vertical-align: middle;
  line-height: .5;
}
.foswikiButtonCancel,
a.jqButton.foswikiButtonCancel,
.jqButton.foswikiButtonCancel,
.foswikiButtonCancel:link,
a.jqButton.foswikiButtonCancel:link,
.jqButton.foswikiButtonCancel:link {
  text-decoration: none;
}
.foswikiButtonCancel,
a.jqButton.foswikiButtonCancel,
.jqButton.foswikiButtonCancel,
.foswikiButtonCancel:link,
a.jqButton.foswikiButtonCancel:link,
.jqButton.foswikiButtonCancel:link,
.foswikiButtonCancel:visited,
a.jqButton.foswikiButtonCancel:visited,
.jqButton.foswikiButtonCancel:visited {
  color: #ffffff;
  text-shadow: none;
  background-color: #db6b44;
  background-image: -moz-linear-gradient(top, #dd724c, #d96137);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd724c), to(#d96137));
  background-image: -webkit-linear-gradient(top, #dd724c, #d96137);
  background-image: -o-linear-gradient(top, #dd724c, #d96137);
  background-image: linear-gradient(to bottom, #dd724c, #d96137);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd724c', endColorstr='#ffd96137', GradientType=0);
  border-color: #d96137 #d96137 #a4421f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #d96137;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cf5327;
}
.foswikiButtonCancel .foswikiIcon,
a.jqButton.foswikiButtonCancel .foswikiIcon,
.jqButton.foswikiButtonCancel .foswikiIcon,
.foswikiButtonCancel:link .foswikiIcon,
a.jqButton.foswikiButtonCancel:link .foswikiIcon,
.jqButton.foswikiButtonCancel:link .foswikiIcon,
.foswikiButtonCancel:visited .foswikiIcon,
a.jqButton.foswikiButtonCancel:visited .foswikiIcon,
.jqButton.foswikiButtonCancel:visited .foswikiIcon {
  color: #ffffff;
}
.foswikiButtonCancel .foswikiCaret,
a.jqButton.foswikiButtonCancel .foswikiCaret,
.jqButton.foswikiButtonCancel .foswikiCaret,
.foswikiButtonCancel:link .foswikiCaret,
a.jqButton.foswikiButtonCancel:link .foswikiCaret,
.jqButton.foswikiButtonCancel:link .foswikiCaret,
.foswikiButtonCancel:visited .foswikiCaret,
a.jqButton.foswikiButtonCancel:visited .foswikiCaret,
.jqButton.foswikiButtonCancel:visited .foswikiCaret {
  border-top-color: rgba(255, 255, 255, 0.4);
}
.foswikiButtonCancel:hover,
a.jqButton.foswikiButtonCancel:hover,
.jqButton.foswikiButtonCancel:hover,
.foswikiButtonCancel:active,
a.jqButton.foswikiButtonCancel:active,
.jqButton.foswikiButtonCancel:active {
  color: #ffffff;
  text-shadow: none;
  background-color: #d96137;
  background-image: -moz-linear-gradient(top, #db6840, #d7572a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#db6840), to(#d7572a));
  background-image: -webkit-linear-gradient(top, #db6840, #d7572a);
  background-image: -o-linear-gradient(top, #db6840, #d7572a);
  background-image: linear-gradient(to bottom, #db6840, #d7572a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb6840', endColorstr='#ffd7572a', GradientType=0);
  border-color: #d7572a #d7572a #973d1d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #d7572a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #c24e25;
  text-decoration: none;
}
.foswikiButtonCancel:hover .foswikiIcon,
a.jqButton.foswikiButtonCancel:hover .foswikiIcon,
.jqButton.foswikiButtonCancel:hover .foswikiIcon,
.foswikiButtonCancel:active .foswikiIcon,
a.jqButton.foswikiButtonCancel:active .foswikiIcon,
.jqButton.foswikiButtonCancel:active .foswikiIcon {
  color: #ffffff;
}
.foswikiButtonCancel:hover .foswikiCaret,
a.jqButton.foswikiButtonCancel:hover .foswikiCaret,
.jqButton.foswikiButtonCancel:hover .foswikiCaret,
.foswikiButtonCancel:active .foswikiCaret,
a.jqButton.foswikiButtonCancel:active .foswikiCaret,
.jqButton.foswikiButtonCancel:active .foswikiCaret {
  border-top-color: rgba(255, 255, 255, 0.4);
}
.foswikiButtonDisabled,
.foswikiSubmitDisabled {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 7px 2px 7px;
  margin-bottom: 0;
  line-height: 22px;
  *line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  *border: 0;
  *margin-left: .3em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}
.foswikiButtonDisabled:first-child,
.foswikiSubmitDisabled:first-child {
  *margin-left: 0;
}
.foswikiButtonDisabled .foswikiIcon,
.foswikiSubmitDisabled .foswikiIcon {
  vertical-align: middle;
  line-height: .5;
}
.foswikiButtonDisabled,
.foswikiSubmitDisabled,
.foswikiButtonDisabled:link,
.foswikiSubmitDisabled:link,
.foswikiButtonDisabled:hover,
.foswikiSubmitDisabled:hover {
  cursor: default;
  text-decoration: none;
}
.foswikiButtonDisabled,
.foswikiSubmitDisabled,
.foswikiButtonDisabled:link,
.foswikiSubmitDisabled:link,
.foswikiButtonDisabled:visited,
.foswikiSubmitDisabled:visited,
.foswikiButtonDisabled:hover,
.foswikiSubmitDisabled:hover {
  color: #ddd;
  background: #fafafa;
  border: 1px solid #f0f0f0;
  text-shadow: none;
}
.foswikiCaret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  content: " ";
  border-top: 4px solid #555555;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin: 0 0 0 7px;
  vertical-align: text-top;
}
.jqButton .jqButtonIcon,
.jqButton:active .jqButtonIcon,
.foswikiButton .foswikiButtonIcon,
.foswikiButton:active .foswikiButtonIcon {
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 0 0 0 23px;
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
}
.foswikiButton .foswikiLabel {
  padding-left: 8px;
}
.foswikiButton .foswikiIcon.icon-empty + .foswikiLabel {
  padding-left: 0;
}

/* PATTERNTOOLBAR */

.patternToolBar > a:link,
.patternToolBar > a:visited,
.patternToolBar > .foswikiRequiresChangePermission > a:link,
.patternToolBar > .foswikiRequiresChangePermission > a:visited,
.patternToolBar > a:link:link,
.patternToolBar > a:visited:link,
.patternToolBar > .foswikiRequiresChangePermission > a:link:link,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:link,
.patternToolBar > a:link:visited,
.patternToolBar > a:visited:visited,
.patternToolBar > .foswikiRequiresChangePermission > a:link:visited,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:visited {
    color: #555555;
    background-color: #f6f6f6;
    background-image: -moz-linear-gradient(top, #fbfbfb, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #fbfbfb, #eeeeee);
    background-image: -o-linear-gradient(top, #fbfbfb, #eeeeee);
    background-image: linear-gradient(to bottom, #fbfbfb, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbfb', endColorstr='#ffeeeeee', GradientType=0);
    border-color: #eeeeee #eeeeee #c8c8c8;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #eeeeee;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #e1e1e1;
}
.patternToolBar > a:link .foswikiIcon,
.patternToolBar > a:visited .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:link .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:visited .foswikiIcon,
.patternToolBar > a:link:link .foswikiIcon,
.patternToolBar > a:visited:link .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:link:link .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:link .foswikiIcon,
.patternToolBar > a:link:visited .foswikiIcon,
.patternToolBar > a:visited:visited .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:link:visited .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:visited .foswikiIcon {
    color: #555555;
}
.patternToolBar > a:link .foswikiCaret,
.patternToolBar > a:visited .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:link .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:visited .foswikiCaret,
.patternToolBar > a:link:link .foswikiCaret,
.patternToolBar > a:visited:link .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:link:link .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:link .foswikiCaret,
.patternToolBar > a:link:visited .foswikiCaret,
.patternToolBar > a:visited:visited .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:link:visited .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:visited .foswikiCaret {
    border-top-color: rgba(85, 85, 85, 0.4);
}
.patternToolBar > a:link:hover,
.patternToolBar > a:visited:hover,
.patternToolBar > .foswikiRequiresChangePermission > a:link:hover,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:hover,
.patternToolBar > a:link.foswikiActive,
.patternToolBar > a:visited.foswikiActive,
.patternToolBar > .foswikiRequiresChangePermission > a:link.foswikiActive,
.patternToolBar > .foswikiRequiresChangePermission > a:visited.foswikiActive,
.patternToolBar > a:link > .foswikiRequiresChangePermission a:hover,
.patternToolBar > a:visited > .foswikiRequiresChangePermission a:hover,
.patternToolBar > .foswikiRequiresChangePermission > a:link > .foswikiRequiresChangePermission a:hover,
.patternToolBar > .foswikiRequiresChangePermission > a:visited > .foswikiRequiresChangePermission a:hover {
    color: #4d4d4d;
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(top, #f3f3f3, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e6e6e6);
    background-image: -o-linear-gradient(top, #f3f3f3, #e6e6e6);
    background-image: linear-gradient(to bottom, #f3f3f3, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3f3f3', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #c0c0c0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #dadada;
    text-decoration: none;
}
.patternToolBar > a:link:hover .foswikiIcon,
.patternToolBar > a:visited:hover .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:link:hover .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:hover .foswikiIcon,
.patternToolBar > a:link.foswikiActive .foswikiIcon,
.patternToolBar > a:visited.foswikiActive .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:link.foswikiActive .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:visited.foswikiActive .foswikiIcon,
.patternToolBar > a:link > .foswikiRequiresChangePermission a:hover .foswikiIcon,
.patternToolBar > a:visited > .foswikiRequiresChangePermission a:hover .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:link > .foswikiRequiresChangePermission a:hover .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:visited > .foswikiRequiresChangePermission a:hover .foswikiIcon {
    color: #4d4d4d;
}
.patternToolBar > a:link:hover .foswikiCaret,
.patternToolBar > a:visited:hover .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:link:hover .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:hover .foswikiCaret,
.patternToolBar > a:link.foswikiActive .foswikiCaret,
.patternToolBar > a:visited.foswikiActive .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:link.foswikiActive .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:visited.foswikiActive .foswikiCaret,
.patternToolBar > a:link > .foswikiRequiresChangePermission a:hover .foswikiCaret,
.patternToolBar > a:visited > .foswikiRequiresChangePermission a:hover .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:link > .foswikiRequiresChangePermission a:hover .foswikiCaret,
.patternToolBar > .foswikiRequiresChangePermission > a:visited > .foswikiRequiresChangePermission a:hover .foswikiCaret {
    border-top-color: rgba(77, 77, 77, 0.4);
}
