/*
places the side bar at the left
depends on global settings in layout.css
*/

#patternOuter {
	margin-left:16em;
}
#patternSideBar {
	width:16em;
	margin-left:-16em;
}
@media (max-width:870px) {
  #patternOuter {
          margin-left:0;
  }
  #patternSideBar {
          display:none;
  }
  #patternMainContents {
          margin-left:0;
  }
}
