/*	-----------------------------------------------------------
	STYLE
	Appearance: margins, padding, fonts, borders
	-----------------------------------------------------------	*/
	

/*	----------------------------------------------------------------------------
	CONSTANTS
	
	Sizes
	----------------------------------------
	S1 line-height											1.5em
	S2 somewhat smaller font size							font-size:94%
	S3 small font size, foswikiSmall						font-size:86%; line-height:110%;
	S4 horizontal bar padding (h2, patternTop)				5px
	S5 form and attachment padding							10px
	S6 left margin left bar									1em

	------------------------------------------------------------------------- */

/* GENERAL HTML ELEMENTS */

html body {
	font-family:arial, verdana, sans-serif;
	font-size:104%;
	voice-family:"\"}\""; 
	voice-family:inherit;
	font-size:small;
}
html>body { /* Mozilla */
	font-size:small;	
}
body {
	line-height:1.5em; /*S1*/
	/* change font size here */
	font-size:103%;
}
body font {
	line-height:135%;
}

th {
	line-height:1.15em;
        text-align:left;
}
hr {
	height:1px;
	border:none;
}
/* put overflow pre in a scroll area */
pre {
    width:auto;
    margin:1em 0; /* Win IE tries to make this bigger otherwise */
    border-style:solid;
    border-width:1px;
    padding:1em;
}
pre, code, tt {
    font-family: "Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
    font-size:86%;
}

/* IE behavior for pre is defined in css.pattern.tmpl in conditional comment */
html>body pre { /* hide from IE */
	/*\*/ overflow:auto !important; /* */ overflow:scroll; width:auto; /* for Mac Safari */
}
blockquote {
	margin:0;
	font-size:94%;
	padding:.5em 1.25em;
	border-style:solid none;
	border-width:1px;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	line-height:1.1em;
}
h1 {
	margin-top:.5em;
	font-size:190%;
}
h2 { font-size:165%; }
h3 { font-size:145%; }
h4 { font-size:127%; }
h5 { font-size:117%; }
h6 { font-size:107%; }
h1.patternTemplateTitle {
	font-size:170%;
}
h2.patternTemplateTitle {
	margin-top:.5em;
	background:none;
	border:none;
}
/* Links */
/* somehow the foswikiNewLink style have to be before the general link styles */
.foswikiNewLink {
	border-width:0 0 1px 0;
	border-style:solid;
}
.foswikiNewLink a {
	text-decoration:none;
	margin-left:1px;
}
.foswikiNewLink a sup {
	text-align:center;
	padding:0 2px;
	vertical-align:baseline;
	font-size:100%;
	text-decoration:none;
}
.foswikiNewLink a:link sup,
.foswikiNewLink a:visited sup {
	border-width:1px;
	border-style:solid;
	text-decoration:none;
}
.foswikiNewLink a:hover sup {
	text-decoration:none;
}

:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
	text-decoration:none;
}
:link:hover,
:visited:hover {
	text-decoration:underline;
}
img {
	vertical-align:text-bottom;
	border:0;
}

/* Form elements */
form { 
	display:inline;
	margin:0;
	padding:0;
}
fieldset {
	margin:0;
	padding:0;
	border:none;
}
textarea,
input,
select {
	vertical-align:middle;
	font-family:arial, verdana, sans-serif;
	font-size:100%;
}
label input {
	vertical-align:text-bottom;
}
.foswikiTextarea {
	padding:1px 4px;
}
.foswikiSubmit,
.foswikiSubmitDisabled,
.foswikiButton,
.foswikiButtonDisabled,
.foswikiButtonCancel,
a.foswikiButton,
a.foswikiSubmit,
a.foswikiButtonCancel,
.foswikiCheckbox {
	border-width:1px;
	border-style:solid;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
}
.foswikiSubmit,
.foswikiSubmitDisabled,
.foswikiButton,
.foswikiButtonDisabled,
.foswikiButtonCancel,
.foswikiSubmit:hover,
.foswikiSubmitDisabled:hover,
.foswikiButton:hover,
.foswikiSubmit:active,
.foswikiSubmitDisabled:active,
.foswikiButton:active {
	cursor:default;
	outline:none;
	line-height:1em;
	padding:2px 4px;
}
a.foswikiButton,
a.foswikiButton:hover,
a.foswikiButton:link:active,
a.foswikiButton:visited:active,
a.foswikiButtonCancel,
a.foswikiButtonCancel:hover,
a.foswikiButtonCancel:link:active,
a.foswikiButtonCancel:visited:active,
a.foswikiSubmit,
a.foswikiSubmit:hover,
a.foswikiSubmit:link:active,
a.foswikiSubmit:visited:active {
	text-decoration:none;
	line-height:1em;
	padding:2px 4px;
}
.jqButton.foswikiButtonCancel,
.jqButton.foswikiButtonCancel:hover {
	border:none;
	padding:0;
	font-weight:normal;
	margin:0;
}
.foswikiCheckbox,
.foswikiRadioButton {
	margin:1px .25em 1px .1em;
	padding:0 0 0 .5em;
	border:0;
}
.foswikiTextarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly,
.foswikiSelect {
	border-width:2px;
	border-style:solid;
}
.foswikiTextarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly {
	font-size:100%;
}
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly {
	padding:.1em .2em;
}

/*	-----------------------------------------------------------
	Plugin elements
	-----------------------------------------------------------	*/

/* TagMePlugin */
.tagMePlugin select {
	margin:0 .25em 0 0;
}
.tagMePlugin input { 
	border:0px;
}

/* RevCommentPlugin */
.patternEditPage .revComment {
	padding:.5em 0;
}

/* EditTablePlugin */
.editTable .foswikiTable {
	margin:0 0 2px 0;
}
.editTableEditImageButton {
	border:none;
}

/* TablePlugin */
.foswikiTable,
.foswikiTable td,
.foswikiTable th {
	border-width:1px;
	border-style:solid;
	vertical-align:top;
}
.foswikiTable {
	margin:2px 0;
	border-collapse:collapse;
}
.foswikiTable td {
	padding:.2em .5em;
}
.foswikiTable th {
	padding:.4em .5em;
}
.foswikiTable .tableSortIcon {
	margin:0 0 0 .25em;
}

/* TwistyPlugin */
.twistyTrigger a:link,
.twistyTrigger a:visited {
	text-decoration:none;
}
.twistyTrigger a:link .foswikiLinkLabel,
.twistyTrigger a:visited .foswikiLinkLabel {
	text-decoration:none;
}
.twistyTrigger a img {
	margin:0 .25em 0 0;
}

/*tipsOfTheDay*/
.tipsOfTheDay {
	padding:.5em 10px;
}

/* WYSIWYG */
.mceContentBody {
    padding: 1px 4px;
}



/*	-----------------------------------------------------------
	Foswiki styles
	-----------------------------------------------------------	*/

#foswikiLogin {
	width:40em;
	margin:0 auto;
	border-style:solid;
	border-width:10px;
}
#foswikiLogin .foswikiFormSteps {
	text-align:left;
}
#foswikiLogin .foswikiFormStep {
	border-style:solid none;
}
#foswikiLogin .patternLoginNotification {
	padding-left:.5em;
	padding-right:.5em;
	border-style:solid;
	border-width:2px;
}
.foswikiFormTable th {
	font-weight:normal;
	text-align:left;
}
.foswikiFormTable .foswikiTable th {
	font-weight:bold;
}
.foswikiEditForm h2,
.foswikiEditForm h3,
.foswikiEditForm h4,
.foswikiEditForm h5,
.foswikiEditForm h6 {
	margin:.5em 0;
	padding:0;
}
.patternEditPage .foswikiFormTable td,
.patternEditPage .foswikiFormTable th {
	padding:.5em 10px .5em 20px;
	border-style:solid;
	border-width:0 0 1px 0;
	vertical-align:middle;
}
table.foswikiFormTable {
	margin:0 0 5px 0;
	border-collapse:collapse;
	padding:0px;
	border-spacing:0px;
	empty-cells:show;
	border-style:solid;
	border-width:1px;
}
.foswikiAttachments table {
	line-height:1.5em; /*S1*/
	width:auto;
	width:100%;
}
.foswikiAttachments .foswikiTable th {
	border-style:none none solid solid;
	border-width:1px;
}
table.foswikiFormTable th.foswikiFormTableHRow {
	padding:3px 6px;
	height:2.5em;
	vertical-align:middle;
}
.foswikiAttachments .foswikiTable td,
.foswikiAttachments .foswikiTable th,
table.foswikiFormTable td {
	padding:3px 1em;
	height:1.5em; /*S1*/
	text-align:left;
	vertical-align:top;
}
.foswikiAttachments .foswikiTable caption {
	display:none;
}
table.foswikiFormTable th.foswikiFormTableHRow a:link,
table.foswikiFormTable th.foswikiFormTableHRow a:visited {
	text-decoration:none;
}
.patternAttachmentHeader {
	/* behaviour class */
}
.patternAttachmentHeader .foswikiSmall {
	font-weight:normal;
}
.patternTwistyButton {
	font-weight:bold;
	margin:.5em 0;
	display:inline-block;
}
h3 .foswikiSmall {
	font-weight:normal;
	font-size:86%;
	margin:0 0 0 .15em;
}
.foswikiFormSteps {
	padding:12px 20px;
	border-width:1px;
	border-style:solid;
}
.foswikiFormStep {
	margin:0 0 20px;
}
.foswikiFormStep:last-child {
        margin-bottom:0;
}

.foswikiFormStep h2,
.foswikiFormStep h3,
.foswikiFormStep h4 {
	border:none;
	margin-top:0;
	padding:0;
	background:none;
}
.foswikiFormStep p {
	margin:.5em 0;
}
.foswikiFormSteps h2 {
	font-size:115%;
	font-weight:bold;
}
.foswikiFormSteps h3 {
	font-size:100%;
	font-weight:bold;
}
.foswikiFormSteps h4 {
	font-size:100%;
	font-weight:bold;
}
.foswikiFormSteps blockquote {
	margin-left:1em;
	padding-top:.25em;
	padding-bottom:.25em;
}
.foswikiLast {}
.foswikiToc {
	margin:1em 0;
	padding:.3em 0 .6em 0;
}
.foswikiToc ul {
	list-style:none;
	padding:0 0 0 .5em;
	margin:0;
}
.foswikiToc li {
	margin-left:1em;
	padding-left:1em;
	background-repeat:no-repeat;
	background-position:0 .5em;
}
.foswikiToc .foswikiTocTitle {
	margin:0;
	padding:0;
	font-weight:bold;
}
.foswikiSmall {
	font-size:86%; /*S3*/
	line-height:1.5em; /*S1*/
}
.foswikiSmallish {
	font-size:94%; /*S2*/
	line-height:1.5em; /*S1*/
}
.foswikiEmulatedLink {
	text-decoration:underline;
}
.foswikiPageForm table {
	border-width:1px;
	border-style:solid;
}
.foswikiPageForm table {
	width:100%;
}
.foswikiPageForm th,
.foswikiPageForm td {
	border:0;
	padding:.5em 1em;
}
.foswikiPageForm td {}
.foswikiPageForm td.first {
	padding-top:1em;
}
.foswikiBroadcastMessage,
.foswikiNotification {
	padding:1em 10px; /*S5*/
	margin:.5em 0;
	border-style:solid;
	border-width:1px;
}
.foswikiBroadcastMessage {
	margin:0 0 1.25em 0;
}
.foswikiMessage {
	margin:.5em 0;
	padding:.5em 10px;
	border:none;
}
.foswikiHelp {
	padding:1em 10px;
	margin:1em 0;
	border-style:none;
}
.patternTop .foswikiHelp {
	margin:0 0 1em 0;
}
.foswikiHelp ul {
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	padding-left:20px;
}
.foswikiAccessKey {
	border:none;
}
a:hover .foswikiAccessKey {
	text-decoration:none;
	border-width:0 0 1px 0;
	border-style:solid;
}
.foswikiWebIndent {
	margin:0 0 0 1em;
}
.foswikiLinkLabel {}
.foswikiImage img {
	padding:3px;
	border-width:1px;
	border-style:solid;
}
.foswikiImage a:link,
.foswikiImage a:visited {
	background:none;
}
#foswikiLogo img {
	margin:0;
	padding:0;
    border:0px;
}
.foswikiNoBreak {
	white-space:nowrap;
}
.foswikiIcon img {
	vertical-align:text-bottom;
	border:0;
}
.foswikiAllowNonWikiWord {
	border-width:1px;
	border-style:solid;
	padding:.5em 10px;
}

/*	-----------------------------------------------------------
	Pattern skin specific elements
	-----------------------------------------------------------	*/

/* LAYOUT ELEMENTS */
/* for specific layout sub-elements see further down */

.patternNoViewPage #patternOuter {
	margin-left:0;
	margin-right:0;
}
#patternTopBar {
	border-width:1px;
	border-style:none none solid none;
}
#patternBottomBar {
	border-style:none;
	margin-top:3em;
}
#patternWebBottomBar {
	font-size:94%; /*S2*/
	line-height:125%;
	text-align:left;
}
#patternSideBarContents {
	margin:0 0 1em 0;
	padding-right:.5em;
	padding-left:1em;
}
#patternBottomBarContents,
#patternSideBarContents,
#patternTopBarContents {
	padding-right:2em;
	padding-left:30px;
}
#patternMainContents {
	padding-right:2em;
	padding-left:2em;
}
#patternSideBarContents,
#patternMainContents {
	padding-top:1em;
}
#patternSideBarContents {
	padding-bottom:2em;
}
#patternBottomBarContents {
	padding-top:1em;
	padding-bottom:2em;
}
.patternNoViewPage .foswikiTopic {
	margin-top:2em;
}

/* bottom paddings */
#patternMainContents {
	padding-bottom:2em;
}
#patternBottomBarContents {
	padding-bottom:2em;
}
.foswikiTopic {
	margin:0 0 2em 0;
}
.patternNoViewPage #patternMainContents,
.patternNoViewPage #patternBottomBarContents {
	margin-left:4%;
	margin-right:4%;
}
.patternEditPage #patternMainContents,
.patternEditPage #patternBottomBarContents {
	margin-left:2%;
	margin-right:2%;
}
#patternSideBarContents img {
	margin:0 3px 0 0;
	vertical-align:text-bottom;
}
#patternSideBarContents ul {
	padding:0;
	margin:0;
	list-style:none;
}
#patternSideBarContents,
#patternSideBarContents ul,
#patternSideBarContents li {
	line-height:1.35em;
}
#patternSideBarContents h2 {
	border:none;
	background-color:transparent;
}
#patternSideBarContents a:hover {
   text-decoration:none;
}
#patternSideBarContents .patternLeftBarPersonal {
	padding:0 1em .75em 1em;
	margin:0 -1em .75em -1em; /*S6*/
	border-style:none none solid none;
	border-width:1px;
}
.patternWebIndicator {
	border-style:none none none solid;
	border-width:7px;
	padding:0 0 0 9px;
	margin:0 0 1em -16px;
}
.patternWebIndicator a {
	font-weight:bold;
}
.patternLeftBarPersonalContent {
	padding:1em 0 0 0;
}
#patternSideBarContents li {
	overflow:hidden;
}
html>body #patternSideBarContents li { /* Mozilla */
	overflow:visible;
}

/* form options in top bar */
.patternMetaMenu {}
.patternMetaMenu input,
.patternMetaMenu select,
.patternMetaMenu select option {
	margin:0;
}
.patternMetaMenu select option {
	padding:1px 0 0 0;
}
.patternMetaMenu ul {
    padding:0;
    margin:0;
   	list-style:none;
}
.patternMetaMenu ul li {
    padding:0;
	display:inline;
}
.patternMetaMenu ul li .foswikiInputField,
.patternMetaMenu ul li .foswikiSelect {
	margin:0 0 0 .5em;
}
.patternHomePath .foswikiSeparator {
	padding:0 .35em;
}
.patternToolBar span {
	float:left;
}
.patternToolBar span s,
.patternToolBar span strike,
.patternToolBar span a:link,
.patternToolBar span a:visited {
	display:block;
	border-width:1px;
	border-style:solid;
	padding:2px 4px;
	line-height:1em;
	margin:0 0 4px 4px;
	font-weight:bold;
}
.patternToolBar span a:hover,
.patternToolBar span a:hover {
	text-decoration:none;
	border-width:1px;
	border-style:solid;
}
.patternToolBar span a:active {
	outline:none;
}
.patternToolBar span.foswikiAccessKey { 
	float:none;
	border:none;
}
.patternToolBar span s,
.patternToolBar span strike {
	text-decoration:none;
}

.patternActionButtons a:link,
.patternActionButtons a:visited {
	padding:1px 1px 2px 1px;
}
.patternTopicActions .patternActionButtons a:link,
.patternTopicActions .patternActionButtons a:visited {
	text-decoration:none;
}
.patternTopicActions .patternActionButtons span s,
.patternTopicActions .patternActionButtons span strike {
	text-decoration:none;
}
.patternActionButtons a.foswikiButton,
.patternActionButtons a.foswikiSubmit,
.patternActionButtons a.foswikiButtonCancel {
	line-height:1em;
	padding:2px 4px;
}
.patternInfo {
	margin:1em 0 0 0;
}
.patternHomePath,
.patternInfo {
	font-size:94%;
}
.patternHomePath .patternRevInfo {
	white-space:nowrap;
}
.patternTopicFooter {
	margin:1em 0 0 0;
}
.patternSimpleLogo {
	margin:1em 0 0 0;
}
.patternTop {}

/* WebSearch, WebSearchAdvanced */
.foswikiWebSearchForm form {
	width:100%;
}
.foswikiWebSearchForm ul {
	list-style:none;
	margin-top:0;
}

#foswikiSearchTable {
	width:100%;
	margin:.5em 0;
	background:none;
	border-width:1px;
	border-style:solid none none none;
} 
#foswikiSearchTable th,
#foswikiSearchTable td {
	padding:1em;
	border-width:1px;
	border-style:none none solid none;
} 
#foswikiSearchTable th {
	width:20%;
	text-align:right;
}
#foswikiSearchTable td {
	width:80%;
}

/*	-----------------------------------------------------------
	Search results
	styles and overridden styles used in search.pattern.tmpl
	-----------------------------------------------------------	*/

.patternSearchResults {
	/* no longer used in search.pattern.tmpl, but remains in rename templates */
	margin:0 0 1em 0;
}
.patternSearchResults blockquote {
	margin:1em 0 1em 5em;
}
h3.foswikiSearchResultsHeader,
h4.foswikiSearchResultsHeader {
	border-width:3px;
	border-style:none none solid none;
	font-weight:bold;
}
.patternSearchResults h3 {
	font-size:115%; /* same as foswikiFormStep */
	margin:0;
	padding:.5em 20px; /*S5*/
	font-weight:bold;
}
h4.foswikiSearchResultsHeader {
	font-size:100%;
	padding-top:.5em;
	padding-bottom:.5em;
	font-weight:normal;
}
.foswikiSearchResultsHeader span {
	padding:0 .5em 0 0;
}

.foswikiSearchResultCount {
	font-weight:bold;
}
.foswikiSearchResult {
	margin:0 0 1em 0;
}
.foswikiSearchResult .foswikiTopRow {}
.foswikiSearchResult .foswikiBottomRow {}
.foswikiSearchResult .foswikiAlert {
	font-weight:bold;
}
.foswikiSummary,
.foswikiSearchResult .foswikiBottomRow {
	font-size:86%; /*S3*/
}
.foswikiSearchResult .foswikiSummary .foswikiAlert {
	font-weight:normal;
}
.foswikiSearchResultsPager {
	margin:1em 0;
	padding:.25em 0;
}
.patternSearchResults .foswikiHelp {
	display:block;
	width:auto;
	padding:.1em 5px;
	margin:1em -5px .35em -5px;
}
.patternSearchResultCount {
	margin:1em 0 3em 0;
}
.patternSearched {}

/* pages that are not view */

/* edit.pattern.tmpl */

.patternNoViewPage #patternMainContents {
	padding-top:0;
}
.patternEditPage #patternMainContents {
	padding-left:0;
	padding-right:0;
}

.foswikiFormHolder { /* constrains the textarea */
	width:100%;
}
.foswikiEditboxStyleMono {
	font-family: "Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
}
.foswikiEditboxStyleProportional {
	font-family:arial, verdana, sans-serif;
}
.patternSig {
	text-align:right
}
.patternSigLine {
	margin:.5em 0 2em 0;
	border-style:none;
}
.foswikiAddFormButton {
	float:right;
}
.patternTextareaButton {
	margin:0 0 0 1px;
	display:block;
	cursor:pointer;
	border-style:solid;
	border-width:1px;
}
.patternButtonFontSelector {
	margin:0 8px 0 0;
}

/* preview.pattern.tmpl */

.foswikiPreviewArea {
	border:none;
	margin:0 0 2em 0;
	padding:0;
}

/* attach.pattern.tmpl */

.patternAttachPage .foswikiAttachments .foswikiTable {
	width:auto;
}
.patternAttachPage .foswikiAttachments {
	margin-top:0;
}
.patternMoveAttachment {
	margin:.5em 0 0 0;
	text-align:right;
}

/* rdiff.pattern.tmpl */

.patternDiff {
	border-width:1px;
	border-style:solid;
	margin:1em 0;
	padding:0;
}
.patternDiff .foswikiTopRow {
	padding:10px 20px;
}
.foswikiDiffTable {
	border-width:1px;
	border-style:solid none none none;
}
.foswikiDiffDebug {
    /* same styling as pre and code */
    font-family: "Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
    font-size:86%;
}
td.foswikiDiffDebugLeft {
	border-bottom:none;
}
.foswikiDiffTable th,
.foswikiDiffTable td {
	padding:10px 20px;
	line-height:1.5em;
	vertical-align:top;
}
.foswikiDiffTable table th,
.foswikiDiffTable table td {
	padding:5px 10px;
}
.foswikiDiffUnchangedMarker,
.foswikiDiffDeletedMarker,
.foswikiDiffAddedMarker,
.foswikiDiffChangedText {
	width:6px !important;
	border-width:6px;
	border-style:none solid none none;
}
.foswikiDiffLineNumberHeader th {
	text-align:left;
}

