/*	-----------------------------------------------------------
	STYLE
	Appearance: margins, padding, fonts, borders
	-----------------------------------------------------------	*/

/* GENERAL HTML ELEMENTS */

html body {
	font-family: Arial, sans-serif;
	font-size: 14px;
}
body {
	line-height: 22px;
}
body font {
	line-height:135%;
}

th {
	line-height:1.15em;
        text-align:left;
}
hr {
	height:1px;
	border:none;
}
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5+ */
    white-space: -moz-pre-wrap;  /* Older Versions of Mozilla */
    width:auto;
    margin:1em 0; /* Win IE tries to make this bigger otherwise */
    border-style:solid;
    border-width:1px;
    padding:1em;
}
pre, code, tt {
    font-family: "Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
    font-size:86%;
}
blockquote {
	margin:0;
	font-size:94%;
	padding:.5em 1.25em;
	border-style:solid none;
	border-width:1px;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	line-height:1.1em;
}
h1 {
	margin-top:.5em;
	font-size:190%;
}
h2 { font-size:165%; }
h3 { font-size:145%; }
h4 { font-size:127%; }
h5 { font-size:117%; }
h6 { font-size:107%; }
h1.patternTemplateTitle {
	font-size:170%;
}
h2.patternTemplateTitle {
	margin-top:.5em;
	background:none;
	border:none;
}
/* Links */
:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
	text-decoration:none;
}
:link:hover,
:visited:hover {
	text-decoration:underline;
}
img {
	vertical-align:text-bottom;
	border:0;
}

/* Form elements */
form { 
	display:inline;
	margin:0;
	padding:0;
}
fieldset {
	margin:0;
	padding:0;
	border:none;
}
textarea,
input,
select {
	vertical-align:middle;
	font-family: Arial, sans-serif;
	font-size:100%;
}
label input {
	vertical-align:text-bottom;
}
.foswikiTextarea {
    padding: 0;
	width: 100%;
}
.foswikiCheckbox {
	border-width:1px;
	border-style:solid;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
}
.foswikiCheckbox,
.foswikiRadioButton {
	margin:1px .25em 1px .1em;
	padding:0 0 0 .5em;
	border:0;
}
.foswikiTextarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly,
.foswikiSelect {
	border-width:2px;
	border-style:solid;
}
.foswikiTextarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly {
	font-size:100%;
}
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly {
	padding:.1em .2em;
}

/*	-----------------------------------------------------------
	Plugin elements
	-----------------------------------------------------------	*/

/* TagMePlugin */
.tagMePlugin select {
	margin:0 .25em 0 0;
}
.tagMePlugin input { 
	border:0px;
}

/* RevCommentPlugin */
.patternEditPage .revComment {}

/* EditTablePlugin */
.editTable .foswikiTable {
	margin:0 0 2px 0;
}
.editTableEditImageButton {
	border:none;
}

/* TablePlugin */
.foswikiTable,
.foswikiTable td,
.foswikiTable th {
	border-width:1px;
	border-style:solid;
	vertical-align:top;
}
.foswikiTable {
	margin:2px 0;
	border-collapse:collapse;
}
.foswikiTable td {
	padding:.3em .5em;
}
.foswikiTable th {
	padding:.4em .5em;
}
.foswikiTable .tableSortIcon {
	margin:0 0 0 .25em;
}

/* TwistyPlugin */
.twistyTrigger a:link,
.twistyTrigger a:visited {
	text-decoration:none;
}
.twistyTrigger a:link .foswikiLinkLabel,
.twistyTrigger a:visited .foswikiLinkLabel {
	text-decoration:none;
}
.twistyTrigger a img {
	margin:0 .25em 0 0;
}

/*tipsOfTheDay*/
.tipsOfTheDay {
	padding:.5em 10px;
}

/* WYSIWYG */
.mceContentBody {
    padding: 1px 4px;
}



/*	-----------------------------------------------------------
	Foswiki styles
	-----------------------------------------------------------	*/

#foswikiLogin {
    border: none;
}
#foswikiLogin .foswikiFormSteps {
    width:40em;
    margin:0 auto;
    text-align:left;
}

.foswikiFormTable th {
	font-weight:normal;
	text-align:left;
}
.foswikiFormTable .foswikiTable th {
	font-weight:bold;
}
.foswikiEditForm h2,
.foswikiEditForm h3,
.foswikiEditForm h4,
.foswikiEditForm h5,
.foswikiEditForm h6 {
	margin:.5em 0;
	padding:0;
}
.patternEditPage .foswikiFormTable td,
.patternEditPage .foswikiFormTable th {
	padding:.5em 10px .5em 20px;
	border-style:solid;
	border-width:0 0 1px 0;
	vertical-align:middle;
}
table.foswikiFormTable {
	margin:0 0 5px 0;
	border-collapse:collapse;
	padding:0px;
	border-spacing:0px;
	empty-cells:show;
	border-style:solid;
	border-width:1px;
}

.foswikiForm + .patternTopicActions,
.foswikiAttachments + .patternTopicActions {
    margin: 12px -20px;
	padding: 12px 20px 0 20px;
    border-style: solid none none none;
    border-width: 1px;
}

.foswikiAttachments .foswikiTable {
	line-height:1.5em; /*S1*/
	width:auto;
	width:100%;
	margin: 1em 0;
}
.foswikiAttachments .foswikiTable td {
	border-style:none none solid none;
	border-width:1px;
}

.foswikiAttachments .foswikiTable th {
	border-style:none none solid solid;
	border-width:1px;
}
table.foswikiFormTable th.foswikiFormTableHRow {
	padding:3px 6px;
	height:2.5em;
	vertical-align:middle;
}
.foswikiAttachments .foswikiTable td,
.foswikiAttachments .foswikiTable th,
table.foswikiFormTable td {
	padding:3px 1em;
	height:1.5em; /*S1*/
	text-align:left;
	vertical-align:top;
}
.foswikiAttachments .foswikiTable caption {
	display:none;
}
table.foswikiFormTable th.foswikiFormTableHRow a:link,
table.foswikiFormTable th.foswikiFormTableHRow a:visited {
	text-decoration:none;
}
.patternAttachmentHeader {
	/* behaviour class */
}
.patternAttachmentHeader .foswikiSmall {
	font-weight:normal;
}
.patternTwistyButton {
	font-weight:bold;
	display:inline-block;
	margin: 0 0 .5em 0;
}
h3 .foswikiSmall {
	font-weight:normal;
	font-size:86%;
	margin:0 0 0 .15em;
}

.foswikiFormSteps {
    margin: .5em 0;
	padding: 12px 20px;
	border-width: 1px;
	border-style: solid;
}
.foswikiFormStep {
	margin:0 0 12px 0;
}
.foswikiFormSteps hr {
    margin: 12px -20px;
}
.foswikiFormStep:last-child {
    margin-bottom:0;
}
.foswikiFormStep p:last-child {
    margin-bottom: 0;
}
.foswikiFormStep h2,
.foswikiFormStep h3,
.foswikiFormStep h4 {
	border:none;
	margin-top:0;
	padding:0;
	background:none;
}
.foswikiFormSteps h2 {
	font-size:115%;
	font-weight:bold;
}
.foswikiFormSteps h3 {
	font-size:100%;
	font-weight:bold;
}
.foswikiFormSteps h4 {
	font-size:100%;
	font-weight:bold;
}
.foswikiFormSteps blockquote {
	margin-left:1em;
	padding-top:.25em;
	padding-bottom:.25em;
}

.foswikiLast {}
.foswikiToc {
	margin:1em 0;
	padding:.3em 0 .6em 0;
}
.foswikiToc ul {
	list-style:none;
	padding:0 0 0 .5em;
	margin:0;
}
.foswikiToc li {
	margin-left:1em;
	padding-left:1em;
	background-repeat:no-repeat;
	background-position:0 .5em;
}
.foswikiToc .foswikiTocTitle {
	margin:0;
	padding:0;
	font-weight:bold;
}
.foswikiSmall {
	font-size:86%; /*S3*/
	line-height:1.5em; /*S1*/
}
.foswikiSmallish {
	font-size:94%; /*S2*/
	line-height:1.5em; /*S1*/
}
.foswikiEmulatedLink {
	text-decoration:underline;
}
.foswikiPageForm table {
	border-width:1px;
	border-style:solid;
}
.foswikiPageForm table {
	width:100%;
}
.foswikiPageForm th,
.foswikiPageForm td {
	border:0;
	padding:.5em 1em;
}
.foswikiPageForm td {}
.foswikiPageForm td.first {
	padding-top:1em;
}
.foswikiBroadcastMessage,
.foswikiNotification {
	padding:1em 10px; /*S5*/
	margin:.5em 0;
	border-style:solid;
	border-width:1px;
}
.foswikiBroadcastMessage {
	margin:0 0 1.25em 0;
}
.foswikiMessage {
	margin:.5em 0;
	padding:.5em 10px;
	border:none;
}
.foswikiHelp {
	padding:1em 10px;
	margin:1em 0;
	border-style:none;
}
.patternTop .foswikiHelp {
	margin:0 0 1em 0;
}
.foswikiHelp ul {
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	padding-left:20px;
}
.foswikiAccessKey {
	border:none;
}

a:hover .foswikiAccessKey {
	text-decoration:none;
	border-width:0 0 1px 0;
	border-style:solid;
}

.foswikiWebIndent {
	margin:0 0 0 1em;
}
.foswikiLinkLabel {}
.foswikiImage img {
	padding:3px;
	border-width:1px;
	border-style:solid;
}
.foswikiImage a:link,
.foswikiImage a:visited {
	background:none;
}
#foswikiLogo img {
	margin:0;
	padding:0;
    border:0px;
}
.foswikiNoBreak {
	white-space:nowrap;
}
.foswikiIcon img {
	vertical-align:text-bottom;
	border:0;
}
.foswikiAllowNonWikiWord {}
.foswikiAllowNonWikiWord label {
    margin: 0 .25em 0 0;
}

/*	-----------------------------------------------------------
	Pattern skin specific elements
	-----------------------------------------------------------	*/

/* LAYOUT ELEMENTS */
/* for specific layout sub-elements see further down */

.patternNoViewPage #patternOuter {
	margin-left:0;
	margin-right:0;
}
#patternTopBar {
	border-width:1px;
	border-style:none none solid none;
}
#patternBottomBar {
	border-style:none;
	margin-top:3em;
}
#patternWebBottomBar {
	font-size:94%; /*S2*/
	line-height:125%;
	text-align:left;
}
#patternSideBarContents {
	margin:0 0 1em 0;
	padding-right:.5em;
	padding-left:1em;
}
#patternBottomBarContents,
#patternSideBarContents,
#patternTopBarContents {
	padding-right:2em;
	padding-left:30px;
}
#patternMainContents {
	padding-right:2em;
	padding-left:2em;
}
#patternSideBarContents,
#patternMainContents {
	padding-top:1em;
}
#patternSideBarContents {
	padding-bottom:2em;
}
#patternBottomBarContents {
	padding-top:1em;
	padding-bottom:2em;
}
.patternNoViewPage .foswikiTopic {
	margin-top:2em;
}

/* bottom paddings */
#patternMainContents {
	padding-bottom:2em;
}
#patternBottomBarContents {
	padding-bottom:2em;
}
.foswikiTopic {
	margin:0 0 2em 0;
}
.patternNoViewPage #patternMainContents,
.patternNoViewPage #patternBottomBarContents {
	margin-left:4%;
	margin-right:4%;
}
.patternEditPage #patternMainContents,
.patternEditPage #patternBottomBarContents {
	margin-left:2%;
	margin-right:2%;
}
#patternSideBarContents img {
	margin:0 3px 0 0;
	vertical-align:text-bottom;
}
#patternSideBarContents ul {
	padding:0;
	margin:0;
	list-style:none;
}
#patternSideBarContents,
#patternSideBarContents ul,
#patternSideBarContents li {
	line-height:1.5em;
}
#patternSideBarContents h2 {
	border:none;
	background-color:transparent;
}
#patternSideBarContents a:hover {
   text-decoration:none;
}
#patternSideBarContents .patternLeftBarPersonal {
	padding:0 1em .75em 1em;
	margin:0 -1em .75em -1em; /*S6*/
	border-style:none none solid none;
	border-width:1px;
}
.patternWebIndicator {
	border-style:none none none solid;
	border-width:7px;
	padding:0 0 0 9px;
	margin:0 0 1em -16px;
}
.patternWebIndicator a {
	font-weight:bold;
}
.patternLeftBarPersonalContent {
	padding:1em 0 0 0;
}
#patternSideBarContents li {
	overflow:hidden;
}
html>body #patternSideBarContents li { /* Mozilla */
	overflow:visible;
}

/* form options in top bar */
.patternMetaMenu {}
.patternMetaMenu input,
.patternMetaMenu select,
.patternMetaMenu select option {
	margin:0;
}
.patternMetaMenu select option {
	padding:1px 0 0 0;
}
.patternMetaMenu ul {
    padding:0;
    margin:0;
   	list-style:none;
}
.patternMetaMenu ul li {
    padding:0;
	display:inline;
}
.patternMetaMenu ul li .foswikiInputField,
.patternMetaMenu ul li .foswikiSelect {
	margin:0 0 0 .5em;
}
.patternHomePath .foswikiSeparator {
	padding:0 .35em;
}

.patternActionButtons a:link,
.patternActionButtons a:visited {
	padding:1px 1px 2px 1px;
}
.patternTopicActions .patternActionButtons a:link,
.patternTopicActions .patternActionButtons a:visited {
	text-decoration:none;
}
.patternTopicActions .patternActionButtons span s,
.patternTopicActions .patternActionButtons span strike {
	text-decoration:none;
}
.patternActionButtons a.foswikiButton,
.patternActionButtons a.foswikiSubmit,
.patternActionButtons a.foswikiButtonCancel {
	line-height:1em;
	padding:2px 4px;
}
.patternInfo {
	margin:1em 0 0 0;
}
.patternHomePath,
.patternInfo {
	font-size:94%;
}
.patternHomePath .patternRevInfo {
	white-space:nowrap;
}
.patternTopicFooter {
	margin:1em 0 0 0;
}
.patternSimpleLogo {
	margin:1em 0 0 0;
}
.patternTop {}

/* WebSearch, WebSearchAdvanced */
.foswikiWebSearchForm form {
	width:100%;
}
.foswikiWebSearchForm ul {
	list-style:none;
	margin-top:0;
}

#foswikiSearchTable {
	width:100%;
	margin:.5em 0;
	background:none;
	border-width:1px;
	border-style:solid none none none;
} 
#foswikiSearchTable th,
#foswikiSearchTable td {
	padding:1em;
	border-width:1px;
	border-style:none none solid none;
} 
#foswikiSearchTable th {
	width:20%;
	text-align:right;
}
#foswikiSearchTable td {
	width:80%;
}

/*	-----------------------------------------------------------
	Search results
	styles and overridden styles used in search.pattern.tmpl
	-----------------------------------------------------------	*/

.patternSearchResults {
	/* no longer used in search.pattern.tmpl, but remains in rename templates */
	margin:0 0 1em 0;
}
.patternSearchResults blockquote {
	margin:1em 0 1em 5em;
}
h3.foswikiSearchResultsHeader,
h4.foswikiSearchResultsHeader {
	border-width:3px;
	border-style:none none solid none;
	font-weight:bold;
}
.patternSearchResults h3 {
	font-size:115%; /* same as foswikiFormStep */
	margin:0;
	padding:.5em 20px; /*S5*/
	font-weight:bold;
}
h4.foswikiSearchResultsHeader {
	font-size:100%;
	padding-top:.5em;
	padding-bottom:.5em;
	font-weight:normal;
}
.foswikiSearchResultsHeader span {
	padding:0 .5em 0 0;
}

.foswikiSearchResultCount {
	font-weight:bold;
}
.foswikiSearchResult {
	margin:0 0 1em 0;
}
.foswikiSearchResult .foswikiTopRow {}
.foswikiSearchResult .foswikiBottomRow {}
.foswikiSearchResult .foswikiAlert {
	font-weight:bold;
}
.foswikiSummary,
.foswikiSearchResult .foswikiBottomRow {
	font-size:86%; /*S3*/
}
.foswikiSearchResult .foswikiSummary .foswikiAlert {
	font-weight:normal;
}
.foswikiSearchResultsPager {
	margin:1em 0;
	padding:.25em 0;
}
.patternSearchResults .foswikiHelp {
	display:block;
	width:auto;
	padding:.1em 5px;
	margin:1em -5px .35em -5px;
}
.patternSearchResultCount {
	margin:1em 0 3em 0;
}
.patternSearched {}

/* pages that are not view */

/* edit.pattern.tmpl */

.patternNoViewPage #patternMainContents {
	padding-top:0;
}
.patternEditPage #patternMainContents {
	padding-left:0;
	padding-right:0;
}

.foswikiFormHolder { /* constrains the textarea */
	width:100%;
}
.foswikiEditboxStyleMono {
	font-family: "Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
}
.foswikiEditboxStyleProportional {
	font-family: Arial, sans-serif;
}
.patternSig {
	text-align:right
}
.patternSigLine {
	margin:.5em 0 2em 0;
	border-style:none;
}
.foswikiAddFormButton {
	float:right;
}
.patternTextareaButton {
	margin:0 0 0 1px;
	display:block;
	cursor:pointer;
	border-style:solid;
	border-width:1px;
}
.patternButtonFontSelector {
	margin:0 8px 0 0;
}

/* preview.pattern.tmpl */

.foswikiPreviewArea {
	border:none;
	margin:0 0 2em 0;
	padding:0;
}

/* attach.pattern.tmpl */

.patternAttachPage .foswikiAttachments .foswikiTable {
	width:auto;
}
.patternAttachPage .foswikiAttachments {
	margin-top:0;
}
.patternMoveAttachment {
	margin:.5em 0 0 0;
	text-align:right;
}

/* rdiff.pattern.tmpl */

.patternDiff {
	border-width:1px;
	border-style:solid;
	margin:1em 0;
	padding:0;
}
.patternDiff .foswikiTopRow {
	padding:10px 20px;
}
.foswikiDiffTable {
	border-width:1px;
	border-style:solid none none none;
}
.foswikiDiffDebug {
    /* same styling as pre and code */
    font-family: "Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
    font-size:86%;
}
td.foswikiDiffDebugLeft {
	border-bottom:none;
}
.foswikiDiffTable th,
.foswikiDiffTable td {
	padding:10px 20px;
	line-height:1.5em;
	vertical-align:top;
}
.foswikiDiffTable table th,
.foswikiDiffTable table td {
	padding:5px 10px;
}
.foswikiDiffUnchangedMarker,
.foswikiDiffDeletedMarker,
.foswikiDiffAddedMarker,
.foswikiDiffChangedText {
	width:6px !important;
	border-width:6px;
	border-style:none solid none none;
}
.foswikiDiffLineNumberHeader th {
	text-align:left;
}

/* prevent double padding with bullet list in block */
blockquote ol:first-child,
pre ol:first-child,
.foswikiHelp ol:first-child,
.foswikiBroadcastMessage ol:first-child,
.foswikiNotification ol:first-child,
blockquote ul:first-child,
pre ul:first-child,
.foswikiHelp ul:first-child,
.foswikiBroadcastMessage ul:first-child,
.foswikiNotification ul:first-child {
  margin-top: 0;
}
blockquote ol:last-child,
pre ol:last-child,
.foswikiHelp ol:last-child,
.foswikiBroadcastMessage ol:last-child,
.foswikiNotification ol:last-child,
blockquote ul:last-child,
pre ul:last-child,
.foswikiHelp ul:last-child,
.foswikiBroadcastMessage ul:last-child,
.foswikiNotification ul:last-child {
  margin-bottom: 0;
}
/* prevent double padding inside block */
blockquote h1:first-child,
pre h1:first-child,
.foswikiLogin h1:first-child,
.foswikiHelp h1:first-child,
.foswikiBroadcastMessage h1:first-child,
.foswikiNotification h1:first-child,
.foswikiFormStep h1:first-child,
.foswikiSection h1:first-child,
.foswikiTopicText h1:first-child,
.foswikiTabContent h1:first-child,
.jqTabContents h1:first-child,
div.foswikiAlert h1:first-child,
td h1:first-child,
blockquote h2:first-child,
pre h2:first-child,
.foswikiLogin h2:first-child,
.foswikiHelp h2:first-child,
.foswikiBroadcastMessage h2:first-child,
.foswikiNotification h2:first-child,
.foswikiFormStep h2:first-child,
.foswikiSection h2:first-child,
.foswikiTopicText h2:first-child,
.foswikiTabContent h2:first-child,
.jqTabContents h2:first-child,
div.foswikiAlert h2:first-child,
td h2:first-child,
blockquote h3:first-child,
pre h3:first-child,
.foswikiLogin h3:first-child,
.foswikiHelp h3:first-child,
.foswikiBroadcastMessage h3:first-child,
.foswikiNotification h3:first-child,
.foswikiFormStep h3:first-child,
.foswikiSection h3:first-child,
.foswikiTopicText h3:first-child,
.foswikiTabContent h3:first-child,
.jqTabContents h3:first-child,
div.foswikiAlert h3:first-child,
td h3:first-child,
blockquote h4:first-child,
pre h4:first-child,
.foswikiLogin h4:first-child,
.foswikiHelp h4:first-child,
.foswikiBroadcastMessage h4:first-child,
.foswikiNotification h4:first-child,
.foswikiFormStep h4:first-child,
.foswikiSection h4:first-child,
.foswikiTopicText h4:first-child,
.foswikiTabContent h4:first-child,
.jqTabContents h4:first-child,
div.foswikiAlert h4:first-child,
td h4:first-child,
blockquote h5:first-child,
pre h5:first-child,
.foswikiLogin h5:first-child,
.foswikiHelp h5:first-child,
.foswikiBroadcastMessage h5:first-child,
.foswikiNotification h5:first-child,
.foswikiFormStep h5:first-child,
.foswikiSection h5:first-child,
.foswikiTopicText h5:first-child,
.foswikiTabContent h5:first-child,
.jqTabContents h5:first-child,
div.foswikiAlert h5:first-child,
td h5:first-child,
blockquote h6:first-child,
pre h6:first-child,
.foswikiLogin h6:first-child,
.foswikiHelp h6:first-child,
.foswikiBroadcastMessage h6:first-child,
.foswikiNotification h6:first-child,
.foswikiFormStep h6:first-child,
.foswikiSection h6:first-child,
.foswikiTopicText h6:first-child,
.foswikiTabContent h6:first-child,
.jqTabContents h6:first-child,
div.foswikiAlert h6:first-child,
td h6:first-child {
  margin-top: 0;
}

/* PATTERNTOOLBAR */
.patternToolBar > a:link,
.patternToolBar > a:visited,
.patternToolBar > .foswikiRequiresChangePermission > a:link,
.patternToolBar > .foswikiRequiresChangePermission > a:visited {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    
    *zoom: 1;
    padding: 2px 8.4px 2px 8.4px;
    margin-bottom: 0;
    line-height: 22px;
    *line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    *border: 0;
    *margin-left: .3em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin: 0 0 6px 6px;
}
.patternToolBar > a:link:first-child,
.patternToolBar > a:visited:first-child,
.patternToolBar > .foswikiRequiresChangePermission > a:link:first-child,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:first-child {
    *margin-left: 0;
}
.patternToolBar > a:link .foswikiIcon,
.patternToolBar > a:visited .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:link .foswikiIcon,
.patternToolBar > .foswikiRequiresChangePermission > a:visited .foswikiIcon {
    vertical-align: middle;
    line-height: .5;
}
.patternToolBar > a:link,
.patternToolBar > a:visited,
.patternToolBar > .foswikiRequiresChangePermission > a:link,
.patternToolBar > .foswikiRequiresChangePermission > a:visited,
.patternToolBar > a:link:link,
.patternToolBar > a:visited:link,
.patternToolBar > .foswikiRequiresChangePermission > a:link:link,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:link {
    text-decoration: none;
}
.patternToolBar > a:link:hover,
.patternToolBar > a:visited:hover,
.patternToolBar > .foswikiRequiresChangePermission > a:link:hover,
.patternToolBar > .foswikiRequiresChangePermission > a:visited:hover,
.patternToolBar > a:link.foswikiActive,
.patternToolBar > a:visited.foswikiActive,
.patternToolBar > .foswikiRequiresChangePermission > a:link.foswikiActive,
.patternToolBar > .foswikiRequiresChangePermission > a:visited.foswikiActive,
.patternToolBar > a:link > .foswikiRequiresChangePermission a:hover,
.patternToolBar > a:visited > .foswikiRequiresChangePermission a:hover,
.patternToolBar > .foswikiRequiresChangePermission > a:link > .foswikiRequiresChangePermission a:hover,
.patternToolBar > .foswikiRequiresChangePermission > a:visited > .foswikiRequiresChangePermission a:hover {
    text-decoration: none;
}
.patternToolBar > a:link .foswikiAccessKey,
.patternToolBar > a:visited .foswikiAccessKey,
.patternToolBar > .foswikiRequiresChangePermission > a:link .foswikiAccessKey,
.patternToolBar > .foswikiRequiresChangePermission > a:visited .foswikiAccessKey {
    border: none;
}

/*
* BUTTONS
*/
.foswikiButton,
.foswikiButtonSmall,
.foswikiButtonLarge,
.foswikiButtonMini {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 7px 2px 7px;
  margin-bottom: 0;
  line-height: 22px;
  *line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  *border: 0;
  *margin-left: .3em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}
.foswikiButton:first-child,
.foswikiButtonSmall:first-child,
.foswikiButtonLarge:first-child,
.foswikiButtonMini:first-child {
  *margin-left: 0;
}
.foswikiButton .foswikiIcon,
.foswikiButtonSmall .foswikiIcon,
.foswikiButtonLarge .foswikiIcon,
.foswikiButtonMini .foswikiIcon {
  vertical-align: middle;
  line-height: .5;
}
.foswikiButton,
.foswikiButtonSmall,
.foswikiButtonLarge,
.foswikiButtonMini,
.foswikiButton:link,
.foswikiButtonSmall:link,
.foswikiButtonLarge:link,
.foswikiButtonMini:link {
  text-decoration: none;
}
.foswikiButton,
.foswikiButtonSmall,
.foswikiButtonLarge,
.foswikiButtonMini,
.foswikiButton:link,
.foswikiButtonSmall:link,
.foswikiButtonLarge:link,
.foswikiButtonMini:link,
.foswikiButton:visited,
.foswikiButtonSmall:visited,
.foswikiButtonLarge:visited,
.foswikiButtonMini:visited {
  color: #555555;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(top, #fbfbfb, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #fbfbfb, #eeeeee);
  background-image: -o-linear-gradient(top, #fbfbfb, #eeeeee);
  background-image: linear-gradient(to bottom, #fbfbfb, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbfb', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eeeeee #eeeeee #c8c8c8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #eeeeee;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #e1e1e1;
}
.foswikiButton .foswikiIcon,
.foswikiButtonSmall .foswikiIcon,
.foswikiButtonLarge .foswikiIcon,
.foswikiButtonMini .foswikiIcon,
.foswikiButton:link .foswikiIcon,
.foswikiButtonSmall:link .foswikiIcon,
.foswikiButtonLarge:link .foswikiIcon,
.foswikiButtonMini:link .foswikiIcon,
.foswikiButton:visited .foswikiIcon,
.foswikiButtonSmall:visited .foswikiIcon,
.foswikiButtonLarge:visited .foswikiIcon,
.foswikiButtonMini:visited .foswikiIcon {
  color: #555555;
}
.foswikiButton .foswikiCaret,
.foswikiButtonSmall .foswikiCaret,
.foswikiButtonLarge .foswikiCaret,
.foswikiButtonMini .foswikiCaret,
.foswikiButton:link .foswikiCaret,
.foswikiButtonSmall:link .foswikiCaret,
.foswikiButtonLarge:link .foswikiCaret,
.foswikiButtonMini:link .foswikiCaret,
.foswikiButton:visited .foswikiCaret,
.foswikiButtonSmall:visited .foswikiCaret,
.foswikiButtonLarge:visited .foswikiCaret,
.foswikiButtonMini:visited .foswikiCaret {
  border-top-color: rgba(85, 85, 85, 0.4);
}
.foswikiButton:hover,
.foswikiButtonSmall:hover,
.foswikiButtonLarge:hover,
.foswikiButtonMini:hover,
.foswikiButton.foswikiActive,
.foswikiButtonSmall.foswikiActive,
.foswikiButtonLarge.foswikiActive,
.foswikiButtonMini.foswikiActive,
.foswikiButton > .foswikiRequiresChangePermission a:hover,
.foswikiButtonSmall > .foswikiRequiresChangePermission a:hover,
.foswikiButtonLarge > .foswikiRequiresChangePermission a:hover,
.foswikiButtonMini > .foswikiRequiresChangePermission a:hover {
  color: #4d4d4d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #f3f3f3, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e6e6e6);
  background-image: -o-linear-gradient(top, #f3f3f3, #e6e6e6);
  background-image: linear-gradient(to bottom, #f3f3f3, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3f3f3', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #c0c0c0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #dadada;
  text-decoration: none;
}
.foswikiButton:hover .foswikiIcon,
.foswikiButtonSmall:hover .foswikiIcon,
.foswikiButtonLarge:hover .foswikiIcon,
.foswikiButtonMini:hover .foswikiIcon,
.foswikiButton.foswikiActive .foswikiIcon,
.foswikiButtonSmall.foswikiActive .foswikiIcon,
.foswikiButtonLarge.foswikiActive .foswikiIcon,
.foswikiButtonMini.foswikiActive .foswikiIcon,
.foswikiButton > .foswikiRequiresChangePermission a:hover .foswikiIcon,
.foswikiButtonSmall > .foswikiRequiresChangePermission a:hover .foswikiIcon,
.foswikiButtonLarge > .foswikiRequiresChangePermission a:hover .foswikiIcon,
.foswikiButtonMini > .foswikiRequiresChangePermission a:hover .foswikiIcon {
  color: #4d4d4d;
}
.foswikiButton:hover .foswikiCaret,
.foswikiButtonSmall:hover .foswikiCaret,
.foswikiButtonLarge:hover .foswikiCaret,
.foswikiButtonMini:hover .foswikiCaret,
.foswikiButton.foswikiActive .foswikiCaret,
.foswikiButtonSmall.foswikiActive .foswikiCaret,
.foswikiButtonLarge.foswikiActive .foswikiCaret,
.foswikiButtonMini.foswikiActive .foswikiCaret,
.foswikiButton > .foswikiRequiresChangePermission a:hover .foswikiCaret,
.foswikiButtonSmall > .foswikiRequiresChangePermission a:hover .foswikiCaret,
.foswikiButtonLarge > .foswikiRequiresChangePermission a:hover .foswikiCaret,
.foswikiButtonMini > .foswikiRequiresChangePermission a:hover .foswikiCaret {
  border-top-color: rgba(77, 77, 77, 0.4);
}
.foswikiButton .foswikiAccessKey,
.foswikiButtonSmall .foswikiAccessKey,
.foswikiButtonLarge .foswikiAccessKey,
.foswikiButtonMini .foswikiAccessKey {
  border: none;
}
.foswikiButtonSmall {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 20px;
}
.foswikiButtonSmall [class^="icon-"] {
  margin-top: 0;
}
.foswikiButtonMini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 18px;
}
.foswikiSubmit {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 7px 2px 7px;
  margin-bottom: 0;
  line-height: 22px;
  *line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  *border: 0;
  *margin-left: .3em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}
.foswikiSubmit:first-child {
  *margin-left: 0;
}
.foswikiSubmit .foswikiIcon {
  vertical-align: middle;
  line-height: .5;
}
.foswikiSubmit,
.foswikiSubmit:link {
  text-decoration: none;
}
.foswikiSubmit,
.foswikiSubmit:link,
.foswikiSubmit:visited {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  background-color: #50aace;
  background-image: -moz-linear-gradient(top, #58aed1, #44a4cb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#58aed1), to(#44a4cb));
  background-image: -webkit-linear-gradient(top, #58aed1, #44a4cb);
  background-image: -o-linear-gradient(top, #58aed1, #44a4cb);
  background-image: linear-gradient(to bottom, #58aed1, #44a4cb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff58aed1', endColorstr='#ff44a4cb', GradientType=0);
  border-color: #44a4cb #44a4cb #2a7898;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #44a4cb;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #3598c0;
}
.foswikiSubmit .foswikiIcon,
.foswikiSubmit:link .foswikiIcon,
.foswikiSubmit:visited .foswikiIcon {
  color: #ffffff;
}
.foswikiSubmit .foswikiCaret,
.foswikiSubmit:link .foswikiCaret,
.foswikiSubmit:visited .foswikiCaret {
  border-top-color: rgba(255, 255, 255, 0.4);
}
.foswikiSubmit:hover,
.foswikiSubmit:active {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  background-color: #44a4cb;
  background-image: -moz-linear-gradient(top, #4ca8cd, #389ec8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ca8cd), to(#389ec8));
  background-image: -webkit-linear-gradient(top, #4ca8cd, #389ec8);
  background-image: -o-linear-gradient(top, #4ca8cd, #389ec8);
  background-image: linear-gradient(to bottom, #4ca8cd, #389ec8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4ca8cd', endColorstr='#ff389ec8', GradientType=0);
  border-color: #389ec8 #389ec8 #276f8c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #389ec8;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #328fb4;
  text-decoration: none;
}
.foswikiSubmit:hover .foswikiIcon,
.foswikiSubmit:active .foswikiIcon {
  color: #ffffff;
}
.foswikiSubmit:hover .foswikiCaret,
.foswikiSubmit:active .foswikiCaret {
  border-top-color: rgba(255, 255, 255, 0.4);
}
.foswikiButtonCancel {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 7px 2px 7px;
  margin-bottom: 0;
  line-height: 22px;
  *line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  *border: 0;
  *margin-left: .3em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}
.foswikiButtonCancel:first-child {
  *margin-left: 0;
}
.foswikiButtonCancel .foswikiIcon {
  vertical-align: middle;
  line-height: .5;
}
.foswikiButtonCancel,
.foswikiButtonCancel:link {
  text-decoration: none;
}
.foswikiButtonCancel,
.foswikiButtonCancel:link,
.foswikiButtonCancel:visited {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  background-color: #db6b44;
  background-image: -moz-linear-gradient(top, #dd724c, #d96137);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd724c), to(#d96137));
  background-image: -webkit-linear-gradient(top, #dd724c, #d96137);
  background-image: -o-linear-gradient(top, #dd724c, #d96137);
  background-image: linear-gradient(to bottom, #dd724c, #d96137);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd724c', endColorstr='#ffd96137', GradientType=0);
  border-color: #d96137 #d96137 #a4421f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #d96137;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cf5327;
}
.foswikiButtonCancel .foswikiIcon,
.foswikiButtonCancel:link .foswikiIcon,
.foswikiButtonCancel:visited .foswikiIcon {
  color: #ffffff;
}
.foswikiButtonCancel .foswikiCaret,
.foswikiButtonCancel:link .foswikiCaret,
.foswikiButtonCancel:visited .foswikiCaret {
  border-top-color: rgba(255, 255, 255, 0.4);
}
.foswikiButtonCancel:hover,
.foswikiButtonCancel:active {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  background-color: #d96137;
  background-image: -moz-linear-gradient(top, #db6840, #d7572a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#db6840), to(#d7572a));
  background-image: -webkit-linear-gradient(top, #db6840, #d7572a);
  background-image: -o-linear-gradient(top, #db6840, #d7572a);
  background-image: linear-gradient(to bottom, #db6840, #d7572a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb6840', endColorstr='#ffd7572a', GradientType=0);
  border-color: #d7572a #d7572a #973d1d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #d7572a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #c24e25;
  text-decoration: none;
}
.foswikiButtonCancel:hover .foswikiIcon,
.foswikiButtonCancel:active .foswikiIcon {
  color: #ffffff;
}
.foswikiButtonCancel:hover .foswikiCaret,
.foswikiButtonCancel:active .foswikiCaret {
  border-top-color: rgba(255, 255, 255, 0.4);
}
.foswikiButtonDisabled,
.foswikiSubmitDisabled {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 7px 2px 7px;
  margin-bottom: 0;
  line-height: 22px;
  *line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  *border: 0;
  *margin-left: .3em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}
.foswikiButtonDisabled:first-child,
.foswikiSubmitDisabled:first-child {
  *margin-left: 0;
}
.foswikiButtonDisabled .foswikiIcon,
.foswikiSubmitDisabled .foswikiIcon {
  vertical-align: middle;
  line-height: .5;
}
.foswikiButtonDisabled,
.foswikiSubmitDisabled,
.foswikiButtonDisabled:link,
.foswikiSubmitDisabled:link,
.foswikiButtonDisabled:hover,
.foswikiSubmitDisabled:hover {
  cursor: default;
  text-decoration: none;
}
.foswikiButtonDisabled,
.foswikiSubmitDisabled,
.foswikiButtonDisabled:link,
.foswikiSubmitDisabled:link,
.foswikiButtonDisabled:visited,
.foswikiSubmitDisabled:visited,
.foswikiButtonDisabled:hover,
.foswikiSubmitDisabled:hover {
  color: #ddd;
  background: #fafafa;
  border: 1px solid #f0f0f0;
  text-shadow: none;
}
.foswikiButton + .foswikiButton {
  margin-left: 6px;
}
.foswikiRight .foswikiButton + .foswikiButton {
  margin-left: 0;
  margin-right: 6px;
}
.foswikiLeft .foswikiButton + .foswikiButton {
  margin-right: 0;
  margin-left: 6px;
}
.foswikiCaret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  content: " ";
  border-top: 4px solid #555555;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin: 0 0 0 7px;
  vertical-align: text-top;
}
.foswikiButton .foswikiButtonIcon,
.foswikiButton:active .foswikiButtonIcon {
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 0 0 0 23px;
  display: inline-block;
  vertical-align: baseline;
}
.foswikiButton .foswikiLabel {
  padding-left: 8px;
}
.foswikiButton .foswikiIcon.icon-empty + .foswikiLabel {
  padding-left: 0;
}