#patternScreen {
	padding:0;
}
#patternPage {
	border:none;
}

#patternTopBar,
#patternClearHeaderCenter,
#patternClearHeaderLeft,
#patternClearHeaderRight,
#patternTopBarContents {
	height:90px;
	overflow:hidden;
}

#patternClearHeaderCenter,
#patternClearHeaderLeft {
  height:131px;
}

#patternTopBarContents {
	padding-top:17px;
}

#patternTopBarButtons {
  border:0;
  position:absolute;
  left:0;
  width:100%;
  margin-top:-41px;
  z-index:1;
}
.patternMetaMenu {
  vertical-align:middle;
}

#patternTopBarButtons ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 0 2em;
	padding:0;
  float:left;
}

#patternTopBarButtons li,
#patternTopBarButtons ul li a {
	line-height:31px;
	height:31px;
}

#patternTopBarButtons li {
	display:inline;
	margin:0;
	padding:0;
	float:left;
}
#patternTopBarButtons ul li a {
	display:block;
	padding:0 1em;
  margin-right:1px;
}
