html body {
  color:#444;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size:14px;
  line-height:1.5em;
  padding:1em;
}

.header {
  margin:-1em -1em 2em;
  padding:2em;
  background-color:#eee;
  position:relative;
}

.top_level_buttons {
  float: right;
  margin-top:0.5em;
}

.clearfix:after,
.foswikiClearFix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix,
.foswikiClearFix {
  *zoom:1; /* IE7 hack */
}

* html .clearfix,
* html .foswikiClearFix {
  height: 1%;
}

.whirly {
    display:none;
    width:16px;
    height:16px;
    margin-left: 0.5em;
    background-image:url(loader-bars.gif);
    background-repeat:no-repeat;
    background-position:bottom left;
}

.ajax_whirly {
    display:none;
    width:16px;
    height:16px;
    background-image:url(loader-bars.gif);
    background-repeat:no-repeat;
    background-position:bottom left;
    position:absolute;
    bottom:-32px;
    right:1em;
}


/* A node in the spec tree */
.node ul {
  margin:0;
  padding-left:1em;
}
.node .node {
    padding:0.5em 0 0.5em 10em;
    margin:0;
    border-top:1px solid #eee;
}
.node .node:first {
  border-top:0;
}
.ui-tabs-panel > .node {
  padding-left:0;
  border-top:0;
}
.node .keys {
  min-width:10em;
  margin-left:-10em;
  display:inline-block;
}
.node .description {
  padding:0 0 0.5em;
  margin:0 0 1em;
}
.node .node input,
.node .node button,
.node .node .description,
.node .node .reports {
  margin:0.5em 0 0.5em 0.5em;
}
.node .reports, 
.node .description {
  color:#808080;
}
.node strong,
.node b {
  color:#444;
}

.value_modified {
  background-color:#DEEBFA;
  color:#005884;
}

.closed {
    display: none;
}

.open > .description {
    display: block;
}

/* Inside .contents, text description */
.description {
    
}

td {
}

/* Used to record that a leaf node has been populated with a value
   and needs a UI to be loaded */
.load_ui {
    background-color: lavender; /* find something better */
}

/* Classes added to elements that have been checked. All of these
 * may be added; we want errors > warnings > information */
div.information {
}

p.one_line_report {
    margin: 0;
}

.reports > .warnings,
.reports > .errors,
.message_block > .warnings,
.message_block > .errors {
  margin:1em 0;
  padding:0.5em 1em 0.5em 3em;
  background-repeat:no-repeat;
  background-position:1em 0.8em;
  border:1px solid;
  font-weight:bold;

  -webkit-border-radius: 4px; 
     -moz-border-radius: 4px; 
          border-radius: 4px; 
}

.reports > .warnings,
.message_block > .warnings {
  background-image: url(warningsIcon.png);
  background-color:#FFF6BF;
  border-color:#FDD845;
  color:#c09853;
}

.reports > .errors,
.message_block > .errors {
  background-image: url(errorsIcon.png);
  background-color:#FBE3E4;
  border-color:#FBC7C9;
  color:#b22222;
}

.message_block > .changes {
  background-color:#DEEBFA;
  color:#005884;
}

.tab.warnings {
    background-image: url(warningsIcon.png);
    padding-right: 22px;
    background-position: right 45%;
    background-repeat: no-repeat;
}

.tab.errors {
    background-image: url(errorsIcon.png);
    padding-right: 22px;
    background-position: right 45%;
    background-repeat: no-repeat;
}

.tab.warnings.errors {
    background-image: url(warningsAndErrorsIcon.png);
    padding-right: 44px;
    background-position: right 45%;
    background-repeat: no-repeat;
}

.key_controls {
    border: 1px solid black;
    width: 44px;
    height: 22px;
    float:right;
}

/* Shown if value has been modified in this session */
.undo_button {
    width: 20px !important;
    height: 20px !important;
}

.undo-icon {
    background-image: url("undo-modified-icon.png") !important;
}

/* Button shown if value differs from default */
.control_button {
    width: 20px !important;
    height: 20px !important;
    margin:0 0.5em;
}

.info-icon {
    background-image: url("info-icon.png") !important;
}

div.expert {
    background-image: url(expert.png);
    padding-right: 60px !important;
    background-position: right 0.5em;
    background-repeat: no-repeat;
}

/* Hidden because it's *always* hidden */
.hidden_pending {
    display: none;
}

/* Hidden because it's EXPERT */
.hidden_expert {
    display: none;
}

.hidden_expert.errors {
    display: block;
}

.hidden_expert.warnings {
    display: block;
}

/* Hidden because it failed a DISPLAY_IF */
.hidden_di {
    display: none;
}

.hidden_di.errors {
    display: block;
}

.hidden_di.warnings {
    display: block;
}

#auth_prompt {
    height: 300px;
    width: 350px;
}

textarea.report {
    width: 100%;
    height: 40%;
}

table.tml {
    border: none;
    width: auto;
    margin: 0;
}

.tml th td {
    background: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid black;
}

