html body {
  color:#444;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size:14px;
  line-height:1.5em;
  padding:1em;
}
html {
  overflow-y: scroll; /* force a vertical scrollbar to prevent a jumpy page */
  background-image:url(bg.png);
  background-repeat:repeat-x;
}
body {
  border-top:5px solid #FF9100;
}

a {
  color:#333;
}

.header {
  margin:-1em -1em 0;
  padding:2em;
  position:relative;
  box-shadow:0 6px 10px -6px rgba(0, 0, 0, 0.3) inset;
}

.top_level_buttons {
  float: right;
  margin-top:0.5em;
}

.clearfix:after,
.foswikiClearFix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix,
.foswikiClearFix {
  *zoom:1; /* IE7 hack */
}

* html .clearfix,
* html .foswikiClearFix {
  height: 1%;
}

.ajax_whirly,
.whirly {
    display:inline-block;
    width:16px;
    height:16px;
    background-image:url(loader-bars.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}

.ajax_whirly {
    z-index:999;
    position:absolute;
    bottom:-2em;
    right:1em;
}

.node {
  position:relative;
}
.node > .whirly {
  position:absolute;
  top:2px;
  left:0;
}
.node.value_modified > .whirly {
  left:2px;
}


/* A node in the spec tree */
.node ul {
  margin:0;
  padding-left:1em;
}
.node .node {
    padding:0.5em 0 0.5em 10em;
    margin:1em 0;
    border-top:1px solid #ddd;
}
.node .node:first-child {
  border-top:0;
}
.ui-tabs-panel > .node {
  padding-left:0;
  border-top:0;
}
.node .keys {
  min-width:10em;
  margin-left:-10em;
  display:inline-block;
}
.node .description {
  padding:0 0 0.5em;
  margin:0 0 1em;
}
.node .control_button {
  background:transparent;
  border:0;
}
.header label {
  margin-right:0;
}
.node .node select,
.node .node textarea,
.node .node input,
.node .node button,
.node .node .description,
.node .node .reports {
  margin:0.5em 0 0.5em 0.5em;
}
.node .reports, 
.node .description {
  color:#444;
}
.node > .reports:first-child {
  margin:0 !important;
}
.node strong,
.node b {
  color:#333;
}

.node .description .more {
  margin-left:1em;
}


.value_modified {
  border-radius:2px;
  border:1px solid #d1d1d1;
  box-shadow:0 0 10px #f4f4f4;

  /* http://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+100;Custom */
  background: #f4f4f4; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%); /* W3C */
}
.node.value_modified {
  padding: 0.5em 1em 0.5em 11em;
}

.closed {
    display: none;
}

.open > .description {
    display: block;
}

/* Inside .contents, text description */
.description {
    
}

td {
}

/* Used to record that a leaf node has been populated with a value
   and needs a UI to be loaded */
.load_ui {
    background-color: lavender; /* find something better */
}

/* Classes added to elements that have been checked. All of these
 * may be added; we want errors > warnings > information */
div.information {
}

p.one_line_report {
    margin: 0;
}

.reports > .warnings,
.reports > .errors,
.message_block > .warnings,
.message_block > .errors {
  margin:1em 0;
  padding:0.5em 1em 0.5em 3em;
  background-repeat:no-repeat;
  background-position:1em 0.8em;
  border:1px solid;
  font-weight:bold;

  -webkit-border-radius: 4px; 
     -moz-border-radius: 4px; 
          border-radius: 4px; 
}

.reports > .warnings,
.message_block > .warnings {
  background-image: url(warningsIcon.png);
  background-color:#FFF6BF;
  border-color:#FDD845;
  color:#c09853;
}

.reports > .errors,
.message_block > .errors {
  background-image: url(errorsIcon.png);
  background-color:#FBE3E4;
  border-color:#FBC7C9;
  color:#b22222;
}

.reports > .warnings:first-child,
.reports > .errors:first-child ,
.message_block > .warnings:first-child,
.message_block > .errors:first-child {
  margin-top:0;
}

.message_block > .changes {
  background-color:#DEEBFA;
  color:#005884;
}

.tab.warnings {
    background-image: url(warningsIcon.png);
    padding-right: 22px;
    background-position: right 45%;
    background-repeat: no-repeat;
}

.tab.errors {
    background-image: url(errorsIcon.png);
    padding-right: 22px;
    background-position: right 45%;
    background-repeat: no-repeat;
}

.tab.warnings.errors {
    background-image: url(warningsAndErrorsIcon.png);
    padding-right: 44px;
    background-position: right 45%;
    background-repeat: no-repeat;
}

.key_controls {
    border: 1px solid black;
    width: 44px;
    height: 22px;
    float:right;
}

/* Button shown if value differs from default */
.control_button {
    width: 20px !important;
    height: 20px !important;
    margin:0 0.5em;
}

.info-icon {
    background-image: url("info-icon.png") !important;
}

div.expert:after {
    content: ' ';
    display:block;
    width:53px;
    height:16px;
    position:absolute;
    top:0.5em;
    right:0;
    background-image: url(expert.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
div.value_modified.expert:after {
  right:0.5em;
}

/* Hidden because it's *always* hidden */
.hidden_pending {
    display: none;
}

/* Hidden because it's EXPERT */
.hidden_expert {
    display: none;
}

.hidden_expert.errors {
    display: block;
}

.hidden_expert.warnings {
    display: block;
}

/* Hidden because it failed a DISPLAY_IF */
.hidden_di {
    display: none;
}

.hidden_di.errors {
    display: block;
}

.hidden_di.warnings {
    display: block;
}

#auth_prompt {
    height: 300px;
    width: 350px;
}

textarea {
    width: 100%;
    height:10em;
}

table.tml {
    border: none;
    width: auto;
    margin: 0;
}

.tml th td {
    background: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid black;
}

#root {
  margin-left:20em;
}

.ui-tabs .ui-tabs-panel {
  border-width:0;
  padding:0;
  background:transparent;
}
.ui-tabs-vertical {
  padding:0;
  background:transparent;
}
.ui-tabs-vertical > .ui-tabs-nav { 
  float: left; 
  width: 18em; 
  border:0px;
  border-bottom:1px solid #ddd;
  margin-left:-20em;
}
.ui-tabs-vertical > .ui-tabs-panel { 
  border-width:0 0 0 1px;
  padding: 0 0 0 1em;
  min-height:50em;
  float:left;
  width:100%;
}
.ui-tabs-vertical > .ui-tabs-nav > li { 
  width: 100%; 
  border-width: 1px 0 0 0;
  border-color:#ddd;
  background:transparent;
  border-radius:0;
  margin:0;
  padding:0.5em 0;
  clear:left;
}
.ui-tabs-vertical > .ui-tabs-nav > li > a { 
  display:block; 
  padding:0;
  float:none;
}
.ui-tabs-vertical > .ui-tabs-nav > li > a:before {
  background:transparent;
}
.ui-tabs-vertical > .ui-tabs-nav > li.ui-tabs-active { 
  background:#aaa;
  border-color:#aaa;
  border-radius:0;
}
.ui-tabs-vertical > .ui-tabs-nav > li.ui-tabs-active > a {
  color:#fff;
}
.ui-tabs-vertical > .ui-tabs-panel >  .node > .reports {
  display:none; /* SMELL: hide the first zing as it is redundant anyway ... better prevent it from rendereing in the first place ... if only I knew how */
}
