html body {
  color:#444;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size:14px;
  line-height:1.5em;
  padding:1em;
}
html {
  overflow-y: scroll; /* force a vertical scrollbar to prevent a jumpy page */
  background-image:url(bg.png);
  background-repeat:repeat-x;
}
body {
  border-top:5px solid #FF9100;
}

a {
  color:#333;
}

.header {
  margin:-1em -1em 0;
  padding:2em;
  position:relative;
  box-shadow:0 6px 10px -6px rgba(0, 0, 0, 0.3) inset;
}
.header label {
  margin-right:0;
}
.showExpertButton {
  position:fixed;
  bottom:1em;
  left:1em;
  z-index:999;
}

.top_level_buttons {
  float: right;
  margin-top:0.5em;
}

.clearfix:after,
.foswikiClearFix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix,
.foswikiClearFix {
  *zoom:1; /* IE7 hack */
}

* html .clearfix,
* html .foswikiClearFix {
  height: 1%;
}

.ajax_whirly,
.whirly {
    display:inline-block;
    width:16px;
    height:16px;
    background-image:url(loader-bars.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}

.ajax_whirly {
    z-index:999;
    position:absolute;
    bottom:-2em;
    right:1em;
}

.node h2 {
  margin-top:0;
  border:0;
  color:#339000;
  color:#2375C5;
}
.node .node h2 { /* h3-ish */
  font-size:1.2857em; /* 18px */
  line-height: 1.1667em; /* 21px */
  margin: 0 0 1.1667em; 
}
.node .node .node h2 { /* h4-ish */
  font-size: 1.1429em; /* 16px */
  line-height: 1.3125em; /* 21px */
  margin: 0 0 1.3125em;
}
.node {
  position:relative;
}
.node > .whirly {
  position:absolute;
  top:2px;
  left:0;
}
.node.value_modified > .whirly {
  left:2px;
}


/* A node in the spec tree */
.node ul {
  margin:0;
  padding-left:1em;
}
.node .node {
    padding:0.5em 0 0.5em 15em;
    margin:1em 0;
    border-top:1px solid #ddd;
}
.node .node:first-child {
  border-top:0;
}
.ui-tabs-panel > .node {
  padding-left:0;
  border-top:0;
}
.node .label {
  width:14.5em;
  margin-left:-15em;
  margin-top:3px;
  display:inline-block;
  overflow:hidden;
  margin-right:0.5em;
}
.node .keys {
  color:#888;
}
.node .ui-elem {
  margin:0 0 0.5em;
  display:inline-block;
  vertical-align:top;
  width:99%;
}
.node .description {
  margin:0 0 1em;
}
.node .ui-button {
  margin:0 0.5em 0 0;
}
.node .ui-button-text {
  text-shadow:0 0 transparent;
}
.node :not(.feedback_button).ui-button.ui-state-default {
  background:transparent;
  border:0;
  border-radius:0;
}
.node :not(.feedback_button).ui-button.ui-state-hover {
  color:#ffffff;
  background-color:#0055b5;
}
.node :not(.feedback_button).ui-button.ui-state-hover .ui-button-text{
  color:#ffffff;
}
.button_box {
  margin-left:-0.5em;
}
.button_box,
.button_box .ui-button-text {
  color:#444;
  text-transform:lowercase;
}
.button_box label {
  margin-right:1em;
}
.node .node select,
.node .node textarea,
.node .node input,
.node .node .description,
.node .node .reports {
  margin:0.5em 0;
}
.node .node .button_box input[type=checkbox] {
  margin-left:0.5em;
}
.node .reports, 
.node .description {
  color:#444;
}
.node > .reports:first-child {
  margin:0 !important;
}
.node strong,
.node b {
  color:#333;
}

.node .description .more {
  margin-left:1em;
}
.node.disabled button {
  display:none !important;
}

.value_modified {
  border-radius:2px;
  border:1px solid #d1d1d1;
  box-shadow:0 0 10px #f4f4f4;

  /* http://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+100;Custom */
  background: #f4f4f4; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%); /* W3C */
}
.node.value_modified {
  padding: 0.5em 1em 0.5em 15.5em;
  margin-left:-0.55em;
}

.closed {
    display: none;
}

.open > .description {
    display: block;
}

/* Inside .contents, text description */
.description {
    
}

td {
}

/* Used to record that a leaf node has been populated with a value
   and needs a UI to be loaded */
.load_ui {
    background-color: lavender; /* find something better */
}

/* Classes added to elements that have been checked. All of these
 * may be added; we want errors > warnings > information */
div.information {
}

p.one_line_report {
    margin: 0;
}

.searchResults > .errors,
.reports > .warnings,
.reports > .errors,
.message_block > .warnings,
.message_block > .errors {
  margin:1em 0;
  padding:0.5em 1em 0.5em 3em;
  background-repeat:no-repeat;
  background-position:1em 0.8em;
  border:1px solid;
  font-weight:bold;

  -webkit-border-radius: 4px; 
     -moz-border-radius: 4px; 
          border-radius: 4px; 
}

.reports > .warnings,
.message_block > .warnings {
  background-image: url(warningsIcon.png);
  background-color:#FFF6BF;
  border-color:#FDD845;
  color:#c09853;
}

.searchResults > .errors,
.reports > .errors,
.message_block > .errors {
  background-image: url(errorsIcon.png);
  background-color:#FBE3E4;
  border-color:#FBC7C9;
  color:#b22222;
}

.reports > .warnings:first-child,
.reports > .errors:first-child ,
.message_block > .warnings:first-child,
.message_block > .errors:first-child {
  margin-top:0;
}

.message_block > .changes {
  background-color:#DEEBFA;
  color:#005884;
}

#report_dialog {
  min-width:30em;
  max-width:50em;
  min-height:30em;
  max-height:50em;
  overflow-y:auto;
}

.tab.warnings {
    background-image: url(warningsIcon.png);
    padding-right: 22px;
    background-position: right 45%;
    background-repeat: no-repeat;
}

.tab.errors {
    background-image: url(errorsIcon.png);
    padding-right: 22px;
    background-position: right 45%;
    background-repeat: no-repeat;
}

.tab.warnings.errors {
    background-image: url(warningsAndErrorsIcon.png);
    padding-right: 44px;
    background-position: right 45%;
    background-repeat: no-repeat;
}

.key_controls {
    border: 1px solid black;
    width: 44px;
    height: 22px;
    float:right;
}

.control_button {
    margin:0 0.5em;
}

.wizard_button {
    margin: 0.25em;
}

.wizard_checkbox {
    margin: 0.25em;
}

.info-icon {
    background-image: url("info-icon.png") !important;
}

div.expert:after {
    content: ' ';
    display:block;
    width:53px;
    height:16px;
    position:absolute;
    top:0.5em;
    right:0;
    background-image: url(expert.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
div.value_modified.expert:after {
  right:0.5em;
}

/* Hidden because it's *always* hidden */
.hidden_pending {
    display: none;
}

/* Hidden because it's EXPERT */
.hidden_expert {
    display: none;
}

.hidden_expert.errors {
    display: block;
}

.hidden_expert.warnings {
    display: block;
}

/* Hidden because it failed a DISPLAY_IF */
.hidden_di {
    display: none;
}

.hidden_di.errors {
    display: block;
}

.hidden_di.warnings {
    display: block;
}

#auth_prompt {
    height: 300px;
    width: 350px;
}

textarea {
    width: 100%;
    height:10em;
}

table.tml {
    border: none;
    width: auto;
    margin: 0;
}

.extensions_table th, .extensions_table td {
    background: #fff;
    padding: 0.25em;
    border: 1px solid silver;
}

#root.loading {
  margin:0;
}
.splash {
  position:absolute;
  top:50%;
  left:0;
  right:0;
  margin-top:-1em;
  font-size:4em;
  font-weight:bold;
  color:#e6e6e6;
  text-align:center;
}

.ui-tabs .ui-tabs-panel {
  border-width:0;
  padding:0;
  background:transparent;
}
.ui-tabs-vertical {
  padding:0;
  background:transparent;
  margin-left:20em;
  position-relative;
}
.ui-tabs-vertical > .ui-tabs-nav { 
  float: left; 
  width: 18em; 
  border:0px;
  border-bottom:1px solid #ddd;
  margin-left:-20em;
  background:#fff;
}
.ui-tabs-vertical > .ui-tabs-panel { 
  border-width:0 0 0 1px;
  padding: 0 0 0 1.5em;
  min-height:50em;
  float:left;
  width:99%;
}
.ui-tabs-vertical > .ui-tabs-nav > li { 
  width: 100%; 
  border-width: 1px 0 0 0;
  border-color:#ddd;
  background:transparent;
  border-radius:0;
  margin:0;
  padding:0.5em 0;
  clear:left;
}
.ui-tabs-vertical > .ui-tabs-nav > li > a { 
  display:block; 
  padding:0;
  float:none;
}
.ui-tabs-vertical > .ui-tabs-nav > li > a:before {
  background:transparent;
}
.ui-tabs-vertical > .ui-tabs-nav > li.ui-tabs-active { 
  background:#aaa;
  border-color:#aaa;
  border-radius:0;
  margin:0;
}
.ui-tabs-vertical > .ui-tabs-nav > li.ui-tabs-active > a {
  color:#fff;
}
.ui-tabs-vertical > .ui-tabs-panel > .node {
  margin-top:0;
  padding-top:0;
}
.ui-tabs-vertical > .ui-tabs-panel >  .node > .reports {
  display:none; /* SMELL: hide the first zing as it is redundant anyway ... better prevent it from rendereing in the first place ... if only I knew how */
}

.ui-tabs .ui-tabs-vertical {
  top:-3em;
}

.searchResults {
  margin-bottom:2em;  
}

#visitSite {
  margin-left: 3em;
}
