%TMPL:DEF{"updates::message"}%<noautolink>%TMPL:P{"updates::message::icon"}% %TMPL:P{"updates::message::text"}% %TMPL:P{"updates::message::buttons"}%</noautolink>%TMPL:END%

%TMPL:DEF{"updates::message::icon"}%%JQICON{"error"}%%TMPL:END%
%TMPL:DEF{"updates::message::text"}%%MAKETEXT{"Warning: Updates found for [_1] extension(s): [_2]" args="$nrPlugins, $outdatedPlugins"}%%TMPL:END%
%TMPL:DEF{"updates::message::buttons"}%... <a href="%SCRIPTURLPATH{configure}%">%MAKETEXT{"Upgrade"}%</a>%TMPL:END%
