/* styles for the ImageGalleryPlugin */

.igpThumbNailsTable td {
  vertical-align:top;
}

/* one thumbnail */
.igpPicture,
.igpThumbNail {
  margin:0px 1em 1em 0px;
  border:1px solid #eee;
  background:#fff;
  table-layout:fixed;
}
.igpThumbNail a {
  display:block;
  border:1px solid #eee;
  margin:5px;
}
.igpPicture a {
  display:block;
  border-bottom:1px solid #eee;
  padding:5px;
}

.igpThumbNail:hover {
  background:#f2f2f2;
  border:1px solid #ddd;
}
.igpThumbNail img {
  border:0px;
}

/* title */
.igpThumbNailTitle {
  padding:0px 5px 5px 5px;
}
.igpThumbNailTitle a:hover,
.igpPictureTitle a:hover,
.igpThumbNailTitle a,
.igpPictureTitle a {
  display:inline;
  border:0px;
}

/* single image */
.igpPicture td {
  vertical-align:top;
}
.igpPicture img {
  border:0px;
}

/* title describing the image */
.igpNavi,
.igpPictureTitle {
  padding:5px;
}
.igpThumbNailTitle div {
  overflow:hidden;
}

.igpNavi {
  width:115px;
}
.igpNavi a span,
.igpNaviDisabled span {
  display:none;
}
.igpNaviDisabled,
.igpNavi a:hover,
.igpNavi a {
  float:left;
  width:16px;
  height:16px;
  background-repeat:no-repeat;
  margin:0px 5px 0px 0px;
  padding:1px;
  border:0px;
}
.igpNavi a:hover {
  background-color:#f0f0f0 !important;
  border:0px;
}

.igpNaviFirst:hover,
.igpNaviFirst { background-image:url(control-start.png); }

.igpNaviPrev:hover,
.igpNaviPrev { background-image:url(control-left.png); }

.igpNaviNext:hover,
.igpNaviNext { background-image:url(control-right.png); }

.igpNaviLast:hover,
.igpNaviLast { background-image:url(control-end.png); }


.igpNaviFirst.igpNaviDisabled { background-image:url(control-start-gray.png); }
.igpNaviPrev.igpNaviDisabled { background-image:url(control-left-gray.png); }
.igpNaviNext.igpNaviDisabled { background-image:url(control-right-gray.png); }
.igpNaviLast.igpNaviDisabled { background-image:url(control-end-gray.png); }

.igpNaviDone:hover,
.igpNaviDone {
  background-image:url(cross.png);
}

.jqMasonry .igpThumbNail,
.jqPrettyPhoto .igpThumbNail,
.jqSlimbox .igpThumbNail {
  float:left;
  padding:5px;
  overflow:hidden;
}
