*,v
*,pfv
*.gz
/TinyMCEPlugin.md5
/TinyMCEPlugin.sha1
/TinyMCEPlugin.tgz
/TinyMCEPlugin.txt
/TinyMCEPlugin.zip
/TinyMCEPlugin_installer
/TinyMCEPlugin_installer.pl
/pub/System/TinyMCEPlugin/foswiki.js
/pub/System/TinyMCEPlugin/foswiki_tiny.js
/pub/System/TinyMCEPlugin/wysiwyg.css
/pub/System/TinyMCEPlugin/plugins/foswiki/plugin.js
