/* Hide nasty dotted borders on moz; jquery-ui breaks them */
.erpJS_submit:focus { outline: none; }
.erpJS_submit::-moz-focus-inner { outline: none; }

.erpJS_sort:hover {
    text-decoration: underline;
    cursor: pointer;
}

.erpJS_sort {
    font-weight: bold;
}

/* An empty cell has to have width and height to be able to act as a click-target */
.erp_empty {
    height: 1.5em;
    width: 6em;
}

.erpJS_container {
    position: absolute !important; /* Item13766 */
    margin: 0;
    padding: 0;
}

.erp_drag_button {
    position: absolute;
    display: none;
    left: -1.7em;
    top: -1.25em;
}

a.erp_drag_button:hover {
    background-color: #FEE;
    position: absolute;
    display: block;
    left: -1.7em;
    top: -1.25em;
}

.erp-button {
    width: 16px;
    height: 16px;
    border: none;
    display: inline !important;
}

.erp-quietsave {
    background-image: url("icons.png") !important;
    background-position:0 0px;
    border: none;
}

 /* the yellow stain */
.erp-edit-button {
    position: absolute;
    left: -0.5em;
    top: -0.2em;
    height: 8px;
    width: 8px;
    background: url(icons.png) no-repeat transparent;
    background-position: -24px -35px;
    z-index: 1;
    cursor: pointer;
}

/* note this uses clock.gif to get the animation */
.erp-clock {
    position: absolute;
    left: -10px;
    top: -10px;
    height: 20px;
    width: 20px;
    background-image: url(clock.gif) norepeat transparent;
    z-index: 100;
    cursor: wait;
}

.erp-edittable {
    width: 27px;
    height: 13px;
    background-image: url("icons.png") !important;
    background-position:0 -16px;
}

.erp-addrow {
    width: 24px;
    height: 20px;
    background-image: url("icons.png") !important;
    background-position:0 -35px;
}

.erp-save {
    background-image: url("icons.png") !important;
    background-position:-32px 0px;
}

.erp-cancel {
    background-image: url("icons.png") !important;
    background-position:-16px 0px;
}

.erpSortIconDown {
    background-image: url("icons.png") !important;
    background-position:0 ?px;
}

.tableSortIcon.erp-button {
    float:right;
    margin: 0.25em 0 0 0 !important;
}
