.editRowPluginSort {
    text-decoration: underline;
}

.erp-icon-quietsave {
    background-image: url("quiet.png");
}

/* An empty cell has to have width and height to be able to act as a click-target */
.erp_empty_cell {
    height: 1em;
    width: 5em;
}

.editRowPluginContainer {
    position: relative; /* so it can be a container for erp_edit_button */
    margin: 0;
    padding: 0;
}

.erp_edit_button {
    position: absolute;
    left: -0.5em;
    top: -0.2em;
    height: 8px;
    width: 8px;
    background: url(editbutton.png) no-repeat transparent;
    z-index: 100;
    cursor: crosshair;
}
