Source: foswiki-jquery-plugin
Section: web
Priority: optional
Maintainer: Michael Daum <debian@michaeldaumconsulting.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.1
Homepage: http://foswiki.org/Extensions/JQueryPlugin

Package: foswiki-jquery-plugin
Architecture: all
Depends: ${misc:Depends}, nodejs, foswiki-core
Description: jQuery JavaScript library for Foswiki
 jQuery is a fast, concise, JavaScript Library that simplifies how you traverse
 HTML documents, handle events, perform animations, and add Ajax interactions to
 your web pages.
 .
 JQueryPlugin integrates jQuery into Foswiki as well as comes with a selection
 of third party plugins that are thought to be essential for modern web
 applications.  
 .
 See http://foswiki.org/Extensions/JQueryPlugin for more.
