%TMPL:INCLUDE{"compare"}%
%TMPL:DEF{"rendercontent"}%<div class="craInterweave">
%REPEAT%
<p><b>[...]</b></p>
%REPEAT%
%TEXT1%
%REPEAT%
<div class="craInterweaveDiff">%TEXT1%</div>
%REPEAT%
%REPEAT%
%REPEAT%
</div>%TMPL:END%
