*,v
*,pfv
*.gz
/SlideShowPlugin.md5
/SlideShowPlugin.sha1
/SlideShowPlugin.tgz
/SlideShowPlugin.txt
/SlideShowPlugin.zip
/SlideShowPlugin_installer
/SlideShowPlugin_installer.pl
/pub/System/SlideShowPlugin/slideshow.css
/pub/System/SlideShowPlugin/slideshow.js
pub/System/SlideShowPlugin/slideshow.js
