%TMPL:INCLUDE{"attachagain"}%
%TMPL:INCLUDE{"attachtables"}%
%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Update attachment [_1] on [_2]" args="[[%ATTACHURLPATH%/%FILENAME%][%FILENAME%]],[[%TOPIC%]]"}%%TMPL:END%



%TMPL:DEF{"versions"}%---++ %MAKETEXT{"Version history of [_1]" args="<nop>%FILENAME%"}%
<div class="foswikiAttachments">
%TABLE{%TMPL:P{"commonattachtableattributes"}% summary="%MAKETEXT{"Version history"}%" caption="%MAKETEXT{"Version history"}%"}%
%ATTACHTABLE%</div>%TMPL:END%



%TMPL:DEF{"changepropertiesaction"}%<div class="foswikiFormStep foswikiLast"><input type="submit" class="foswikiButton" name="changeproperties" value='%MAKETEXT{"Change comment and properties only"}%' /></div>%TMPL:END%



%TMPL:DEF{"previous"}%<p>%MAKETEXT{"Select a new local file to update attachment"}% <code>%FILENAME%</code> <span class="foswikiGrayText">%TMPL:P{"fileuser"}%</span></p>%TMPL:END%



%TMPL:DEF{"movedelete"}%<div class="patternMoveAttachment foswikiUnvisited">
%MAKETEXT{"More actions for [_1]:" args="=%FILENAME%="}%
%BUTTON{ href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?template=moveattachment&attachment=%FILENAME%" value=" %MAKETEXT{"Move"}% "}%
%BUTTON{ href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?newweb=%TRASHWEB%;newtopic=TrashAttachment;template=renameattachmentdelete;attachment=%FILENAME%" value=" %MAKETEXT{"Delete"}% "}%
</input></div>
%TMPL:END%


%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="foswikiSubmit" value='%MAKETEXT{"Upload file"}%' /> %TMPL:P{"canceltopicaction"}%%TMPL:END%



%TMPL:DEF{"fileuser"}%(%FILEUSER%)%TMPL:END%



%TMPL:P{"attach"}%
