%TMPL:INCLUDE{"changes"}%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"(changes)"}% %TMPL:END%


%TMPL:DEF{"top"}%%TMPL:END%
%TMPL:DEF{"topicinfo"}%%TMPL:END%


%TMPL:DEF{CHANGES:header}%<div class="patternSearchResults">%TMPL:P{"header"}%%TMPL:END%
%TMPL:DEF{NONOCHANGES:format}%%TMPL:P{"result"}%%TMPL:END%
%TMPL:DEF{CHANGES:footer}%</div>%TMPL:END%