%TMPL:INCLUDE{"css"}%
%TMPL:DEF{"styles:default"}%%TMPL:P{"styles:screen"}%
%TMPL:P{"styles:print"}%%TMPL:END%

%TMPL:DEF{"styles:screen"}%%IF{ "$ FOSWIKI_LAYOUT_URL" then="<link rel='stylesheet' href='%FOSWIKI_LAYOUT_URL%' media='all' type='text/css' />"}%
%IF{ "$ FOSWIKI_STYLE_URL"  then="<link rel='stylesheet' href='%FOSWIKI_STYLE_URL%' media='all' type='text/css' />"}%
%IF{ "$ FOSWIKI_COLORS_URL" then="<link rel='stylesheet' href='%FOSWIKI_COLORS_URL%' media='all' type='text/css' />"}%
%TMPL:P{"styles:custom_skin"}%%IF{ "$ USERLAYOUTURL or $ USERSTYLEURL or $ USERCOLORSURL" then="$percntTMPL:P{$quotstyles:user_defined$quot}$percnt"}%%TMPL:P{"styles:dynamic"}%%TMPL:END%


%TMPL:DEF{"styles:print"}%<link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/PatternSkin/print.css' media='%IF{"$'URLPARAM{cover}'='print'" then="all" else="print"}%' type='text/css' />%TMPL:END%

%TMPL:DEF{"styles:dynamic"}%<style type="text/css" media="all">
	/* Styles that are set using variables */
	.patternBookView .foswikiTopRow,
	.patternWebIndicator,
	.patternWebIndicator a {
		background-color:%WEBBGCOLOR%;
	}
	%TMPL:P{"styles:deprecated"}%
</style>%TMPL:END%


%TMPL:DEF{"styles:user_defined"}%%{ "kept for compatibility with TWiki 4.2" }%%IF{ "$ USERLAYOUTURL" then="<link rel='stylesheet' href='%USERLAYOUTURL%' media='all' type='text/css' />"}%
%IF{ "$ USERSTYLEURL"  then="<link rel='stylesheet' href='%USERSTYLEURL%' media='all' type='text/css' />"}%
%IF{ "$ USERCOLORSURL" then="<link rel='stylesheet' href='%USERCOLORSURL%' media='all' type='text/css' />"}%%TMPL:END%


%TMPL:DEF{"styles:custom_skin"}%%IF{ "$ PATTERNSKIN_COLUMNS" then="<link rel='stylesheet' href='%PATTERNSKIN_COLUMNS%' media='all' type='text/css' />"}%
%IF{ "$ PATTERNSKIN_THEME_VARIANT" then="<link rel='stylesheet' href='%PATTERNSKIN_THEME_VARIANT%' media='all' type='text/css' />"}%%TMPL:END%


%TMPL:DEF{"styles:iespecific"}%<!--[if IE 7 ]><style type="text/css" media="screen">
.foswikiAttachments,
.foswikiForm,
.foswikiHelp,
.foswikiPreviewArea,
.patternPreviewPage .foswikiForm,
.patternSigLine,
.patternToolBar,
.patternTop,
.patternTopicAction,
#patternSideBarContents .patternLeftBarPersonal,
#patternSideBarContents h2,
#patternSideBarContents li,
#patternTopBarButtons ul {
	height:1%;
}
#patternSideBarContents .patternLeftBarPersonal {
	width:100%;
}
.foswikiFormStep {
	height:100%;
}
#foswikiLogin {
    margin-left: 25%;
    margin-right: 25%;
}
#foswikiLogin .foswikiFormSteps {
    width:auto;
}
#foswikiLogin input[type="text"],
#foswikiLogin input[type="password"] {
    width: auto;
}
.patternShadow {
	border:10px solid #fff;
	margin-top:10px;
	margin-bottom:10px;
	border:2px solid #ccc;
}
</style><![endif]-->%TMPL:END%


%TMPL:DEF{"styles:deprecated"}%%IF{ "defined WEBHEADERART and $ WEBHEADERART != ''" then='#patternTopBarContents { background-image:url(%WEBHEADERART%); background-repeat:repeat-x;}'}%
%IF{ '$ WEBHEADERBGCOLOR' then='#patternTopBarContents { background-color:%WEBHEADERBGCOLOR%;}'}%
.patternBookView {
	border-color:%WEBBGCOLOR%;
}
.patternPreviewPage #patternMain {
	/* uncomment to set the preview image */
	/*background-image:url("%PREVIEWBGIMAGE%");*/
}%IF{ "defined PAGEBGCOLOR and $ PAGEBGCOLOR != ''" then='html body, #patternPage, #patternBottomBar, .foswikiPreviewArea, #patternOuter, #patternTopBar { background-color:%PAGEBGCOLOR%;}
#patternOuter {background-image:none;}'}%%TMPL:END%
