%TMPL:INCLUDE{"edit"}%
%{ don't show these elements to make best use of screen estate: }%
%TMPL:DEF{"logo"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%

%TMPL:DEF{"script:skintemplate"}%%TMPL:P{"script:skintemplate:edit"}%%TMPL:END%

%TMPL:DEF{"script:skintemplate:edit"}%%TMPL:P{"PatternSkin/pattern_edit"}%%TMPL:END%


%TMPL:DEF{"toolbar"}%<div class="patternTop">%TWISTYBUTTON{id="edithelp" mode="div" remember="on" link="%MAKETEXT{"Edit help"}%" showimgleft="%ICONURLPATH{toggleopen}%" hideimgleft="%ICONURLPATH{toggleclose}%"  linkclass="patternTwistyButton"}%%TMPL:P{"pagehelp"}%</div>%TMPL:END%


%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternEditPage%TMPL:END%


%TMPL:DEF{"formstart"}%<div class="foswikiFormHolder" id="formHolder">
<form name="main" id="main" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%" method="post">%TMPL:END%


%TMPL:DEF{"forcerevisioncheckbox"}%<div class="foswikiFormStep"><input type="checkbox" class="foswikiCheckbox" title="Creates a new topic revision when saving" id="forcenewrevision" name="forcenewrevision" %IF{"'%URLPARAM{"forcenewrevision" default="%FORCENEWREVISIONCHECKBOX%"}%'=~'1|on|yes|checked'" then="checked"}% /><label for="forcenewrevision">%MAKETEXT{"Force new revision"}%</label> %POPUPWINDOW{"%SYSTEMWEB%.ForceNewRevision" label="%MAKETEXT{"help"}%"}%</div>%TMPL:END%


%TMPL:DEF{"action_buttons"}%%TMPL:P{"button_save"}%&nbsp;%TMPL:P{"button_quietsave"}%&nbsp;%TMPL:P{"button_checkpoint"}% %TMPL:P{"button_preview"}% %TMPL:P{"button_cancel"}%%TMPL:END%


%TMPL:DEF{"button_save"}%<input type="submit" class="foswikiSubmit" name="action_save" id="save" %MAKETEXT{"value='Save' accesskey='s'"}% />%TMPL:END%

%TMPL:DEF{"button_quietsave"}%<input type="submit" class="foswikiButton" name="action_quietsave" id="quietsave" %MAKETEXT{"value='Quiet save' accesskey='q'"}% />%TMPL:END%

%TMPL:DEF{"button_checkpoint"}%<input type="submit" class="foswikiButton" name="action_checkpoint" id="checkpoint" %MAKETEXT{"value='Save and Continue' accesskey='k'"}% />%TMPL:END%

%TMPL:DEF{"button_preview"}%<input type="submit" class="foswikiButton" name="action_preview" id="preview" %MAKETEXT{"value='Preview' accesskey='p'"}% />%TMPL:END%

%TMPL:DEF{"button_cancel"}%<input type="submit" class="foswikiButtonCancel" name="action_cancel" id="cancel" title='%MAKETEXT{"Cancel editing and discard changes"}%' %MAKETEXT{"value='Cancel' accesskey='c'"}% />%TMPL:END%


%TMPL:DEF{"topicinfo"}%<hr /><div class="patternTopicActions foswikiFormStep clear"><div class="patternActionButtons">%TMPL:P{"action_buttons"}%</div></div>%TMPL:P{"forcerevisioncheckbox"}%%TMPL:END%


%TMPL:DEF{"textarea"}%%IF{"{Validation}{Method}='strikeone'" then="<noscript>$percentTMPL:P{enable_js}$percent</noscript>"}%<div class="patternEditTopic"><textarea class="foswikiTextarea foswikiEditboxStyleProportional foswikiWysiwygEdit" id="topic" name="text" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style='%EDITBOXSTYLE%'>%TEXT%</textarea>%TMPL:P{"sig_textareabuttons"}%</div>%TMPL:END%


%TMPL:DEF{"sig_textareabuttons"}%<div class="patternSigLine clear">%IF{"not context TinyMCEPluginEnabled or $nowysiwyg='1' or $NOWYSIWYG='1'" then='%TMPL:P{"textareabuttons"}%'}%%TMPL:P{"sig"}%</div>%TMPL:END%

%TMPL:DEF{"sig"}%<span class="patternSig"><input class="foswikiInputFieldReadOnly" size="41" name="sig" type="text" readonly="readonly" title='%MAKETEXT{"Select, copy and paste your signature text to the bottom of your entry"}%' id="sig" value="%TMPL:P{"sig_format"}%" /> <label for="sig" class="foswikiGrayText">%MAKETEXT{"Your signature to copy/paste"}%&nbsp;&nbsp;</label></span>%TMPL:END%

%TMPL:DEF{"sig_format"}%%IF{
	"defined SIGNATUREFORMAT"
	then="%SIGNATUREFORMAT%"
	else="-- <nop>%WIKIUSERNAME% - %DATE%"
}%%TMPL:END%


%{ HELP TEXTS }%

%TMPL:DEF{"pagehelp"}%%TWISTYTOGGLE{
id="edithelp"
remember="on"
class="foswikiHelp"
noscript="hide"
}%%TMPL:P{"help"}%%TMPL:P{"actionbuttons_help"}%%ENDTWISTYTOGGLE%%TMPL:END%

%TMPL:DEF{"actionbuttons_help"}%<p>%TMPL:P{"accesskeys_help"}%</p>%TMPL:END%

%TMPL:DEF{"accesskeys_help"}%%ICON{info}% %POPUPWINDOW{"%SYSTEMWEB%.AccessKeys" label="%MAKETEXT{"Access keys"}%"}% %MAKETEXT{"S = Save, Q = Quiet save, K = Save and Continue, P = Preview, C = Cancel"}%%TMPL:END%


%{ CONTENT }%

%TMPL:DEF{"content"}%%TMPL:P{"formstart"}%%TMPL:P{"formtop"}%
%TMPL:P{"toolbar"}%
%TMPL:P{"textarea"}%
<div class="foswikiFormSteps">
<div class="foswikiFormStep clear">
%TMPL:P{"formbottom"}%
</div>%TMPL:P{"topicinfo"}%
</div>
%TMPL:P{"formend"}%%TMPL:END%
