%TMPL:INCLUDE{"editform"}%

%TMPL:DEF{"content"}%%TMPL:P{"formstart"}%
<div class="foswikiFormSteps">
<div class="foswikiFormStep clear">
%TMPL:P{"formbottom"}%
</div>
%TMPL:P{"topicinfo"}%
</div>
<input type="hidden" id="topic" name="text" value="%TEXT%" /> 
%TMPL:P{"formend"}%%TMPL:END%
