%TMPL:INCLUDE{"form"}%
%TMPL:DEF{"changeform"}%<input type="submit" name="action_replaceform" value='%MAKETEXT{"Replace form..."}%' class="twikiChangeFormButton twikiButton" onclick="suppressSaveValidation()" />%TMPL:END%
