%{ These templates define the form attached at the bottom of viewed page. }%


%{ Start of form table }%
%TMPL:DEF{FORM:display:header}%<div class="foswikiForm foswikiFormStep">%IF{"context preview" then="%TMPL:P{FORM:display:titlename}%" else="%TMPL:P{FORM:display:titlelink}%"}%<table class='foswikiFormTable' border='1' summary='%MAKETEXT{"Form data"}%'>%TMPL:P{FORM:display:header:headerrow}%%TMPL:END%


%{ Header }%
%TMPL:DEF{FORM:display:header:headerrow}%%TMPL:END%


%{ Each row }%
%TMPL:DEF{FORM:display:row}%%IF{"context preview" then="<noautolink>"}%<tr valign='top'><td class='foswikiFormTableRow foswikiFirstCol' align='right'> %A_TITLE% </td><td> %A_VALUE% </td></tr>%IF{"context preview" then="</noautolink>"}%%TMPL:END%


%TMPL:DEF{FORM:display:rowcontents}%%TMPL:END%

%{ Footer }%
%TMPL:DEF{FORM:display:footer}%</table></div>%TMPL:END%


%TMPL:DEF{FORM:display:titlelink}%<h3> %A_TITLE% %TMPL:P{FORM:display:editlink}%</h3>%TMPL:END%


%TMPL:DEF{FORM:display:titlename}%<noautolink><h3>%A_TITLE%</h3></noautolink> %TMPL:END%


%TMPL:DEF{FORM:display:editlink}%<span class='foswikiSmall'><a href='%SCRIPTURL{edit}%/%WEB%/%TOPIC%?t=%GMTIME{$epoch}%;action=form'>%MAKETEXT{"edit"}%</a></span>%TMPL:END%
