%{ This is a default template }%%TMPL:DEF{"changeform"}%<input type="submit" name="action_replaceform" value='%MAKETEXT{"Replace form..."}%' class="foswikiChangeFormButton foswikiButton" />%TMPL:END%

%TMPL:DEF{"mandatory"}%<span class="foswikiAlert">*</span> %MAKETEXT{"indicates mandatory fields"}% %TMPL:END%

%TMPL:DEF{"repeatedformrows"}% %REPEAT%
<tr><th>%ROWTITLE%%ROWEXTRA%</th><td style='text-align:left'>%ROWVALUE%</td></tr>%REPEAT%<tr><th style='text-align:left' colspan='2'>%ROWVALUE%</th></tr>%REPEAT% %TMPL:END%

%TMPL:DEF{"formtail"}%%TMPL:P{context="mandatoryfields" then="mandatory"}%%TMPL:END%
<div class="foswikiForm foswikiEditForm">
<h3>%MAKETEXT{"Topic data"}%</h3>
<table class="foswikiFormTable" summary="%MAKETEXT{"Topic data"}%">
%TMPL:P{"repeatedformrows"}%
<tr><th>%MAKETEXT{"Form definition"}%</th><td>%FORMTITLE% %TMPL:P{"changeform"}%</td></tr></table>%TMPL:P{"formtail"}%</div>
