%{ These templates define the form attached at the bottom of viewed page. }%

%TMPL:DEF{noal}%<noautolink>%TMPL:END%
%TMPL:DEF{nonoal}%</noautolink>%TMPL:END%

%{ Start of form table }%
%TMPL:DEF{FORM:display:header}%<div class="foswikiForm foswikiFormStep">%TMPL:P{context="preview" then="FORM:display:titlename" else="FORM:display:titlelink"}%<table class='foswikiFormTable' border='1' summary='%MAKETEXT{"Form data"}%'>%TMPL:P{FORM:display:header:headerrow}%%TMPL:END%


%{ Header }%
%TMPL:DEF{FORM:display:header:headerrow}%%TMPL:END%


%{ Each row }%
%TMPL:DEF{FORM:display:row}%%TMPL:P{context="preview" "noal"}%<tr style='vertical-align:top'><td class='foswikiFormTableRow foswikiFirstCol' style='text-align:right'> $title </td><td> $value(display) </td></tr>%TMPL:P{context="preview" then="nonoal"}%%TMPL:END%


%TMPL:DEF{FORM:display:rowcontents}%%TMPL:END%

%{ Footer }%
%TMPL:DEF{FORM:display:footer}%</table></div>%TMPL:END%


%TMPL:DEF{FORM:display:titlelink}%<h3> $title %TMPL:P{FORM:display:editlink}%</h3>%TMPL:END%


%TMPL:DEF{FORM:display:titlename}%<noautolink><h3>$title</h3></noautolink> %TMPL:END%


%TMPL:DEF{FORM:display:editlink}%<span class='foswikiSmall'><a href='%SCRIPTURL{edit}%/%WEB%/%TOPIC%?t=%GMTIME{$epoch}%;action=form'>%MAKETEXT{"edit"}%</a></span>%TMPL:END%
