%TMPL:INCLUDE{"foswiki"}%%{
---------------------------------------------------
}%%TMPL:DEF{"PatternSkin/pattern_edit"}%%{
}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswiki_edit" requires="JavascriptFiles/foswikiString"}%%TMPL:P{"LIBJS" id="PatternSkin/pattern_edit" requires="JavascriptFiles/foswiki_edit"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:INCLUDE{"viewtopicactionbuttons"}%%{
---------------------------------------------------
}%%TMPL:INCLUDE{"viewbottombar"}%%{
---------------------------------------------------
}%%TMPL:DEF{"sep"}%<span class='foswikiSeparator'>&nbsp;|&nbsp;</span>%TMPL:END%
%TMPL:DEF{"LOG_IN"}%%MAKETEXT{"Log In"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT"}%%MAKETEXT{"Log Out"}%%TMPL:END%

%TMPL:DEF{"logo"}%<div class="patternSimpleLogo"><img src="%WIKILOGOIMG%" border="0" alt="%WIKILOGOALT%"/></div>%TMPL:END%

%TMPL:DEF{"canceltopicaction"}%<span><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%" title='%MAKETEXT{"Back to topic"}%' %MAKETEXT{"accesskey='c'"}% rel='nofollow'>%MAKETEXT{"&Cancel"}%</a></span>%TMPL:END%

%TMPL:DEF{"bodyclassname"}%patternNoViewPage%TMPL:END%

%TMPL:DEF{"simpleheader"}%%TMPL:END%

%TMPL:DEF{"horizontalnavigation"}%%TMPL:END%

%TMPL:DEF{"pagetitlestylewrapper"}%<h1 class="patternTemplateTitle">%TMPL:P{"pagetitle"}%</h1>%TMPL:END%

%TMPL:DEF{"patterntopiccontents"}%<div class="foswikiTopic">%TMPL:P{"pagetitlestylewrapper"}% %TMPL:P{"content"}%</div>%TMPL:END%

%TMPL:DEF{"printaction"}%%TMPL:END%

%TMPL:DEF{"topicaction"}%<div class="foswikiFormSteps">%TMPL:P{"topicactionbuttonsrow"}%</div>%TMPL:END%

%TMPL:DEF{"topicactionbuttonsrow"}%<div class="patternTopicActions foswikiFormStep"><span class="patternActionButtons">%TMPL:P{"topicactionbuttons"}%</span></div>%TMPL:END%


%TMPL:DEF{"topicinfo"}%%TMPL:P{"topicaction"}%%TMPL:END%

%TMPL:DEF{"htmldoctype"}%<!DOCTYPE html><html lang="%LANG%">%TMPL:END%

%TMPL:DEF{"head"}%<head>
%TMPL:P{"windowtitle"}%
%TMPL:P{"head:meta"}%%RENDERZONE{"head"}%%TMPL:P{"head:css"}%%TMPL:P{"head:script"}%%RENDERZONE{"script"}%</head>%TMPL:END%

%TMPL:DEF{"head:meta"}%<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5, user-scalable=yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="icon" href="%FAVICON%" type="image/x-icon" />
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
<link rel="alternate" href="%SCRIPTURL{edit}%/%BASEWEB%/%BASETOPIC%?t=%GMTIME{"$epoch"}%" type="application/x-wiki" title="edit %BASETOPIC%" />
<meta name="TEXT_NUM_TOPICS" content="%MAKETEXT{"Number of topics:"}%" />
<meta name="TEXT_MODIFY_SEARCH" content="%MAKETEXT{"Modify search"}%" />
<meta name="robots" content="noindex" />%HTTP_EQUIV_ON_VIEW%
<base href="%SCRIPTURL{%SCRIPTNAME%}%/%WEB%/%TOPIC%" /><!--[if IE]></base><![endif]-->%TMPL:END%

%TMPL:DEF{"head:script"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiString" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiPref" requires="JavascriptFiles/foswikiString"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiForm" requires="JavascriptFiles/foswikiString"}%%TMPL:P{"LIBJS" id="PatternSkin/pattern" requires="JavascriptFiles/foswikiPref,JavascriptFiles/foswikiForm"}%%TMPL:END%

%TMPL:DEF{"head:css"}%%TMPL:P{"defaultstyle"}%%TMPL:END%

%TMPL:DEF{"bodystart"}%<body class="foswikiNoJs %TMPL:P{"bodyclassname"}%">
#PageTop%TMPL:END%

%TMPL:DEF{"main"}%<div class="foswikiPage"><div id="patternScreen">
<div id="patternPageShadow">%TMPL:P{"topbar"}%
<div id="patternPage">
%TMPL:P{"startsidebarwrapper"}%<div id="patternOuter" class="clear">
<div id="patternFloatWrap">
<div id="patternMain">%TMPL:P{"topbarspacer"}%
<div id="patternMainContents">%TMPL:P{"logo"}%%TMPL:P{"patterntopiccontents"}%
</div>
</div>%TMPL:P{"sidebar"}%
</div>
</div>%TMPL:P{"endsidebarwrapper"}%%TMPL:P{"bottombar"}%
</div>
</div>
</div>
</div>%TMPL:END%

%TMPL:DEF{"bodyend"}%</body></html>%TMPL:END%

%TMPL:DEF{"textareabuttons"}%<span class="foswikiRight foswikiMakeVisible" style="text-align:left; margin:0 0 0 1em;"><span class="foswikiLeft patternTextareaButton patternButtonFontSelector" title="%MAKETEXT{"Switch to monotype or proportional font"}%">&nbsp;</span><span class="foswikiLeft patternTextareaButton patternButtonEnlarge" title="%MAKETEXT{"Enlarge edit box"}%">&nbsp;</span><span class="foswikiLeft patternTextareaButton patternButtonShrink" title="%MAKETEXT{"Shrink edit box"}%">&nbsp;</span></span>%TMPL:END%
