%TMPL:INCLUDE{"login"}%
%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternLoginPage%TMPL:END%

%TMPL:DEF{"bottombarcontents"}%%TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%

%TMPL:DEF{"form"}%<div id="foswikiLogin">
%TMPL:P{"formstart"}%<div class="foswikiFormSteps">%TMPL:P{"titlestep"}%
<hr />%TMPL:P{"usernamestep"}%%TMPL:P{"passwordstep"}%%TMPL:P{"submitstep"}%
<hr />%TMPL:P{"seealsostep"}%
</div>%TMPL:P{"loginasadministratorstep"}%%TMPL:P{"formend"}%
</div>%TMPL:END%