%{ This is a default template }%%TMPL:INCLUDE{"moveattachment"}%

%TMPL:DEF{"renameformsteps"}%<div class="foswikiFormSteps">
<div class="foswikiFormStep">%TMPL:P{"changefrom"}%</div>
<div class="foswikiFormStep">%TMPL:P{"toweb"}%</div>
<div class="foswikiFormStep">%TMPL:P{"totopic"}%</div>
<div class="foswikiFormStep">%TMPL:P{"toattachment"}%</div>%TMPL:P{"searchresultsstep"}%%TMPL:P{"topicactionbuttonsrow"}%</div>%TMPL:END%