%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternOopsPage%TMPL:END%

%TMPL:DEF{"patterntopiccontents"}%<div class="foswikiTopic">%TMPL:P{"pagetitlestylewrapper"}% %TMPL:P{"content"}%</div>%TMPL:END%