%TMPL:INCLUDE{"preview"}%
%TMPL:INCLUDE{"viewbottombar"}%
%TMPL:DEF{"topbar"}%%TMPL:END%
%TMPL:DEF{"topbarspacer"}%%TMPL:END%
%TMPL:DEF{"bottombarcontents"}%%TMPL:END%
%TMPL:DEF{"styles:custom_skin"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%

%TMPL:DEF{"script:skintemplate:edit"}%%TMPL:END%

%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternPreviewPage%TMPL:END%


%TMPL:DEF{"templatestyle"}%%TMPL:END%


%TMPL:DEF{"action_buttons"}%%TMPL:P{"button_save"}%&nbsp;%TMPL:P{"button_quietsave"}%&nbsp;%TMPL:P{"button_checkpoint"}% %TMPL:P{"button_discard"}%%TMPL:END%

%TMPL:DEF{"button_discard"}%<input id="discard" type="submit" class="foswikiButtonCancel" name="action_cancel" %MAKETEXT{"value='Discard' accesskey='d'"}% />%TMPL:END%


%TMPL:DEF{"content"}%%TMPL:P{"formstart"}%
<div class='foswikiPreviewArea'>%TEXT%</div>
<div class="foswikiFormSteps">
%META{"form"}%
%TMPL:P{"topicinfo"}%
</div>
%TMPL:P{"formend"}%%TMPL:END%