%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"topbar"}%%TMPL:END%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"([_1] vs. [_2])" args="%REVTITLE2%, %REVTITLE1%"}% %TMPL:END%


%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternDiffPage%TMPL:END%


%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Difference:"}% <a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">%TOPIC%</a> %TMPL:P{"titleaction"}%%TMPL:END%



%TMPL:DEF{"result"}%<div class="foswikiSearchResult patternDiff"><div class="foswikiTopRow">
<b><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=%REVTITLE1%" title='%MAKETEXT{"Topic revision:"}% %REVINFO2%' rel='nofollow'>%MAKETEXT{"Revision"}% %REVTITLE1%</a></b>
<div class="foswikiBottomRow"><span class="foswikiSRRev">%REVINFO1%</span></div>
</div>
<div class="foswikiSummary">%TEXT%</div>
</div>%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<span><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">%MAKETEXT{"View topic"}%</a></span>%TMPL:P{"sep"}%%TMPL:P{"revisions"}%%TMPL:P{"sep"}%<span><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?template=more&amp;param1=%MAXREV%&amp;param2=%CURRREV%" rel='nofollow'>%MAKETEXT{"More topic actions..."}%</a></span>%TMPL:END%



%TMPL:DEF{"content"}%<div class="patternSearchResults">
%REPEAT%%TMPL:P{"result"}%%REPEAT%
</div>%TMPL:END%