%TMPL:INCLUDE{"renamebase"}%
%TMPL:DEF{"logo"}%%TMPL:END%


%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternRenamePage%TMPL:END%


%TMPL:DEF{"toolbar"}%<div class="patternTop">%TWISTYBUTTON{id="renamehelp" mode="div" remember="on" showlink="%MAKETEXT{"Show help"}%" hidelink="%MAKETEXT{"Hide help"}%" showimgleft="%ICONURLPATH{toggleopen}%" hideimgleft="%ICONURLPATH{toggleclose}%"  linkclass="patternTwistyButton"}%</div>%TMPL:END%


%TMPL:DEF{"pagehelp"}%%TWISTYTOGGLE{id="renamehelp" mode="div" remember="on" noscript="hide"}%<div class="foswikiHelp">%TMPL:P{"notes"}%</div>%ENDTWISTYTOGGLE%%TMPL:END%

%TMPL:DEF{"pagehelp_nojavascript"}%%TWISTYTOGGLE{id="pagehelp_nojavascript" mode="div" start="hide"}%<div class="foswikiHelp">%TMPL:P{"notes"}%</div>%ENDTWISTYTOGGLE%%TMPL:END%


%TMPL:DEF{"checkuncheck"}%%{
   foswikiCheckAllOn and foswikiCheckAllOff are handled in foswikiForm.js
}%<div class="foswikiFormStep foswikiMakeVisible">
<p><input type="button" class="foswikiButton foswikiCheckAllOn" value='%MAKETEXT{"Select all topics"}%' />&nbsp;<input type="button" class="foswikiButton foswikiCheckAllOff" value='%MAKETEXT{"Clear all topics"}%' /></p></div>%TMPL:END%


%TMPL:DEF{"renameformsteps"}%<div class="foswikiFormSteps">
<div class="foswikiFormStep">%TMPL:P{"changefrom"}%</div>
<div class="foswikiFormStep">%TMPL:P{"toweb"}%</div>
<div class="foswikiFormStep">%TMPL:P{"totopic"}%</div>%TMPL:P{"searchresultsstep"}%
%TMPL:P{"topicactionbuttonsrow"}%
</div>%TMPL:END%


%TMPL:DEF{"content"}%%TMPL:P{"toolbar"}%
%TMPL:P{"pagehelp"}%
%TMPL:P{"formstart"}%
%TMPL:P{"renameformsteps"}%
%TMPL:P{"formend"}%%TMPL:P{"pagehelp_nojavascript"}%%TMPL:END%