%TMPL:INCLUDE{"renamewebbase"}%
%TMPL:DEF{"parentwebstep"}%<div class="foswikiFormStep">%TMPL:P{"parentweb"}%</div>%TMPL:END%


%TMPL:DEF{"renameformsteps"}%<div class="foswikiFormSteps">
<div class="foswikiFormStep foswikiLast">%TMPL:P{"toweb"}%</div>
%IF{"{EnableHierarchicalWebs}" then='%TMPL:P{"parentwebstep"}%'}%%TMPL:P{"searchresultsstep"}%
%TMPL:P{"topicactionbuttonsrow"}%
</div>%TMPL:END%