%TMPL:INCLUDE{"moveattachment"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(delete attachment)"}% %TMPL:END%



%TMPL:DEF{"changefromtitle"}%---++ %MAKETEXT{"Current location:"}% <nop>%WEB%.%TOPIC%%TMPL:END%



%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%TRASHWEB%" />%TMPL:END%



%TMPL:DEF{"movewebhelp"}%%TMPL:END%



%TMPL:DEF{"towebtitle"}%---+++ %MAKETEXT{"Move to web:"}% <nop>%TRASHWEB%%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="foswikiSubmit" value=' %MAKETEXT{"Delete"}% ' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%


%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Delete attachment"}% [[%ATTACHURL%/%ENCODE{"%FILENAME%"}%][%FILENAME%]]%TMPL:END%



%TMPL:DEF{"totopictitle"}%---+++ %MAKETEXT{"Optionally enter a different topic name:" args="<nop>%URLPARAM{web}%"}%%TMPL:END%



%TMPL:DEF{"newtopic"}%<p><input name="newtopic" class="foswikiInputField" value="TrashAttachment" size="36" /><input type="hidden" name="nonwikiword" value="on" /></p>%TMPL:P{"namehelp"}%<input type="hidden" name="attachment" value="%FILENAME%" />%TMPL:END%



%TMPL:DEF{"namehelp"}%<p>%MAKETEXT{"[_1] is the default topic for deleted attachments." args="[[%TRASHWEB%.TrashAttachment][TrashAttachment]]"}% %MAKETEXT{"If you enter a different name, make sure the topic does  exist."}%</p>%TMPL:END%



%TMPL:DEF{"toolbar"}%%TMPL:END%
%TMPL:DEF{"pagehelp"}%%TMPL:END%
%TMPL:DEF{"pagehelp_nojavascript"}%%TMPL:END%



%TMPL:DEF{"searchresultsstep"}%%TMPL:END%



%TMPL:DEF{"updatenote"}%%TMPL:END%