%TMPL:INCLUDE{"search"}%



%TMPL:DEF{"result"}%<div class="patternBookView"><div class="twikiTopRow"><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a> (<a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPICNAME%" rel='nofollow'>%TIME%</a> - %REVISION% - %AUTHOR%)</div><!--/twikiTopRow--><div class="twikiBottomRow">%TEXTHEAD%</div><!--/twikiBottomRow--></div><!--/patternBookView-->%TMPL:END%