%TMPL:INCLUDE{"search"}%



%TMPL:DEF{"result"}%<div class="patternBookView"><div class="foswikiTopRow"><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a> (<a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPICNAME%" rel='nofollow'>%TIME%</a> - %REVISION% - %AUTHOR%)</div><!--/foswikiTopRow--><div class="foswikiBottomRow">%TEXTHEAD%</div><!--/foswikiBottomRow--></div><!--/patternBookView-->%TMPL:END%