%{ I think this one is redundant - its identical to the default skin version. }%
%TMPL:INCLUDE{"searchformat"}%

%TMPL:DEF{SEARCH:format}%<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPICNAME%">%TOPICNAME%</a> %TMPL:END%
