%TMPL:INCLUDE{searchbookview}%
%TMPL:DEF{SEARCH:format}%<div class="patternBookView"><div class="foswikiTopRow"><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a> (<a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPICNAME%" rel='nofollow'>%TIME%</a> - %REVISION% - %IF{"istopic '%USERSWEB%.$wikiname'" then="[[%USERSWEB%.$wikiname][$wikiname]]" else="!$wikiname"}%)</div><div class="foswikiBottomRow">%TEXTHEAD%</div></div>%TMPL:END%
