%TMPL:INCLUDE{"settings"}%
%TMPL:DEF{"script:skintemplate"}%%TMPL:P{"JavascriptFiles/foswikiPref"}%
%TMPL:P{"JavascriptFiles/foswiki_edit"}%
%TMPL:P{"LIBJS" id="PatternSkin/pattern_edit" requires="JavascriptFiles/foswiki_edit"}%%TMPL:END%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(set preferences)"}% %TMPL:END%


%TMPL:DEF{"webaction"}%%MAKETEXT{"Preferences for"}%%TMPL:END%


%TMPL:DEF{"pagetitle"}%%TMPL:P{"webaction"}% [[%TOPIC%]]%TMPL:END%


%TMPL:DEF{"saveoptions"}%%TMPL:END%
%TMPL:DEF{"sig"}%%TMPL:END%

%TMPL:DEF{"action_buttons"}%%TMPL:P{"button_save"}% %TMPL:P{"button_cancel"}%%TMPL:END%


%TMPL:DEF{"accesskeys_help"}%%ICON{info}% %POPUPWINDOW{"%SYSTEMWEB%.AccessKeys" label="%MAKETEXT{"Access keys:"}%"}% %MAKETEXT{"S = Save, C = Cancel"}%%TMPL:END%


%TMPL:DEF{"content"}%%TMPL:P{"formstart"}%
%TMPL:P{"toolbar"}%
%TMPL:P{"pagehelp"}%<div class="patternBorder"><div class="foswikiFormSteps">
<div class="foswikiFormStep">
%TMPL:P{"textarea"}%
</div>
<div class="foswikiFormStep foswikiLast">
%TMPL:P{"topicinfo"}%
</div>
</div>
</div>%TMPL:P{"formend"}%%TMPL:P{"pagehelp_nojavascript"}%%TMPL:END%