%{ to remove the left bar on a page, just include this template in the topic template with * Set VIEW_TEMPLATE = viewnosidebar}%
%TMPL:INCLUDE{"view"}%



%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"startsidebarwrapper"}%%TMPL:END%
%TMPL:DEF{"endsidebarwrapper"}%%TMPL:END%
