%{ to remove the left bar on a page, just include this template in the topic template with * Set VIEW_TEMPLATE = viewnoleftbar}%
%TMPL:INCLUDE{"view"}%



%TMPL:DEF{"leftbar"}%%TMPL:END%
%TMPL:DEF{"startleftbarwrapper"}%%TMPL:END%
%TMPL:DEF{"endleftbarwrapper"}%%TMPL:END%
%TMPL:DEF{"leftbardimensions"}%%TMPL:END%