%{ to exclude the top bar on a page, just include this template in the topic template with * Set VIEW_TEMPLATE = viewnotopbar}%
%TMPL:INCLUDE{"view"}%



%TMPL:DEF{"topbar"}%%TMPL:END%
%TMPL:DEF{"topbarspacer"}%%TMPL:END%
%TMPL:DEF{"topbardimensions"}%%TMPL:END%