%TMPL:DEF{"rightbar"}%<div id="patternRightBar"><div id="patternClearHeaderRight"></div>
<div class="patternRightBarContents">
Right bar here
</div><!-- /patternRightBarContents--></div><!-- /patternRightBar-->%TMPL:END%