%{ to include a bottom bar on a page, just include this template in the page template }%%TMPL:DEF{"bottombar"}%<div id="patternBottomBar">%TMPL:P{"bottombarcontents"}%</div>%TMPL:END%


%TMPL:DEF{"bottombarcontents"}%<div id="patternBottomBarContents"><div id="patternWebBottomBar">%INCLUDE{"%SYSTEMWEB%.WebBottomBar, %SYSTEMWEB%.WebBottomBarExample"}%</div></div>%TMPL:END%
