*,v
*,pfv
*.gz
/working/**/events.*
/working/**/error.*
/working/**/cgisess_*
/lib/LocalSite.cfg*
/data/**/*.lease
/data/**/*.changes
/data/.htpasswd
/working/htpasswd.lock
/working/languages.cache
/working/logs/*
/working/work_areas/*
/Foswiki*.md5
/Foswiki*.sha1
/Foswiki*.tgz
/Foswiki*.txt
/Foswiki*.zip
/FoswikiCore_installer
/FoswikiCore_installer.pl
/pub/System/JavascriptFiles/foswikiArray.js
/pub/System/JavascriptFiles/foswikiCSS.js
/pub/System/JavascriptFiles/foswikiDate.js
/pub/System/JavascriptFiles/foswikiEvent.js
/pub/System/JavascriptFiles/foswikiForm.js
/pub/System/JavascriptFiles/foswikiHTML.js
/pub/System/JavascriptFiles/foswikiPref.js
/pub/System/JavascriptFiles/foswikiString.js
/pub/System/JavascriptFiles/foswikiStringUnicodeChars.js
/pub/System/JavascriptFiles/foswikiStyles.js
/pub/System/JavascriptFiles/foswikiWebTopicCreator.js
/pub/System/JavascriptFiles/foswikiWindow.js
/pub/System/JavascriptFiles/foswiki_edit.js
/pub/System/JavascriptFiles/foswiki_renamebase.js
/pub/System/JavascriptFiles/foswikilib.js
/pub/System/JavascriptFiles/strikeone.js
/pub/System/SkinTemplates/base.css
/pub/System/SkinTemplates/default.css
