%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"form"}%%TMPL:END%
%TMPL:DEF{"attachments"}%%TMPL:END%
%TMPL:DEF{"standardheader"}%%TMPL:END%
%TMPL:DEF{"simpleheader"}%%TMPL:END%
%TMPL:DEF{"topicinfo"}%%TMPL:END%
%TMPL:DEF{"standardfooter"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%

%TMPL:DEF{"slideshow::js"}%<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/SlideShowPlugin/slideshow.js'></script>%TMPL:END%
%TMPL:DEF{"slideshow::css"}%<link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/SlideShowPlugin/slideshow.css' media='all' type='text/css' />%TMPL:END%

%TMPL:DEF{"content"}%%TEXT%
#TopicEnd
%JQREQUIRE{"scrollto"}%
%ADDTOZONE{"script" id="SLIDESHOWPLUGIN::JS" text="%TMPL:P{"slideshow::js"}%" requires="JQUERYPLUGIN::SCROLLTO"}%
%ADDTOZONE{"head" id="SLIDESHOWPLUGIN::CSS" text="%TMPL:P{"slideshow::css"}%"}%
%TMPL:END%

%TMPL:DEF{"BUTTON_FIRST"}%%BUTTON{"%MAKETEXT{"First"}%" class="simple slideShowFirst" icon="fa-step-backward" href="%viewurl%%querystring%#GoSlide1"}%%TMPL:END%
%TMPL:DEF{"BUTTON_LAST"}%%BUTTON{"%MAKETEXT{"Last"}%" class="simple slideShowLast" icon="fa-step-forward" href="%viewurl%%querystring%#GoSlide%max%"}%%TMPL:END%
%TMPL:DEF{"BUTTON_PREV"}%%BUTTON{"%MAKETEXT{"Previous"}%" class="simple slideShowPrev" icon="fa-backward" href="%viewurl%%querystring%#GoSlide%prev%"}%%TMPL:END%
%TMPL:DEF{"BUTTON_NEXT"}%%BUTTON{"%MAKETEXT{"Next"}%" class="simple slideShowNext" icon="fa-forward" href="%viewurl%%querystring%#GoSlide%next%"}%%TMPL:END%
%TMPL:DEF{"BUTTON_EXIT"}%%BUTTON{"%MAKETEXT{"Exit"}%" class="simple slideShowExit" target="%BASEWEB%.%BASETOPIC%" icon="fa-times"}%%TMPL:END%
%TMPL:DEF{"BUTTON_START"}%%BUTTON{"%MAKETEXT{"Start presentation"}%" class="slideShowStart" href="%viewurl%%querystring%#GoSlide1" icon="fa-television"}%%TMPL:END%
%TMPL:DEF{"BUTTON_END"}%%%BUTTON{"%MAKETEXT{"End presentation"}%" class="slideShowEnd" href="%viewurl%%querystring%#StartPresentation" icon="fa-times"}%%TMPL:END%
