%TMPL:INCLUDE{"viewprint"}%
%TMPL:DEF{"form"}%%TMPL:END%
%TMPL:DEF{"attachments"}%%TMPL:END%
%TMPL:DEF{"standardheader"}%%TMPL:END%
%TMPL:DEF{"simpleheader"}%%TMPL:END%
%TMPL:DEF{"topicinfo"}%%TMPL:END%
%TMPL:DEF{"standardfooter"}%%TMPL:END%

%TMPL:DEF{"content"}%%TEXT%
#TopicEnd
%TMPL:END%