%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"form"}%%TMPL:END%
%TMPL:DEF{"attachments"}%%TMPL:END%

%TMPL:DEF{"standardheader"}%%TMPL:END%
%TMPL:DEF{"simpleheader"}%%TMPL:END%
%TMPL:DEF{"logo"}%%TMPL:END%
%TMPL:DEF{"topicinfo"}%%TMPL:END%


%TMPL:DEF{"main"}%%TEXT%
#TopicEnd
%TMPL:END%