#patternSideBar {
	float:right;
	width:220px; /* includes left padding, see #patternSideBarContents */
	margin-right:-220px;
	position:relative;
}
.patternViewPage #patternOuter {
	border-width:220px;
	border-style:none solid none none;
	border-color:#f9f9f9;
	margin-right:0;
}