*,v
*,pfv
*.gz
/SmiliesPlugin.md5
/SmiliesPlugin.sha1
/SmiliesPlugin.tgz
/SmiliesPlugin.txt
/SmiliesPlugin.zip
/SmiliesPlugin_installer
/SmiliesPlugin_installer.pl
/pub/System/SmiliesPlugin/smilies.css
