/* TWiki base CSS */

.twikiMakeVisible,
.twikiMakeVisibleInline,
.twikiMakeVisibleBlock {
	display:none; /* will be made visible with javascript */
}
.twikiLeft {
	float:left;
	position:relative;
}
.twikiRight {
	position:relative;
	float:right;
	display:inline;
	margin:0;
}
.twikiClear {
	/* to clean up floats */
	margin:0;
	padding:0;
	height:0;
	line-height:0px;
	clear:both;
	display:block;
}
.twikiHidden {
	display:none;
}
.twikiSmall {
	font-size:86%;
	line-height:110%; /*S3*/
}
.twikiSmallish {
	font-size:94%; /*S2*/
}
.twikiBroadcastMessage {
	background-color:#ff0;
	padding:.25em .5em;
	margin:0 0 1em 0;
}
.twikiBroadcastMessage b,
.twikiBroadcastMessage strong {
	color:#f00;
}
.twikiAlert,
.twikiAlert code {
	color:#f00;
}
.twikiEmulatedLink {
	text-decoration:underline;
}
.twikiAccessKey {
	text-decoration:none;
	border-width:0 0 1px 0;
	border-style:solid;
}
a:hover .twikiAccessKey {
	text-decoration:none;
	border:none;
}
.twikiImage img {
	padding:3px;
	border-width:1px;
	border-style:solid;
}
.twikiPreviewArea {
	border-width:1px;
	border-style:solid;
	border-color:#f00;
	margin:0 -0.5em 2em -0.5em;
	padding:.5em;
}
