/* natedit base styles */
.natEdit {
  font-size:12px;
  line-height:normal;
}
.natEditBody .jqTabContents {
  overflow-x:hidden;
  overflow-y:auto;
}
.natEdit textarea,
.natEditTextArea {
  width:99%;
  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
  font-size:12px;
}
ul.natEditButtonBox {
  margin:0px 10px 0px 0px;
  padding:0px;
  float:left;
}
ul.natEditHelpTools {
  float:right;
}
.natEditHiddenToolBar {
  visibility:hidden; /* becomes visible during load event */
}

.natEditBottomBar {
  margin-top:10px;
}
.natEditBottomBar ul {
  margin:0px;
  padding:0px;
}
.natEditBottomBar ul li,
.natEditToolBar ul li {
  display:inline;
  padding:0px;
  margin:0px;
  list-style:none;
  background:inherit;
}
.natEditBottomBar #wysiwyg {
  display:none;
}
.natEditToolBar ul li a span {
  display:none;
}

.natEditToolBar a:hover,
.natEditToolBar a {
  text-decoration:none;
  background-color:transparent;
  background-position:top left;
  background-repeat:no-repeat;
  float:left;
}

.natEditTopicInfo {
  margin:0em 0em 0.5em;
}
.natEditForceNewRevision label,
.natEditForceNewRevision input {
  margin:4px;
  _margin:0px;
  border:0px;
  vertical-align:middle;
}
.natEditFontButtons {
  margin:0.5em;
  float:right;
}

.foswikiForm {
  clear:both;
}

/* RevCommentPlugin support */
.revComment {
  margin:0.5em 0px;
}
.revComment label {
  font-weight:bold;
}
.revComment input {
  width:80%;
}
.natEditDoneButton img,
.natEditCancelButton  img {
  border:0px;
}

/* pattern skin tweaks */
.patternEditPage .foswikiForm {
  margin:0px;
}
.jqTabContents h3 {
  margin-top:0px;
}

#patternPage .foswikiFormTable {
  width:99%;
}
#patternPage .jqTab {
  background:white;
}

.patternEditPage .foswikiFormSteps h2 {
  margin-left:10px;
}

/* table dialog */
#natEditInsertTable {
  width:200px;
}

/* link dialog */
#natEditInsertLink .jqTabContents {
  width:480px;
  height:150px;
}
#natEditInsertLink .foswikiFormStep hr {
  margin:1em 0em;
}

/* attachment dialog */
#natEditInsertAttachment .jqTabContents {
  width:570px;
  height:410px;
}
#natEditInsertAttachment label {
  float:left;
  border:1px solid #aaa;
  background:#fff;
  margin:0px 10px 10px 0px;
  padding:5px;
  width:70px;
  height:82px;
  overflow:hidden;
}
#natEditInsertAttachment .imgContainer {
  width:70px;
  height:70px;
  overflow:hidden;
  display:block;
}
#natEditInsertAttachment img {
  width:70px;
}
#natEditInsertAttachment label.selected {
  border:1px solid red;
}
#natEditInsertAttachments {
  overflow:auto;
  height:200px;
}
#natEditInsertAttachments label span {
  text-align:center;
  display:block;
}
#natEditInsertAttachments input {
  display:none;
}
#natEditInsertAttachment .jqTabContents {
  position:relative;
}
#natEditInsertAttachment hr {
  margin-top:5px;
  margin-bottom:5px;
}
#natEditInsertAttachment .uploadContainer {
  overflow:auto;
  height:350px;
}
#natEditInsertAttachment .foswikiFormButtons {
  position:absolute;
  bottom:0px;
  width:100%;
}
