/* natedit base styles */
.ui-natedit {
  margin:0;
}

.ui-natedit-container {
  margin-top:14px;
}

.natEditPreviewDialog,
.ui-natedit-container .jqTabContents {
  overflow-x:hidden;
  overflow-y:auto;
}

#EditForm .ui-natedit textarea {
  /* working around IE8 textarea bugs: make it think it gets a fixed width but then junk in min and max width 100% */
  width:500px !important; 
  min-width:100%;
  max-width:100%;
}
.ui-natedit textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
  font-size:12px;
  line-height:1.5em;
  resize: none;
  overflow-x:hidden;
}
.ui-natedit-toolbar {
  margin:5px 0 0;
}

.ui-natedit-menu-button,
.ui-natedit-button,
.ui-natedit-buttons {
  margin-right:10px;
  margin-bottom:10px;
  float:left;
}

.ui-natedit-buttons .ui-button {
  float:left;
  margin-bottom:0;
}

.ui-natedit-toolbar,
.ui-natedit-toolbar .fa {
  line-height:17px;
}

.ui-natedit .ui-natedit-menu {
  display:none;
  position:absolute;
  z-index:91;
}

.ui-natedit .ui-menu { 
  /* http://colorzilla.com/gradient-editor/#ffffff+0,f0f0f0+100;Custom */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); /* IE9*/
  background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); 
  background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); 
  background: -o-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); 
  background: -ms-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); 
  background: linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* W3C */
  background: linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* W3C */
  background: #fff\9; /* IE8 */
}

.ui-natedit-h1 { font-size:125%; font-weight:bold; }
.ui-natedit-h2 { font-size:120%; font-weight:bold; }
.ui-natedit-h3 { font-size:115%; font-weight:bold; }
.ui-natedit-h4 { font-size:110%; font-weight:bold; }
.ui-natedit-h5 { font-size:105%; font-weight:bold; }
.ui-natedit-h6 { font-size:100%; font-weight:bold; }
.ui-natedit-preformatted { font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace; }
.ui-natedit-quote { font-style:italic; }

.ui-natedit .ui-natedit-menu:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #bcbcbc transparent;
  display: block;
  width: 0;
  z-index: 0;
}
.ui-natedit .ui-natedit-menu:after {
  content: "";
  position: absolute;
  top: -19px;
  left: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
}

/* dialogs */
.ui-natedit-dialog-content th {
  min-width:4em;
}

.ui-dialog .ui-natedit-dialog-content .foswikiLayoutTable,
.ui-dialog .ui-natedit-dialog-content .foswikiFormSteps {
  margin:0 0 0 4px;
  padding:0;
  border:0;
  width:100%;
}

.ui-natedit-insert-color-content .farbtastic {
  margin:0 auto;
}
.ui-natedit-insert-color-content .foswikiInputField {
  width:90%;
  margin:1em auto 0;
  display:block;
}

.ui-natedit-insert-color-content form {
  width:300px;
}

/* helper used for auto-expand feature */
.ui-natedit-auto-expand-helper {
  top:-999px; 
  left:0; 
  right:auto; 
  bottom:auto; 
  border:0; 
  padding:0; 
  margin:0;
  height:0 !important; 
  min-height:0 !important; 
  overflow:hidden; 
  position:absolute;
  resize:none;
  word-wrap:break-word; 
  -webkit-box-sizing:content-box; 
     -moz-box-sizing:content-box; 
          box-sizing:content-box; 
  -webkit-transition:none; 
     -moz-transition:none;
          transition:none; 
}

/* topic info: fields above the text area  */
.natEditTopicInfo table th,
.natEditTopicInfo table td {
  padding:0 7px 7px 7px;
}


/* bottom bar on save screen */
.natEditBottomBar {
  margin-top:10px;
  margin-bottom:10px;
}
.natEditBottomBar ul {
  margin:0px;
  padding:0px; 
}
.natEditBottomBar ul li,
.natEditToolBar ul li {
  display:inline;
  padding:0px;
  margin:0px;
  list-style:none;
  background:inherit;
}

.natEditToolBar ul li a span {
  display:none;
}

.natEditToolBar a:hover,
.natEditToolBar a {
  text-decoration:none;
  background-color:transparent;
  background-repeat:no-repeat;
  float:left;
}

.natEditForceNewRevision label,
.natEditForceNewRevision input {
  margin:4px;
  border:0px;
  vertical-align:middle;
}

/* RevCommentPlugin support */
.revComment {
  margin:0.5em 0px;
}
.revComment label {
  font-weight:bold;
}
.revComment input {
  width:80%;
}
.natEditDoneButton img,
.natEditCancelButton  img {
  border:0px;
}

/* plugins */
.ui-button.ui-natedit-switch-to-wysiwyg {
  display:none;
}
.ui-natedit-wysiwyg-enabled .ui-button.ui-natedit-switch-to-wysiwyg {
  display:block;
}

/* TinyMCEPlugin tweaks */
table.mceToolbar {
  float:left;
}
#topic_resize,
#topic_2WYSIWYG,
#wysiwyg {
  display:none;
}
#topic_tbl, #topic_ifr {
  width:100% !important; 
}

/* pattern skin tweaks */
.patternEditPage #patternMainContents {
  margin:0 !important;
  padding:1em 1em 0 !important;
}
.patternEditPage .foswikiTopic {
  margin-top:0 !important;
  margin-bottom:0 !important;
}
.patternEditPage .natEditTitle {
  font-size:145%;
  margin-top:0;
}
.patternEditPage .natEditTitle a:link,
.patternEditPage .natEditTitle a:visited {
  color:inherit;
}
.patternEditPage #EditForm h2 {
  margin-top:0;
  font-size:127%;
}
