/* natedit base styles */
.natEdit {
  font-size:12px;
  line-height:1.5em;
  margin:0 10px 0 0;
}
.natEditContainer {
  margin-top:1em;
}
.natEditContainer .jqTabContents {
  overflow-x:hidden;
  overflow-y:auto;
}
.natEdit textarea,
.natEditTextArea {
  width:100% !important;
  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
  font-size:12px;
  resize: none;
}
ul.natEditButtonBox {
  margin:0px 10px 0px 0px;
  padding:0px;
  float:left;
}
ul.natEditHelpTools {
  float:right;
}
.natEditHiddenToolBar {
  visibility:hidden; /* becomes visible during load event */
}

.natEditBottomBar {
  margin-top:10px;
  margin-bottom:10px;
}
.natEditBottomBar ul {
  margin:0px;
  padding:0px; 
}
.natEditBottomBar ul li,
.natEditToolBar ul li {
  display:inline;
  padding:0px;
  margin:0px;
  list-style:none;
  background:inherit;
}
#topic_resize,
#topic_2WYSIWYG,
#wysiwyg {
  display:none;
}
#topic_tbl, #topic_ifr {
  width:100% !important; 
}
.natEditToolBar ul li a span {
  display:none;
}

.natEditToolBar a:hover,
.natEditToolBar a {
  text-decoration:none;
  background-color:transparent;
  background-repeat:no-repeat;
  float:left;
}

.natEditTopicInfo {
  margin:0em 0em 0.5em;
}
.natEditForceNewRevision label,
.natEditForceNewRevision input {
  margin:4px;
  _margin:0px;
  border:0px;
  vertical-align:middle;
}
.natEditFontButtons {
  margin:0.5em;
  float:right;
}

.foswikiForm {
  clear:both;
}

/* RevCommentPlugin support */
.revComment {
  margin:0.5em 0px;
}
.revComment label {
  font-weight:bold;
}
.revComment input {
  width:80%;
}
.natEditDoneButton img,
.natEditCancelButton  img {
  border:0px;
}

/* dialogs */
.natEditInsertLink .jqTabContents {
  margin-bottom:1em;
}
.natEditInsertLink h3 {
  float:left;
  width:5em;
  margin-left:1px;
}
.natEditInsertLink .foswikiFormSteps {
  margin:0;
}
.natEditInsertLink .foswikiFormStep {
  margin: 0 0 1em 0.5em;
  padding:0;
  border:0;
}
.natEditInsertLink .foswikiFormStep:last-child {
  margin-bottom:0;
}

.natEditInsertTable th {
  text-align:left;
}

/* attachment dialog */
#natEditInsertAttachment .jqTabContents {
  width:570px;
  height:410px;
}
#natEditInsertAttachment label {
  float:left;
  border:1px solid #aaa;
  background:#fff;
  margin:0px 10px 10px 0px;
  padding:5px;
  width:70px;
  height:82px;
  overflow:hidden;
}
#natEditInsertAttachment .imgContainer {
  width:70px;
  height:70px;
  overflow:hidden;
  display:block;
}
#natEditInsertAttachment img {
  width:70px;
}
#natEditInsertAttachment label.selected {
  border:1px solid red;
}
#natEditInsertAttachments {
  overflow:auto;
  height:200px;
}
#natEditInsertAttachments label span {
  text-align:center;
  display:block;
}
#natEditInsertAttachments input {
  display:none;
}

/* pattern skin tweaks */
.patternEditPage .foswikiForm {
  margin:0px;
}
#patternPage .foswikiFormTable {
  width:99%;
}
#patternPage .jqTab {
  background:white;
}
.patternEditPage .foswikiFormStep {
  height:auto;
}
.patternEditPage .foswikiFormSteps hr {
  display:none;
}
.patternEditPage .foswikiFormStep:last-child {
  border-bottom:0px;
}
.patternEditPage .natEditContainer th {
  text-align:left;
}

/* temporarily switched off */
.natEditToolBar ul li.natEditAttachmentButton {
  display:none;
}
