:link,
:visited,
:link:active,
:visited:active,
:link:focus,
:visited:focus {
	color:#03a;
}

:visited {
	color:#5A3696;
}

:link:hover,
:visited:hover {
	color:#03a;
}

:link:hover img,
:visited:hover img {
	background:none;
}

.foswikiTopic a:visited {
	color:#5A3696;
}
.foswikiTopic a:hover {
	color:#0b0; /* green */
}

#patternMainContents h1 a:link,
#patternMainContents h1 a:visited {
	color:#2e5cac;
}

#patternMainContents h2 a:link,
#patternMainContents h2 a:visited,
#patternMainContents h3 a:link,
#patternMainContents h3 a:visited,
#patternMainContents h4 a:link,
#patternMainContents h4 a:visited,
#patternMainContents h5 a:link,
#patternMainContents h5 a:visited,
#patternMainContents h6 a:link,
#patternMainContents h6 a:visited {
	color:#444;
}

#patternSideBarContents,
#patternSideBarContents a:link,
#patternSideBarContents a:visited {
	color:#555;
}

#patternSideBarContents b,
#patternSideBarContents strong {
	color:#222;
}

#patternSideBarContents a:hover {
	color:#0b0;
}

#foswikisiteUserBar li {
	color:#555;
}
#foswikisiteUserBar a:link,
#foswikisiteUserBar a:visited {
	color:#555;
}
#foswikisiteUserBar:hover a:link,
#foswikisiteUserBar:hover a:visited {
	color:#090;
}

.foswikiTopic .foswikiUnvisited a:hover,
a:hover.twistyTrigger,
.patternTop a:hover,
.foswikiBroadcastMessage a {
	color:#000;
}

blockquote {
	background-color:#f5f5f5;
	border-color:#ddd;
}

blockquote h2 {
	background:none;
}

body,
html body,
html body.patternEditPage {
	background-color:#f0f0f1;
	color:#000;
}

body,
p,
li,
ul,
ol,
dl,
dt,
dd,
acronym,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
dl,
dt,
dd,
acronym,
h1,
h2,
h3,
h4,
h5,
h6 {
	background:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color:#090;
}

h2 {
	border-color:#e2e2e2;
	color:#090;
}

h2.patternTemplateTitle {
	background:none;
}

h3.patternSearchResultsHeader,
h4.patternSearchResultsHeader {
	background-color:#f5f5f5;
	border-color:#e2e2e2;
}

h4.patternSearchResultsHeader {
	color:#000;
}

hr {
	background-color:#bbb;
	color:#bbb;
}

html body {
	background-color:#f0f0f1;
	color:#000;
}

pre {
	background:#f5f5f5;
	border-color:#ddd;
}

pre,
code,
tt {
	color:#333;
}

table#foswikiSearchTable hr {
	background-color:#e2e2e2;
	border-color:#e2e2e2;
}

table#foswikiSearchTable th {
	color:#000;
}

table#foswikiSearchTable th,
table#foswikiSearchTable td {
	background-color:#fff;
	border-color:#e2e2e2;
}

textarea,
input,
select {
	background-color:#fff;
	border-color:#aaa;
	color:#000;
}

#foswikiLogin .patternLoginNotification {
	background-color:#fff;
	border-color:red;
}

#foswikiSearchTable {
	background:none;
}

#foswikisiteUserBar {
	color:#444;
}

#foswikisiteUserBar ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#patternBottomBar {
	background:none;
}

#patternMainContents {
	background-color:#fff;
}

#patternMainContents .patternDiff h4.patternSearchResultsHeader {
	background-color:#6b7f93;
	color:#fff;
}

#patternOuter {
	background:none;
	border-color:#dadada;
}

#patternPage {
	background-color:transparent;
	border-color:#ccc;
}

#patternSideBarContents li a:hover {
	background:#d9f5d9;
	color:#444;
}

#patternSideBarContents hr {
	background-color:#e2e2e2;
	color:#e2e2e2;
}

#patternTopBar .foswikiImage img {
	background:none;
}

#patternTopBarButtons li {
	color:#339;
}



#patternTopBarButtons ul,
#patternTopBarButtons li a {
	border-color:#adcaed;
}

#patternSideBar,
#patternWrapper {
	background:#fff;
}

.foswikiAccessKey {
	border-color:#777;
}

.foswikiActionFormStepSign {
	color:#444;
}

.foswikiAttachments table {
   border-color:#eee;
   background-color:#fff;
}
table.foswikiFormTable,
.foswikiAttachments table,
.foswikiAttachments th,
.foswikiAttachments td {
   border-color:#eee;
   background-color:#fcfcfc !important;
}
.foswikiForm td,
.foswikiForm th,
.foswikiAttachments td, 
.foswikiAttachments th {
   border-color:#eee;
}


.foswikiBroadcastMessage,
.foswikiNotification {
	background-color:#d9f5d9;
}
.foswikiNotification {
	border-color:#090;
}
.foswikiMessage {
   background-color:#d9f5d9;
}

.foswikiDiffAddedHeader,
tr.foswikiDiffDebug .foswikiDiffAddedMarker,
tr.foswikiDiffDebug .foswikiDiffAddedText {
	background-color:#ccf;
}

.foswikiDiffChangedHeader,
tr.foswikiDiffDebug .foswikiDiffChangedText,
tr.foswikiDiffDebug .foswikiDiffChangedText {
	background:#9f9;
}

.foswikiEditForm {
	color:#000;
}

.foswikiEditForm .foswikiFormTable td {
	background-color:#f7fafc;
}

.foswikiEditForm .foswikiFormTable th {
	background-color:#f0f6fb;
}

.foswikiEmulatedLink {
	color:#4571d0;
}

.foswikiFormStep h3,
.foswikiFormStep h4 {
	background-color:transparent;
	color:#444;
}

.foswikiFormSteps {
	background-color:#f5f5f5;
	border-color:#e2e2e2;
}

.foswikiHelp {
	background-color:#d5ffd0;
}

.foswikiImage a:hover img {
	border-color:#03a;
}

.foswikiImage a:link,
.foswikiImage a:visited {
	background:none;
}

.foswikiImage img {
	background-color:#fff;
	border-color:#eee;
}

.foswikiInputField:active,
.foswikiInputField:focus,
.foswikiInputFieldFocus {
	background-color:#ffffe0;
}

.foswikiInputFieldDisabled {
	background-color:#fafaf8;
	color:#aaa;
}

.foswikiInputFieldDisabled,
.foswikiSelectDisabled {
	background-color:#fafaf8;
	border-color:#bbb #f2f2f2 #f2f2f2 #bbb;
	color:#aaa;
}

.foswikiNewLink {
	border-color:#ddd;
}

.foswikiNewLink a:hover sup {
	background-color:#03a;
	border-color:#03a;
	color:#000;
}

.foswikiNewLink a:link sup,
.foswikiNewLink a:visited sup {
	border-color:#ddd;
	color:#777;
}

.foswikiNewLink font,
a:link .foswikiAccessKey,
a:visited .foswikiAccessKey {
	color:inherit;
}

.foswikiPageForm hr {
	background-color:#cfcfcf;
	border-color:#cfcfcf;
	color:#cfcfcf;
}

.foswikiPageForm table {
	background:#fff;
	border-color:#e2e2e2;
}

.foswikiSelect {
	background-color:#fff;
	border-color:#bbb #f2f2f2 #f2f2f2 #bbb;
	color:#000;
}

.foswikiSubmit {
	background-color:#06c;
	color:#fff;
}

.foswikiSubmit,
.foswikiButton {
	border-color:#fff #888 #888 #fff;
}

.foswikiSubmit,
.foswikiSubmitDisabled {
	background-image:url(bg_submit_gradient.gif);
	background-repeat:repeat-x;
}

.foswikiSubmit,
a.foswikiSubmit:link,
a.foswikiSubmit:visited {
	background-color:#06c;
	background-position:0 0;
	border-color:#94cce2 #0e66a2 #0e66a2 #94cce2;
	color:#fff;
}

.foswikiSubmit:active,
a.foswikiSubmit:active {
	background-color:#73ace6;
	background-position:0 -160px;
	border-color:#0e66a2 #94cce2 #94cce2 #0e66a2;
	color:#fff;
}

.foswikiSubmit:hover,
a.foswikiSubmit:hover {
	background-color:#0047b7;
	background-position:0 -80px;
	border-color:#0e66a2 #94cce2 #94cce2 #0e66a2;
	color:#fff;
}

.foswikiSubmitDisabled,
.foswikiSubmitDisabled:active {
	background-color:#f5f5f5;
	border-color:#fff #ccc #ccc #fff;
	color:#aaa;
}

.foswikiSubmitDisabled,
.foswikiSubmitDisabled:hover,
.foswikiSubmitDisabled:active {
	background-color:#d9e8f7;
	background-position:0 -240px;
	border-color:#ccc;
	color:#ccc;
}

/* TablePlugin */
.foswikiTable,
.foswikiTable td,
.foswikiTable th {
   border-color:#eee;
}
.foswikiTable th {
	background:#d6d3cf;
}
.foswikiTable th,
.foswikiTable th a:link,
.foswikiTable th a:visited {
   color:#000;
}

.foswikiTable th a:link,
.foswikiTable th a:visited,
.foswikiTable th a font,
table.foswikiFormTable th.foswikiFormTableHRow,
table.foswikiFormTable td.foswikiFormTableRow,
.patternNoViewPage h4.patternSearchResultsHeader {
	color:#444;
}

.foswikiTable,
.foswikiTable td,
.foswikiTable th,
.foswikiFormStep,
.patternSearchResult .foswikiBottomRow,
.patternBookView .foswikiBottomRow,
tr.foswikiDiffDebug td,
.foswikiEditForm .foswikiFormTable,
.foswikiEditForm .foswikiFormTable th,
.foswikiEditForm .foswikiFormTable td,
table#foswikiSearchTable,
.patternViewPage .patternSearchResultsBegin {
	border-color:#e2e2e2;
}

.foswikiTextarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly,
.foswikiSelect {
	border-color:#bbb #f2f2f2 #f2f2f2 #bbb;
}

.foswikiTextarea,
.foswikiInputField,
.foswikiSelect {
	background-color:#fff;
	color:#000;
}

.foswikiTextareaRawView {
	color:#000;
}

.foswikiToc .foswikiTocTitle {
	color:#777;
}

.patternSigLine {
	color:#777;
}

#patternBottomBarContents {
	color:#777;
}
#patternBottomBarContents a:link,
#patternBottomBarContents a:visited {
	color:#777;
}
#patternBottomBarContents:hover a:link,
#patternBottomBarContents:hover a:visited {
	color:#0b0;
}

.foswikiInputFieldReadOnly,
.foswikiInputFieldBeforeFocus {
	color:#777;
}

.twistyPlaceholder {
	color:#777;
}

.foswikiGrayText,
.foswikiGrayText a:link,
.foswikiGrayText a:visited {
	color:#777;
}
.foswikiGrayText a:hover {
	color:#0b0;
}

.patternHomePath a:link,
.patternHomePath a:visited {
	color:#777;
}
.patternHomePath:hover a:link,
.patternHomePath:hover a:visited {
	color:#0b0;
}

.patternHelpCol,
.patternBookView .patternSearchResultCount,
tr.foswikiDiffDebug .foswikiDiffUnchangedText {
	color:#777;
}

.foswikiToc li {
	background-image:url(bullet-toc.gif);
	background-position:0 .4em;
	background-repeat:no-repeat;
}

.foswikiTopic .foswikiUnvisited a:visited {
	color:#03a;
}

#patternMainContents h1 a:hover,
#patternMainContents h2 a:hover,
#patternMainContents h3 a:hover,
#patternMainContents h4 a:hover,
#patternMainContents h5 a:hover,
#patternMainContents h6 a:hover {
	color:#0b0;
}

.mceContentBody {
	background-color:#fff;
}

.patternActionButtons a:link,
.patternActionButtons a:visited,
.patternActionButtons a:hover,
#patternMainContents .patternDiff h4.patternSearchResultsHeader a:link,
#patternMainContents .patternDiff h4.patternSearchResultsHeader a:visited {
	color:#fff;
}

.patternBookView .foswikiTopRow {
	background-color:transparent;
	color:#777;
}

.patternButtonEnlarge,
.patternButtonShrink {
	background-image:url(button_arrow.gif);
	height:16px;
	width:16px;
}

.patternButtonEnlarge:active {
	background-position:0 -84px;
}

.patternButtonEnlarge:hover {
	background-position:0 -42px;
}

.patternButtonFontSelector {
	background-image:url(button_font_selector.gif);
}

.patternButtonFontSelectorMonospace {
	background-position:0 -16px;
}

.patternButtonFontSelectorProportional,
.patternButtonEnlarge {
	background-position:0 0;
}

.patternButtonShrink {
	background-position:16px 0;
}

.patternButtonShrink:active {
	background-position:16px -84px;
}

.patternButtonShrink:hover {
	background-position:16px -42px;
}

.patternDiff {
	border-color:#6b7f93;
}

.patternDiffPage .foswikiDiffTable th,
.foswikiDiffLineNumberHeader {
	background-color:#ccc;
}

.patternEditTopic {
	background:#f5f5f5;
}

.patternRevInfo {
	color:#666;
}
.patternLeftBarPersonal li,
.patternLeftBarPersonal li.patternLogOut,
.patternLeftBarPersonal li.patternLogIn {
	background-image:none;
}

.patternMetaMenu ul li .foswikiInputFieldBeforeFocus,
.patternMetaMenu ul li .foswikiSelect {
	background-color:#f0f4fa;
}

.patternPrintPage #patternOuter {
	background:#fff;
}

.patternPrintPage #patternOuter,
.patternPrintPage #patternMainContents {
	border:none;
}

.patternSearchResult .foswikiAlert,
.foswikiBroadcastMessage b,
.foswikiBroadcastMessage strong,
.foswikiAlert,
.foswikiAlert code {
	color:red;
}

.patternSearchResult .foswikiNew {
	background-color:#ECFADC;
	border-color:#049804;
	color:#049804;
}

.patternSearchResult .foswikiSummary .foswikiAlert {
	color:#900;
}

.patternTextareaButton {
	border-color:#fffefd #b8b6ad #b8b6ad #fffefd;
}

.patternToolBar span a:link,
.patternToolBar span a:visited,
.patternToolBar img {
	background:none;
}

.patternToolBar span a:link img,
.patternToolBar span a:visited img {
	border-color:#f2f2f2;
}

.patternToolBar span a:hover img {
	border-color:#0b0;
}

.patternTopicAction {
	border-color:#fff;
}

.patternTopicAction a:hover .foswikiAccessKey,
.patternTopicAction label,
.patternActionButtons a:link,
.foswikiTopic .patternActionButtons a:link,
.patternActionButtons a:visited,
.foswikiTopic .patternActionButtons a:visited,
.patternActionButtons a:hover,
.foswikiTopic .patternActionButtons a:hover {
	color:#00346b;
}

.patternTopicAction a:link .foswikiAccessKey,
.patternTopicAction a:visited .foswikiAccessKey {
	border-color:#00346b;
	color:#00346b;
}

.patternTopicAction .foswikiSeparator,
.foswikiTopic .patternTopicAction .foswikiSeparator,
.patternTopicAction s,
.patternTopicAction strike,
.patternTopicAction s,
.foswikiTopic .patternTopicAction .foswikiSeparator,
.patternTopicAction strike,
.foswikiTopic .patternTopicAction strike {
	color:#c9e2fd;
}

.patternTopicActions {
	background-color:#2989bb;
	color:#bbb;
}

.patternTopicActions,
.foswikiTopic .patternTopicActions {
	background:#e0ecf9 url(topicactions_background.gif) repeat-x scroll 0 0;
	color:#fff;
}

.patternTwistyButton h3 {
	color:#444;
}

.revComment .patternTopicAction {
	background-color:#f5f5f5;
}

tr.foswikiDiffDebug .foswikiDiffDeletedMarker,

tr.foswikiDiffDebug .foswikiDiffDeletedText {
	background-color:#f99;
}

/* preview.pattern.tmpl */

.foswikiPreviewArea {
   border-color:#f00;
   background-color:#fff;
}

/* print page */

.patternPrintPage :link,
.patternPrintPage .foswikiTopic :link,
.patternPrintPage :visited,
.patternPrintPage .foswikiTopic a:visited {
	color:#444;
}

/* IMAGES */

/* outer frame */
#patternScreen {
	background:#f0f0f1 url(GrayBlend.gif) repeat-x scroll 0 0;
}

/* top bar */

#patternTopBarContentsWrapper {
	background:transparent url(header-left.gif) no-repeat scroll 0 0;
}
#patternTopBar {
	background:#2e5cac url(header.gif) repeat-x scroll 0 0;
}

#patternTopBarButtons {
	background:#2a549d url(header-left.gif) no-repeat scroll 0 100%;
}
#patternTopBarButtons li a {
	background:#8bb6e5 url(menu_background.gif) repeat-x scroll 0 0;
	color:#00346b;
}
#patternTopBarButtons li a.active,
#patternTopBarButtons li a:link:hover,
#patternTopBarButtons li a:visited:hover {
	background:#fff;
	border-top-color:#fff;
}

/* sidebar */
#patternSideBarContents .patternWebIndicator,
#patternSideBarContents h2,
#patternSideBarContents h2 a:link,
#patternSideBarContents h2 a:visited {
	background:#eeeeee url(sidebar_header_background.gif) repeat-x scroll 0 0;
	color:#222;
}

/* buttons */
.foswikiButton {
	background-color:#e2e3e3;
	color:#000;
}

.foswikiButton,
a.foswikiButton:link,
a.foswikiButton:visited {
	background-color:#cce7f1;
	background-image:url(bg_button_gradient.gif);
	background-position:0 0;
	background-repeat:repeat-x;
	border-color:#fff #94cce2 #94cce2 #fff;
	color:#333;
}

.foswikiButton:hover,
.foswikiButton:active,
a.foswikiButton:hover,
a.foswikiButton:active {
	background-color:#cce7f1;
	background-position:0 -160px;
	border-color:#94cce2;
	color:#333;
}

.foswikiButtonCancel {
	background-color:#f2d5d0;
	background-image:url(bg_buttoncancel_gradient.gif);
	background-position:0 0;
	background-repeat:repeat-x;
	border-color:#f3ddd7 #ce5232 #ce5232 #f3ddd7;
	color:#000;
}

.foswikiButtonCancel:active {
	background-color:#dd724d;
	background-position:0 -160px;
	border-color:#ce5232 #f3ddd7 #f3ddd7 #ce5232;
	color:#fff;
}

.foswikiButtonCancel:hover {
	background-color:#dd724d;
	background-position:0 -80px;
	border-color:#ce5232 #f3ddd7 #f3ddd7 #ce5232;
	color:#fff;
}

.foswikiButtonDisabled,
.foswikiButtonDisabled:hover,
.foswikiButtonDisabled:active {
	background-color:#edece6;
	background-image:url(bg_button_gradient.gif);
	background-position:0 -240px;
	background-repeat:repeat-x;
	border-color:#ccc;
	color:#bbb;
}

.foswikiJs a.jqPopUpWindow:link,
.foswikiJs a.jqPopUpWindow:visited,
.foswikiJs a.jqPopUpWindow:hover {
	background-image:url(popup.gif);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:14px;
	margin-right:3px;
}
