:link,
:visited,
:link:active,
:visited:active,
:link:hover,
:visited:hover,
:link:focus,
:visited:focus,
.foswikiTable a:link,
.foswikiTable a:visited,
.foswikiTable a:hover,
.foswikiEmulatedLink,
#patternMainContents h1 a:hover,
#patternMainContents h2 a:hover,
#patternMainContents h3 a:hover,
#patternMainContents h4 a:hover,
#patternMainContents h5 a:hover,
#patternMainContents h6 a:hover,
.foswikiBroadcastMessage a
{
	text-decoration:underline;
}

a:hover .foswikiAccessKey
{
	border-style:solid;
	border-width:0 0 1px;
	text-decoration:none;
}

.foswikiTopic a:link,
.foswikiTopic a:visited
{
	text-decoration:none;
}

.foswikiTopic a:hover
{
	text-decoration:underline;
}

.foswikiNewLink a:hover sup,
a.foswikiButton,
a.foswikiButton:link:active,
a.foswikiButton:visited:active,
a.foswikiButton:hover,
a.foswikiButtonCancel,
a.foswikiButtonCancel:hover,
a.foswikiButtonCancel:link:active,
a.foswikiButtonCancel:visited:active,
a.foswikiSubmit,
a.foswikiSubmit:hover,
a.foswikiSubmit:link:active,
a.foswikiSubmit:visited:active,
table.foswikiFormTable th.foswikiFormTableHRow a:link,
table.foswikiFormTable th.foswikiFormTableHRow a:visited,
.foswikiForm h3 a:link,
.foswikiForm h3 a:visited
{
	text-decoration:none;
}

#patternSideBarContents a:link,
#patternSideBarContents a:visited
{
	text-decoration:none;
}

#patternSideBarContents a:hover
{
	text-decoration:underline;
}

#patternSideBarContents li a:hover
{
	text-decoration:none;
}


#foswikisiteUserBar a:link,
#foswikisiteUserBar a:visited
{
	text-decoration:none;
}

#foswikisiteUserBar a:hover
{
	text-decoration:underline;
}


.twistyTrigger a:link,
.twistyTrigger a:visited,
.twistyTrigger a:link .foswikiLinkLabel,
.twistyTrigger a:visited .foswikiLinkLabel
{
	text-decoration:none;
}

.patternActionButtons a.foswikiButton,
.patternActionButtons a.foswikiSubmit,
.patternActionButtons a.foswikiButtonCancel
{
	padding:.1em .2em;
}

.patternTopicAction .patternActionButtons a:link,
.patternTopicAction .patternActionButtons a:visited,
.patternTopicAction .patternActionButtons span s,
.patternTopicAction .patternActionButtons span strike
{
	text-decoration:none;
}

.patternTopicAction .patternActionButtons a:hover
{
	text-decoration:none;
}

.foswikiSubmit,
.foswikiSubmitDisabled,
.foswikiButton,
.foswikiButtonDisabled,
.foswikiButtonCancel,
.foswikiSubmit:hover,
.foswikiSubmitDisabled:hover,
.foswikiButton:hover,
.foswikiSubmit:active,
.foswikiSubmitDisabled:active,
.foswikiButton:active
{
	cursor:default;
	outline:none;
}

.foswikiSubmit,
.foswikiSubmitDisabled,
.foswikiButton,
.foswikiButtonDisabled,
.foswikiButtonCancel,
a.foswikiButton,
a.foswikiSubmit,
a.foswikiButtonCancel,
.foswikiCheckbox
{
	border-style:solid;
	border-width:1px;
	font-weight:bold;
	padding:.15em .3em;
	text-align:center;
	vertical-align:middle;
}

blockquote
{
	border-style:solid;
	border-width:1px 1px 1px 5px;
	padding:.5em 1.25em;
}

form
{
	display:inline;
	margin:0;
	padding:0;
}

h1
{
	font-size:195%;
	margin:0 0 .5em;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight:normal;
	line-height:1em;
}

h1.patternTemplateTitle
{
	font-size:170%;
	text-align:left;
}

h2
{
	border:none;
	font-size:153%;
}

h2,
h3,
h4,
h5,
h6
{
	display:block;
	height:auto;
	margin:1em 0 .35em;
	padding:.25em 0;
}

h2.patternTemplateTitle
{
	border:none;
	margin-top:.5em;
	text-align:center;
}

h3
{
	font-size:133%;
}

h4
{
	font-size:122%;
	font-weight:bold;
}

h5
{
	font-size:110%;
	font-weight:bold;
}

h6
{
	font-size:95%;
	font-weight:bold;
}

h3.patternSearchResultsHeader,
h4.patternSearchResultsHeader
{
	border-style:solid;
	border-width:0 0 1px;
	display:block;
	font-weight:bold;
}
h4.patternSearchResultsHeader
{
	font-weight:normal;
	padding:.6em 1em;
}

hr
{
	border:none;
	height:1px;
}

html body
{
	border:0;
	font-size:small;
	margin:0;
	padding:0;
	voice-family:inherit;
}

html>body
{
	font-size:small;
}

img
{
	border:0;
	vertical-align:text-bottom;
}

label
{
	padding:.15em .3em .15em 0;
}

ol,
ul
{
	margin-top:0;
}

p
{
	margin:1em 0 0;
}

pre
{
	border-style:solid;
	border-width:1px;
	margin:1em 0;
	padding:1em;
	width:auto;
}

pre,
code,
tt
{
	font-family:"Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
	font-size:86%;
}

table.foswikiFormTable th.foswikiFormTableHRow
{
	text-align:center;
}

textarea,
input,
select
{
	font-family:arial,verdana,sans-serif;
	font-size:100%;
	vertical-align:middle;
}

th
{
	line-height:1.15em;
}

#foswikiLogin
{
	margin:0 auto;
	text-align:center;
	width:44em;
}

#foswikiLogin .foswikiFormSteps
{
	border-width:5px;
}

#foswikiLogin .patternLoginNotification
{
	border-style:solid;
	border-width:2px;
	padding-left:.5em;
	padding-right:.5em;
}

#foswikiLogo a
{
	display:block;
	height:90px;
	margin:-10px 0 0 -25px;
	width:315px;
}

#foswikiLogo a img
{
	display:none;
}

#foswikiLogo img
{
	border:0;
	margin:0;
	padding:0;
}

#foswikiSearchTable
{
	border-bottom:0;
}

#foswikiSearchTable td
{
	width:80%;
}

#foswikiSearchTable th
{
	text-align:right;
	width:20%;
}

#foswikiSearchTable th,
#foswikiSearchTable td
{
	border-style:solid;
	border-width:0 0 1px;
	padding:1em;
}

#foswikisiteUserBar
{
	font-family:Arial,sans-serif;
	font-size:.9em;
	height:15px;
	line-height:15px;
	padding:0 .5em 4px 0;
	text-align:right;
}
#foswikisiteUserBar ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
#foswikisiteUserBar li
{
	display:inline;
	margin:0;
	padding:0 0 0 .7em;
}


#patternScreen {
	padding:20px 2% 40px 2%;
}


#patternTopBar,
#patternClearHeaderCenter,
#patternClearHeaderLeft,
#patternClearHeaderRight,
#patternTopBarContents,
#patternTopBarContentsWrapper {
	height:90px; /* top bar height; make room for header columns */
	overflow:hidden;
}

#patternMain {
	float:left;
	overflow:hidden;
}
#patternSideBar {
	float:right;
	width:220px; /* includes left padding, see #patternSideBarContents */
	margin-right:-220px;
	position:relative;
}
.patternViewPage #patternOuter {
	border-width:220px;
	border-style:none solid none none;
	border-color:#f9f9f9;
	margin-right:0;
}


#patternBottomBar
{
	border:none;
}

#patternBottomBarContents
{
	padding:1em 0 2em;
}

#patternMainContents
{
	border-style:none;
	padding-bottom:4em;
}

#patternMainContents,
#patternTopBarContents
{
	padding-left:2em;
	padding-right:2em;
}

#patternPage
{
	border:none;
	font-family:arial,verdana,sans-serif;
	font-size:105%;
	line-height:1.5em;
}

#patternSideBarContents
{
	margin:30px 0 1em;
	padding:0 1em 2em;
}

#patternSideBarContents .patternLeftBarPersonal,
#patternSideBarContents .patternWebIndicator
{
	border-style:none none solid;
	border-width:1px;
	margin:0 -1em .75em;
	padding:.5em 1em .75em;
}

#patternSideBarContents img
{
	margin:0 3px 0 0;
	vertical-align:text-bottom;
}

#patternSideBarContents h2,
#patternSideBarContents li
{
	line-height:1.15em;
	margin:0 -1em;
	padding:0 1em;
}
#patternSideBarContents h2
{
	border:none;
	display:block;
	font-size:100%;
	font-weight:bold;
	height:30px;
	line-height:30px;
}
#patternSideBarContents ul,
.patternMetaMenu ul
{
	list-style:none;
	margin:0;
	padding:0;
}

#patternSideBarContents li b,
#patternSideBarContents li strong,
#patternSideBarContents li a
{
	display:block;
	margin:0 -1em;
	padding:.4em 1em;
}

#patternTopBar
{
	border:none;
}

#patternTopBarButtons
{
	border:none;
	padding-left:2em;
}

#patternTopBarButtons ul
{
	border-style:none none none solid;
	border-width:1px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

#patternTopBarButtons li
{
	display:inline;
	height:29px;
	margin:0;
	padding:0;
}
#patternTopBarButtons ul li a
{
	border-style:solid solid none none;
	border-width:1px;
	display:block;
	float:left;
	font-weight:bold;
	height:29px;
	line-height:29px;
	padding:0 1em;
	text-decoration:none;
}

#patternTopBarContents
{
	padding:0;
}

#patternWebBottomBar
{
	font-size:94%;
	line-height:125%;
	text-align:left;
}

* html>body pre
{
	overflow:scroll !important;
}

.editTable .foswikiTable
{
	margin:0 0 2px;
}

.editTableEditImageButton
{
	border:none;
}

.foswikiAccessKey
{
	border:none;
}

.foswikiActionFormStepSign
{
	font-size:104%;
	margin-left:-20px;
	margin-top:-0.15em;
	position:absolute;
}

.foswikiAddFormButton
{
	float:right;
}

.foswikiAttachments .foswikiTable caption
{
	display:none;
}

.foswikiAttachments .foswikiTable td,
table.foswikiFormTable td
{
	height:1.5em;
	padding:3px 2em 3px 1em;
	text-align:left;
	vertical-align:top;
}

.foswikiAttachments .foswikiTable th
{
	border-style:none none solid solid;
	border-width:1px;
}

.foswikiAttachments .foswikiTable th,
table.foswikiFormTable th.foswikiFormTableHRow
{
	height:2.5em;
	padding:3px .5em;
	vertical-align:middle;
}

.foswikiAttachments .foswikiTable th.foswikiFirstCol,
.foswikiAttachments .foswikiTable td.foswikiFirstCol
{
	text-align:center;
	width:26px;
}

.foswikiAttachments .foswikiTable,
table.foswikiFormTable
{
	border-collapse:collapse;
	border-spacing:0;
	border-style:solid;
	border-width:1px;
	empty-cells:show;
	margin:10px 0 5px;
	padding:0;
}

.foswikiAttachments h3,
.foswikiForm h3,
.patternTwistyButton h3
{
	display:inline;
	font-size:1.1em;
	font-weight:bold;
	margin:0;
	padding:0;
}

.foswikiAttachments table
{
	line-height:1.5em;
	width:100%;
}

.foswikiAttachments,
.foswikiForm
{
	margin:1em 0;
	padding:1px;
}

.foswikiBroadcastMessage
{
	margin:0;
}

.foswikiBroadcastMessage,
.foswikiNotification
{
	padding:1em 20px;
}
.foswikiMessage {
	padding:.5em 20px;
	border:none;
}
.foswikiCheckbox,
.foswikiRadioButton
{
	border:0;
	margin:1px .25em 1px .1em;
	padding:0 0 0 .5em;
}

.foswikiDiffLineNumberHeader
{
	padding:.3em 0;
}

.foswikiEditboxStyleMono
{
	font-family:"Bitstream Vera Sans Mono","Andale Mono",Courier,monospace;
}

.foswikiEditboxStyleProportional
{
	font-family:arial,verdana,sans-serif;
}

.foswikiFormHolder
{
	width:100%;
}

.foswikiFormStep
{
	border-style:solid;
	border-width:0 0 1px;
	line-height:140%;
	padding:1em 40px;
}

.foswikiFormStep blockquote
{
	margin-left:1em;
	padding-bottom:.25em;
	padding-top:.25em;
}

.foswikiFormStep h2
{
	font-size:115%;
	font-weight:bold;
}

.foswikiFormStep h2,
.foswikiFormStep h3,
.foswikiFormStep h4
{
	border:none;
	margin:0 0 .1em;
	padding:0;
}

.foswikiFormStep h3
{
	font-size:115%;
	font-weight:bold;
}

.foswikiFormStep h4
{
	font-size:104%;
	font-weight:bold;
}

.foswikiFormStep p
{
	margin:.5em 0;
}

.foswikiFormSteps
{
	border-style:solid;
	border-width:1px 0 0;
	text-align:left;
}

.foswikiFormTable .foswikiTable th
{
	font-weight:bold;
}

.foswikiFormTable th
{
	font-weight:normal;
}

.foswikiHelp
{
	margin:0 0 .25em 0;
	padding:1em;
}

.foswikiHelp ul
{
	margin:0;
	padding-left:20px;
}

.foswikiImage img
{
	border-style:solid;
	border-width:1px;
	padding:3px;
}

.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly
{
	padding:.1em .2em;
}

.patternTwistyButton h3
{
	padding:.1em .2em;
}

.foswikiNewLink
{
	border-style:solid;
	border-width:0 0 1px;
}

.foswikiNewLink a
{
	margin-left:1px;
	text-decoration:none;
}

.foswikiNewLink a sup
{
	font-size:100%;
	padding:0 2px;
	text-align:center;
	text-decoration:none;
	vertical-align:baseline;
}



.foswikiNewLink a:link sup,
.foswikiNewLink a:visited sup
{
	border-style:solid;
	border-width:1px;
	text-decoration:none;
}

.foswikiNoBreak
{
	white-space:nowrap;
}

.foswikiNotification
{
	border-style:solid;
	border-width:1px;
	margin:1em 0;
}

.foswikiPageForm table
{
	border-style:solid;
	border-width:1px;
	width:100%;
}

.foswikiPageForm td.first
{
	padding-top:1em;
}

.foswikiPageForm th,
.foswikiPageForm td
{
	border:0;
	padding:.5em 1em;
}

.foswikiSearchResultCount
{
	font-weight:bold;
}

.foswikiSmall
{
	font-size:86%;
	line-height:1.5em;
}

.foswikiSmallish
{
	font-size:94%;
	line-height:1.5em;
}

.foswikiSummary
{
	font-size:86%;
}

.foswikiTable
{
	border-collapse:collapse;
	border-style:solid;
	margin:2px 0;
}

.foswikiTable .tableSortIcon
{
	margin:0 0 0 5px;
}

.foswikiTable h2,
.foswikiFormTable h2,
.foswikiTable h3,
.foswikiFormTable h3,
.foswikiTable h4,
.foswikiFormTable h4,
.foswikiTable h5,
.foswikiFormTable h5,
.foswikiTable h6,
.foswikiFormTable h6
{
	border:0;
	margin:0;
	padding-left:0;
	padding-right:0;
}

.foswikiTable td
{
	border-bottom-style:solid;
	border-top-style:solid;
	padding:.4em .8em;
}

.foswikiTable th
{
	border-left-style:solid;
	border-right-style:solid;
	padding:.4em .8em;
}

.foswikiTable,
.foswikiTable td,
.foswikiTable th
{
	border-width:1px;
}

.foswikiTextarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly
{
	font-size:100%;
}

.foswikiTextarea,
.foswikiInputField,
.foswikiInputFieldDisabled,
.foswikiInputFieldReadOnly,
.foswikiSelect
{
	border-style:solid;
	border-width:2px;
}

.foswikiTextarea,
.mceContentBody
{
	padding:1px 4px;
}

.foswikiToc
{
	margin:1em 0;
	padding:.3em 0 .6em;
}

.foswikiToc .foswikiTocTitle
{
	font-weight:bold;
	margin:0;
	padding:0;
}

.foswikiToc li
{
	margin-left:1em;
	padding-left:1em;
}

.foswikiToc ul
{
	list-style:none;
	margin:0;
	padding:0 0 0 .5em;
}

.foswikiTopic
{
	padding:1em 0 3em 0;
}

.foswikiWebIndent
{
	margin:0 0 0 1em;
}

.patternActionButtons a:link,
.patternActionButtons a:visited
{
	padding:1px 1px 2px;
}

.patternAttachPage .foswikiAttachments
{
	margin-top:0;
}

.patternAttachPage .foswikiAttachments .foswikiTable
{
	width:auto;
}

.patternAttachPage .patternTopicAction,
.patternRenamePage .patternTopicAction
{
	padding-left:40px;
}

.patternBookView
{
	border-style:solid;
	border-width:0 0 2px 2px;
	margin:.5em 0 1.5em -5px;
	padding:0 0 0 5px;
}

.patternBookView .foswikiBottomRow
{
	border:none;
	font-size:100%;
	padding:1em 0;
	width:auto;
}

.patternBookView .foswikiTopRow
{
	margin:1em -5px .15em;
	padding:.25em 5px .15em;
}

.patternButtonFontSelector
{
	height:16px;
	margin:0 8px 0 0;
	width:33px;
}

.patternContent .foswikiAttachments,
.patternContent .foswikiForm
{
	border-style:solid;
	border-width:2px 0 0;
	font-size:94%;
	margin:0;
	padding:1em 20px;
}

.patternDiff
{
	border-style:solid;
	border-width:0 0 2px 2px;
	margin:.5em 0 1.5em;
	padding:0 0 0 10px;
}

.patternDiff h4.patternSearchResultsHeader
{
	padding:.5em 10px;
}

.patternDiffPage .foswikiDiffTable
{
	margin:2em 0;
}

.patternDiffPage .foswikiDiffTable td
{
	padding:.25em;
}

.patternDiffPage .foswikiDiffTable th
{
	padding:.25em .5em;
}

.patternDiffPage .patternRevInfo ul
{
	list-style:none;
	margin:2em 0 0;
	padding:0;
}

.patternDiffPage td.foswikiDiffDebugLeft
{
	border-bottom:none;
}

.patternEditPage #patternMainContents
{
	padding-top:0;
}

.patternEditPage #patternMainContents,
.patternEditPage #patternBottomBarContents
{
	margin-left:1em;
	margin-right:1em;
}

.patternEditPage .foswikiForm
{
	border:none;
}

.patternEditPage .foswikiForm h1,
.patternEditPage .foswikiForm h2,
.patternEditPage .foswikiForm h3
{
	font-size:120%;
	font-weight:bold;
}

.patternEditPage .foswikiFormTable td,
.patternEditPage .foswikiFormTable th
{
	border-style:solid;
	border-width:0 0 1px;
	padding:.3em .4em;
	vertical-align:middle;
}

.patternEditPage .patternActionButtons
{
	margin:0.5em 0 0;
}

.patternEditPage .patternEditTopic
{
	margin:0 0 .5em;
	padding:5px;
}

.patternEditPage .revComment
{
	padding:1em 0 2em;
}

.patternHomePath .foswikiSeparator
{
	padding:0 .5em;
}

.patternHomePath .patternRevInfo
{
	font-size:94%;
	white-space:nowrap;
}

.patternHomePath .patternRevInfo a:hover
{
	border-style:none none solid;
	border-width:1px;
}

.patternHomePath a:link,
.patternHomePath a:visited
{
	border-style:none none solid;
	border-width:1px;
	text-decoration:none;
}

.patternContent
{
	margin:0;
}
.patternInfo
{
	margin:1.5em 0 0;
}

.patternLeftBarPersonal li
{
	padding-left:13px;
}

.patternLeftBarPersonalContent
{
	padding:1em 0 0;
}

.patternMetaMenu
{
	padding:15px 2em;
}

.patternMetaMenu input,
.patternMetaMenu select,
.patternMetaMenu select option
{
	margin:0;
}

.patternMetaMenu select option
{
	padding:1px 0 0;
}

.patternMetaMenu ul li
{
	display:inline;
	padding:0;
}

.patternMetaMenu ul li .foswikiInputField,
.patternMetaMenu ul li .foswikiSelect
{
	margin:0 0 0 1px;
}

.patternMoveAttachment
{
	margin:.5em 0 0;
	text-align:right;
}

.patternNoViewPage #patternMainContents,
.patternNoViewPage #patternBottomBarContents
{
	margin-left:2em;
	margin-right:2em;
}

.patternNoViewPage #patternOuter
{
	margin-left:0;
	margin-right:0;
}

.patternNoViewPage .foswikiTopic
{
	margin-top:1.5em;
}

.patternNoViewPage .patternTop
{
	font-size:94%;
}

.patternNoViewPage .patternTopicAction
{
	margin-top:-1px;
}

.patternOopsPage .patternTopicActions,
.patternEditPage .patternTopicActions
{
	margin:2em 0 0;
}

.patternSaveHelp
{
	line-height:1.5em;
	margin:1em 0 0;
}

.patternSaveOptions
{
	clear:both;
	margin:0.25em 0 0;
}

.patternSaveOptionsContents
{
	margin:.5em 0 0;
}

.patternSearchResult .foswikiAlert
{
	font-weight:bold;
}

.patternSearchResult .foswikiBottomRow
{
	border-style:solid;
	border-width:0 0 1px;
	margin-bottom:.1em;
	padding-bottom:.25em;
}

.patternSearchResult .foswikiNew
{
	border-style:solid;
	border-width:1px;
	font-size:86%;
	font-weight:bold;
	padding:0 1px;
}

.patternSearchResult .foswikiSRAuthor
{
	text-align:left;
	width:15%;
}

.patternSearchResult .foswikiSRRev
{
	text-align:left;
	width:30%;
}

.patternSearchResult .foswikiSummary .foswikiAlert
{
	font-weight:normal;
}

.patternSearchResult .foswikiTopRow
{
	margin-top:.1em;
	padding-top:.2em;
}

.patternSearchResultCount
{
	margin:1em 0 3em;
}

.patternSearchResults
{
	margin:0 0 1em;
}

.patternSearchResults .foswikiHelp
{
	display:block;
	margin:1em -5px .35em;
	padding:.1em 5px;
	width:auto;
}

.patternSearchResults blockquote
{
	margin:1em 0 1em 5em;
}

.patternSearchResults h3
{
	font-size:115%;
	font-weight:bold;
	margin:0;
	padding:.5em 40px;
}

.patternSearched
{
	display:block;
}

.patternSig
{
	text-align:right;
}

.patternSigLine
{
	border-style:none;
	margin:.5em 0 0;
}

.patternSmallLinkToHeader
{
	font-size:86%;
	font-weight:normal;
	margin:0 0 0 .15em;
}

.patternTextareaButton
{
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	display:block;
	margin:0 0 0 1px;
	overflow:hidden;
}

.patternToolBar
{
	display:block;
}

.patternToolBar span
{
	display:block;
	float:left;
	margin:0 0 0 4px;
}

.patternToolBar span a img
{
	padding:2px;
}

.patternToolBar span a:link img,
.patternToolBar span a:visited img,
.patternToolBar span a:hover img
{
	border-style:solid;
	border-width:1px;
}

.patternToolBar span a:link,
.patternToolBar span a:visited,
.patternToolBar img
{
	border:none;
	margin:0;
	padding:0;
}

.patternTop
{
	font-size:.9em;
	padding:1.5em 0 .25em 0;
}

.patternTopicAction
{
	border-style:solid;
	border-width:1px 0 0;
	line-height:1.5em;
	padding:.4em 20px;
}

.patternTopicActions
{
	border:none;
}

.patternTopicFooter
{
	margin:1em 0 0;
}

.patternWebIndicator a
{
	font-size:1.1em;
	font-weight:bold;
}

.tagMePlugin input
{
	border:0;
}

.tagMePlugin select
{
	margin:0 .25em 0 0;
}

.tipsOfTheDay
{
	padding:10px;
}


tr.foswikiDiffDebug td
{
	border-style:solid;
	border-width:1px;
}

.patternPrintPage :link,
.patternPrintPage .foswikiTopic :link,
.patternPrintPage :visited,
.patternPrintPage .foswikiTopic a:visited
{
	text-decoration:underline;
}

/* preview.pattern.tmpl */

.patternPreviewPage .foswikiTopic {
	margin-bottom:0;
}
.foswikiPreviewArea,
.patternPreviewPage .foswikiForm {
	border-width:1px;
	border-style:solid;
	margin:0 0 1.5em 0;
	padding:2em;
}
