/* Foswiki base CSS */

/* Javascript related classes */

/* made visible if javascript available */
.foswikiMakeVisible,
.foswikiMakeVisibleInline,
.foswikiMakeVisibleBlock {
	display:none;
}
/* for all inline elements - block level elements are handled below */
.foswikiJs .foswikiMakeVisible {
	display:inline;
}
.foswikiJs p.foswikiMakeVisible,
.foswikiJs h1.foswikiMakeVisible,
.foswikiJs h2.foswikiMakeVisible,
.foswikiJs h3.foswikiMakeVisible,
.foswikiJs h4.foswikiMakeVisible,
.foswikiJs h5.foswikiMakeVisible,
.foswikiJs h6.foswikiMakeVisible,
.foswikiJs dl.foswikiMakeVisible,
.foswikiJs dt.foswikiMakeVisible,
.foswikiJs dd.foswikiMakeVisible,
.foswikiJs ol.foswikiMakeVisible,
.foswikiJs ul.foswikiMakeVisible,
.foswikiJs li.foswikiMakeVisible,
.foswikiJs address.foswikiMakeVisible,
.foswikiJs blockquote.foswikiMakeVisible,
.foswikiJs center.foswikiMakeVisible,
.foswikiJs del.foswikiMakeVisible,
.foswikiJs div.foswikiMakeVisible,
.foswikiJs form.foswikiMakeVisible,
.foswikiJs hr.foswikiMakeVisible,
.foswikiJs ins.foswikiMakeVisible,
.foswikiJs noscript.foswikiMakeVisible,
.foswikiJs pre.foswikiMakeVisible,
.foswikiJs table.foswikiMakeVisible {
	display:block;
}
.foswikiJs .foswikiMakeVisibleInline {
	/* deprecated */
	display:inline;
}
.foswikiJs .foswikiMakeVisibleBlock {
	/* deprecated */
	display:block;
}
/* made hidden if javascript available */
.foswikiJs .foswikiMakeHidden {
	display:none;
}

/* END Javascript related classes */


.foswikiLeft {
	float:left;
}
.foswikiRight {
	float:right;
}
.foswikiClear,
.foswikiFormStep p.foswikiClear {
	/* to clean up floats */
	margin:0;
	padding:0;
	height:0;
	line-height:0px;
	clear:both;
	display:block;
}
.foswikiHidden {
	display:none;
}
.foswikiSmall {
	font-size:86%;
	line-height:110%; /*S3*/
}
.foswikiSmallish {
	font-size:94%; /*S2*/
}
.foswikiLarge {
	font-size:1.3em;
	line-height:1.5em;
}
.foswikiBroadcastMessage,
.foswikiNotification {
	background-color:#fff7e7;
	padding:.25em .5em;
	margin:0 0 1em 0;
}
.foswikiBroadcastMessage b,
.foswikiBroadcastMessage strong {
	color:#f00;
}
.foswikiMessage {
	padding:.5em 10px;
	background-color:#fff7e7;
	border:none;
}
.foswikiAlert,
.foswikiAlert code {
	color:#f00;
}
.foswikiNewLink,
.foswikiNewLink:link,
.foswikiNewLink:visited {
    color: #b00000;
    text-decoration: none;
    border-bottom: 1px dotted #b00000;
}
.foswikiNewLink:link:hover {
    color: #b00000;
    text-decoration: none;
    border-bottom: 1px solid #b00000;
}
.foswikiEmulatedLink {
	text-decoration:underline;
}
.foswikiAccessKey {
	text-decoration:none;
	border-width:0 0 1px 0;
	border-style:solid;
}
a:hover .foswikiAccessKey {
	text-decoration:none;
	border:none;
}
img {
	border:0;
	vertical-align:middle;
}
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5+ */
    white-space: -moz-pre-wrap;  /* Older Versions of Mozilla */
    width:auto;
    margin:1em 0; /* Win IE tries to make this bigger otherwise */
    padding:1em;
}
.foswikiImage img {
	padding:3px;
	border-width:1px;
	border-style:solid;
}
.foswikiPreviewArea {
	border-width:1px;
	border-style:solid;
	border-color:#f00;
	margin:1em 0;
	padding:1em;
}
.foswikiSummary em {
	font-weight:bold;
	font-style:normal;
	color:#000;
}
/* tabs */
.foswikiTabs ul {
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	bottom:0;
}
.foswikiTabs ul li {
	display:inline;
}
.foswikiTabs ul li a,
.foswikiTabs ul li a:link,
.foswikiTabs ul li a:hover,
.foswikiTabs ul li a:visited {
	text-decoration:none;
	color:#000;
}
.foswikiTabs ul li a,
.foswikiTabs ul li span {
	display:block;
	float:left;
	margin:0 6px 0 0;
	padding:.35em .7em;	
	border-style:solid;
	border-width:1px;
	border-color:#ccc;
	background:#eee;
}
.foswikiTabs ul li a,
.foswikiTabs ul li span,
.foswikiTabContent {
	border-style:solid;
	border-width:1px;
	border-color:#ccc;
}
.foswikiTabs ul li.foswikiActiveTab a,
.foswikiTabs ul li a:hover,
.foswikiTabs ul li span {
	border-bottom-color:#fff;
	background:#fff;
}
.foswikiTabContent {
	margin:-1px 0 1em 0;
	padding:.7em;
	background:#fff;
}
.foswikiHorizontalList ul {
	margin:0;
	padding:0;
	list-style:none;
	clear:both;
}
.foswikiHorizontalList ul li {
	float:left;
	display:block;
	padding:0 .5em;
	border-style:none solid none none;
	border-width:1px;
}
.foswikiHorizontalList ul li.foswikiLast {
	border:none;
}

/* colors */
.foswikiYellowFG { color:#ffff00; }
.foswikiOrangeFG { color:#ff6600; }
.foswikiRedFG    { color:#ff0000; }
.foswikiPinkFG   { color:#ff00ff; }
.foswikiPurpleFG { color:#800080; }
.foswikiTealFG   { color:#008080; }
.foswikiNavyFG   { color:#000080; }
.foswikiBlueFG   { color:#0000ff; }
.foswikiAquaFG   { color:#00ffff; }
.foswikiLimeFG   { color:#00ff00; }
.foswikiGreenFG  { color:#008000; }
.foswikiOliveFG  { color:#808000; }
.foswikiMaroonFG { color:#800000; }
.foswikiBrownFG  { color:#996633; }
.foswikiBlackFG  { color:#000000; }
.foswikiGrayFG   { color:#808080; }
.foswikiSilverFG { color:#c0c0c0; }
.foswikiWhiteFG  { color:#ffffff; }

.foswikiYellowBG { background-color:#ffff00; }
.foswikiOrangeBG { background-color:#ff6600; } 
.foswikiRedBG    { background-color:#ff0000; } 
.foswikiPinkBG   { background-color:#ff00ff; } 
.foswikiPurpleBG { background-color:#800080; } 
.foswikiNavyBG   { background-color:#000080; } 
.foswikiBlueBG   { background-color:#0000ff; } 
.foswikiTealBG   { background-color:#008080; } 
.foswikiAquaBG   { background-color:#00ffff; } 
.foswikiLimeBG   { background-color:#00ff00; } 
.foswikiGreenBG  { background-color:#008000; } 
.foswikiOliveBG  { background-color:#808000; } 
.foswikiMaroonBG { background-color:#800000; } 
.foswikiBrownBG  { background-color:#996633; } 
.foswikiBlackBG  { background-color:#000000; } 
.foswikiGrayBG   { background-color:#808080; } 
.foswikiSilverBG { background-color:#c0c0c0; } 
.foswikiWhiteBG  { background-color:#ffffff; } 
