/* Foswiki base CSS */

.foswikiMakeVisible,
.foswikiMakeVisibleInline,
.foswikiMakeVisibleBlock {
	display:none; /* will be made visible with javascript */
}
.foswikiLeft {
	float:left;
	position:relative;
}
.foswikiRight {
	position:relative;
	float:right;
	display:inline;
	margin:0;
}
.foswikiClear {
	/* to clean up floats */
	margin:0;
	padding:0;
	height:0;
	line-height:0px;
	clear:both;
	display:block;
}
.foswikiHidden {
	display:none;
}
.foswikiSmall {
	font-size:86%;
	line-height:110%; /*S3*/
}
.foswikiSmallish {
	font-size:94%; /*S2*/
}
.foswikiBroadcastMessage {
	background-color:#ff0;
	padding:.25em .5em;
	margin:0 0 1em 0;
}
.foswikiBroadcastMessage b,
.foswikiBroadcastMessage strong {
	color:#f00;
}
.foswikiAlert,
.foswikiAlert code {
	color:#f00;
}
.foswikiEmulatedLink {
	text-decoration:underline;
}
.foswikiAccessKey {
	text-decoration:none;
	border-width:0 0 1px 0;
	border-style:solid;
}
a:hover .foswikiAccessKey {
	text-decoration:none;
	border:none;
}
.foswikiImage img {
	padding:3px;
	border-width:1px;
	border-style:solid;
}
.foswikiPreviewArea {
	border-width:1px;
	border-style:solid;
	border-color:#f00;
	margin:1em 0;
	padding:1em;
}
