%{ This is a default template }%<div class="twikiChangeFormButtonHolder"><input class="twikiButton" type="submit" name="action_addform" value="%MAKETEXT{"Add form"}%" /></div><br class="twikiClear" />