%{ This is a default template }%%TMPL:INCLUDE{"attach"}%

%TMPL:DEF{"titleaction"}%(attach) %TMPL:END%
%TMPL:DEF{"headerhelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}% Update attachment *%FILENAME%* on *%TOPIC%* %TMPL:END%
%TMPL:DEF{"previousdetails"}%
---++ Update attachment <code>%FILENAME%</code>
%ATTACHTABLE% %TMPL:END%
%TMPL:DEF{"previous"}%
  <tr>
  <td align="right">
   Previous <br /> upload:
  </td><td>
   <code>%FILEPATH%</code> %TMPL:P{"fileuser"}%
  </td>
 </tr>%TMPL:END%
%TMPL:DEF{"extranotes"}%   * %MAKETEXT{"*Properties:* The comment and visibility (i.e. is attachment hidden) can be changed without uploading a file by pressing \"Change Properties only\"."}% %POPUPWINDOW{"%SYSTEMWEB%.HiddenAttachment" label="%MAKETEXT{"More on hiding attachments"}%"}%%JQREQUIRE{"popupwindow"}%
   * %MAKETEXT{"*Change comment:* If you use _Change Properties_ to change a comment, the comment shown in the topic will change, but the comment shown against the attachment history will be the comment when the file was uploaded."}%
   * %MAKETEXT{"*Attach new file:* If you select a different file in the browser, it is this that will be updated or added."}%
%TMPL:END%
%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="foswikiSubmit" value="%MAKETEXT{"Upload file"}%" />%TMPL:P{"sep"}%<input type="submit" class="foswikiSubmit" name="changeproperties" value="%MAKETEXT{"Change properties only"}%" />%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?attachment=%FILENAME%" rel='nofollow'>%MAKETEXT{"Move or delete attachment"}%</a>%TMPL:P{"sep"}%%TMPL:P{"canceltopicaction"}%%TMPL:END%
%TMPL:DEF{"fileuser"}%(%FILEUSER%)%TMPL:END%
%TMPL:P{"attach"}%%{ end }%
