%{ This is a default template }%%{ These templates define the tables used to display attachments. }%

%{ Top table row definition for topic attachments and top table in attach screen }%
%TMPL:DEF{ATTACH:files:header(toprow)}%| *I* | *%MAKETEXT{"Attachment"}%* | *%MAKETEXT{"Action"}%* | *%MAKETEXT{"Size"}%* | *%MAKETEXT{"Date"}%* | *%MAKETEXT{"Who"}%* | *%MAKETEXT{"Comment"}%* |%TMPL:END%

%{ Header definition for topic attachments and top table in attach screen }%
%TMPL:DEF{ATTACH:files:header(basic)}%<div class="foswikiAttachments">
%TMPL:P{ATTACH:files:header(toprow)}%%TMPL:END%

%{ A basic row definition, for attachment table and attach screen }%
%{ Use %A_URL% instead of %PUBURLPATH%/%WEB%/%TOPIC%/%A_FILE% to get a viewfile link }%
%TMPL:DEF{ATTACH:files:row(basic)}%| %A_ICON%<span class="foswikiHidden">%A_EXT%</span> | <a href="%ATTACHURLPATH%/%ENCODE{%A_FILE%}%"><noautolink>%A_FILE%</noautolink></a> | <a href="%SCRIPTURLPATH{"attach"}%/%WEB%/%TOPIC%?filename=%ENCODE{"%A_FILE%"}%;revInfo=1" title="%MAKETEXT{"change, update, previous revisions, move, delete..."}%" rel="nofollow">%MAKETEXT{"manage"}%</a> |  %A_SIZE%|<span class="foswikiNoBreak">%A_DATE%</span> |%A_USER%  |%A_COMMENT%  |%TMPL:END%

%{ Header for topic attachment table }%
%TMPL:DEF{ATTACH:files:header}%%TMPL:P{"settmltablesummary" 
   SUMMARY="%MAKETEXT{"Attachments"}%"
}%%TMPL:P{ATTACH:files:header(basic)}%
%TMPL:END%

%{ Row for topic attachment table }%
%TMPL:DEF{ATTACH:files:row}%%TMPL:P{ATTACH:files:row(basic)}%
%TMPL:END%

%{ Footer for topic attachment table }%
%TMPL:DEF{ATTACH:files:footer}%</div>%TMPL:END%

%{ Header for table at top of attach screen }%
%TMPL:DEF{ATTACH:files:header:A}%%TMPL:P{"settmltablesummary"
   SUMMARY="%MAKETEXT{"Attachments"}%"
}%%TMPL:P{ATTACH:files:header(basic)}% *%MAKETEXT{"Attribute"}%* |
%TMPL:END%

%{ Row for table at top of attach screen }%
%TMPL:DEF{ATTACH:files:row:A}%%TMPL:P{ATTACH:files:row(basic)}%  %A_ATTRS% |
%TMPL:END%

%{ Footer for table at top of attach screen }%
%TMPL:DEF{ATTACH:files:footer:A}%</div>%TMPL:END%

%{ Header for versions table in attach screen }%
%TMPL:DEF{ATTACH:versions:header}%%TMPL:P{"settmltablesummary"
   SUMMARY="%MAKETEXT{"Attachment history"}%"
}%|  *%MAKETEXT{"Version"}%*  |  *%MAKETEXT{"Action"}%*   |  *%MAKETEXT{"Date"}%*  |  *%MAKETEXT{"Who"}%*  |  *%MAKETEXT{"Comment"}%*  |
%TMPL:END%

%{ Row for versions table in attach screen }%
%{ Use %A_URL% instead of %PUBURLPATH%/%WEB%/%TOPIC%/%A_FILE% to get a viewfile link }%
%TMPL:DEF{ATTACH:versions:row}%| %A_REV%  | <a href="%SCRIPTURL{viewfile}%/%WEB%/%TOPIC%?filename=%ENCODE{%A_FILE%}%;rev=%A_REV%">%MAKETEXT{"view"}%</a>  |  <span class="foswikiNoBreak">%A_DATE%</span>|%A_USER%  |%A_COMMENT%  |
%TMPL:END%

%{ Footer for versions table in attach screen }%
%TMPL:DEF{ATTACH:versions:footer}%%TMPL:END%

%{ Content accessibility guidelines require a summary attribute on tables. If
   TablePlugin is enabled, use TABLE macro to set it for the following TML table
}%

%TMPL:DEF{"settmltablesummary:tablemacro"}%%TABLE{summary="%SUMMARY%"}%
%TMPL:END%

%TMPL:DEF{"settmltablesummary"}%%TMPL:P{
   context="TablePluginEnabled"
   then="settmltablesummary:tablemacro"
   SUMMARY="%SUMMARY%"
}%%TMPL:END% 
