%{ This is a default template }%%TMPL:INCLUDE{"foswiki"}%
%TMPL:INCLUDE{"search"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(changes)"}% %TMPL:END%


%TMPL:DEF{"topicactionbuttons"}% Subscribe or unsubscribe in %NOTIFYTOPIC% %TMPL:END%

%TMPL:P{"topicinfo"}%%TMPL:END%

%TMPL:DEF{"CHANGES:header"}%%TMPL:DEF{"SEARCH:header"}%%TMPL:END%
%TMPL:DEF{CHANGES:format}%%TMPL:DEF{"SEARCH:format"}%%TMPL:END%
%TMPL:DEF{CHANGES:footer}%%TMPL:DEF{"SEARCH:footer"}%%TMPL:END%
