%{ This is a default template }%
%TMPL:DEF{"defaultstyle"}%%TMPL:P{"styles:base"}%
%TMPL:P{"styles:default"}%
%TMPL:P{"styles:iespecific"}%
%TMPL:P{"templatestyle"}%%TMPL:END%
%{}%
%TMPL:DEF{"styles:base"}%<style type="text/css" media="all">
@import url('%PUBURLPATH%/%SYSTEMWEB%/SkinTemplates/base.css');
</style>%TMPL:END%
%{}%
%TMPL:DEF{"styles:default"}%<style type="text/css" media="all">
@import url('%PUBURLPATH%/%SYSTEMWEB%/SkinTemplates/default.css');
</style>%TMPL:END%
%{}%
%TMPL:DEF{"styles:iespecific"}%<!--[if IE]><style type="text/css" media="screen">
pre {
	overflow-x:auto;
	padding-bottom:expression(this.scrollWidth > this.offsetWidth ? 16 : 0);
}
</style>
<![endif]-->%TMPL:END%