%{ This is a default template }%<style type="text/css" media="print">
	a:link:after,
	a:visited:after {
		content: " (" attr(href) ") ";
		font-size:85%; /*S3*/
	}
	/* define custom print styles here */
</style>