%{ This is a default template }%

%{These templates define the form attached at the bottom of viewed page. }%

%TMPL:DEF{noal}%<noautolink>%TMPL:END%
%TMPL:DEF{nonoal}%</noautolink>%TMPL:END%

%{ Header definition for topic attachments and top table in attach screen.
   The $title token will be expanded }%
%TMPL:DEF{FORM:display:header}%
<div class="foswikiForm">
<table class='foswikiFormTable' border='1' summary='%MAKETEXT{"Form data"}%'><tr><th class='foswikiFormTableHRow foswikiFirstCol' colspan='2'>%TMPL:P{context="preview" then="FORM:display:titlename" else="FORM:display:titlelink"}% </th></tr>%TMPL:END%

%{ Each row, all field tokens will be expanded }%
%TMPL:DEF{FORM:display:row}%%TMPL:P{context="preview" then="noal"}%<tr valign='top'><td class='foswikiFormTableRow foswikiFirstCol' align='right'> $title</td><td> $value(display) </td></tr>%TMPL:P{context="preview" then="nonoal"}%%TMPL:END%

%{ Footer. The $title token will be expanded }%
%TMPL:DEF{FORM:display:footer}%</table></div>%TMPL:END%


%TMPL:DEF{FORM:display:titlelink}% $title %TMPL:P{FORM:display:editlink}%%TMPL:END%


%TMPL:DEF{FORM:display:titlename}%<noautolink> $title </noautolink>%TMPL:END%


%TMPL:DEF{FORM:display:editlink}%<span class='foswikiSmall'><a href='%SCRIPTURL{edit}%/%WEB%/%TOPIC%?t=%GMTIME{$epoch}%;action=form'>%MAKETEXT{"edit"}%</a></span>%TMPL:END%
