%{
This is the "master template" file for Foswiki. The definitions are used in
other templates, such as view.tmpl, which in turn define a number of macros
that are instantiated at the end of this file.
---------------------------------------------------
Handy macro for including JS from system paths. Not used in base templates,
but may be used in derived templates.
}%%TMPL:DEF{"LIBJS"}%%ADDTOZONE{
 "script"
 id="%id%"
 text="<script type=\"text/javascript\" src=\"%PUBURLPATH%/%SYSTEMWEB%/%id%%FWSRC%.js\"></script>"
 requires="%requires%"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:INCLUDE{"css"}%%{
---------------------------------------------------
}%%TMPL:DEF{"sep"}%<span class='foswikiSeparator'> | </span>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"titlesep"}% &lt; %TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"LOG_IN"}%%MAKETEXT{"Login"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"LOG_OUT"}%%MAKETEXT{"Logout"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"onlywikinamewarning"}%<p class="foswikiAllowNonWikiWord"><label><input type="checkbox" name="onlywikiname" %IF{"$ 'URLPARAM{onlywikiname}'!='off'" then="checked=\"checked\""}% /> %MAKETEXT{"Allow only <nop>WikiWord for the new topic name"}%</label>%TMPL:P{"onlywikinamehelp"}%</p>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"onlywikinamehelp"}%%TWISTY{mode="span"}% %MAKETEXT{"It's usually best to choose a [_1] for the new topic name, otherwise automatic linking may not work. Characters not allowed in topic names, such as spaces will automatically be removed." args="%POPUPWINDOW{"%SYSTEMWEB%.WikiWord" label="WikiWord"}%"}%%JQREQUIRE{"popupwindow"}%%ENDTWISTY%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"onlywikinameallowed"}%<input type="hidden" name="onlywikiname" value="%URLPARAM{"onlywikiname" default="on"}%" />%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"onlywikiname"}%%TMPL:P{"onlywikinamewarning"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"htmldoctype"}%<!DOCTYPE html>
<html lang="%LANG%">%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"script"}%%TMPL:P{"script:skinbase"}%%TMPL:P{"script:skintemplate"}%%TMPL:P{"script:topictemplate"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"script:skinbase"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"script:skintemplate"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"script:topictemplate"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"windowtitle"}%<title>%TMPL:P{"titleaction"}% <nop>%BASETOPIC%%TMPL:P{"titlesep"}%%BASEWEB%%TMPL:P{"titlesep"}%<nop>%WIKITOOLNAME%</title>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"head"}%<head>
%TMPL:P{"windowtitle"}%
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="noindex" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5, user-scalable=yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> %HTTP_EQUIV_ON_VIEW%
<link rel="icon" href="%FAVICON%" type="image/x-icon" /> <link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
<link rel="alternate" href="%SCRIPTURL{edit}%/%BASEWEB%/%BASETOPIC%?t=%GMTIME{"$epoch"}%" type="application/x-wiki" title="edit %BASETOPIC%" />
<meta name="description" content="%TOPIC%" />
    <base href="%SCRIPTURL{%SCRIPTNAME%}%/%WEB%/%TOPIC%" /><!--[if IE]></base><![endif]-->
%TMPL:P{"defaultstyle"}%
%RENDERZONE{"head"}%
%RENDERZONE{"script"}%
%TMPL:P{"script"}%
</head>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"titleaction"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"webaction"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"bodyclassname"}%%IF{"'%TOPIC%' allows 'CHANGE'" then=" foswikiHasChangePermission" else=" foswikiHasNoChangePermission"}%%IF{"context authenticated" then=" foswikiLoggedIn" else=" foswikiGuest"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"bodystart"}%<body class="foswikiNoJs %TMPL:P{"bodyclassname"}%"><div class="foswikiPage">
#PageTop %TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"bodyend"}%</div>
</body></html>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"broadcastmessage"}%%IF{"defined FOSWIKI_BROADCAST and $FOSWIKI_BROADCAST != ''" then="$percntTMPL:P{$quotbroadcastmessage:system$quot}$percnt"}%%IF{"defined BROADCASTMESSAGE and $BROADCASTMESSAGE != ''" then="$percntTMPL:P{$quotbroadcastmessage:contents$quot}$percnt"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"broadcastmessage:contents"}%<div class="foswikiBroadcastMessage"> %BROADCASTMESSAGE% </div>%TMPL:END%%{
}%%TMPL:DEF{"broadcastmessage:system"}%<div class="foswikiAlert"> %FOSWIKI_BROADCAST% </div>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"attachments"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"standardheader"}%
<div style="margin:0 0 0 0em; padding:3px; background-color:%WEBBGCOLOR%">
<div>
<div class="foswikiLeft" style="padding-right:2em;"><noautolink><a href="%WEBLOGOURL%" rel='nofollow'><img src="%WEBLOGOIMG%" border="0" alt="%WEBLOGOALT%" /></a></noautolink></div>
<div class="foswikiLeft">
<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%HOMETOPIC%">%WEB%</a> &gt; %META{"parent" nowebhome="on" suffix=" &gt;"}% <b>%TOPIC%</b> %TMPL:P{"titleaction"}%</div>
<div class="foswikiRight foswikiSmall">%WIKITOOLNAME% webs: %WIKIWEBLIST% &nbsp; %TMPL:P{"login"}%</div><div class="foswikiClear"></div></div>
<form name="main" action="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%" method="post">
%TMPL:P{"webaction"}%</form><div class="foswikiRight foswikiToolBar">%TMPL:P{"top:toolbarbuttons"}%</div></div>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"simpleheader"}%
<div style="margin:0 0 0 0em; padding:3px; background-color:%WEBBGCOLOR%">
<div><div class="foswikiLeft"  style="padding-right:2em;"><noautolink><img src="%WEBLOGOIMG%" border="0" alt="%WEBLOGOALT%" /></noautolink></div>
<div class="foswikiLeft"> %WEB%&nbsp; %TOPIC% %TMPL:P{"titleaction"}%</div><div class="foswikiClear"></div></div></div>%TMPL:P{"headerhelp"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"copyright"}%<div class="foswikiCopyright">%WEBCOPYRIGHT%</div>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"footernote"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"content"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"contentwrapper"}%%TMPL:P{"content"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"standardfooter"}%
#PageBottom
%TMPL:P{"footernote"}%%TMPL:P{"copyright"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"canceltopicaction"}%[[%WEB%.%TOPIC%][%MAKETEXT{"Cancel"}%]]%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"oktopicaction"}%[[%WEB%.%TOPIC%][%MAKETEXT{"OK"}%]]%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"gobacktopicaction"}%<a href="#" onclick="history.go(-1); return false;">%MAKETEXT{"Go back"}%</a>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"topicaction"}%<div class="foswikiTopicActions" >%TMPL:P{"topicactionbuttons"}%</div>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"topicactionbuttons"}%%TMPL:P{"canceltopicaction"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"topicinfo"}%<div class="foswikiTopicInfo" style="background:%WEBBGCOLOR%">
%TMPL:P{"topicaction"}%</div>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"main"}%<div class="foswikiMain">%TMPL:P{"simpleheader"}%%{
---------------------------------------------------
}%%TMPL:P{"pagetitlestylewrapper"}%%TMPL:P{"contentwrapper"}%%{
---------------------------------------------------
}%%TMPL:P{"standardfooter"}%</div>%TMPL:END%%{
---------------------------------------------------
Container displayed just above the topic text: }%
%TMPL:DEF{"contentheader"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"contentheaderstylewrapper"}%<div class="foswikiContentHeader">%TMPL:P{"contentheader"}%</div>%TMPL:END%%{
---------------------------------------------------
Container displayed just below the topic text: }%
%TMPL:DEF{"contentfooter"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"contentfooterstylewrapper"}%<div class="foswikiContentFooter">%TMPL:P{"contentfooter"}%</div>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"revisions"}%<a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPIC%?type=history" title="%MAKETEXT{"View complete topic history"}%" accesskey="H" rel="nofollow">%MAKETEXT{"&History"}%</a>: %REVISIONS% %TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"login"}%%TMPL:P{context="can_login" then="login_actions"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"admin_logged_in"}% (admin)%TMPL:P%%{
---------------------------------------------------
}%%TMPL:DEF{"logged_in"}%<strong>%MAKETEXT{"Hello [_1]!" args="[[%WIKIUSERNAME%][%SPACEOUT{%WIKINAME%}%%TMPL:P{context="isadmin" then="admin_logged_in"}%]]"}%</strong> %LOGOUT%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"not_logged_in"}%%LOGIN% %MAKETEXT{"or"}% [[%SYSTEMWEB%.UserRegistration][%MAKETEXT{"Register"}%]]%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"login_actions"}%%TMPL:P{context="authenticated" then='logged_in' else='not_logged_in'}%%TMPL:END%%{
---------------------------------------------------
app-style page layout
additional style
%TMPL:DEF{"templatestyle"}%%TMPL:END%%{
---------------------------------------------------
title string in page:
}%%TMPL:DEF{"pagetitle"}%%TMPL:P{"webaction"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"pagetitlestylewrapper"}%<h1>%TMPL:P{"pagetitle"}%</h1>%TMPL:END%%{
---------------------------------------------------
formatting macros
webListIndent - used in WEBLIST
}%%TMPL:DEF{"webListIndent"}%<span class='foswikiWebIndent'></span>%TMPL:END%%{
---------------------------------------------------
icon:image - uses double quotes required for legacy reasons :/ 
}%%TMPL:DEF{"icon:image"}%<span class='foswikiIcon'><img src="%URL%" width="%WIDTH%" height="%HEIGHT%" alt="%ALT%" /></span>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"icon:image_singlequote"}%<span class='foswikiIcon'><img src='%URL%' width='%WIDTH%' height='%HEIGHT%' alt='%ALT%' /></span>%TMPL:END%%{
---------------------------------------------------
support for default skin's webtopiclist
}%%TMPL:DEF{"defaultwebtopiclist"}%[[WebChanges][Changes]] %SEP% [[WebIndex][Index]] %SEP% [[WebSearch][Search]] %SEP% Go <input type="text" name="topic" size="16" />%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"webtopiclist"}%%IF{"defined 'WEBTOPICLIST'" 
  then="$percntWEBTOPICLIST$percnt" 
  else="$percntTMPL:P{\"defaultwebtopiclist\"}$percnt"
}%%TMPL:END%%{
---------------------------------------------------
The complete document
---------------------------------------------------
}%%TMPL:DEF{"document"}%%TMPL:P{"htmldoctype"}%%TMPL:P{"htmlstart"}%
%TMPL:P{"head"}% 
%TMPL:P{"bodystart"}%%TMPL:P{"main"}%%TMPL:P{"bodyend"}%%TMPL:P{"htmlend"}%%TMPL:END%%{
---------------------------------------------------
The bit that controls the output _SHOULD_ be last in the foswiki.SKIN.tmpl
file.
}%%TMPL:P{"document"}%
%{ REQUIRED: comment after output definition to filter out newlines }%
