%{
This is the 'master template' file for Foswiki HTML generation.  The definitions
are expanded in Foswiki::Render::HTML.  The default template name is the name of
called function:   HTML::textarea() will expand the 'textarea' template by default.
---------------------------------------------------
}%
%TMPL:DEF{"textarea"}%<textarea rows='%ROWS%' cols='%COLS%' class='%CLASS%' name='%NAME%' id='%ID%' %READONLY% %DISABLED% style='%STYLE%'>%TEXT%</textarea>%TMPL:END%
%TMPL:DEF{"textfield"}%<input type='text' name='%NAME%' value='%VALUE%' size='%SIZE%' class='%CLASS%' id='%ID%' %READONLY% %DISABLED% />%TMPL:END%
%TMPL:DEF{"cbgroup:table"}%<table>%TEXT%</table>%TMPL:END%
%TMPL:DEF{"cbgroup:row"}%<tr>%TEXT%</tr>%TMPL:END%
%TMPL:DEF{"cbgroup:checkbox"}%<td><label><input type='checkbox' name='%NAME%' value='%VALUE%' %CHECKED% class='%CLASS%' title='%TITLE%'/>%LABEL%</label></td>%TMPL:END%
%TMPL:DEF{"radio:table"}%<table>%TEXT%</table>%TMPL:END%
%TMPL:DEF{"radio:row"}%<tr>%TEXT%</tr>%TMPL:END%
%TMPL:DEF{"radio:button"}%<td><label><input name='%NAME%' value='%VALUE%' %CHECKED% class='%CLASS%' title='%TITLE%' type='radio'/>%LABEL%</label></td>%TMPL:END%
