%{ This is a default template }%%TMPL:INCLUDE{"login"}%

%TMPL:DEF{"webaction"}%%MAKETEXT{"Admin Foswiki User Authentication"}%%TMPL:END%
%TMPL:DEF{"LOGGED_IN_BANNER"}%%MAKETEXT{"[_1] is currently logged in" args="%USERSWEB%.%WIKINAME%"}%%TMPL:END%
%TMPL:DEF{"UNRECOGNISED_USER"}%%MAKETEXT{"Unrecognised user and/or password"}%%TMPL:END%

%TMPL:DEF{"title"}%<h2>%MAKETEXT{"Please enter the Wiki admin password"}%</h2>
%TMPL:END%

%TMPL:DEF{"usernamefield"}%<input tabindex='1' readonly="readonly" class="foswikiInputFieldDisabled" type="text" size="40" name="username" value="<nop>%WIKIADMINLOGIN%"  %TMPL:P{context="no_auto_complete_login" then="autocomplete_off"}% />%TMPL:END%

%TMPL:DEF{"usernamefieldhelp"}%%TMPL:END%

%TMPL:DEF{"passwordfield"}%<input tabindex='1' type='password' class='foswikiInputField foswikiFocus' size='40' name='password' value='' %TMPL:P{context="no_auto_complete_login" then="autocomplete_off"}% />%TMPL:END%


%TMPL:DEF{"usernamenote"}%%TMPL:P{"authrealm"}%%TMPL:END%

%TMPL:DEF{"passwordnote"}%%TMPL:END%

%TMPL:DEF{"loginasadministratorform"}%%TMPL:END%

%TMPL:DEF{"authrealm"}%<span class="foswikiUnvisited">%MAKETEXT{"Enter the Wiki Administrator user or login as set in [_1]" args="[[%SCRIPTURL{configure}%][configure]]"}%</span>%TMPL:END%
