%{ This is a default template

   SYSTEM MESSAGES

   NOTE: IF YOU ADD ANY MESSAGES TO THIS FILE, PLEASE MAKE SURE THEY ARE
   ALSO ADDED TO THE RELEVANT TESTCASE IN THE TestCases WEB
   (e.g. TestCases.TestCaseOopsAttention)!

Messages involved in registration and password management are in 
registermessages.tmpl
================================================================================
     Messages for oopsattention
================================================================================}%
%TMPL:DEF{"created_web"}%
---+++ %MAKETEXT{"The new web has been created"}%
%MAKETEXT{"And populated with topics from the base web"}%

%MAKETEXT{"Would you like to go to:"}%
	* %MAKETEXT{"[_1] to start working on the new web" args="[[%HOMETOPIC%]]"}%
	* %MAKETEXT{"[_1] to customize the web specific preferences" args="[[%WEBPREFSTOPIC%]]"}%
	* %MAKETEXT{"[_1] to create another web" args="[[%SYSTEMWEB%.ManagingWebs]]"}%
	* %MAKETEXT{"[_1] home" args="[[%WIKIHOMEURL%][%WIKITOOLNAME%]]"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"merge_notice"}%
---+++ %MAKETEXT{"Topic was merged"}%
%MAKETEXT{"Rev [_1] was edited by [_2] while you were still editing, and saved as Rev [_3]." args="%PARAM1%, %USERSWEB%.%PARAM2%, %PARAM3%"}%

%MAKETEXT{"Those changes have been merged with yours to create Rev [_1]. Text fields will have been merged, but other data such as form fields may have overwritten the other users changes. Please inspect the topic to make sure it is OK, especially if you made any changes to form fields." args="%PARAM4%"}%

%MAKETEXT{"Confirm your changes using Foswiki's ~[~[[_1]~]~[topic history comparison tool (diff)~]~]." args="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPIC%?rev1=%PARAM1%;rev2=%PARAM4%"}%

%TMPL:P{"oktopicaction"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"missing_action"}%
---+++ %MAKETEXT{"Missing action command"}%
%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"unrecognized_action"}%
---+++ %MAKETEXT{"Unrecognized action command [_1]" args="%PARAM1%"}%
%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"move_err"}%
---+++ %MAKETEXT{"Attachment move failed"}%
%MAKETEXT{"During move of attachment =[_1]= to [_2] an error was found." args="%PARAM3%, <nop>%PARAM1%.<nop>%PARAM2%, <nop>%WIKITOOLNAME%"}%

%PARAM4%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"delete_err"}%
---+++ %MAKETEXT{"Attachment delete failed"}%
%MAKETEXT{"During deletion of attachment =[_1]= an error was found. Please notify your [_2] administrator." args="%URLPARAM{attachment}%, <nop>%WIKITOOLNAME%"}%

%PARAM4%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"topic_exists"}%
---+++ %MAKETEXT{"The [_1] topic already exists" args="\"%TOPIC%\""}%
%MAKETEXT{"Cannot create [_1] because it already exists." args="%TOPIC%"}%

%MAKETEXT{"Please go _back_ in your browser and try a new name."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rename_topic_exists"}%
---+++ %MAKETEXT{"Rename failed"}%
%MAKETEXT{"Cannot rename [_1] to [_2] because it already exists." args="%TOPIC%, <nop>%PARAM1%.<nop>%PARAM2%"}%

%MAKETEXT{"Please go _back_ in your browser and try a new name."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rename_web_exists"}%
---+++ %MAKETEXT{"Rename failed"}%
%MAKETEXT{"Cannot rename [_1] to [_2] because it already exists." args="%WEB%, <nop>%PARAM1%"}%

%MAKETEXT{"Please go _back_ in your browser and try a new name."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"not_wikiword"}%
---+++ %MAKETEXT{"New topic name [_1] is not a [_2]" args="\"<nop>%PARAM1%\", <nop>WikiWord"}%
%MAKETEXT{"Please go back in your browser and choose a topic name that is a [[%SYSTEMWEB%.WikiWord][WikiWord]] or clear the only-WikiWord box"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"empty_topic_name"}%
---++ %MAKETEXT{"You must pass a topic name."}%
%MAKETEXT{"The name of the topic must not be empty." args="%PARAM1%"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"invalid_topic_name"}%
---++ %MAKETEXT{"Invalid topic name."}%
%MAKETEXT{"The name of the topic ([_1]) contained invalid characters." args="<nop>%PARAM1%"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rename_err"}%
%MAKETEXT{"During rename of topic [_1] to [_2] an error ([_3]) was found. Please notify your [_4] administrator."  args="<nop>%WEB%.<nop>%TOPIC%,<nop>%PARAM2%,%PARAM1%,%WIKITOOLNAME%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rename_web_err"}%
%MAKETEXT{"During rename of web [_1] to [_2] an error ([_3]) was found. Please notify your [_4] administrator." args="<nop>%WEB%,<nop>%PARAM2%,%PARAM1%,%WIKITOOLNAME%"}%
%{==============================================================================}%
%TMPL:DEF{"invalid_web_parent"}%
%MAKETEXT{"During rename of web [_1] to [_2] an error was found." args="<nop>%WEB%,%PARAM1%,"}%
%MAKETEXT{"The new parent web ([_1]) may not be the same as the old or new web name." args="%PARAM2%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"web_missing"}%
---+++ %MAKETEXT{"Name of new web is missing"}%
%MAKETEXT{"Please go back in your browser and try again."}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"invalid_web_name"}%
---+++ %MAKETEXT{"[_1] is an invalid name for a new web" args="\"%PARAM1%\""}%
%MAKETEXT{"You are recommended to choose short names, preferably less than 10 characters, starting with an upper-case alphabetic character and using only alphanumeric characters. If you want to create a template web (a web just used as a base to create new webs) choose a name that starts with an underscore and has only alphanumeric characters."}%

%IF{"NOT {EnableHierarchicalWebs}" then="%MAKETEXT{"Hierarchical Webs is currently disabled, you cannot create Nested webs."}%"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"invalid_topic_parameter"}%
---+++ %MAKETEXT{"[_1] is not a valid value for the [_2] parameter" args="'%PARAM1%','%PARAM2%'"}%
%MAKETEXT{"Either the name is invalid, or it refers to a non-existant topic."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"invalid_form_name"}%
---+++ %MAKETEXT{"[_1] is not a valid form name" args="'%PARAM1%'"}%
%MAKETEXT{"Either the name is invalid, or it refers to a non-existant form."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"web_exists"}%
---+++ %MAKETEXT{"Cannot create web [_1] because it already exists" args="\"%PARAM1%\""}%
%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"base_web_missing"}%
---+++ %MAKETEXT{"Base web [_1] is missing or does not exist" args="%PARAM1%"}%
%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"restore_invalid_rev"}%
---+++ %MAKETEXT{"Requested revision ([_1]) is illegal or invalid. It does not exist in history, or is the same or later than the current revision ([_2])" args="'%PARAM1%','%PARAM2%'"}%
%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"invalid_web_color"}%
---+++ %MAKETEXT{"Color [_1] has an invalid format" args="=%PARAM1%="}%
%MAKETEXT{"A color starts with a # sign, followed by 6 hexadecimal numbers, e.g. =#FFFF00=."}%

%MAKETEXT{"Pick one of the [_1]." args="%SYSTEMWEB%.StandardColors"}%

%MAKETEXT{"You can also use the names of the standard HTML colors (black, silver, gray, white, maroon, red, purple, fuchsia, green, lime, olive, yellow, navy, blue, teal, or aqua)"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"web_creation_error"}%
---+++ %MAKETEXT{"Could not create the new web [_1]" args="%PARAM1%"}%
%PARAM2%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"missing_fields"}%
---+++ %MAKETEXT{"Missing Fields"}%
=<font color="red">**</font>= %PARAM1% %MAKETEXT{"fields are required."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"invalid_field"}%
---+++ %MAKETEXT{"Invalid Input"}%
=<font color="red">**</font>= %MAKETEXT{"The value supplied for =[_1]= has been rejected." args="%PARAM1%"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"send_mail_error"}%
---+++ Mail Error
%MAKETEXT{"An e-mail could not be delivered. Please notify your [_1] administrator, [_2]" args="%WIKITOOLNAME%,<a href='mailto:%WIKIWEBMASTER%?subject=%ENCODE{"%WIKITOOLNAME% Send Mail Error"}%'>%WIKIWEBMASTER%</a>"}%

*%MAKETEXT{"Mail to"}%*: %PARAM1%

*%MAKETEXT{"Errors"}%*: %PARAM2%

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"mandatory_field"}%
---+++ %MAKETEXT{"Topic Save Error"}%
%MAKETEXT{"Could not save [_1]." args="%WEB%.%TOPIC%"}%

%MAKETEXT{"The required field [_1] was not filled in." args="*<noautolink>%PARAM1%</noautolink>*"}%

%MAKETEXT{"Go back in your browser and insert values for all mandatory fields before saving again"}%%IF{"{Validation}{Method}!='none'" then="%MAKETEXT{"
(just select 'OK' when you are asked to confirm your save)
"}%"}%

%TMPL:END%
%{==============================================================================}%

%TMPL:DEF{"formdef_missing"}%%MAKETEXT{"Form definition '[_1]' not found" args="%PARAM1%"}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_form_def"}%
---+++ %MAKETEXT{"Form Definition [_1] missing" args="%PARAM1%.<nop>%PARAM2%"}%
%MAKETEXT{"See [_1] for information about Form Definitions." args="%SYSTEMWEB%.DataForms"}%

%MAKETEXT{"This could be for several reasons:"}%

---++ 1. %MAKETEXT{"Form definition missing"}%

   * %MAKETEXT{"The form should be defined in the topic [_1]" args="%PARAM1%.%PARAM2%"}%
   * %MAKETEXT{"If this topic is missing create it, otherwise check it for errors."}%

---++ 2. %MAKETEXT{"The topic is in an old format"}%

   * %MAKETEXT{"~[~[[_1]~]~[Debug topic text~]~]." args="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?raw=debug"}%
      * %MAKETEXT{"There should be a line that includes [_1], look for [_2] (or [_3])" args="=META:FORM=,name=\"%PARAM1%.%PARAM2%\",name=\"%PARAM2%\""}%
      * %MAKETEXT{"If this line isn't present see _upgrade_ section below"}%

---++ 3.%MAKETEXT{"Topic can not be upgraded from old style category table"}%

%MAKETEXT{"This requires the form definition to be present."}%

%MAKETEXT{"This can be automatically upgraded by:"}%

   * %MAKETEXT{"Creating a suitable Form Definition topic"}%
   * %MAKETEXT{"Adding a [_1] preference in WebPreferences" args="=WEBFORMS="}%

%MAKETEXT{"You will probably have to ask your administrator, [_1], to do this." args="%WIKIWEBMASTER%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"upload_name_changed"}%
---+++ %MAKETEXT{"File has been uploaded with different name"}%
%MAKETEXT{"The file has been uploaded and attached properly to the [_1] topic." args="<nop>%TOPIC%"}%
%MAKETEXT{"However, the filename has been changed from [_1] to [_2]. Please make a note of it." args="<b><code>%PARAM1%</code></b>,<b><code>%PARAM2%</code></b>"}%

*%MAKETEXT{"Note:"}%*
%MAKETEXT{"In some cases, Foswiki changes the name of the uploaded file to make it safe and accessible across all platforms:"}%
   * %MAKETEXT{"Spaces are replaced by underscores"}%
   * %MAKETEXT{"A =.txt= extension is appended to some filenames for security reasons"}%
   * %MAKETEXT{"Some characters such as =&#126;=, =$=, =@=, =%= are removed"}%
%MAKETEXT{"You may be able to get your Wiki administrator to change the settings if they are inappropriate for your environment."}%

%TMPL:P{"oktopicaction"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"unsupported_filename"}%
---+++ %MAKETEXT{"The filename you are attempting to upload ([_1]) contains characters not supported by the configured encoding ([_2])." args="<code>%PARAM1%</code>, <code>%PARAM2%</code>"}%
%MAKETEXT{"Please go back in your browser and upload using a different filename."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"zero_size_upload"}%
---+++ %MAKETEXT{"Either you did not specify a file name, or the file you are trying to upload [_1] has no content. You may not upload an empty file." args="<code>%PARAM1%</code>"}%
%MAKETEXT{"Please go back in your browser and check again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"oversized_upload"}%
---+++ %MAKETEXT{"Uploaded file is too big"}%
%MAKETEXT{"Uploaded file [_1] exceeds limit of [_2] KB" args="<code>%PARAM1%</code>,%PARAM2%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"save_error"}%
---+++ %MAKETEXT{"Error saving topic"}%
%MAKETEXT{"During save of [_1] an error was found by the version control system. Please notify your [_2] administrator." args="<nop>%WEB%.<nop>%TOPIC%,%WIKITOOLNAME%"}%

<verbatim>
%PARAM1%
</verbatim>

%MAKETEXT{"Go back in your browser and save your changes locally."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rename_web_prerequisites"}%
---+++ %MAKETEXT{"There are problems with renaming this web:"}%
1.%MAKETEXT{"You are denied access to the following topics in the web:"}%
%PARAM1%

2. %MAKETEXT{"The following topics are locked for edit, and cannot be moved:"}%
%PARAM2%

3. %MAKETEXT{"The following topics refer to topics in this web, but you are denied access to them:"}%
%PARAM3%

4. %MAKETEXT{"The following topics refer to topics in this web, but are being edited:"}%
%PARAM4%

<div %PARAM5%>
<a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%HOMETOPIC%?action=renameweb;confirm=continue" />%MAKETEXT{"Continue and try to rename web?"}%</a>
</div>

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{no_such_template}%
%MAKETEXT{"Could not find template"}% =%PARAM1%=

%MAKETEXT{"Check your configuration settings for {TemplateDir} and {TemplatePath}."}%
<div%IF{"'%PARAM2%'" then=" style='display:none'"}%>
%MAKETEXT{"If that's not the problem, it may be because you have a setting of [_1] that is pointing to a template that doesn't exist." args="=%PARAM2%="}%

%MAKETEXT{"[_1] is currently set to [_2]" args="=%PARAM2%=,<code><nop>%PARAM1%</code>"}%

(%MAKETEXT{"don't forget to check your Topic Settings"}%)
</div>
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{post_method_only}%
%MAKETEXT{"The =[_1]= script can only be called with POST method." args="%PARAM1%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{bad_script_parameters}%
%MAKETEXT{"Incorrect parameters to the =[_1]= script" args="%PARAM1%"}%

%MAKETEXT{"If you received a link to this topic in an e-mail or just want to look at the topic, ~[~[[_1]~]~[cancel save~]~] to go to [_2]." args="%WEB%.%TOPIC%, <nop>%TOPIC%"}%

%MAKETEXT{"If you are developing a Foswiki application, see [_1] for a description of the correct parameters." args="%SYSTEMWEB%.CommandAndCGIScripts#%PARAM1%"}%

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_users_to_add_to_group"}%
---+++ %MAKETEXT{"No username specified"}%

%MAKETEXT{"You need to specify a valid member to add to a group."}%

<a href='%SCRIPTURLPATH{view}%/%WEB%/%TOPIC%?groupname=%PARAM1%;expand=1'>%MAKETEXT{"Go back"}%</a>
%TMPL:END%
%{==============================================================================
    Messages for oopsleaseconflict
================================================================================}%
%TMPL:DEF{"lease_active"}%
%MAKETEXT{"[_1] is editing [[[_2]][[_3]]]." args="%PARAM1%, %WEB%.%TOPIC%, %TOPIC%"}%

%MAKETEXT{"[_1] has been editing the topic for [_2] and the lease is still active for another [_3]." args="%PARAM1%, %PARAM2%, %PARAM3%"}%

%MAKETEXT{"It is probably OK to go ahead and edit - unless you intend to change data in a form attached to the topic. If [_1] actually _does_ save the topic while you are editing, your changes will be merged, and nothing will be lost. Form data cannot easily be merged though, so in this case you are recommended to check with [_1] first." args="%PARAM1%"}%

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"lease_old"}%
%MAKETEXT{"[_1] may still be editing [_2]." args="%PARAM1%, %WEB%.%TOPIC%"}%

%MAKETEXT{"The lease on this topic expired [_1] ago." args="%PARAM2%"}%

%MAKETEXT{"The chances are good that [_1] has simply navigated away from the edit page without saving." args="%PARAM1%"}%

%MAKETEXT{"You are encouraged to go ahead and edit - unless you intend to change data in a form attached to the topic. If [_1] actually _does_ save while you are editing, your changes will be merged, and nothing will be lost. Form data cannot easily be merged though, so in this case you are recommended to check with [_1] first." args="%PARAM1%"}%

%TMPL:END%
%{==============================================================================
    Messages for oopsalerts
================================================================================}%
%TMPL:DEF{"access_denied"}%      %MAKETEXT{"No permission to view [_1]" args="%PARAM1%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_attachment"}%     %MAKETEXT{"Error: File attachment at [_1],[_2] does not exist" args="%PARAM1%, %PARAM2%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_protocol"}%       %MAKETEXT{"Error: Unsupported protocol. (Must be 'http://domain/...')"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_content"}%        %MAKETEXT{"Error: Unsupported content type: [_1] (Must be =text/html=, =text/plain= or =text/css=)" args="%PARAM1%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"web_not_found"}%      %MAKETEXT{"Warning: Can't find web [_1] for topic [_2]" args="<nop>%PARAM1%, <nop>%PARAM2%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"topic_not_found"}%    %MAKETEXT{"Warning: Can't find topic [_1].[_2]" args="<nop>%PARAM1%, <nop>%PARAM2%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"topic_section_not_found"}%    %MAKETEXT{"Warning: Can't find named section [_3] in topic [_1].[_2]" args="<nop>%PARAM1%, <nop>%PARAM2%, <nop>%PARAM3%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"already_included"}%   %MAKETEXT{"Warning: Can't INCLUDE [_1] repeatedly, topic is already included. [_2]" args="<nop>%PARAM1%, %PARAM2%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_include_path"}%   %MAKETEXT{"Warning: Can't INCLUDE '[_1]', path is empty or contains illegal characters." args="<nop>%PARAM1%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"generic"}%            %PARAM1% %PARAM2% %PARAM3% %PARAM4% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"missing_user"}%       %MAKETEXT{"The entry for user [_1] was missing in the password system." args="%PARAM1%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_user"}%           %MAKETEXT{"Can't find user [_1]" args="%PARAM1%"}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_email_for"}%       %MAKETEXT{"Can't get an e-mail address for [_1] (required for password reset)" args="%PARAM1%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"new_sys_pass"}%       %MAKETEXT{"A new system-generated password for your username '[_1]' (!WikiName [_2]) has been sent to your registered e-mail address. If your e-mail address is no longer valid, please contact [_3]." args="%PARAM1%, %USERSWEB%.%PARAM2%, %WIKIWEBMASTER%"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"geturl_failed"}%      %MAKETEXT{"Failed to include URL [_1]" args="%PARAM1%"}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"urls_not_allowed"}%   %MAKETEXT{"Warning: This site does not allow %<nop>INCLUDE% of URLs"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_search"}%         %MAKETEXT{"Could not perform search. Error was: [_1]" args="%PARAM1%"}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"login_disabled"}%     %MAKETEXT{"This system is not configured to support user login. Return to [[[_1]]]." args="%WEB%.%TOPIC%"}%%TMPL:END%
%{==============================================================================
    Messages for oopsaccessdenied
================================================================================}%
%TMPL:DEF{"cache_refresh"}%
%MAKETEXT{"Cache =refresh=all= denied for non-admin users."}%.

%MAKETEXT{"You must be the =[_1]= super user, or a member of the [_2], to clear the global cache for all topics." args="%WIKIADMINLOGIN%, %USERSWEB%.AdminGroup"}%

%MAKETEXT{"To refresh the cache for just this topic, <a href='[_1]' rel='nofollow' > click here </a> " args="%SCRIPTURLPATH{"view" web="%BASEWEB%" topic="%BASETOPIC%" refresh="cache"}%"}%

%MAKETEXT{"To login as another user please do so [[[_1]][here]]." args="%LOGINURL%"}%

%MAKETEXT{"Contact [_1] if you have any questions." args="<a href=\"mailto:%WIKIWEBMASTER%?subject=access denied for 'refresh=all'\">%WIKIWEBMASTER%</a>"}%

*%MAKETEXT{"Related topics:"}%* %USERSWEB%.WikiGroups, %SYSTEMWEB%.PageCaching %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"topic_access"}%
%MAKETEXT{"Access check on [_1] failed" args="\"<nop>%WEB%.<nop>%TOPIC%\""}%.

%MAKETEXT{"Action [_1]: [_2] by user [_3]." args="\"%PARAM1%\", %PARAM2%, <nop>%WIKINAME%"}%

%MAKETEXT{"To login as another user please do so [[[_1]][here]]." args="%LOGINURL%"}%

%MAKETEXT{"Contact [_1] if you have any questions." args="<a href=\"mailto:%WIKIWEBMASTER%?subject=%ENCODE{"%PARAM1% access denied for '%WEB%.%TOPIC%'"}%\">%WIKIWEBMASTER%</a>"}%

*%MAKETEXT{"Related topics:"}%* %USERSWEB%.WikiGroups, %SYSTEMWEB%.AccessControl %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"redirect_denied"}%
%MAKETEXT{"Unsafe redirect to [_1] is denied. The requested host does not match [_2], and is not in {PermittedRedirectHostUrls}." args="%PARAM1%, %PARAM2%"}%

%MAKETEXT{"Contact [_1] if you have any questions." args="<a href=\"mailto:%WIKIWEBMASTER%?subject=%ENCODE{"Unsafe redirect to %PARAM1% denied"}%\">%WIKIWEBMASTER%</a>"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"only_group"}%
%MAKETEXT{"Only members of the [_1] are allowed to perform this action." args="%PARAM1%"}%

%MAKETEXT{"Contact [_1] if you have any questions." args="<a href=\"mailto:%WIKIWEBMASTER%?subject=%ENCODE{"Access Denied for '%WEB%.%TOPIC%', needs '%PARAM1%'"}%\">%WIKIWEBMASTER%</a>"}%


*%MAKETEXT{"Related topics:"}%* %USERSWEB%.WikiGroups, %SYSTEMWEB%.AccessControl
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_web_name"}%
---++ %MAKETEXT{"Missing or illegal web name"}%

%MAKETEXT{"The Web/Topic path: '[_1]' has missing components, or contains invalid characters." args="%PARAM2%"}%

%MAKETEXT{"A Foswiki site is divided into webs; each one represents one subject, one area of collaboration. You are trying to [_1] in a web that does not exist." args="'%PARAM1%'"}%

---+++ %MAKETEXT{"If you came here by clicking on a question mark link"}%
<blockquote>
%MAKETEXT{"A link to a topic located in another web is written like [_1]. Make sure that the name of the web is not spelt wrongly on the previous page; fix the link if necessary." args="*Otherweb.<nop>TopicName*"}%
</blockquote>

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_such_web"}%
---++ %MAKETEXT{"The [_1] web does not exist" args="\"%WEB%\""}%
%MAKETEXT{"A Foswiki site is divided into webs; each one represents one subject, one area of collaboration. You are trying to [_1] in a web that does not exist." args="'%PARAM1%'"}%

---+++ %MAKETEXT{"If you came here by clicking on a question mark link"}%
<blockquote>
%MAKETEXT{"A link to a topic located in another web is written like [_1]. Make sure that the name of the web is not spelt wrongly on the previous page; fix the link if necessary." args="*Otherweb.<nop>TopicName*"}%
</blockquote>

---+++ %MAKETEXT{"If you would like to create this web"}%
%MAKETEXT{"You can ~[~[[_1]~]~[create a new web~]~] if you have permission. Contact [_2] if you have any questions." args="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/ManagingWebs?newweb=%WEB%;newtopic=%TOPIC%#CreateNewWeb, %WIKIWEBMASTER%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_such_topic_message"}%
---++ %MAKETEXT{"If you want to create the topic"}%
[[%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%SERVERTIME{"$year$mo$day$min$sec"}%][%MAKETEXT{"Create the topic"}%]]

%MAKETEXT{"Contact [_1] if you have any questions." args="%WIKIWEBMASTER%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_such_topic"}%
---++ %MAKETEXT{"[_1] topic does not exist" args="\"%WEB%.%TOPIC%\""}%
%MAKETEXT{"You are trying to perform an action on a topic that does not exist (action '[_1]')." args="%PARAM1%"}%
%TMPL:P{"no_such_topic_message"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_such_topic_template"}%
---++ %MAKETEXT{"Template [_1] does not exist" args="\"%PARAM1%.%PARAM2%\""}%
%MAKETEXT{"You are trying to create a topic from a template that does not exist." args="%PARAM1%"}%

%MAKETEXT{"Contact [_1] if you have any questions." args="%WIKIWEBMASTER%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_such_topic_rename"}%
---++ %MAKETEXT{"[_1] topic does not exist" args="\"%WEB%.%TOPIC%\""}%
%MAKETEXT{"You are trying to rename a topic that does not exist." args="%PARAM1%"}%

%MAKETEXT{"Contact [_1] if you have any questions." args="%WIKIWEBMASTER%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_such_attachment"}%
---++ %MAKETEXT{"Attachment '[_1]' does not exist" args="%PARAM1%"}%
%MAKETEXT{"You are trying to access an attachment that does not exist."}%

<a href='%SCRIPTURLPATH{view}%/%WEB%/%TOPIC%'>%MAKETEXT{"Go back"}%</a>

%MAKETEXT{"Contact [_1] if you have any questions." args="%WIKIWEBMASTER%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"ENCODE_bad_1"}%%MAKETEXT{"ENCODE failed - =type= cannot be used alongside =old= and =new= "}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"ENCODE_bad_2"}%%MAKETEXT{"ENCODE failed - both of =old= and =new= must be given"}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"ENCODE_bad_3"}%%MAKETEXT{"ENCODE failed - token '%PARAM1%' is repeated in =old= "}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"EXPAND_nomacro"}%%MAKETEXT{"EXPAND failed - no macro"}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"EXPAND_noscope"}%%MAKETEXT{"EXPAND failed - no such topic '%PARAM1%'"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"EXPAND_noaccess"}%%MAKETEXT{"EXPAND failed - access to '%PARAM1%' denied"}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"template_recursion"}%
---+++ %MAKETEXT{"Too many recursions parsing template [_1]" args="%PARAM1%"}%
%MAKETEXT{"Please notify your [_1] administrator." args="<nop>%WIKITOOLNAME%"}%
%TMPL:END%
%TMPL:DEF{"enable_js"}%<div class="foswikiAlert"> *%MAKETEXT{"You cannot proceed because either Cookies or !JavaScript are disabled in your browser."}%*
<p>%MAKETEXT{"Go back to the previous page, and enable Cookies and !JavaScript before trying again"}%</p></div>
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_load_plugin"}% %MAKETEXT{"Error encountered loading the plugin. See errors below."}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_plugin_module"}%%MAKETEXT{"Plugin module was not defined. Check configuration. See errors below."}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_initPlugin"}%%MAKETEXT{"initPlugin was not defined. See errors below."}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_earlyInitPlugin"}%%MAKETEXT{"initPlugin was not defined. See errors below."}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_earlyInitPlugin"}%%MAKETEXT{"earlyInitPlugin failed.  See errors below."}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"plugin_ret_0"}%%MAKETEXT{"Plugin module did not return true. See errors below."}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"plugin_disabled"}%%MAKETEXT{"(disabled)"}%%TMPL:END%

