%{ This is a default template }%
%TMPL:INCLUDE{"foswiki"}%
%TMPL:INCLUDE{"messages"}%

%TMPL:DEF{"pagetitle"}%%TMPL:P{"heading"}%%TMPL:END%

%TMPL:DEF{"contentwrapper"}%%TMPL:P{"contentheaderstylewrapper"}%
%TMPL:P{"content"}%
%TMPL:P{"contentfooterstylewrapper"}%%TMPL:P{"topicinfo"}%%TMPL:END%

%TMPL:DEF{"content"}%<div class="foswikiTopicText">%IF{" '%TMPL:P{"webaction"}%' = '' " then="" else="<h3><span class='foswikiAlert'>%TMPL:P{"webaction"}%</span></h3>"}%%TMPL:P{"message"}%</div>%TMPL:END%