%{ This is a default template }%%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"titleaction"}% %MAKETEXT{"(change language)"}% %TMPL:END%

%TMPL:DEF{"heading"}%%MAKETEXT{"Change language"}%%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}%%TMPL:P{"oktopicaction"}%%TMPL:END%

%TMPL:DEF{"pagetitle"}%%TMPL:P{"heading"}%%TMPL:END%

%TMPL:DEF{"webaction"}% *%MAKETEXT{"Attention"}%* %TMPL:END%

%TMPL:DEF{"message"}%%SESSION_VARIABLE{"LANGUAGE" set="%URLPARAM{language}%"}%
%MAKETEXT{"Your language has been changed to [_1]. ~[~[[_2]~]~[click to proceed~]~]." args="*%SESSION_VARIABLE{LANGUAGE}%*, %SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%"}%%TMPL:END%