%{ This is a default template }%%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"titleaction"}% %MAKETEXT{"(change language)"}% %TMPL:END%

%TMPL:DEF{"heading"}%%MAKETEXT{"Change language"}%%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}%%TMPL:P{"oktopicaction"}%%TMPL:END%

%TMPL:DEF{"pagetitle"}%%TMPL:P{"heading"}%%TMPL:END%

%TMPL:DEF{"webaction"}% *%MAKETEXT{"Attention"}%* %TMPL:END%

%TMPL:DEF{"message"}%%IF{"$'URLPARAM{language}'='default'" 
  then="$percntSESSION_VARIABLE{\"LANGUAGE\" clear=\" \"}$percnt"
  else="$percntSESSION_VARIABLE{\"LANGUAGE\" set=\"%URLPARAM{language}%\"}$percnt"
}%
%MAKETEXT{"Your language has been changed to [_1]. ~[~[[_2]~]~[click to proceed~]~]." args="*%URLPARAM{language}%*, %SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%"}%%TMPL:END%
