%{ This is a default template }%%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"titleaction"}% %TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Attention"}%%TMPL:END%
%TMPL:DEF{"topicaction"}%%TMPL:END%

%TMPL:DEF{"message"}%
%INSTANTIATE%
%TMPL:END%