%{ This is a default template }%%TMPL:INCLUDE{"twiki"}%%TMPL:INCLUDE{"messages"}%
%TMPL:DEF{"pagetitle"}%%TMPL:P{"heading"}%%TMPL:END%
%TMPL:DEF{"content"}%%IF{" '%TMPL:P{"webaction"}%' = '' " then="" else="<h3><span class='twikiAlert'>%TMPL:P{"webaction"}%</span></h3>"}%%TMPL:P{"message"}%%TMPL:P{"topicinfo"}%%TMPL:END%