%{ This is a default template

   SYSTEM MESSAGES related to registration and password management.
}%
%{==============================================================================}%
%TMPL:DEF{"registration_not_supported"}%
---+++ %MAKETEXT{"New User Registration not supported"}%

%MAKETEXT{"The selected User System does not support new user registration."}%

%MAKETEXT{"Please contact [_1]." args="%WIKIWEBMASTER%"}%

%MAKETEXT{"You have *not* been registered."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"registration_disabled"}%
---+++ %MAKETEXT{"New User Registration disabled"}%

%MAKETEXT{"The Administrator has disabled new user registration."}%

%MAKETEXT{"Please contact [_1]." args="%WIKIWEBMASTER%"}%

%MAKETEXT{"You have *not* been registered."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"registration_invalid"}%
---+++ %MAKETEXT{"New User Registration failed"}%

%MAKETEXT{"Your user registration failed because it did not pass the validation tests."}%

<noautolink>
%PARAM1%
</noautolink>

%MAKETEXT{"Please contact [_1]." args="%WIKIWEBMASTER%"}%

%MAKETEXT{"You have *not* been registered."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rego_not_found"}%
---+++ %MAKETEXT{"Pending registration not found"}%

%MAKETEXT{"No pending registration was found for the verification code [_1]." args="%PARAM1%"}%

%MAKETEXT{"The user has probably been already verified and/or approved."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rego_approved"}%
---+++ %MAKETEXT{"Thank you for approving this registration"}%

%MAKETEXT{"[_1] has been emailed to inform them that their registration has been successful" args="%PARAM1%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rego_denial"}%
---+++ %MAKETEXT{"Registration has been denied"}%

%MAKETEXT{"<nop>[_1] <[_2]> has been emailed to inform them that their registration has been denied" args="%PARAM1%,%PARAM2%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rego_denied"}%
---+++ %MAKETEXT{"Thank you for denying this registration"}%

%MAKETEXT{"<nop>[_1] ([_2]) can be emailed to inform them that their registration has been rejected." args="%PARAM1%,%PARAM2%"}%

%MAKETEXT{"If you would like to send an email and give them feedback, please type it below and hit 'Send mail'"}%

<form action="%SCRIPTURL{"register"}%">
<textarea rows="3" cols="80" name="feedback"></textarea><br/>
<input type="hidden" name="wikiname" value="%PARAM1%" />
<input type="hidden" name="email" value="%PARAM2%" />
<input type="hidden" name="referee" value="%PARAM3%" />
<input type="hidden" name="action" value="disapprove" />
<input type="hidden" name="code" value="DENIED" />
<input type="submit" class="foswikiSubmit" value=' %MAKETEXT{"Send mail"}% ' />
</form>
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_ver_code"}%
---+++ %MAKETEXT{"Invalid Activation Code"}%
%MAKETEXT{"The activation code [_1] is invalid." args="'<code>%PARAM1%</code>'"}% %PARAM2%

%MAKETEXT{"Either the code is not valid, or you have already confirmed your registration using it."}% %MAKETEXT{"Registration codes can only be used once."}%

*%MAKETEXT{"Note:"}%*
%MAKETEXT{"Some mail tools have an error that causes them to send the same request twice when you click on a link. It you did this, it is possible that you actually *have* registered successfully."}%

%MAKETEXT{"Please contact [_1] if you have any questions." args="<a href='mailto:%WIKIWEBMASTER%'>%WIKIWEBMASTER%</a>"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"internal_error"}%
---+++ %MAKETEXT{"Activation Failed"}%
%MAKETEXT{"Activation for code [_1] failed with an internal error." args="'<code>%PARAM1%</code>'"}% %PARAM2%

%MAKETEXT{"This is an internal error.  You can try to register again, or contact [_1] to report the error." args="<a href='mailto:%WIKIWEBMASTER%'>%WIKIWEBMASTER%</a>"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"registration_mail_failed"}%
---+++ %MAKETEXT{"Error registering new user"}%

%MAKETEXT{"While attempting to email <noautolink>[_1]</noautolink>." args="%PARAM1%"}%

%MAKETEXT{"Your registration verification email has either failed, or is queued in the mail system."}%

%MAKETEXT{"If you don't receive a verification email within the next hour, "}%
%MAKETEXT{"Please contact [_1]." args="%WIKIWEBMASTER%"}%

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"duplicate_activation"}%
---+++ %MAKETEXT{"That user has already been activated"}%

%MAKETEXT{"The user [_1] has already been activated, and should be able to log in." args="%PARAM1%"}%

%MAKETEXT{"You may have clicked a registration verification link that you had already visited."}%

%MAKETEXT{"Contact [_1] if you have any questions." args="%WIKIWEBMASTER%"}%

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_wikiname"}%
---+++ %MAKETEXT{"Incorrect [[[_1]][WikiName]]" args="%SYSTEMWEB%.WikiName"}%
%MAKETEXT{"The [[[_1]][WikiName]] field must be your first and last name written as a [[[_2]][WikiWord]], e.g. your capitalized first and last name with spaces removed." args="%SYSTEMWEB%.WikiName,%SYSTEMWEB%.WikiWord"}%

| *%MAKETEXT{"Good examples:"}%* | *%MAKETEXT{"Incorrect [[[_1]][WikiNames:]]" args="%SYSTEMWEB%.WikiName"}%* |
| =JohnSmith= | =John M. Smith= |
| =RjMiller= | =RJ Miller= |
| =RickO= | =Rick O= %MAKETEXT{"(single character last name)"}% |
| =KellerF= | =FKeller= %MAKETEXT{"(single character first name)"}% |

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_templatetopic"}%
---+++ %MAKETEXT{"Incorrect topic name provided for the templatetopic parameter."}%
%MAKETEXT{"The name provided is either invalid, or the named topic is not found. The templatetopic must be an existing new user template topic in the %USERSWEB% web.  If not provided, the default topic is [[%USERSWEB%.NewUserTemplate]], or if that does not exist. [[%SYSTEMWEB%.NewUserTemplate]]."}%

%MAKETEXT{"This field is not normally user provided. This may be a Foswiki configuration error."}%
%MAKETEXT{"Please go back in your browser and try again."}%
%MAKETEXT{"Contact [_1] if you have any questions." args="%WIKIWEBMASTER%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"passwords_disabled"}%
---+++ %MAKETEXT{"Passwords disabled"}%

%MAKETEXT{"The Administrator has disabled password changes."}%

%MAKETEXT{"Please contact [_1]." args="%WIKIWEBMASTER%"}%

%MAKETEXT{"Your password has not been changed."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"thanks"}%
---+++ %MAKETEXT{"Thank you for registering"}%
   * %MAKETEXT{"Your personal Foswiki topic [_1] has been created" args="%USERSWEB%.%PARAM2%"}% <br />
     %MAKETEXT{"(*Suggestion:* How about uploading your picture to your topic?)"}%
   * %MAKETEXT{"You are also listed in the [_1] topic" args="%USERSWEB%.%WIKIUSERSTOPIC%"}%
<noautolink>%PARAM1%</noautolink>
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"confirm"}%
---+++ %MAKETEXT{"Thank you for registering"}%

%MAKETEXT{"Your activation code has been sent to [_1].  Either click on the link in your e-mail or enter the code in the box below to activate your membership. (This code is of the form \"YourName.xxxxxxxxxx\")" args="%PARAM1%"}%

<form action="%SCRIPTURLPATH{"register"}%" method="post">
<input type="hidden" name="action" value="verify" size="20" />
<input type="text" name="code" size="20" class="foswikiInputField" />
<input type="submit" class="foswikiSubmit" value=' %MAKETEXT{"Submit"}% ' />
</form>

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"approve"}%
---+++ %MAKETEXT{"Thank you for registering"}%

%MAKETEXT{"Your registration is pending approval by the system administrators."}%

%MAKETEXT{"You will receive an e-mail when your registration has been approved."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_users_to_reset"}%
---+++ %MAKETEXT{"Password reset failed"}%
%MAKETEXT{"No users to reset passwords for."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"reset_bad"}%
---+++ %MAKETEXT{"Password reset failed."}%
%PARAM1%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"password_mismatch"}%
---+++ %MAKETEXT{"Passwords do not match"}%
%MAKETEXT{"The two passwords you entered do not match."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"problem_adding"}%
---+++ %MAKETEXT{"Error registering user [_1]" args="%PARAM1%"}%

%MAKETEXT{"There has been a problem adding your user id to the Password system."}%

%MAKETEXT{"Please contact [_1]." args="%WIKIWEBMASTER%"}%

%MAKETEXT{"You have *not* been registered."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"already_exists"}%
---+++ %MAKETEXT{"You are already registered."}%
%MAKETEXT{"You cannot register twice, the name [_1] is already registered." args="'%PARAM1%'"}%

%MAKETEXT{"Did you want to ~[~[[_1]~]~[reset [_2]'s password~]~]?" args="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%.ResetPassword?username=%PARAM1%,%PARAM1%"}%

%MAKETEXT{"Alternatively hit back to go back to %SYSTEMWEB%.UserRegistration and choose a different username."}%

%MAKETEXT{"Please contact [_1] if you have any questions." args="<a href='mailto:%WIKIWEBMASTER%?subject=%ENCODE{"%WIKITOOLNAME% Registration Question"}%'>%WIKIWEBMASTER%</a>"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"unsupport_loginname"}%
---+++ %MAKETEXT{"Unsupported [[[_1]][username]]" args="%SYSTEMWEB%.UserName"}%
%MAKETEXT{"The [[[_1]][login username]] ([_2]) is not allowed for this installation. Registration rejected." args="%SYSTEMWEB%.UserName,%PARAM1%"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"miss_loginname"}%
---+++ %MAKETEXT{"Incorrect [[[_1]][username]]" args="%SYSTEMWEB%.UserName"}%
%MAKETEXT{"The [[[_1]][login username]] is a required parameter. Registration rejected." args="%SYSTEMWEB%.UserName"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_loginname"}%
---+++ %MAKETEXT{"Incorrect [[[_1]][username]]" args="%SYSTEMWEB%.UserName"}%
%MAKETEXT{"'[_1]' is not a valid [[[_2]][login username]]." args="%PARAM1%,%SYSTEMWEB%.UserName"}%
%MAKETEXT{"[[[_1]][Click here]] for guidance on creating a valid username for this site." args="%SYSTEMWEB%.UserName"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_password"}%
---+++ %MAKETEXT{"Bad password"}%
%MAKETEXT{"This site requires at least [_1] character passwords" args="%PARAM1%"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_email"}%
---+++ %MAKETEXT{"Invalid e-mail address"}%
%MAKETEXT{"The e-mail address for this account is not valid."}%

%PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rej_email"}%
---+++ %MAKETEXT{"Invalid e-mail address"}%
%MAKETEXT{"The e-mail address for this account has been rejected."}%

%PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"dup_email"}%
---+++ %MAKETEXT{"Invalid e-mail address"}%
%MAKETEXT{"The e-mail address for this account is already registered to another user."}%

%PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rej_email"}%
---+++ %MAKETEXT{"Invalid e-mail address"}%
%MAKETEXT{"The e-mail address for this account has been rejected."}%

%PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"dup_email"}%
---+++ %MAKETEXT{"Invalid e-mail address"}%
%MAKETEXT{"The e-mail address for this account is already registered to another user."}%

%PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"not_a_user"}%
---+++ %MAKETEXT{"Can't find user [_1]" args="%PARAM1%"}%
%MAKETEXT{"Please make sure you spelled the [[[_1]][username]] correctly and try again. If you get stuck, please contact [_2]." args="%SYSTEMWEB%.UserName, %WIKIWEBMASTER%"}%

%MAKETEXT{"See [_1] for a list of existing users or register as new user in [_2]." args="%USERSWEB%.%WIKIUSERSTOPIC%, %SYSTEMWEB%.UserRegistration"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"in_a_group"}%
---+++ %MAKETEXT{"[_1] is in at least one group and cannot be removed" args="%PARAM1%"}%

%MAKETEXT{"Remove the member from the group(s) [_1] first." args="%PARAM2%"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"email_changed"}%
---+++ %MAKETEXT{"E-mail changed successfully!"}%

%MAKETEXT{"Remember to update your user topic [[[_1]]] if you want your e-mail change to be reflected there as well." args="%PARAM2%"}%

%MAKETEXT{"Your registered e-mail address(es) are updated to: <noautolink>[_1]</noautolink>." args="%PARAM1%"}%

%MAKETEXT{"Return to [_1]." args="%SYSTEMWEB%.ChangeEmailAddress"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"wrong_password"}%
---+++ %MAKETEXT{"Incorrect Password"}%
%MAKETEXT{"The password you entered in the *old password* field is incorrect."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_prefix"}%
---+++ %MAKETEXT{"Incorrect Prefix"}%
%MAKETEXT{"The prefix you entered for the deleted user is not valid as a topic name."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"reset_ok"}%
%PARAM1%

%MAKETEXT{"Users with automatically generated passwords should proceed immediately to ~[~[[_1]~]~[change password~]~] to change their password to something memorable." args="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/ChangePassword"}%

*[[%BASEWEB%.%BASETOPIC%][%MAKETEXT{"OK"}%]]*
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"password_not_changed"}%
---+++ %MAKETEXT{"Password could not be changed"}%

%MAKETEXT{"Your system may not support changing passwords through Foswiki. Check with your Wiki administrator."}%

*[[%TOPIC%][%MAKETEXT{"OK"}%]]*
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"password_changed"}%
---+++ %MAKETEXT{"Password changed successfully!"}%

%IF{
  "{LoginManager} = 'Foswiki::LoginManager::ApacheLogin'"
  then="%MAKETEXT{"You may need to close your browser to make this change take effect."}%"
}%

*[[%USERSWEB%.%HOMETOPIC%][%MAKETEXT{"OK"}%]]*
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"user_param_required"}%
---+++ %MAKETEXT{"User Account was not supplied"}%
%MAKETEXT{"Return to [_1] and supply a [[[_2]][WikiName]] or [[[_3]][username]]." args="[[%WEB%.%TOPIC%]], %SYSTEMWEB%.WikiName, %SYSTEMWEB%.UserName"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"not_self"}%
---+++ %MAKETEXT{"Remove of user account other than your own is denied"}%
%MAKETEXT{"Only administrators are allowed to remove other accounts."}%
%MAKETEXT{"Return to [_1]" args="[[%WEB%.%TOPIC%]]"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"remove_user_done"}%
<noautolink>
---+++ %MAKETEXT{"User Account [_1] Deleted" args="%PARAM1%"}%
%MAKETEXT{"The user has been removed from the Authentication System."}%

<h3>%MAKETEXT{"Details:"}%</h3>
<pre>
%PARAM2%
</pre>
</noautolink>

%MAKETEXT{"Return to [_1]" args="[[%WEB%.%TOPIC%]]"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_group_specified_for_add_to_group"}%
---+++ %MAKETEXT{"No group name specified"}%
%MAKETEXT{"You need to specify a valid group name to add members to a group."}%

<a href='%SCRIPTURLPATH{view}%/%WEB%/%TOPIC%?username=%PARAM1%;expand=1'>%MAKETEXT{"Go back"}%</a>
%TMPL:END%
%{==============================================================================}%

%TMPL:DEF{"problem_adding_to_group"}%
---+++ %MAKETEXT{"Errors adding members to group"}%

%MAKETEXT{"There were errors adding to the [_2] group. [_1] " args="%PARAM1%, %PARAM2%"}%

%MAKETEXT{"Please check to ensure you have permission to modify the group."}%

%MAKETEXT{"See %MAINWEB%.WikiGroups to see the result."}%

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"added_users_to_group"}%
---+++ %MAKETEXT{"Success adding members to group"}%

%MAKETEXT{"[_1] added to the [_2] group." args="%PARAM1%, %PARAM2%"}%

%MAKETEXT{"See %MAINWEB%.WikiGroups to see the result."}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"group_upgraded"}%
---+++ %MAKETEXT{"Upgraded group"}%

%MAKETEXT{"[_1] group topic upgraded." args="%PARAM1%"}%

%MAKETEXT{"See %MAINWEB%.WikiGroups to see the result."}%%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_users_to_remove_from_group"}%
---+++ %MAKETEXT{"No username specified"}%

%MAKETEXT{"You need to specify a valid member to remove from a group."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_group_and_no_create"}%
---+++ %MAKETEXT{"Create not specified and group does not exist"}%

%MAKETEXT{"You cannot add users to a missing group unless the create option is set."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_group_and_no_create"}%
---+++ %MAKETEXT{"Create not specified and group does not exist"}%

%MAKETEXT{"You cannot add users to a missing group unless the create option is set."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_group_specified_for_remove_from_group"}%
---+++ %MAKETEXT{"No group name specified"}%
%MAKETEXT{"You need to specify a valid group name to remove members from a group."}%

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"problem_removing_from_group"}%
---+++ %MAKETEXT{"Errors removing members from groups"}%

%MAKETEXT{"There were errors removing [_1] from the [_2] group." args="%PARAM1%, %PARAM2%"}%

%MAKETEXT{"Please check to ensure you have permission to modify the group."}%

%MAKETEXT{"See %MAINWEB%.WikiGroups to see the result."}%

%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"removed_users_from_group"}%
---+++ %MAKETEXT{"Success removing members from group"}%

%MAKETEXT{"[_1] removed from the [_2] group." args="%PARAM1%, %PARAM2%"}%

%MAKETEXT{"See %MAINWEB%.WikiGroups to see the result."}%%TMPL:END%
