From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %EMAILADDRESS%
Subject: %MAKETEXT{"[_1] registration denied" args="%WIKITOOLNAME%"}%
MIME-Version: 1.0
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 8bit

%MAKETEXT{"Registration for [_1] has been denied" args="%WIKINAME%"}%

%MAKETEXT{"[_1] denied the registration." args="%REFEREE%"}%

%FEEDBACK%
