%{ This is a default template }%%TMPL:INCLUDE{"renamebase"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(delete)"}% %TMPL:END%


%TMPL:DEF{"webaction"}%%MAKETEXT{"Delete"}%%TMPL:END%


%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Move [_1] to Trash Web" args="[[%TOPIC%]]"}%%TMPL:END%


%TMPL:DEF{"changefromtitle"}%---++ %MAKETEXT{"Current location:"}% <nop>%WEB%.%TOPIC%%TMPL:END%


%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%TRASHWEB%" />%TMPL:END%


%TMPL:DEF{"towebtitle"}%---+++ %MAKETEXT{"Move topic to web:"}% <nop>%TRASHWEB%%TMPL:END%


%TMPL:DEF{"totopictitle"}%---+++ %MAKETEXT{"Optionally change topic name:"}%%TMPL:END%

%TMPL:DEF{"toattachmenttitle"}%---+++ %MAKETEXT{"Optionally change attachment name:"}%%TMPL:END%


%TMPL:DEF{"newtopic"}%<p><input name="newtopic" class="foswikiInputField" value="%NEW_TOPIC%" size="36" /> %TMPL:P{"namehelp"}%</p>%TMPL:P{"onlywikiname"}% %TMPL:END%

%TMPL:DEF{"newattachment"}%<p><input name="newattachment" class="foswikiInputField" value="%ENCODE{"%NEW_FILENAME%"}%" size="36" /> %TMPL:P{"namehelp"}%</p>%TMPL:END%


%TMPL:DEF{"namehelp"}%<span>%MAKETEXT{"This name has been chosen so it doesn't conflict with any other topics already in the [_1] web." args="%NEW_WEB%"}%</span>%TMPL:END%


%TMPL:DEF{"movewebhelp"}%%TMPL:END%


%TMPL:DEF{"updatenote"}%%MAKETEXT{"Checked topics will be updated to point to the new topic location."}% <span class="foswikiAlert" style="font-weight:bold;">%MAKETEXT{"Not recommended when deleting a topic."}%</span>%TMPL:END%


%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="foswikiSubmit" value='%MAKETEXT{"Delete"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%%{ end }%
