%{ This is a default template }%%TMPL:INCLUDE{"foswiki"}%

%TMPL:DEF{"formstart"}%<form method="post" name="rename" action="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%">%TMPL:END%

%TMPL:DEF{"formend"}%</form>%TMPL:END%


%TMPL:DEF{"pagehelp"}%%TMPL:P{"notes"}%%TMPL:END%


%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Rename or move [_1]" args="[[%TOPIC%]]"}%%TMPL:END%


%TMPL:DEF{"changefromtitle"}%---++ %MAKETEXT{"Change from"}% 
<nop>%WEB%.%TOPIC%%TMPL:END%

%TMPL:DEF{"changefrom"}%
%TMPL:P{"changefromtitle"}%
%TMPL:END%


%TMPL:DEF{"towebtitle"}%---+++ %MAKETEXT{"To web"}% %TMPL:END%

%TMPL:DEF{"toweb"}%
%TMPL:P{"towebtitle"}%
%TMPL:P{"newweb"}%%TMPL:P{"newwebhelp"}%%TMPL:END%


%TMPL:DEF{"totopictitle"}%---+++ %MAKETEXT{"To topic"}% %TMPL:END%

%TMPL:DEF{"totopic"}%
%TMPL:P{"totopictitle"}%
%TMPL:P{"newtopic"}%%TMPL:P{"newtopichelp"}%%TMPL:END%


%TMPL:DEF{"renameformsteps"}%<div class="foswikiFormSteps">
<div class="foswikiFormStep">%TMPL:P{"changefrom"}%</div>
<div class="foswikiFormStep">%TMPL:P{"toweb"}%</div>
<div class="foswikiFormStep">%TMPL:P{"totopic"}%</div>%TMPL:P{"searchresultsstep"}%</div>%TMPL:END%


%TMPL:DEF{"checkuncheck"}%%TMPL:END%


%TMPL:DEF{"updatenote"}%%IF{"'%SEARCH_COUNT%'=0" then='%MAKETEXT{"No topics to update."}%' else='%MAKETEXT{"Checked topics will be updated to point to the new topic location."}%'}%%TMPL:END%


%TMPL:DEF{"searchresultsstep"}%<div class="foswikiFormStep">
---+++ %MAKETEXT{"Update links"}%
%TMPL:P{"updatenote"}% %IF{"'%SEARCH_COUNT%'=0" then='<!--'}%
<div class="foswikiFormSteps">
<div class="foswikiFormStep">
---++++ %MAKETEXT{"Change links in topics that refer to [_1] in the [_2] Web:" args="<nop>%TOPIC%, <nop>%WEB%"}%
%LOCAL_SEARCH%
</div>
<div class="foswikiFormStep foswikiLast">
---++++ %MAKETEXT{"Change links in topics that refer to [_1] in any Web:" args="<nop>%WEB%.%TOPIC%"}%
%GLOBAL_SEARCH%
</div>%TMPL:P{"checkuncheck"}%
</div>%IF{"'%SEARCH_COUNT%'=0" then='-->'}%
</div>%TMPL:END%


%TMPL:DEF{"notes"}%%TMPL:P{"notegethelp"}%%TMPL:END%


%TMPL:DEF{"notegethelp"}%
   * %POPUPWINDOW{"%SYSTEMWEB%.ManagingTopics" label="Get help on renaming and moving topics"}%%JQREQUIRE{"popupwindow"}%
%TMPL:P{"notecheckmarkedtopics"}%
%TMPL:END%

%TMPL:DEF{"notecheckmarkedtopics"}%   * %MAKETEXT{"The checkmarked topics will be updated (another form will appear which will _eventually_ allow you to rename any topics that were locked)"}%%TMPL:END%


%TMPL:DEF{"content"}%%TMPL:P{"toolbar"}%
%TMPL:P{"pagehelp"}%
%TMPL:P{"formstart"}%
%TMPL:P{"renameformsteps"}%
%TMPL:P{"topicinfo"}%
%TMPL:P{"formend"}%%TMPL:END%
