%TMPL:INCLUDE{"moveattachment"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(delete attachment)"}% %TMPL:END%



%TMPL:DEF{"changefromtitle"}%---++ %MAKETEXT{"Current location:"}% <nop>%WEB%.%TOPIC%%TMPL:END%



%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%TRASHWEB%" />%TMPL:END%



%TMPL:DEF{"movewebhelp"}%%TMPL:END%



%TMPL:DEF{"towebtitle"}%---+++ %MAKETEXT{"Move to web: [_1]" args="<nop>%TRASHWEB%"}% %TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="foswikiSubmit" value=' %MAKETEXT{"Delete"}% ' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%


%TMPL:DEF{"pagetitle"}%%MAKETEXT{"Delete attachment [_1]" args="[[%ATTACHURL%/%FILENAME%][%FILENAME%]]"}%%TMPL:END%



%TMPL:DEF{"totopictitle"}%---+++ %MAKETEXT{"Optionally enter a different topic name:"}%%TMPL:END%

%TMPL:DEF{"toattachmenttitle"}%---+++ %MAKETEXT{"Optionally enter a different attachment name:"}%%TMPL:END%

%TMPL:DEF{"newattachment"}%<p><input name="newattachment" class="foswikiInputField" value="%NEW_FILENAME%" size="36" /><input type="hidden" name="attachment" value="%FILENAME%" /></p>%TMPL:P{"attachmenthelp"}%%TMPL:END%

%TMPL:DEF{"newtopic"}%<p><input name="newtopic" class="foswikiInputField" value="%URLPARAM{"newtopic" default="TrashAttachment"}%" size="36" /><input type="hidden" name="onlywikiname" value="on" /></p>%TMPL:P{"namehelp"}%%TMPL:END%


%TMPL:DEF{"namehelp"}%<p>%MAKETEXT{"[_1] is the default topic for deleted attachments." args="[[%TRASHWEB%.TrashAttachment][TrashAttachment]]"}% %MAKETEXT{"If you enter a different name, make sure the topic exists."}%</p>%TMPL:END%

%TMPL:DEF{"attachmenthelp"}%<p>%MAKETEXT{"The attachment may have to be renamed if an attachment called '[_1]' already exists in the target topic." args="%FILENAME%"}%</p>%TMPL:END%

%TMPL:DEF{"toolbar"}%%TMPL:END%
%TMPL:DEF{"pagehelp"}%%TMPL:END%
%TMPL:DEF{"pagehelp_nojavascript"}%%TMPL:END%



%TMPL:DEF{"searchresultsstep"}%%TMPL:END%



%TMPL:DEF{"updatenote"}%%TMPL:END%%{ end }%
