%{ This is a default template }%%TMPL:INCLUDE{"renamewebbase"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(rename)"}% %TMPL:END%


%TMPL:DEF{"webaction"}%%MAKETEXT{"Confirm rename or move"}%%TMPL:END%


%TMPL:DEF{"newsubweb"}%<input type="hidden" name="newsubweb" value="%NEW_SUBWEB%"  />%NEW_SUBWEB%%TMPL:END%


%TMPL:DEF{"newparentweb"}%<input type="hidden" name="newparentweb" value="%NEW_PARENTWEB%" />%NEW_PARENTWEB%%TMPL:END%


%TMPL:DEF{"topicactionbuttons"}%<input type="hidden" name="onlywikiname" value="%URLPARAM{"onlywikiname"}%" /><input type="submit" class="foswikiSubmit" value="%RENAMEWEB_SUBMIT%" /> %MAKETEXT{"or"}% <a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?action=renameweb&confirm=cancel">%TMPL:P{"canceltopicaction"}%</a>%TMPL:END%