%{ This is a default template }%%TMPL:INCLUDE{"renamebase"}%


%TMPL:DEF{"titleaction"}%%MAKETEXT{"(rename)"}% %TMPL:END%


%TMPL:DEF{"webaction"}%%MAKETEXT{"Rename"}%%TMPL:END%


%TMPL:DEF{"newwebhelp"}%%TMPL:END%


%TMPL:DEF{"newtopic"}%<input name="newtopic" class="twikiInputField" value="%NEW_TOPIC%" size="36" /><br />
%TMPL:P{"nonwikiword"}%%TMPL:END%


%TMPL:DEF{"newweb"}%<select name="newweb" class="twikiSelect">%WEBLIST{"<option $marker value=$qname>$name</option>" webs="%NEW_WEB%,public" selection="%NEW_WEB%" separator=" "}%</select>%TMPL:END%


%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value='%MAKETEXT{"Rename/Move"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%