%{ This is a default template }%
%TMPL:INCLUDE{"search"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(book view)"}% %TMPL:END%

%TMPL:DEF{SEARCH:format}%
%REPEAT%<table width="100%" border="0" cellspacing="0" cellpadding="0" summary="%MAKETEXT{"Search result"}%">
<tr bgcolor="%WEBBGCOLOR%">
  <td width="60%"><h1><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPICNAME%">%TOPICNAME%</a> &nbsp;</h1></td>
  <td width="20%"><a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPICNAME%" rel='nofollow'>%TIME%</a> - %REVISION% &nbsp;</td>
  <td width="20%">%IF{"istopic '%USERSWEB%.$wikiname'" then="[[%USERSWEB%.$wikiname][$wikiname]]" else="!$wikiname"}%</td>
</tr>
</table>
<p />
%TEXTHEAD%
<p />&nbsp;<p />
<hr />
%REPEAT%<br clear="all" />%TMPL:END
