%{ This is a default template }%%TMPL:INCLUDE{"foswiki"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(search result)"}% %TMPL:END%
%TMPL:DEF{"webaction"}% %TMPL:P{"webtopiclist"}% %TMPL:END%
%TMPL:DEF{"topicaction"}%%TMPL:END%


%TMPL:DEF{"content"}%
%SPLIT%%MAKETEXT{"Searched:"}% <b><noautolink>%SEARCHSTRING%</noautolink></b><p />
%SPLIT%%REPEAT%%REPEAT%%SPLIT%%MAKETEXT{"Number of topics:"}% <b>%NTOPICS%</b><p />
%SPLIT%
%TMPL:END%

%{ simple default pager }%

%TMPL:DEF{SEARCH:pager_previous}%[[$previousurl][< Previous]]%TMPL:END%
%TMPL:DEF{SEARCH:pager_next}%[[$nexturl][Next >]]%TMPL:END%
%TMPL:DEF{SEARCH:pager}%
---
$previousbutton $sep Page $currentpage of $numberofpages $sep $nextbutton
---
%TMPL:END%
