%{ this is the template used when the format prameter is not set in SEARCH }%
%TMPL:INCLUDE{"searchformat"}%

%TMPL:DEF{SEARCH:header}%
%MAKETEXT{"Topics in [_1] web:" args="<nop>%WEB%"}%


%TMPL:END%

%TMPL:DEF{SEARCH:format}%

%WEB%.%TOPICNAME%: %TIME% - %REVISION% %AUTHOR%

%TEXTHEAD%

%TMPL:END%

%TMPL:DEF{SEARCH:footer}%
%TMPL:END%

%TMPL:DEF{SEARCH:searched}%
Search: %SEARCHSTRING%
%TMPL:END%

%TMPL:DEF{SEARCH:count}%
%MAKETEXT{"Number of topics:"}% <b>%NTOPICS%</b>
%TMPL:END%


