%{ This is a default template }%%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(search results)"}%%TMPL:END%
%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%

%TMPL:DEF{"topicactionbuttons"}%%MAKETEXT{"(search results)"}%%TMPL:END%

%TMPL:DEF{"footernote"}%%TMPL:END%

%TMPL:DEF{"searched"}%%MAKETEXT{"Searched:"}% <b> %SEARCHSTRING% </b>%TMPL:END%

%TMPL:DEF{"header"}%<div class="foswikiSearchResult">
<div class="foswikiTopRow" style="backgroundcolor:%WEBBGCOLOR%;">
<div class="foswikiLeft"><b>%MAKETEXT{"Topics in [_1] web" args="<nop>%WEB%"}%</b></div>
<div class="foswikiRight foswikiSRAuthor"><b>%MAKETEXT{"Changed"}%</b></div>
<div class="foswikiRight foswikiSRRev"><b>%MAKETEXT{"Changed by"}%</div>
<br class="foswikiClear" /></div><!--/foswikiTopRow-->
</div><!--/foswikiSearchResult-->%TMPL:END%

%TMPL:DEF{"count"}%</table><br clear="all" /> %BR% Number of topics: <b>%NTOPICS%</b>%TMPL:END%

%TMPL:DEF{"result"}%<div class="foswikiSearchResult">
<div class="foswikiTopRow">
<div class="foswikiLeft"><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a></div>
<div class="foswikiRight foswikiSRAuthor"> %AUTHOR%</div>
<div class="foswikiRight foswikiSRRev">%REVISION% - <a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPICNAME%" rel='nofollow'>%TIME%</a>&nbsp;</div>
<br class="foswikiClear" /></div><!--/foswikiTopRow-->
<div class="foswikiBottomRow">
<div class="foswikiSummary foswikiGrayText">%TEXTHEAD%</div><!--/foswikiSummary-->
</div><!--/foswikiBottomRow-->
</div><!--/foswikiSearchResult-->%TMPL:END%


%TMPL:DEF{"content"}%%SPLIT%%TMPL:P{"searched"}%%SPLIT%%TMPL:P{"header"}%%REPEAT%%TMPL:P{"result"}%%REPEAT%%SPLIT%%TMPL:P{"count"}%%SPLIT%%TMPL:END%