%{ this is the template used when the format parameter is not set in SEARCH }%
%TMPL:INCLUDE{"searchformat"}%

%TMPL:DEF{SEARCH:header}%%MAKETEXT{"Results from [_1] web:" args="<nop>%WEB%"}%%TMPL:END%

%TMPL:DEF{SEARCH:format}%
%WEB%.%TOPICNAME%: %TIME% - %REVISION% %AUTHOR%

%TEXTHEAD%

%TMPL:END%

%TMPL:DEF{SEARCH:footer}%
%TMPL:END%

%TMPL:DEF{SEARCH:searched}%
Search: %SEARCHSTRING%
%TMPL:END%

%TMPL:DEF{SEARCH:count}%<div class="foswikiSearchResultCount">%MAKETEXT{"Number of topics: [_1]" args="<span>%NTOPICS%</span>"}%</div>%TMPL:END%