%{ This is a default template }%%TMPL:INCLUDE{"foswiki"}%

%TMPL:DEF{"webaction"}%%MAKETEXT{"Request Validation"}%%TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"(login)"}% %TMPL:END%
%TMPL:DEF{"pagetitle"}%%TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"([_1] validation)" args="<nop>%WIKITOOLNAME%"}%%TMPL:END%

%TMPL:DEF{"title"}%---++ %MAKETEXT{"Confirmation required"}%
%TMPL:END%

%TMPL:DEF{"titlestep"}%<div class="foswikiFormStep">
%TMPL:P{"title"}%
<div style="display:block">
%MAKETEXT{"[_1] has detected a suspicious request to change a page." args="<nop>%WIKITOOLNAME%"}%

%MAKETEXT{"It can occur if you use the back button of the browser after saving a page and try to save the same page again."}%

%MAKETEXT{"It can also be caused by someone trying to use your identity to change content on [_1] without your knowledge." args="<nop>%WIKITOOLNAME%"}%

%MAKETEXT{"Press OK to confirm that this change was intentional - e.g you had clicked a button on a [_1] page just before this message came up." args="<nop>%WIKITOOLNAME%"}%

%MAKETEXT{"Press Cancel otherwise."}%</div></div><!-- /foswikiFormStep-->%TMPL:END%

%TMPL:DEF{"formstart"}%<form action='%SCRIPTURLPATH{"login"}%/%WEB%/%TOPIC%' name='loginform' method='post'>%TMPL:END%

%TMPL:DEF{"formend"}%<literal>
%QUERYPARAMS{encoding="entity" format="<input type='hidden' name='$name' value='$value' />"}%
</literal><input type="hidden" name="origurl" value="%ORIGURL%" /></form>%TMPL:END%

%TMPL:DEF{"submit"}%<input name="response" tabindex='4' type='submit' class='foswikiSubmit' value='OK' /> <input name="response" tabindex='5' type='submit' class='foswikiSubmit' value='Cancel' />%TMPL:END%

%TMPL:DEF{"form"}%<div id="foswikiLogin">
<div class="foswikiFormSteps">%TMPL:P{"formstart"}%%TMPL:P{"titlestep"}%
%TMPL:P{"submit"}%
%TMPL:P{"formend"}%
</div><!-- /foswikiFormSteps-->
</div><!-- /foswikiLogin-->%TMPL:END%

%TMPL:DEF{"content"}%%TMPL:P{"form"}%%TMPL:END%
