%{ This is a default template }%%TMPL:INCLUDE{"foswiki"}%%TMPL:INCLUDE{"messages"}%

%TMPL:DEF{"webaction"}%%MAKETEXT{"Request Validation"}%%TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"Request Validation"}% %TMPL:END%
%TMPL:DEF{"pagetitle"}%%TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"([_1] validation)" args="<nop>%WIKITOOLNAME%"}%%TMPL:END%

%{ Strikeone has JS code that removes display:none from .s1js_available on document.ready().
   If strikeone is selected and JS isn't available, then a neutral "I can do no more" message is displayed. }%
%TMPL:DEF{"titlestep"}%<div class="foswikiFormStep s1js_available" %IF{"{Validation}{Method}='strikeone'" then="style=$quotdisplay:none$quot"}%>
%TMPL:P{"title"}%
</div>%TMPL:END%

%TMPL:DEF{"notestep"}%<div class="foswikiFormStep">
%TMPL:P{"note"}%
</div>%TMPL:END%

%TMPL:DEF{"actionstep"}%<div class="foswikiFormStep foswikiLast s1js_available" %IF{"{Validation}{Method}='strikeone'" then="style=$quotdisplay:none$quot"}%>
%TMPL:P{"action"}%
</div>%TMPL:END%

%TMPL:DEF{"title"}%---++ %MAKETEXT{"Warning! Confirmation required"}%
<noscript>
---++ %MAKETEXT{"Change cannot be completed"}%
</noscript>%TMPL:END%

%TMPL:DEF{"noscript"}%<noscript>
%TMPL:P{"enable_js"}%
</noscript>%TMPL:END%

%TMPL:DEF{"note"}%<p>
%MAKETEXT{"[_1] has received a suspicious change request from your browser." args="<nop>%WIKITOOLNAME%"}%
</p>
<p>
%MAKETEXT{"There is a risk that someone may be trying to use your identity to change content on [_1] without your knowledge." args="<nop>%WIKITOOLNAME%"}%
</p>
%IF{"{Validation}{Method}='strikeone'" then="$percentTMPL:P{noscript}$percent"}%
<div class="s1js_available" %IF{"{Validation}{Method}='strikeone'" then="style=$quotdisplay:none$quot"}%>
   * %MAKETEXT{"Press OK to confirm that this change was intentional."}%
   * %MAKETEXT{"Press Cancel otherwise."}%
<p>
%MAKETEXT{"If you are unsure what this means, read: [_1]" args="%POPUPWINDOW{url="%SCRIPTURLPATH{"view"}%/System/FAQWhyYouAreAskedToConfirm?template=viewplain" label="%MAKETEXT{"why you are being asked to confirm"}%" width="1000" height="550" center="1"}%."}%%JQREQUIRE{"popupwindow"}%
</p>
</div>
%TMPL:END%

%TMPL:DEF{"formstart"}%<form action='%SCRIPTURLPATH{"login"}%/%WEB%/%TOPIC%' name='loginform' method='post'>%TMPL:END%

%TMPL:DEF{"formend"}%<literal>
<input type="hidden" name="foswikioriginalquery" value="%URLPARAM{foswikioriginalquery}%" /><input type="hidden" name="foswikiloginaction" value="validate" /></form>%TMPL:END%

%TMPL:DEF{"action"}%<p><input name="response" tabindex='4' type='submit' class='foswikiSubmit' value='%MAKETEXT{"OK"}%' /> <input name="response" tabindex='5' type='submit' class='foswikiButtonCancel' value='%MAKETEXT{"Cancel"}%' /></p>%TMPL:END%

%TMPL:DEF{"form"}%<div id="foswikiLogin">
<div class="foswikiFormSteps">%TMPL:P{"formstart"}%
%TMPL:P{"titlestep"}%
%TMPL:P{"notestep"}%
%TMPL:P{"actionstep"}%
%TMPL:P{"formend"}%
</div>
</div>%TMPL:END%

%TMPL:DEF{"content"}%%TMPL:P{"form"}%%TMPL:END%