%{ This is a default template }%%TMPL:INCLUDE{"foswiki"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%%{

}%%TMPL:DEF{"titleaction"}% %REVTITLE% %TMPL:END%
%TMPL:DEF{"webaction"}% %TMPL:P{"webtopiclist"}% %TMPL:END%
%TMPL:DEF{"pagetitlestylewrapper"}%%TMPL:END%

%TMPL:DEF{"form"}%%META{"form"}%%TMPL:END%
%TMPL:DEF{"formtop"}%%TMPL:END%
%TMPL:DEF{"formbottom"}%%TMPL:P{"form"}%%TMPL:END%

%TMPL:DEF{"attachments"}%%META{"attachments"}%%TMPL:END%
%TMPL:DEF{"attachmentstop"}%%TMPL:END%
%TMPL:DEF{"attachmentsbottom"}%%TMPL:P{"attachments"}%%TMPL:END%

%TMPL:DEF{"footernote"}%<div class="foswikiFooterNote">%META{"parent" prefix="<br />Parents: "}%</div>%TMPL:END%

%TMPL:DEF{"simpleheader"}%%TMPL:P{"broadcastmessage"}%%TMPL:P{"standardheader"}%%TMPL:P{"flashnote"}%%TMPL:END%

%TMPL:DEF{"content"}%<div class="foswikiTopicText">%TEXT%
#TopicEnd
</div>%TMPL:END%

%TMPL:DEF{"contentwrapper"}%%TMPL:P{"contentheaderstylewrapper"}%%TMPL:P{"formtop"}%%TMPL:P{"attachmentstop"}%
%TMPL:P{"content"}%
%TMPL:P{"contentfooterstylewrapper"}%%TMPL:P{"formbottom"}%%TMPL:P{"attachmentsbottom"}%%TMPL:P{"topicinfo"}%%TMPL:END%

%TMPL:DEF{"flashnote"}%%IF{"defined FLASHNOTE and $FLASHNOTE != ''" then="$percntTMPL:P{$quotflashnote:contents$quot}$percnt"}%%TMPL:END%
%TMPL:DEF{"flashnote:contents"}%<div class="foswikiNotification"> %FLASHNOTE% </div>%TMPL:END%