%TMPL:INCLUDE{"edit"}%<!-- template: edit.natedit.tmpl -->
%TMPL:INCLUDE{"editjavascript"}%<!-- editjavascript// -->
%TMPL:INCLUDE{"edittoolbar"}%<!-- edittoolbar// -->
%TMPL:INCLUDE{"edithelp"}%<!-- edithelp// -->

%TMPL:DEF{"titleaction"}%%MAKETEXT{"(edit)"}% %TMPL:END%
%TMPL:DEF{"pagetitlestylewrapper"}%<!-- backwards compatibility -->%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1 class="patternTemplateTitle">%TMPL:P{"pagetitle"}%</h1>%TMPL:END%

%TMPL:DEF{"content"}%<!-- content -->
%TMPL:P{"contenttitle"}%<!-- contenttitle// -->
%TMPL:P{"formstart"}%<!-- formstart// -->
%TMPL:P{"formattop"}%<!-- formatop// -->
%TMPL:P{"tabpane"}%<!-- tabpane// -->
%TMPL:P{"bottomtopicactions"}%<!-- bottomtopicactions// -->
%TMPL:P{"formend"}%<!-- formend //-->
<!-- //content -->%TMPL:END%

%TMPL:DEF{"formstart"}%<!-- formstart -->
<div class="natEdit">
<form id="EditForm" name="EditForm" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="action_addform" value="" />
<input type="hidden" name="action_cancel" value="" />
<input type="hidden" name="action_checkpoint" value="" />
<input type="hidden" name="action_preview" value="" />
<input type="hidden" name="action_replaceform" value="" />
<input type="hidden" name="action_save" value="" />
<input type="hidden" name="cmd" value="%CMD%" /> 
<input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
<input type="hidden" name="forcenewrevision" value="%URLPARAM{"forcenewrevision"}%" />
<input type="hidden" name="newtopic" value="%NEWTOPIC%" />
<input type="hidden" name="nowysiwyg" value="%URLPARAM{"nowysiwyg"}%" />
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
<input type="hidden" name="redirectto" value="%REDIRECTTO%" />
<input type="hidden" name="rev" value="%URLPARAM{"rev"}%" />
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="submitChangeForm" value="" /> 
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="templatetopic" value="%TEMPLATETOPIC%" />
<input type="hidden" name="template" value="%URLPARAM{"template"}%" />
<input type="hidden" name="editaction" value="%URLPARAM{"action"}%" />
<textarea rows="5" cols="22" style="display:none" id="savearea"></textarea>
<!-- //formstart -->%TMPL:END%

%TMPL:DEF{"textarea"}%<!-- textarea -->
<textarea id="topic" class="twikiTextarea natEditTextArea natedit" name="text" style="width:99%" rows="22" cols="70">%TEXT%</textarea>
<!-- //textarea -->%TMPL:END%


%TMPL:DEF{"formend"}%</form></div>%TMPL:END%

%TMPL:DEF{"help"}%%TMPL:P{"edithelp"}%%TMPL:END%
%TMPL:DEF{"pagehelp"}%<!-- pagehelp-->
%TMPL:P{"help"}%<!-- help// -->
<!-- //pagehelp -->%TMPL:END%

%TMPL:DEF{"tabpane"}%<!-- tabpane -->
%TABPANE{automaxexpand="on"}%
%TMPL:P{"firsttab"}%<!-- firstab// -->
%TMPL:P{"formfields"}%<!-- formfields// -->
%TMPL:P{"settingstab"}%<!-- settingstab// -->
%TMPL:P{"helptab"}%<!-- helptab //-->
%ENDTABPANE%
<!-- //tabpane -->%TMPL:END%

%TMPL:DEF{"formfields"}%%FORMFIELDS%%TMPL:END%

%TMPL:DEF{"topicmeta"}%<!-- topicmeta -->
<div class="natEditTopicInfo"><literal>
  <table>
  <tr class="natEditTopicTitle">
    <th>Title:</th>
    <td><input class="twikiInputField" type="text" name="TopicTitle" size="80" value="%URLPARAM{"TopicTitle" default="%GETTOPICTITLE{encode="entity" default=""}%"}%" /></td>
  </tr>
  </table>
</literal></div>
<!-- //topicmeta -->%TMPL:END%


%TMPL:DEF{"firsttab"}%<!-- firsttab -->
%TAB{"%MAKETEXT{"Text"}%" after="$.natedit.autoMaxExpand('#topic')"}%
%TMPL:P{"topicmeta"}%<!-- topicmeta// -->
%TMPL:P{"textarea"}%<!-- textarea// -->
%ENDTAB%
<!-- //firsttab -->%TMPL:END%

%TMPL:DEF{"settingstab"}%<!-- settingstab -->
%TAB{"Settings" after="fixHeightOfPane()"}% %TMPL:P{"settings"}% %ENDTAB%
<!-- //settingstab -->%TMPL:END%


%TMPL:DEF{"helptab"}%<!-- helptab -->
%TAB{"%MAKETEXT{"Help"}%" after="fixHeightOfPane()"}% %TMPL:P{"edithelp"}% %ENDTAB%
<!-- //helptab -->%TMPL:END%

%TMPL:DEF{"settings"}%<!-- settings -->
<b><label for="parent">%MAKETEXT{"Parent topic"}%:</b></label>
<input class="twikiInputField" type="text" id="parent" name="topicparent" size="40" value="%TOPICPARENT%" />
<!-- //settings -->%TMPL:END%

%TMPL:DEF{"revCommentPluginOptions"}%<!--revCommentPluginOptions -->
%IF{ 
  "context RevCommentPluginEnabled" 
  then="<div class='revComment'><label for='comment'>Summary of changes</label> <input class='twikiEditComment twikiInputField' size='50' type='text' name='comment' id='comment' /></div><!--/revComment-->" 
  else=""
}%
<!-- //revCommentPluginOptions -->%TMPL:END%

%TMPL:DEF{"sig_textareabuttons"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%
