%TMPL:INCLUDE{"edit"}%<!-- template: editform.natedit.tmpl -->
%TMPL:DEF{"title"}%%TMPL:P{"topictitle"}% (%MAKETEXT{"edit form"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"titleaction"}%(%IF{"defined 'rev'" then="%MAKETEXT{"restore form"}%" else="%MAKETEXT{"edit form"}%"}%)%TMPL:END%
%TMPL:DEF{"pagetitle"}%[[%WEB%.%TOPIC%]] (%MAKETEXT{"edit form"}%)%TMPL:END%
%TMPL:DEF{"firsttab"}%%TMPL:END%
%TMPL:DEF{"formfields"}%%FORMFIELDS%%TMPL:END%
