%TMPL:INCLUDE{"dialog"}%
%{ ################################################################################ }%
%TMPL:DEF{"inserttable"}%<div class="natEditInsertTable jqUIDialog {modal:true, draggable:true, width:'auto', position:{my:'top', at:'top', of:'#%URLPARAM{"editor"}%'}, open:jQuery.NatEditor.openDialog}" title="%MAKETEXT{"Create a new table"}%">
  <form>
    <input type="hidden" name="editor" value="%URLPARAM{"editor"}%" />
    <table class="foswikiLayoutTable" width="100%">
      <tr>
        <th>%MAKETEXT{"Headings"}%:</th>
        <td><input type="text" id="natEditInsertTableHeads" size="20" name="heads" class="foswikiInputField" value="1" /></td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Rows"}%:</th>
        <td><input type="text" id="natEditInsertTableRows" size="20" name="rows" class="foswikiInputField" value="4" /></td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Columns"}%:</th>
        <td><input type="text" id="natEditInsertTableCols" size="20" name="cols" class="foswikiInputField" value="4" /></td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Editable"}%:</th>
        <td>
          <label><input type="radio" name="editable" class="foswikiRadioButton" value="true" />%MAKETEXT{"Yes"}%</label>&nbsp;
          <label><input type="radio" name="editable" class="foswikiRadioButton" value="false" checked="checked" />%MAKETEXT{"No"}%</label>
        </td>
      </tr>
    </table>
    <a class="jqUIDialogButton jqUIDialogSubmit {icon:'ui-icon-circle-check'}">%MAKETEXT{"OK"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose {icon:'ui-icon-cancel'}">%MAKETEXT{"Cancel"}%</a> 
  </form>
</div>%TMPL:END%
%{ ################################################################################ }%
%TMPL:DEF{"insertlink"}%<!-- -->
%TMPL:P{"insertlink::start"}%
%TMPL:P{"insertlink::topic"}%<!-- -->
%TMPL:P{"insertlink::attachment"}%<!-- -->
%TMPL:P{"insertlink::external"}%<!-- -->
%TMPL:P{"insertlink::end"}%
<!-- -->%TMPL:END%

%TMPL:DEF{"insertlink::start"}%<!-- -->
<div class="natEditInsertLink jqUIDialog foswikiFormSteps {modal:true, draggable:true, width:550, position:{my:'top', at:'top', of:'#%URLPARAM{"editor"}%'}, open:jQuery.NatEditor.openDialog}" title="%MAKETEXT{"Insert link"}%">
  <form>
    <input type="hidden" name="editor" value="%URLPARAM{"editor"}%" />
    %TABPANE{class="plain"}%
<!-- -->%TMPL:END%

%TMPL:DEF{"insertlink::end"}%<!-- -->
    %ENDTABPANE%
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"Text"}%:</h3>
      <input type="text" size="50" name="linktext" class="foswikiInputField selection" value="" />
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit {icon:'ui-icon-circle-check'}">%MAKETEXT{"OK"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose {icon:'ui-icon-cancel'}">%MAKETEXT{"Cancel"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"insertlink::topic"}%<!-- -->
%TAB{"%MAKETEXT{"Topic"}%" id="topic"}%
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Web"}%:</h3>
    <input type="text" size="50" name="web" class="foswikiInputField jqFocus" value="" /> 
  </div>
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Topic"}%:</h3>
    <input type="text" size="50" name="topic" class="foswikiInputField empty" value="" /> 
  </div>
%ENDTAB%
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"insertlink::attachment"}%<!-- -->
%TAB{"%MAKETEXT{"Attachment"}%" id="attachment"}%
  <img class="foswikiRight foswikiImage natEditAttachmentThumbnail" />
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Web"}%:</h3>
    <input type="text" size="50" name="web" class="foswikiInputField" value="" /> 
  </div>
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Topic"}%:</h3>
    <input type="text" size="50" name="topic" class="foswikiInputField" value="" /> 
  </div>
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"File"}%:</h3>
    <input type="text" size="50" name="file" class="foswikiInputField natEditAttachmentSelector" value="" />
    <!-- <a href="#dialog" class="jqUIDialogLink" style="vertical-align:middle" title="%MAKETEXT{"Upload a file"}%">%JQICON{"add"}%</a> -->
  </div>
%ENDTAB%
<!-- -->%TMPL:END%

%TMPL:DEF{"insertlink::attachment::list"}%%ATTACHMENTS{
  warn="off"
  header="[$n"
  separator=",$n"
  footer="$n]"
  casesensitive="off"
  include=".*%URLPARAM{"term"}%.*"
  format=" {
    \"label\": \"$name\", 
    \"img\": \"$percntIF{
      \"lc('$name')=~'.*\.(gif|jpe?g|png)$' and context ImagePluginEnabled\"
      then=\"%SCRIPTURL{"rest"}%/ImagePlugin/resize?topic=%WEB%.%TOPIC%;file=$name;size=48x48>\"
      else=\"$percntMIMEICON{\"$name\" size=\"48\" format=\"$dollarurl\"}$percnt\"
    }$percnt\",
    \"size\": \"$sizeK\",
    \"comment\": \"$percntENCODE{\"$comment\" type=\"quote\"}$percnt\"
  }"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"insertlink::external"}%<!-- -->
%TAB{"%MAKETEXT{"External"}%" id="external"}%
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Url"}%:</h3>
    <input type="text" size="50" name="url" class="foswikiInputField empty" value="" />
  </div>
%ENDTAB%
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:P{
  %URLPARAM{"dialog"}%
}%
