%TMPL:INCLUDE{"edittoolbar"}%

%{ Word toolbar}%

%TMPL:DEF{"edittoolbar"}%<div class="natEditToolBar natEditHiddenToolBar" id="natEditToolBar">
%{ exittools }%<ul class="natEditExitTools">
%TMPL:P{"savebutton"}%
%TMPL:P{"checkpointbutton"}%
%TMPL:P{"cancelbutton"}%
%TMPL:P{"previewbutton"}%
</ul>
%{"objecttools"}% <ul class="natEditObjectTools" name="hide_in_wysiwyg">
%TMPL:P{"extbutton"}%
%TMPL:P{"intbutton"}%
%TMPL:P{"tablebutton"}%
%TMPL:P{"imagebutton"}%
</ul>
%TMPL:P{"headlinetools"}% 
%{"texttools"}%<ul class="natEditTextTools" name="hide_in_wysiwyg">
%TMPL:P{"boldbutton"}%
%TMPL:P{"italicbutton"}%
%TMPL:P{"underlinebutton"}%
%TMPL:P{"strikebutton"}%
%TMPL:P{"monobutton"}%
%TMPL:P{"verbatimbutton"}%
</ul>
%TMPL:P{"paragraphtools"}% 
%TMPL:P{"listtools"}%
%TMPL:P{"forcenewrevision"}%
<ul class="natEditObjectTools" name="hide_in_wysiwyg">
%TMPL:P{"signaturebutton"}%
</ul>
%TMPL:P{"helptools"}%
</div>%TMPL:END%

%TMPL:DEF{"listtools"}%<ul class="natEditListTools" name="hide_in_wysiwyg">
%TMPL:P{"numberedbutton"}%
%TMPL:P{"bulletbutton"}%
%TMPL:P{"indentbutton"}%
%TMPL:P{"undentbutton"}%
</ul>%TMPL:END%

