%TMPL:INCLUDE{"editjavascript"}%<!-- template: editjavascript.natedit.tmpl -->
%TMPL:DEF{"editjavascript"}%%JQREQUIRE{"natedit"}%%TMPL:END%
%TMPL:DEF{"javascript"}%%TMPL:P{"defaultjavascript"}%%TMPL:P{"editjavascript"}%%TMPL:END%
