<!-- template: edittoolbar.natedit.tmpl -->
%TMPL:DEF{"bottomtopicactions"}%<!-- bottomtopicactions -->
<div class="natEditBottomBar">
<ul>
%TMPL:P{"savebutton"}%<!-- savebutton -->
%TMPL:P{"checkpointbutton"}%<!-- checkpointbutton -->
%TMPL:P{"previewbutton"}%<!-- previewbutton -->
%TMPL:P{"formbutton"}%<!-- formbutton -->
%TMPL:P{"changeform"}%<!-- changeform -->
%TMPL:P{"cancelbutton"}%<!-- cancelbutton -->
%TMPL:P{"forcenewrevision"}%<!-- forcenewrevision -->
</ul>
</div>
<!-- //bottomtopicactions -->%TMPL:END%
%TMPL:DEF{"savebutton"}%<li class="natEditSaveButton">%BUTTON{"%MAKETEXT{"Save"}%" title="%MAKETEXT{"Save and exit"}%" icon="tick" id="save" accesskey="s" onclick="submitEditForm('save', 'save')"}%</li>%TMPL:END%
%TMPL:DEF{"checkpointbutton"}%<li class="natEditCheckpointButton">%BUTTON{"%MAKETEXT{"Save and Continue"}%" title="%MAKETEXT{"Save and continue editing"}%" icon="disk" id="checkpoint" accesskey="w" onclick="submitEditForm('save', 'checkpoint')"}%</li>%TMPL:END%
%TMPL:DEF{"previewbutton"}%<li class="natEditPreviewButton">%BUTTON{"%MAKETEXT{"Preview"}%" title="%MAKETEXT{"Preview your changes"}%" icon="eye" id="preview" accesskey="p" onclick="submitEditForm('preview', 'preview')"}%</li>%TMPL:END%
%TMPL:DEF{"cancelbutton"}%<li class="natEditCancelButton">%BUTTON{"%MAKETEXT{"Cancel"}%" title="%MAKETEXT{"Abandon changes and exit"}%" icon="cross" id="cancel" accesskey="c" onclick="submitEditForm('save', 'cancel')"}% </li>%TMPL:END%
%TMPL:DEF{"forcenewrevision"}%<li class="natEditForceNewRevision"><label for="forcenewrevision"><input type="checkbox" title="Creates a new topic revision when saving" id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% />%MAKETEXT{"Force new revision"}%</label></li>%TMPL:END%
%TMPL:DEF{"formbutton"}%<li class="natEditFormButton">%FORMBUTTON{"$percntBUTTON{\"$action\" accesskey=\"f\" title=\"$title\" icon=\"application_form\" onclick=\"$script\"}$percnt"}%</li>%TMPL:END%
