%TMPL:INCLUDE{"edit"}%<!-- template: editform.natedit.tmpl -->
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"edit form"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"(edit form)"}% %TMPL:END%
%TMPL:DEF{"pagetitle"}%[[%WEB%.%TOPIC%]] (%MAKETEXT{"edit form"}%)%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1 class="patternTemplateTitle">%TMPL:P{"pagetitle"}%</h1>%TMPL:END%
%TMPL:DEF{"firsttab"}%%TMPL:END%
%TMPL:DEF{"settingstab"}%%TMPL:END%
%TMPL:DEF{"formfields"}%%FORMFIELDS%%TMPL:END%
