%{ ################################################################################ }%
%TMPL:DEF{"insertcolor"}%<div class="ui-natedit-dialog-content ui-natedit-insert-color-content" data-title="%MAKETEXT{"Insert a color code"}%">
<form>
<div class="ui-natedit-colorpicker"></div>
<input type="text" name="color" class="foswikiInputField" size="10" value="{{:selection}}" />
</form>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"searchreplace"}%<div class="ui-natedit-dialog-content ui-natedit-search-replace-content" data-title="%MAKETEXT{"Search && Replace"}%">
<form>
  <table class="foswikiLayoutTable">
    <tr>
      <th>%MAKETEXT{"Search"}%</th>
      <td><input type="text" name="search" class="foswikiInputField" value="{{:selection}}" size="30" /></td>
    </tr>
    <tr>
      <th>%MAKETEXT{"Replace"}%</th>
      <td><input type="text" name="replace" class="foswikiInputField" value="" size="30" /></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <label><input type="checkbox" name="ignorecase" class="foswikiRadioButton" value="1" checked /> %MAKETEXT{"ignore case"}%</label>
      </td>
    </tr>
  </table>
</form>
</div>

%{ ################################################################################ }%
%TMPL:DEF{"inserttable"}%<div class="ui-natedit-dialog-content ui-natedit-insert-table-content" data-title="%MAKETEXT{"Create a new table"}%">
<form>
  <table class="foswikiLayoutTable">
    <tr>
      <th>%MAKETEXT{"Header rows"}%</th>
      <td><input type="text" id="natEditInsertTableHeads" size="20" name="heads" class="foswikiInputField" value="1" /></td>
    </tr>
    <tr>
      <th>%MAKETEXT{"Data rows"}%</th>
      <td><input type="text" id="natEditInsertTableRows" size="20" name="rows" class="foswikiInputField" value="4" /></td>
    </tr>
    <tr>
      <th>%MAKETEXT{"Columns"}%</th>
      <td><input type="text" id="natEditInsertTableCols" size="20" name="cols" class="foswikiInputField" value="4" /></td>
    </tr>
    <tr>
      <th>%MAKETEXT{"Editable"}%</th>
      <td>
        <label><input type="radio" name="editable" class="foswikiRadioButton" value="true" />%MAKETEXT{"Yes"}%</label>&nbsp;
        <label><input type="radio" name="editable" class="foswikiRadioButton" value="false" checked="checked" />%MAKETEXT{"No"}%</label>
      </td>
    </tr>
  </table>
</form>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"insertattachment"}%<div class="ui-natedit-dialog-content ui-natedit-insert-attachment-content" data-title="%MAKETEXT{"Insert an attachment"}%">
%TMPL:P{"insertlink::start"}%<!-- -->
%TMPL:P{"insertlink::attachment"}%<!-- -->
%TMPL:P{"insertlink::end"}%<!-- -->
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"insertlink"}%<div class="ui-natedit-dialog-content ui-natedit-insert-link-content" data-title="%MAKETEXT{"Insert a link"}%">
%TMPL:P{"insertlink::start"}%
%TABPANE{class="plain"}%
%TAB{"%MAKETEXT{"Topic"}%" id="topic"}%%TMPL:P{"insertlink::topic"}%%ENDTAB%
%TAB{"%MAKETEXT{"External"}%" id="external"}%%TMPL:P{"insertlink::external"}%%ENDTAB%
%ENDTABPANE%
%TMPL:P{"insertlink::end"}%
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"insertlink::start"}%<form>%TMPL:END%
%TMPL:DEF{"insertlink::end"}%</form>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"insertlink::topic"}%<!-- -->
  <table class="foswikiLayoutTable">
    <tr>
      <th>%MAKETEXT{"Web"}%</th>
      <td><input type="text" size="50" name="web" class="foswikiInputField" value="{{:web}}" /></td>
    </tr>
    <tr>
      <th>%MAKETEXT{"Topic"}%</th>
      <td><input type="text" size="50" name="topic" class="foswikiInputField" value="{{:topic}}" /></td>
    </tr>
    <tr>
      <th>%MAKETEXT{"Text"}%</th>
      <td><input type="text" size="50" name="linktext_topic" class="foswikiInputField" value="{{:selection}}" /></td>
    </tr>
  </table>
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"insertlink::external"}%<!-- -->
  <table class="foswikiLayoutTable">
    <tr>
      <th>%MAKETEXT{"URL"}%</th>
      <td><input type="text" size="50" name="url" class="foswikiInputField empty" value="{{:url}}" /></td>
    </tr>
    <tr>
      <th>%MAKETEXT{"Text"}%</th>
      <td><input type="text" size="50" name="linktext_external" class="foswikiInputField" value="{{:selection}}" /></td>
    </tr>
  </table>
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"insertlink::attachment"}%<!-- -->
  <table class="foswikiLayoutTable">
    <tr>
      <th>%MAKETEXT{"Web"}%</th>
      <td><input type="text" size="50" name="web" class="foswikiInputField" value="{{:web}}" /></td>
    </tr>
    <tr>
      <th>%MAKETEXT{"Topic"}%</th>
      <td><input type="text" size="50" name="topic" class="foswikiInputField" value="{{:topic}}" /></td>
    </tr>
    <tr>
      <th>%MAKETEXT{"File"}%</th>
      <td><input type="text" size="50" name="file" class="foswikiInputField natEditAttachmentSelector" value="{{:file}}" />
        %IF{"context 'TopicInteractionPluginEnabled'"
          then="<span class='ui-natedit-uploader jqUITooltip' data-theme='info' data-position='top' data-arrow='true'>
                  <a href='#' class='ui-natedit-uploader-button' style='vertical-align:middle' title='%MAKETEXT{"Upload a file"}%'>%JQICON{"add"}%</a>
                  <a href='#' class='ui-natedit-uploader-cancel' style='vertical-align:middle;display:none' title='%MAKETEXT{"Cancel upload"}%'>%JQICON{"delete"}%</a>
               </span>"
        }%</td>
    </tr>
    <tr>
      <th>%MAKETEXT{"Text"}%</th>
      <td><input type="text" size="50" name="linktext_attachment" class="foswikiInputField" value="{{:selection}}" /></td>
    </tr>
  </table>
<!-- -->%TMPL:END%
