<!-- template: form.natedit.tmpl -->
%TMPL:DEF{"titleaction"}%%MAKETEXT{"edit"}%%TMPL:END%

%TMPL:DEF{"mandatory"}%<div class='foswikiFormLegend' id="foswikiFormMandatory"><span class="foswikiAlert">*</span> %MAKETEXT{"indicates mandatory fields"}% </div>%TMPL:END%

%TMPL:DEF{"repeatedformrows"}% %REPEAT%
<tr>
  <th>%ROWTITLE%%ROWEXTRA%</th>
  <td>%ROWVALUE%</td>
</tr>%REPEAT%
<tr>
  <th colspan="2">%ROWVALUE%</th>
</tr>%REPEAT% %TMPL:END%

%TMPL:DEF{"formname::dbcache"}%%DBQUERY{topic="%BASEWEB%.%BASETOPIC%" format="$expand(form.name)"}%%TMPL:END%
%TMPL:DEF{"formname::standard"}%%QUERY{"form.name"}%%TMPL:END%

%TMPL:DEF{"formtail"}% %TMPL:P{context="mandatoryfields" then="mandatory"}% %TMPL:END%
%TAB{"%MAKETEXT{"Form"}%"}%
<h2 ><nop>%TMPL:P{context="DBCachePluginEnabled" then="formname::dbcache" else="formname::standard"}%%TMPL:P{"changeform"}%</h2>
<div class="foswikiFormSteps foswikiEditForm">
<table class="foswikiLayoutTable foswikiFormTable">
%TMPL:P{"repeatedformrows"}%
</table>
%TMPL:P{"formtail"}%
</div>
%ENDTAB%
