%TMPL:INCLUDE{"preview"}%<!-- template: prewview.natedit.tmpl -->
%TMPL:INCLUDE{"previewtoolbar"}%<!-- previewtoolbar// -->
%TMPL:INCLUDE{"editjavascript"}%<!-- editjavascript// -->
%TMPL:DEF{"content"}%%TMPL:P{context="NatSkinPluginEnabled" then="content_natskin" else="content_default"}%%TMPL:END%
%TMPL:DEF{"content_default"}%<!-- content_default -->
%TMPL:P{"formstart"}%<!-- formstart// -->
%TMPL:P{"previewtoolbar"}%<!-- previewtoolbar// -->
<div class="patternPreviewArea">
<div class="patternContent">
<div class="patternTopic foswikiTopic">
%TEXT%
</div>
%META{"form"}%
</div>
</div>
<input type="hidden" name="action_addform" value="" />
<input type="hidden" name="action_cancel" value="" />
<input type="hidden" name="action_checkpoint" value="" />
<input type="hidden" name="action_preview" value="" />
<input type="hidden" name="action_replaceform" value="" />
<input type="hidden" name="action_save" value="" />
%TMPL:P{"formend"}%<!-- formend// -->
%TMPL:P{"nojavascript_pagehelp"}%<!-- nojavascript_pagehelp// -->
<!-- //content_default -->%TMPL:END%
