%TMPL:INCLUDE{"preview"}%<!-- template: prewview.natedit.tmpl -->
%TMPL:INCLUDE{"previewtoolbar"}%<!-- previewtoolbar// -->
%TMPL:INCLUDE{"editjavascript"}%<!-- editjavascript// -->
%TMPL:DEF{"patterntopiccontents"}%<div class="foswikiTopic">%TMPL:P{"pagetitlestylewrapper"}% %TMPL:P{"content_pattern"}%</div><!-- /foswikiTopic-->%TMPL:END%
%TMPL:DEF{"content"}%%TMPL:P{context="NatSkinPluginEnabled" then="content_natskin" else="content_pattern"}%%TMPL:END%
%TMPL:DEF{"content_pattern"}%<!-- content_pattern -->
%JQREQUIRE{"natedit"}%<!-- natedit// -->
%TMPL:P{"formstart"}%<!-- formstart// -->
%TMPL:P{"previewtoolbar"}%<!-- previewtoolbar// -->
<div class="patternContent">
<div class="foswikiTopic">
<div class="foswikiPreviewArea">%TEXT%</div>
%META{"form"}%
</div>
</div>
</div>
<input type="hidden" name="action_addform" value="" />
<input type="hidden" name="action_cancel" value="" />
<input type="hidden" name="action_checkpoint" value="" />
<input type="hidden" name="action_preview" value="" />
<input type="hidden" name="action_replaceform" value="" />
<input type="hidden" name="action_save" value="" />
<input type="hidden" name="text" value="%HIDDENTEXT%" />
%TMPL:P{"formbottom"}%<!-- formbottom// -->
%TMPL:P{"formend"}%<!-- formend// -->
%TMPL:P{"nojavascript_pagehelp"}%<!-- nojavascript_pagehelp// -->
<!-- //content_pattern -->%TMPL:END%
