<div class="natEditPreviewDialog jqUIDialog" data-modal="true" data-resizable="true" data-draggable="true" data-width="%width%" data-height="%height%" data-auto-open="true" title="%MAKETEXT{"Preview"}%">
  <div class="foswikiPreviewArea">
    %TEXT%
    %META{"form"}%
  </div>
  <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"Close"}%</a> 
</div>
