%TMPL:INCLUDE{"edittoolbar"}%<!-- template: settingstoolbar.natedit.tmpl -->
%TMPL:DEF{"bottomtopicactions"}%<!-- bottomtopicactions -->
<div class="natEditBottomBar">
<ul>
%TMPL:P{"saveorrestorebutton"}%<!-- savebutton -->
%TMPL:P{"cancelbutton"}%<!-- cancelbutton -->
</ul>
<br class="foswikiClear" />
</div>
<!-- //bottomtopicactions -->%TMPL:END%
