%TMPL:INCLUDE{"settings"}%
%TMPL:INCLUDE{"settingstoolbar"}%

%TMPL:DEF{"content"}%%TMPL:P{"contenttitle"}%<div class="ui-natedit-container">
<form id="EditForm" name="EditForm" method="post" action="%SCRIPTURLPATH{"manage"}%/%WEB%/%TOPIC%">
<input type="submit" style="display:none" />
<input type="hidden" name="action_addform" value="" />
<input type="hidden" name="action_cancel" value="" />
<input type="hidden" name="action_checkpoint" value="" />
<input type="hidden" name="action_preview" value="" />
<input type="hidden" name="action_replaceform" value="" />
<input type="hidden" name="action_save" value="" />
<input type="hidden" name="action" value="saveSettings" />
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
%JQREQUIRE{"focus, natedit, blockui"}%%TABPANE%
%TAB{"%MAKETEXT{"Preferences"}%"}%
<textarea class="foswikiTextArea natedit" name="text" id="topic" wrap="virtual" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style="%EDITBOXSTYLE%">%TEXT%</textarea>
%ENDTAB%
%TMPL:P{"helptab"}%%ENDTABPANE%
%TMPL:P{"bottomtopicactions"}%</form></div>%TMPL:END%

%TMPL:DEF{"helptab"}%%TAB{"%MAKETEXT{"Help"}%"}% %TMPL:P{"settingshelp"}% %ENDTAB%%TMPL:END%

%TMPL:DEF{"settingshelp"}%<!-- -->
<h2>%MAKETEXT{"Help"}%</h2>
<div class="natEditHelp">
%MAKETEXT{"Each preference has the syntax"}% 

<pre>
%MAKETEXT{"~[multiple of 3 spaces~] * ~[space~] Set ~[space~] VARIABLENAME ~[space~] = ~[value~]"}%
</pre>

<a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/PreferenceSettings" target="_blank">%MAKETEXT{"Get help on setting topic preferences"}%</a>
</div>
<!-- -->%TMPL:END%
