%TMPL:INCLUDE{"settings"}%
%TMPL:INCLUDE{"settingstoolbar"}%

%TMPL:DEF{"content"}%%TMPL:P{"contenttitle"}%<form id="EditForm" name="EditForm" method="post" action="%SCRIPTURLPATH{"manage"}%/%WEB%/%TOPIC%">
<input type="submit" style="display:none" />
<input type="hidden" name="action_addform" value="" />
<input type="hidden" name="action_cancel" value="" />
<input type="hidden" name="action_checkpoint" value="" />
<input type="hidden" name="action_preview" value="" />
<input type="hidden" name="action_replaceform" value="" />
<input type="hidden" name="action_save" value="" />
<input type="hidden" name="action" value="saveSettings" />
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
%JQREQUIRE{"focus, natedit"}%%TABPANE%
%TAB{"%MAKETEXT{"Preferences"}%"}%
<textarea class="foswikiTextArea jqFocus" name="text" id="topic" wrap="virtual" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style="%EDITBOXSTYLE%">%TEXT%</textarea>
%ENDTAB%
%TMPL:P{"helptab"}%%ENDTABPANE%
%TMPL:P{"bottomtopicactions"}%%TMPL:P{"formend"}%</form>%TMPL:END%

%TMPL:DEF{"helptab"}%%TAB{"%MAKETEXT{"Help"}%"}% %TMPL:P{"help"}% %ENDTAB%%TMPL:END%
