/* styles for the ImageGalleryPlugin */

/* container of the gallery */
.igp {
  width:75%;
  padding:5px;
}

/* container of the thumbnails */
.igpThumbNails {
  text-align:center;
  padding:5px;
  width:100%;
}
/* table of thumbnails */
.igpThumbNailsTable {
  text-align:center;
  width:100%;
}

/* one thumbnail */
.igpThumbNail {
  vertical-align:bottom;
  width:25%;
  padding-top:5px;
}
.igpThumbNail img {
  border:0px;
}

/* title of a thumbnail */
.igpThumbNailTitle {
  vertical-align:top;
}

/* table in single-image mode */
.igpPictureTable {
}

/* single image */
.igpPicture {
  text-align:center;
  padding:10px;
}
.igpPicture img {
  border:0px;
}

/* title describing the image */
.igpPictureTitle {
}

/* navigation */
.igpNavi {
  text-align:center;
}
.igpNaviSep,
.igpNaviDisabled span,
.igpNavi a span {
  display:none;
}
.igpNaviContents {
  margin:0 auto;
  width:105px;
}
.igpNaviDisabled,
.igpNaviContents a {
  float:left;
  width:16px;
  height:16px;
  background-image:url(navi.png) !important;
  background-repeat:no-repeat;
  margin:0px 5px 0px 0px;
}
.igpNavi a:hover {
  background-color:inherit;
}

.igpNaviFirst { background-position:0px  -16px !important; }
.igpNaviPrev { background-position:-16px -16px !important; }
.igpNaviNext { background-position:-32px -16px !important; }
.igpNaviLast { background-position:-48px -16px !important; }

.igpNaviFirst:hover { background-position:0px  0px !important; }
.igpNaviPrev:hover { background-position:-16px 0px !important; }
.igpNaviNext:hover { background-position:-32px 0px !important; }
.igpNaviLast:hover { background-position:-48px 0px !important; }

.igpNaviFirst.igpNaviDisabled { background-position:0px  -32px !important; }
.igpNaviPrev.igpNaviDisabled { background-position:-16px -32px !important; }
.igpNaviNext.igpNaviDisabled { background-position:-32px -32px !important; }
.igpNaviLast.igpNaviDisabled { background-position:-48px -32px !important; }

.igpNaviDone {
  float:right;
}

/* red dot span */
.content h2 .igpRedDot a,
.content .igpRedDot a,
h2 .igpRedDot a,
.igpRedDot a {
  color:red;
  font-weight:bold;
  text-decoration:none;
}

/* error messages */
.igpAlert {
  color:red;
}
