/*
places the side bar at the right
depends on global settings in layout.css
*/

#patternLeftBar {
	float:right;
}
#patternMain {
	float:left;
	overflow:hidden;
}
.patternViewPage #patternOuter {
	margin-right:18em;
}
#patternLeftBar {
	width:18em; /* includes left padding, see #patternLeftBarContents */
	margin-right:-18em;
	margin-left:-1px;
	position:relative;
}
#patternLeftBarContents {
	padding-left:2em;
}
