Source: foswiki
Section: web
Priority: optional
Maintainer: Sven Dowideit <SvenDowideit@fosiki.com>
Build-Depends: debhelper (>= 5), tardy, po-debconf, dpatch
Standards-Version: 3.8.2

Package: foswiki
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libnet-perl, libmime-base64-perl, rcs (>= 5.7), apache | apache2 | apache2.2, debconf (>=  0.5) | debconf-2.0, libalgorithm-diff-perl, liberror-perl, libtext-diff-perl, liblocale-maketext-lexicon-perl, libcgi-session-perl, liburi-perl, libhtml-parser-perl, libcrypt-passwdmd5-perl, libhtml-tree-perl
Suggests: libunicode-maputf8-perl, libapache-mod-perl, libapache2-mod-perl2, libapache2-mod-auth-plain
Description: A Web Based Collaboration Platform
 Foswiki is a modern CGI-based implementation of the Wiki collaboration platform
 originally developed for OOP/Patterns collaboration.  In addition to the
 traditional Wiki feature of allowing any web browser to serve as a contributing
 client, Foswiki adds rcs-based version control and user management.
Provides: foswiki-autoviewtemplateplugin, foswiki-comparerevisionsaddon, foswiki-commentplugin, foswiki-edittableplugin, foswiki-emptyplugin, foswiki-famfamfamcontrib, foswiki-historyplugin, foswiki-interwikiplugin, foswiki-jscalendarcontrib, foswiki-jqueryplugin, foswiki-mailercontrib, foswiki-tableplugin, foswiki-twistyplugin, foswiki-patternskin, foswiki-preferencesplugin, foswiki-renderlistplugin, foswiki-slideshowplugin, foswiki-smiliesplugin, foswiki-spreadsheetplugin, foswiki-tipscontrib, foswiki-wysiwygplugin, foswiki-tinymceplugin, foswiki-topicusermappingcontrib, foswiki-twikicompatibilityplugin, foswiki-zoneplugin
Replaces: foswiki-autoviewtemplateplugin, foswiki-comparerevisionsaddon, foswiki-famfamfamcontrib, foswiki-historyplugin, foswiki-jqueryplugin, foswiki-zoneplugin 
Conflicts: foswiki-autoviewtemplateplugin, foswiki-comparerevisionsaddon, foswiki-famfamfamcontrib, foswiki-historyplugin, foswiki-jqueryplugin, foswiki-zoneplugin, foswiki-ratingcontrib, foswiki-voteplugin
