#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

include /usr/share/dpatch/dpatch.make

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# not www-data.  remember to sync with postinst.
WIKI_OWNER=www-data

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: patch build-stamp

build-stamp: configure-stamp
	dh_testdir
	touch build-stamp

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	find . -name '*~' -print0 | xargs -0 rm -f
	rm -f build-stamp configure-stamp
	debconf-updatepo
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	echo `pwd`

	#copy the files into the debian dir for packaging
	cp -r tools debian/foswiki/var/lib/foswiki/
	cp -Rp pub debian/foswiki/var/lib/foswiki/
	cp -pR templates debian/foswiki/var/lib/foswiki/
	cp -pR locale debian/foswiki/var/lib/foswiki/
	cp -pR data debian/foswiki/var/lib/foswiki/
	cp -Rp bin debian/foswiki/var/lib/foswiki/
	cp debian/foswiki/var/lib/foswiki/bin/LocalLib.cfg.txt debian/foswiki/var/lib/foswiki/bin/LocalLib.cfg
	cp -pR lib debian/foswiki/var/lib/foswiki/

	#/etc/foswiki
	cp -p debian/apache.conf debian/foswiki/etc/foswiki/
	cp -p debian/ShorterUrl.conf debian/foswiki/etc/foswiki/
	cp debian/LocalSite.cfg debian/foswiki/etc/foswiki/LocalSite.cfg

	#set up the permissions we want
	chmod 755 debian/foswiki/var/lib/foswiki/bin/*
	chmod 644 debian/foswiki/var/lib/foswiki/bin/setlib.cfg
	chmod 644 debian/foswiki/var/lib/foswiki/bin/LocalLib.cfg
	chmod 644 debian/foswiki/var/lib/foswiki/bin/LocalLib.cfg.txt

	chmod -R 644 debian/foswiki/var/lib/foswiki/templates/*
	chmod -R 777 debian/foswiki/var/lib/foswiki/tools/*

	# Make dir group WIKI_OWNER, g+rw, +t so extensions may be added
	# without overwriting existing files
	chgrp $(WIKI_OWNER) debian/foswiki/var/lib/foswiki/bin
	chmod 1775 debian/foswiki/var/lib/foswiki/bin

	#create mailnotify timestamps
	date +%s > debian/foswiki/var/lib/foswiki/data/System/.mailnotify
	date +%s > debian/foswiki/var/lib/foswiki/data/Main/.mailnotify
	date +%s > debian/foswiki/var/lib/foswiki/data/Sandbox/.mailnotify

	#SVEN - you should probably make this a patch file.
	perl -piOLD -e 's{#! perl}{#!/usr/bin/perl}g;' debian/foswiki/var/lib/foswiki/tools/rewriteshbang.pl
	perl -piOLD -e 's{#!perl}{#!/usr/bin/perl}g;' debian/foswiki/var/lib/foswiki/tools/upgrade_emails.pl

	rm debian/foswiki/var/lib/foswiki/tools/*OLD

	find debian/foswiki/var/lib/foswiki/data -type f -name '*,v' | \
	  xargs -n1 perl -pi -e 's/^(\s)nobody:/\1$(WIKI_OWNER):/ unless $$done; $$done=1 if /^\n$$/;'
	tar -cf - -C debian/foswiki var/lib/foswiki/data \
		| tardy -User_NAme=$(WIKI_OWNER) -Group_NAme=www-data \
		| gzip -c -9 > debian/foswiki/usr/share/foswiki/foswiki-data.tar.gz
	rm -rf debian/foswiki/var/lib/foswiki/data

#do the same with pub - it should also only be replaced if there is none there already
# and it needs to be owned by $(WIKI_OWNER)
	find debian/foswiki/var/lib/foswiki/pub -type f -name '*,v' | \
	  xargs -n1 perl -pi -e 's/^(\s)nobody:/\1$(WIKI_OWNER):/ unless $$done; $$done=1 if /^\n$$/;'
	tar -cf - -C debian/foswiki var/lib/foswiki/pub \
		| tardy -User_NAme=$(WIKI_OWNER) -Group_NAme=www-data \
		| gzip -c -9 > debian/foswiki/usr/share/foswiki/foswiki-pub.tar.gz
	rm -rf debian/foswiki/var/lib/foswiki/pub


	perl -pi~ -e 's|^(.foswikiLibPath).*|\1 = \"/var/lib/foswiki/lib\";|;' debian/foswiki/var/lib/foswiki/bin/LocalLib.cfg
	#enable /var/lib/foswiki/lib as an extra lib dir for plugin installers (configure, fosiki extras and unziping)
	perl -pi~ -e 's|^# (.localPerlLibPath).*|\1 = \"/etc/foswiki\";\n\$$CPANBASE = 1;|;' debian/foswiki/var/lib/foswiki/bin/LocalLib.cfg
	rm debian/foswiki/var/lib/foswiki/bin/LocalLib.cfg~

	chmod -R 644 debian/foswiki/etc/foswiki/*

# fix paths for index.html
	perl -pi~ -e 's|http://your.server.com/your-cgi-bin/view/Main/WebHome|http://localhost/foswiki/bin/view/Main/WebHome|;' index.html
	perl -pi~ -e 's|license.txt|copyright|g;' index.html
	rm index.html~

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs -Xlicense.txt
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms # --exclude /var/lib/foswiki/data
#	dh_makeshlibs
	dh_installdeb
	dh_perl
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

# maintainer targets
#checkpo:
#	for i in po/*.po; do \
#		echo \"Checking: $$i\"; \
#		msgmerge -U $$i po/templates.pot; \
#		msgfmt -o /dev/null -c --statistics $$i; \
#	done

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
