%{----------------------------------------
Link for a "subscribe" request. Note that REST parameters are encoded in
data-subscribe
}%
%TMPL:DEF{spt:subscribe}%
<a href="#" class="subscribe_link" data-topic="$topic" data-subscriber="$subscriber" data-remove="$remove" data-validation-key="?$nonce" rel="nofollow" title="%MAKETEXT{"Subscribe to this topic"}%" >%MAKETEXT{"Subscribe"}%</a>
%TMPL:END%
%{----------------------------------------
Link for an "unsubscribe" request. Note that REST parameters are encoded in
data-subscribe
}%%TMPL:DEF{spt:unsubscribe}%
<a href="#" class="subscribe_link" data-topic="$topic" data-subscriber="$subscriber" data-remove="$remove" data-validation-key="?$nonce" rel="nofollow" title="%MAKETEXT{"Unsubscribe from this topic"}%" >%MAKETEXT{"Unsubscribe"}%</a>
%TMPL:END%
%{----------------------------------------
Error message
}%%TMPL:DEF{sp:no_subscribe_topic}%%{
}%%MAKETEXT{"No topic to subscribe to"}%%{
}%%TMPL:END%
%{----------------------------------------
Error message
}%%TMPL:DEF{sp:cannot_subscribe}%%{
}%%MAKETEXT("[_1] cannot subscribe", args="%PARAM1%"}%%{
}%%TMPL:END%
%{----------------------------------------
Error message
}%%TMPL:DEF{sp:bad_subscriber}%%{
}%%MAKETEXT{"Bad subscriber '[_1]'" args="%PARAM1%"}%%{
}%%TMPL:END%
%{----------------------------------------
Error message
}%%TMPL:DEF{sp:cannot_change}%%{
}%%MAKETEXT{"Cannot change subscription: [_1]" args="%PARAM1%"}%%{
}%%TMPL:END%
%{----------------------------------------
Success message
}%%TMPL:DEF{sp:subscribe_done}%%MAKETEXT{"Unsubscribe"}%%TMPL:END%
%{----------------------------------------
Success message
}%%TMPL:DEF{sp:unsubscribe_done}%%MAKETEXT{"Subscribe"}%%TMPL:END%
