<#-- AUTHORIZE TEMPLATE  -->

<#assign localSecurityWarning>
	<div class='foswikiNotification foswikiAlert'>
		<h3 style="margin-top:0;">Security tips</h3>
		<ol>
			<li>Always use a strong password that can't be guessed easily.</li>
			<li>Always configure the web server so that Configure is only accessible to the people who should use it.</li>
			<li>If you are running Foswiki on a public website, you can totally disable saving from Configure by making <code>lib/LocalSite.cfg</code> read-only once you are happy with your configuration.</li>
		</ol>
	</div>
</#assign>

<#assign localFormNewPassword>
	<hr />
		<p>
		<#if hasPassword = 1>
			New password:
		<#else>
			Create password:
		</#if>
		<br />
		<input type='password' name='newCfgP' size='30' maxlength='80' class='foswikiInputField' />
		<input type='hidden' name='checkCfpP' value='1' />
		</p>
		<p>
		To verify, repeat password:<br />
		<input type='password' name='confCfgP' size='30' maxlength='80' class='foswikiInputField' />
		</p>
</#assign>

<#assign localSetPassword>
	<div class='foswikiFormSteps'>
		<div class='foswikiFormStep'>
			<#if hasPassword = 1>
				<h2>Set your Configure password</h2>
			<#else>
				<h2>Save your settings by creating your Configure password</h2>
			</#if>
            ${localFormNewPassword}
            <hr />
            <input type="submit" class='foswikiSubmit' value='Set password and Save changes'  onclick="return setSubmitAction(this,'Savechanges');"  />
        </div>
	</div>
</#assign>

<#assign localEnterPassword>
	<div class='foswikiFormSteps'>
		<div class='foswikiFormStep'>
			<h2>In order to proceed, Configure requires that you type your password.</h2>
            <hr />
            <p><input type="password" name='cfgAccess' size='30' maxlength='80' class='foswikiInputField foswikiFocus' placeholder='Your password' /><input type="submit" class='foswikiSubmit' value='Continue' /></p>
            ${localNotePasswordForgotten}
            <hr />
            <p><input type="submit" class='foswikiButton' name='changePassword' value='Change password...' /></p>   
        </div>
	</div>
</#assign>

<#assign extEnterPassword>
	<div class='foswikiFormSteps'>
		<div class='foswikiFormStep'>
			<h2>In order to process the extension changes, configure requires that you type your password.</h2>
		</div>
		<div class='foswikiFormStep'>
			<p><input type="password" name='cfgAccess' size='30' maxlength='80' class='foswikiInputField foswikiFocus' placeholder='Your password' />
			&nbsp; <input type="submit" class='foswikiSubmit' value='Process extensions' /></p>
		</div>
		<hr />
        ${localNotePasswordForgotten}
        <#if displayStatus == 2>
            <hr />
            <p><input type="submit" class='foswikiButton' name='changePassword' value='Change password...' /></p>
        </#if>
	</div>
</#assign>

<#assign testEnterPassword>
	<div class='foswikiFormSteps'>
		<div class='foswikiFormStep'>
			<h2>In order to proceed with the Email test, configure requires that you type your password.</h2>
		</div>
		<div class='foswikiFormStep'>
			<p><input type="password" name='cfgAccess' size='30' maxlength='80' class='foswikiInputField foswikiFocus'  placeholder='Your password' />
			&nbsp; <input type="submit" class='foswikiSubmit' value='Run Test' /></p>
		</div>
		<hr />
        ${localNotePasswordForgotten}
        <#if displayStatus == 2>
            <hr />
            <p><input type="submit" class='foswikiButton' name='changePassword' value='Change password...' /></p>
        </#if>
	</div>
</#assign>

<#assign localNotePasswordForgotten>
    <#if displayStatus == 2>
	<div class='foswikiHelp'>Password forgotten? To reset your password, log in to the server and delete the <code>$Foswiki::cfg{Password} = '...';</code> line from <code>lib/LocalSite.cfg</code>. Then reload this page and create a new password.</div>
    </#if>
    <#if displayStatus == 8>
    <p>Password forgotten? Password cannot be reset from the Extension installation screens.   To reset your password, log in to the server and delete the <code>$Foswiki::cfg{Password} = '...';</code> line from <code>lib/LocalSite.cfg</code>.
    Then return to configuration and save a configuration change before attempting to install or remove extensions..</p>
    </#if>
</#assign>

<#assign localChangePassword>
	<div class='foswikiFormSteps'>
		<div class='foswikiFormStep'>
            <h2>Change your Configure password</h2>
            <hr />
                <p>Current password:<br />
                <input type="password" name='cfgAccess' size='30' maxlength='80' class='foswikiInputField foswikiFocus' /></p>
                ${localNotePasswordForgotten}
            ${localFormNewPassword}
            <hr />
            <input type="submit" class='foswikiSubmit' value='Set password and Save changes'  onclick="return setSubmitAction(this,'Savechanges');"  />
		</div>
	</div>
</#assign>

<#assign localUpdate>
	<h2>You are about to update 
		<#if modifiedCount == 1>
			${modifiedCount} setting
		<#else>
			${modifiedCount} settings
		</#if>
		<#if changePassword??>
			- and to change your password...
		</#if>
	</h2>
	<#if changesList??>
		<div class='configureChangeList'>
			<table>
				<#list changesList as i>
					<tr><th>${i.key}</th><td>${i.value}</td></tr>
				</#list>
			</table>
			<p><input type="submit" class='foswikiButton' value="Make more changes" onclick="return setSubmitAction(this);" /></p>
		</div>
        </#if>
        <#if someProblems gt 0>
            <div><h3></#if>
        <#if someProblems == 1>
          There is an unresolved problem.</h3> There is </#if>
        <#if someProblems gt 1>
          There are unresolved problems.</h3> There are </#if>
        <#if totalErrors gt 0>
          ${totalErrors} error</#if><#if totalErrors gt 1>s</#if><#if totalErrors gt 0 && totalWarnings gt 0> and </#if><#if totalWarnings gt 0>${totalWarnings} warning</#if><#if totalWarnings gt 1>s</#if><#if someProblems gt 0>.
          <p>We recommend that you resolve </#if>
        <#if someProblems == 1>this </#if>
        <#if someProblems gt 1>these </#if>
        <#if someProblems gt 0>before saving the configuration.<p></div>
        </#if>

     <input type="hidden" name='confirmChanges' value='1' />
	<form method="post" action="${formAction}" enctype="multipart/form-data" name="foswiki_configure">
		<#if params??>${params}</#if>
		<#if hasPassword == 0>
			${localSecurityWarning}
			${localSetPassword}
		</#if>
		<#if hasPassword == 1 && changePassword??>
			${localChangePassword}
		</#if>
    <#if hasPassword == 1 && !changePassword??>
        ${localEnterPassword}
    </#if>
</#assign>

<#assign localNoUpdate>
<h2>Nothing to do - you haven't made any changes yet</h2>

<p><input type="submit" class='foswikiButton' value="Back to main screen" onclick="return setSubmitAction(this, 'Configure');" /></p>
</#assign>

<#assign extRemove>
	<h3>
		Removing 
		<#if extRemoveCount == 1>
			extension
		<#else>
			${extRemoveCount} extensions
		</#if>
    </h3>
    <div class='configureChangeList'>
        <table>
            <#list extRemoveItems as i>
               <tr>${i}</tr>
            </#list>
        </table>
        <p>Go back in your browser if you want to make any changes.</p>
    </div>
</#assign>

<#assign extAdd>
	<h3>
		Adding 
		<#if extAddCount == 1>
			extension
		<#else>
			${extAddCount} extensions
		</#if> 
    </h3>
    <div class='configureChangeList'>
        <table>
            <#list extAddItems as i>
                <tr>${i}</tr>
            </#list>
        </table>
        <p>Go back in your browser if you want to make any changes.</p>
    </div>
</#assign>

<#assign extUpdate>
<h2>Configure extension installer will ${extAction}</h2>
<#if extRemoveCount == 0>
<#else>
${extRemove}
</#if>

<#if extAddCount == 0>
<#else>
${extAdd}
</#if>

<input type="hidden" name='confirmChanges' value='1' />
<form method="post" action="${formAction}" enctype="multipart/form-data" name="foswiki_configure">
    <#if params??>${params}</#if>
    ${extEnterPassword}
</#assign>

<#assign testEmail>
<h2>Test email configuration</h2>

<form method="post" action="${formAction}" enctype="multipart/form-data" name="foswiki_configure">
    <#if params??>${params}</#if>
	${testEnterPassword}
</#assign>

<#assign cfgLogin>
	<h2>Enter your password to access configuration
		<#if changePassword??>
			- and to change your password...
		</#if>
	</h2>

	<form method="post" action="${formAction}" enctype="multipart/form-data" name="foswiki_configure">
		<#if params??>${params}</#if>
		<#if hasPassword == 0>
			${localSecurityWarning}
			${localSetPassword}
		</#if>
		<#if hasPassword == 1 && changePassword??>
			${localChangePassword}
		</#if>
    <#if hasPassword == 1 && !changePassword??>
        ${localEnterPassword}
    </#if>
</#assign>

<div class='section'>
<#if messageType == 4><div class="foswikiNotification"> Password changed </div></#if>
<#if messageType == 8><div class="foswikiNotification foswikiAlert"> Password not set. Try again below.</div></#if>
<#if messageType == 16><div class="foswikiNotification foswikiAlert"> Password incorrect. Try again below.</div></#if>
<#if messageType == 32><div class="foswikiNotification foswikiAlert"> New and repeated passwords do not match. Try again below.</div></#if>
<#if messageType == 64><div class="foswikiNotification foswikiAlert"> Please enter a new password.</div></#if>


<#if displayStatus == 1>${localNoUpdate}</#if>
<#if displayStatus == 2>${localUpdate}</#if>
<#if displayStatus == 4>${localNoUpdate}</#if>
<#if displayStatus == 8>${extUpdate}</#if>
<#if displayStatus == 16>${testEmail}</#if>
<#if displayStatus == 32>${cfgLogin}</#if>

</div>
