<!-- Modal form for password change.  This is invoked from the main screen. -->
<div id="configurePasswordForm" class="configureModalForm configurePasswordForm">
  <h1>Change Configure Password</h1>
  <form method="post" action="${formAction}" enctype="multipart/form-data" name="changePassword">
    <input type="hidden" name="time" value="${time}"  />
    <input type="password" name="newPassword" size="30" maxlength="80" class='foswikiInputField foswikiFocus' placeholder='New password' /><br />
    <input type="password" name="newPassword2" size="30" maxlength="80" class='foswikiInputField' placeholder='Verify new password' />
<#if removePermitted gt 0><p><span><input type="checkbox" name="removePassword" class='foswikiInputField' value='1' /> Remove configure password</span></#if>
<p>
<#assign actionButtonLabel>Submit change</#assign>
${actionButton}
${actionFeedback}
<$authenticationReason>Changing the configure password</$authenticationReason>
${authenticationNeeded}
  </form>
</div> 
