<#-- EXTENSIONS UPDATE SCREEN TEMPLATE -->

<h2>Install and Update Extensions</h2>

<div class="foswikiHelp">
	<strong>Note:</strong> To install extensions, the webserver user has to be able to write files everywhere in your Foswiki installation. Otherwise you may see 'No permission to write' errors.
<p />
    Use the checkboxes to select the operations you want to perform, and then
    select the "Add/remove selected extensions" button at the bottom of the page.
<p />
<strong>Warning</strong>; if you have modified <u>any</u> of the files packaged with an extension that you uninstall, upgrade or re-install, then your changes will be lost.
</div>

<#if consultedLocations??>
	Consulted locations: ${consultedLocations??join(", ")}
</#if>

<#-- errors -->
<#if errors??>
	<#list errors as i>
		<div class='configureError'>${i}</div>
	</#list>
</#if>

<#-- table contents -->
<#if table??>
  <form action="${formAction}" method="POST">
    <input type="hidden" name="action" value="ManageExtensions" />
	<table class='configureExtensionsTable' border='0' cellspacing='0'>
		${table}
		<tr> 
			<td colspan='999' class='configureTableOutside'>
				Currently Installed: ${installedCount} out of ${allCount}
			</td>
		</tr>
	</table>
    <input type="submit" name="submit" value="Add/remove selected extensions" />;
  </form>
</#if>
