<#-- EXTENSIONS UPDATE SCREEN TEMPLATE -->

<h2>Install and Update Extensions</h2>

<div class="foswikiHelp">
	<p><strong>Note:</strong> To install extensions, the webserver user has to be able to write files everywhere in your Foswiki installation. Otherwise you may see 'No permission to write' errors.</p>
    <p class="configureWarn"><strong>Warning:</strong> if you have modified <em>any</em> of the files packaged with an extension that you uninstall, upgrade or re-install, then your changes will be lost.</p>
</div>

<#if consultedLocations??>
	<div class="configureConsultedLocations">
		Consulted locations: ${consultedLocations?join(, )}
	</div>
</#if>

<#-- errors -->
<#if errors??>
	<#list errors as i>
		<div class='configureError'>${i}</div>
	</#list>
</#if>

<#-- table contents -->
<#if table??>
  <form action="${formAction}" method="POST">
    <input type="hidden" name="action" value="ManageExtensions" />
	<table class='configureExtensionsTable' border='0' cellspacing='0'>
		${table}
	</table>
	<div class="configureActions"><div class='foswikiLeft'>Currently installed: ${installedCount} out of ${allCount}</div> <input type="submit" name="submit" class="foswikiSubmit" value="Install / uninstall selected extensions" /></div>
  </form>
</#if>
