<#-- EXTENSIONS UPDATE SCREEN TEMPLATE -->
<script type="text/javascript">
function submitform()
{
    document.update.submit();
}
</script>

<style>
div.floating-menu {position:fixed;background:#fff4c8;border:1px solid #ffcc00;width:35%;z-index:100; right:10px; top:5px}
div.floating-menu a, div.floating-menu h3 {display:block;margin:0 0.5em;}
</style>

<div class="floating-menu">
<h3>Configure Actions</h3>
Currently installed: ${installedCount} out of ${allCount} Extensions <br /> <br />
<div style="width:300px;"><a href="javascript: submitform()" class="foswikiSubmit" >Process selected extensions</a></div>
<input type="radio" name="processExt" value="all" checked="checked"> Process all as selected </input><br /> 
<input type="radio" name="processExt" value="sim"  > Simulate actions </input> <br />
<input type="radio" name="processExt" value="dep"  > Check dependecies only </input><br />
<input type="radio" name="processExt" value="nodep" > Install with no Dependencies </input>
</div>

<h2>Install and Update Extensions</h2>

<div class="foswikiHelp" style="width:60%;";>
	<p><strong>Note:</strong> To install extensions, the webserver user has to be able to write files everywhere in your Foswiki installation. Otherwise you may see 'No permission to write' errors.</p>
    <p>All of the files packaged with an extension that you uninstall, upgrade or re-install will backed up at the start of the requested process..
Backups are stored in your <code>working/configure/backups/</code> directory.   Currently Foswiki does not have an automated method of restoring the backup.</p>
</div>

<#if consultedLocations??>
	<div class="configureConsultedLocations">
		Consulted locations: ${consultedLocations?join(, )}
	</div>
</#if>

<#-- errors -->
<#if errors??>
	<#list errors as i>
		<div class='configureError'>${i}</div>
	</#list>
</#if>

<#-- table contents -->
<#if table??>
    <input type="hidden" name="action" value="ManageExtensions" />
	<table class='configureExtensionsTable' border='0' cellspacing='0'>
		${table}
	</table>
</#if>
