<!-- Template used for Feedback pending summary div -->

<#assign pendingList>
    <span class="configureFeedbackUnsaved"><br />
    <#list pendingItems as i>
        ${i.item}, 
    </#list>
    </span>
</#assign>

<#assign noPending>
     <div class="configureOk"><span>You have no unsaved changes</span></div>
</#assign>

<#assign onePending>
    <div class="FoswikiAlert configureWarn"><span>
    You have one unsaved change
    <#if listPending gt 0 >
        ${pendingList}
    </#if>
    </span></div>
</#assign>

<#assign nPending>
    <div class="FoswikiAlert configureWarn"><span>
    You have ${pendingCount} unsaved changes
    <#if listPending gt 0>
        ${pendingList}
    </#if>
    </span></div>
</#assign>
<#if pendingCount == 0>
    ${noPending}
</#if>
<#if pendingCount == 1> 
    ${onePending}
</#if>
<#if pendingCount gt 1 > 
      ${nPending}
</#if>
