<#-- Template used for Feedback pending summary div -->

<#assign noPending>
<div class="configureNoChanges"><span>
     No unsaved changes</span>
</#assign>

<#assign onePending>
    <div class="configureUnsaved"><span>
    1 unsaved change<#if timesaved??>,&nbsp;from ${timesaved}</#if>
</#assign>

<#assign nPending>
    <div class="configureUnsaved"><span>
    ${pendingCount} unsaved changes<#if timesaved??>,&nbsp;from ${timesaved}</#if>
</#assign>

<#if pendingCount == 0>
 <#assign unsavedDetailButton>${noPending}</#assign>
</#if>
<#if pendingCount == 1> 
 <#assign unsavedDetailButtonLabel>${onePending}</#assign>
</#if>
<#if pendingCount gt 1 > 
     <#assign unsavedDetailButtonLabel>${nPending}</#assign>
</#if>
${unsavedDetailButton}
</span></div>
