<html>
<head>
<!-- This error is sent to a modal window when a feedback request
     can't be authenticated.  It is not a full HTML context; the
     content inside the body tags will be inserted into a
     configureFeedbackErrorWindow div.  Everything else is used
     to identify this as a protocol exception, but is not displayed. -->
</head>
<body>
  <div class="configureFeedbackError">
    <h1><img src="%RESOURCEURI%icon_error_white.gif">This session is not valid</h1>
    <p><p><p>
        <strong>Please refresh your browser window and try again.</strong>
   </div>
</body>
</html>