<#-- FEEDABCK TEMPLATE  -->

<h1>Your updates...</h1>          

<#if messageType == 4><ul><li>Password changed </ul></#if>

<#if changesList??>
	<div class='configureChangeList'>
		<table>
			<#list changesList as i>
				<tr><th>${i.key}</th><td>${i.value}</td></tr>
			</#list>
		</table>
	</div>
</#if>

<h2>Update done!</h2>
Be sure to review all warnings and errors before proceeding.  
