<#-- Template used for Feedback pending summary div -->

<#assign pendingList>
    <span class="configureFeedbackUnsaved">
    <#list pendingItems as i>
        ${i.item}, 
    </#list>
    </span>
</#assign>

<#assign noPending>
     <div class="configureOk"><span>No unsaved changes</span></div>
</#assign>

<#assign onePending>
    <div class="foswikiAlert configureUnsaved"><span>
    1 unsaved change<#if timesaved??>,&nbsp;from ${timesaved}</#if>
    <#if listPending gt 0 >
        ${pendingList}
    </#if>
    </span></div>
</#assign>

<#assign nPending>
    <div class="foswikiAlert configureUnsaved"><span>
    ${pendingCount} unsaved changes<#if timesaved??>,&nbsp;from ${timesaved}</#if>
    <#if listPending gt 0>
        ${pendingList}
    </#if>
    </span></div>
</#assign>
<#if pendingCount == 0>
    ${noPending}
</#if>
<#if pendingCount == 1> 
    ${onePending}
</#if>
<#if pendingCount gt 1 > 
      ${nPending}
</#if>
