<#-- FIND EXTENSIONS INTRO SCREEN TEMPLATE  -->

<#assign localErrorMessage>
	<div class='foswikiAlert configureWarn'>
		Cannot load the extensions installer.<br />
		Check 'Perl Modules' in the 'CGI Setup' section above, and install any
		missing modules required for the Extensions Installer.
	</div>
</#assign>

<#assign localOkMessage>
	<div class='foswikiNotification enableWhenSomethingChanged foswikiHidden'>
		<span class="foswikiAlert"><strong>You made some changes! Consider saving them first.</strong></span>
		Otherwise click to <a href='${actionURI}FindMoreExtensions' class='foswikiButton'>Install, Update and Remove Extensions</a>
	</div>
    <div class='foswikiNotification showWhenNothingChanged'>
    	<strong>If you have made any changes, consider saving them first.</strong>
	    <a href='${actionURI}FindMoreExtensions' class='foswikiButton'>Install, Update and Remove Extensions</a>
    </div>
</#assign>

<#if hasError == 1>
${localErrorMessage}
<#else>
${localOkMessage}
</#if>
