<#-- FIND EXTENSIONS INTRO SCREEN TEMPLATE  -->

<#assign localErrorMessage>
	<div class='foswikiAlert configureWarn'>
		Cannot load the extensions installer.<br />
		Check 'Perl Modules' in the 'CGI Setup' section above, and install any
		missing modules required for the Extensions Installer.
	</div>
</#assign>

<#assign localOkMessage>
	<div class='foswikiNotification enableWhenSomethingChanged foswikiHidden'>
		<strong>You made some changes! Consider saving them first.</strong>
		Otherwise click to <a href='${scriptName}?action=FindMoreExtensions' class='foswikiButton'>Install and Update Extensions</a>
	</div>
    <div class='foswikiNotification showWhenNothingChanged'>
	    <a href='${scriptName}?action=FindMoreExtensions' class='foswikiButton'>Install and Update Extensions</a>
    </div>
</#assign>

<#if hasError == 1>
${localErrorMessage}
<#else>
${localOkMessage}
</#if>
