<#-- Template used for main screen login -->

<#if passwordProblem == 0>
  <h1>Please login</h1>

  <div class='foswikiFormSteps'>
    <div class='foswikiFormStep'>
      <h2>In order to proceed, Configure requires that you type your password.</h2>
      <#assign loginButtonLabel>Enter Password</#assign>

    ${loginButton}
    ${loginFeedback}
    </div>
    <hr />
    <div class='foswikiHelp'>Password forgotten? To reset your password, log in to the server and delete the <code>$Foswiki::cfg{Password} = '...';</code> line from <code>lib/LocalSite.cfg</code>. Then reload this page and create a new password.
    </div>
  </div>
<#else>
  <h1>Security notice</h1>

  <div class='foswikiHelp'>You are not using browser (webserver) authentication to access configure, and you have not set a configure password.  To protect your wiki, we <strong>strongly</strong> recommend that you use at least one of those methods to secure your site. 
<p> As a first step, you should set a configure password with the <strong>Change password</strong> button on the configure task bar (bottom right of the screen) as soon as you login, and then save the configuration.  You can remove it if you implement webserver authentication later.
  </div>
  <hr />
  <div class='foswikiNotification foswikiAlert'>
    <h3 style="margin-top:0;">Security tips</h3>
    You can use a configure password as well as webserver authentication to protect configure, or either alone.  
    <p>The configure password mechanism is provided as a component of your overall security strategy, and to assist you during initial setup of your wiki.  You should consider whether it is right for your site.  <p>Other components, including physical security of your system and webserver authentication can provide per-user control and accountability and more convenience.  For example, X.509 webserver authentication may eliminate the need for a password, while identifying each administrator automatically.  Any webserver-based authentication mechanism allows configure to log changes by username for audit and/or troubleshooting.
    <p>We recommend that you use the stongest feasible method to protect your site:
    <ol>
      <li>Always use a strong password that can't be guessed easily.</li>
      <li>Always configure the web server so that Configure is only accessible to the people who should use it.</li>
      <li>Change your password frequently and do not share it</li>
      <li>Consult documentation (or a security expert) to decide what is best for you.</li>
      <li>If you are running Foswiki on a public website, you can totally disable saving from Configure by making <code>lib/LocalSite.cfg</code> read-only once you are happy with your configuration.  However, this will make keeping your configuration up-to-date less convenient.</li>
    </ol>
  </div>
  <hr />
  <#assign loginButtonLabel>Enter Configure</#assign>
  ${loginButton}
  ${loginFeedback}
</#if>
<div style="display:none" id="{ConfigureGUI}{Unsaved}status"></div>
