<div id="doc3" class="yui-t8 configureMain">
	
	<div id="bd" class="section configureMainContents">
		
		<div id="yui-main">
			<div class="yui-b">
				<#if contents??>${contents}</#if>
			</div>
		</div>

		<div class="yui-b">
			<#if navigation??>
			    <div class='navigation'>
                    ${navigation}
                    <div class='configureToggleSections foswikiMakeVisibleBlock'>
                        <a href='#' class='configureNotShowSection'>open all sections</a>
                        <a href='#' class='configureToggleSection'>close all sections</a>
                    </div>
                </div>
			</#if>
		</div>
		
	</div>

	<div id="ft">
		<div class="configureActions">
			<div class="section configureActionsContents">
			    <div class="foswikiLeft">
                                <span id="configureErrorSummary">
			        <#if totalWarnings?? || totalErrors??>Status:</#if>
                    <#if totalErrors??><span class='configureStatusErrors'>${totalErrors}</span></#if>
                    <#if totalWarnings??><span class='configureStatusWarnings'>${totalWarnings}</span></#if>
                    <#if firstTime == 1>(we will solve this in a minute)</#if>
                                 </span>  
                    <input type="hidden" disabled="disabled"
                           id="configureFeedbackWorkingText"
                           title="I18n - Not form data"
                           value="Working...">
                    <span class="configureFeedbackSummaryTable">
                        <span class="configureFeedbackSummaryCell" id="{ConfigureGUI}{Unsaved}status">${unsavedNotice}</span>
                    </span>
			    </div>
                <input type='submit' class='foswikiButton' name='changePassword' value='Change password' />
				<input type='submit' class='enableWhenSomethingChanged foswikiSubmit' name='action' value='Save changes' />
			</div>
		</div>
	</div>

</div>

<div id="configureToolTipTemplate" class="foswikiHidden">
Reset to the default value, which is:<br />
<code>VALUE</code> <br />
(click twice to undo)
</div>
