<!-- the id on the containing div determines the page width. -->
<!-- #doc = 750px; #doc2 = 950px; #doc3 = 100%; #doc4 = 974px -->

<!-- To set the Preset Template, add a class to the containing node -->
<!-- .yui-t1 = left 160px; .yui-t2 = left 180px; .yui-t3 = left 300px; -->
<!-- .yui-t4 = right 180px; .yui-t5 = right 240px; .yui-t6 = right 300px; -->

<div id="doc3" class="yui-t8 configureMain">
	<div id="hd">
		<div class="configureTools">
			<#if totalWarnings?? || totalErrors??>Status:</#if>
			<#if totalErrors??><span class='configureStatusErrors'>${totalErrors}</span></#if>
			<#if totalWarnings??><span class='configureStatusWarnings'>${totalWarnings}</span></#if>
			
			<#if firstTime == 1>(we will solve this in a minute)</#if>			
		</div><!--/configureTools-->		
	</div>
	
	<div id="bd" class="configureMainContents">
		
		<!-- Preset Templates control the width and alignment of the two blocks (div.yui-b). -->
		<!-- The wide column is wrapped in div#yui-main -->
		<div id="yui-main">
			<div class="yui-b">
				<#if contents??>${contents}</#if>
			</div>
		</div>

		<!-- the unwrapped div.yui-b takes a fixed width and alignment based on the class of the top-level containing node -->
		<div class="yui-b">
			<#if navigation??>
				${navigation}
				<div class='configureToggleSections foswikiMakeVisibleBlock'>
					<a href='#' class='configureNotShowSection'>open all sections</a>
					<a href='#' class='configureToggleSection'>close all sections</a>
				</div>
			</#if>
		</div>
		
	</div>

	<div id="ft">
		<div class="configureActions">
			<div class="configureActionsContents">
				<input type='submit' class='enableWhenSomethingChanged foswikiSubmit' name='action' value='Save changes' accesskey='s' />
			</div>
		</div>
	</div>

</div>

<div id="configureToolTipTemplate" class="foswikiHidden">
Reset to the default value, which is:<br />
<code>VALUE</code> <br />
(click twice to undo)
</div>
