<#assign logout>
    <#if loggedin??>
        <form method="post" action="${formAction}" enctype="multipart/form-data" name="logoutForm">
            <input type="hidden" name="time" value="${time}"  />
            <input type="submit" class="foswikiButton foswikiButtonSmall foswikiRight" title="Logout of configure and return to the wiki" value="Logout" />
            <input type="hidden" name="action" value="Logout">
        </form>
    </#if>
</#assign>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Foswiki Configuration</title>
	<meta content="noindex" name="robots" />
	<link type="image/x-icon" rel="icon" href="%RESOURCEURI%favicon.ico" />
	<link type="image/x-icon" rel="shortcut icon" href="%RESOURCEURI%favicon.ico" />

	<link type="text/css" media="all" rel="stylesheet" href="%RESOURCEURI%yui.css"></style>
	<link type="text/css" media="all" rel="stylesheet" href="%RESOURCEURI%base.css"></style>
	<link type="text/css" media="all" rel="stylesheet" href="%RESOURCEURI%pattern.css"></style>
	<link type="text/css" media="all" rel="stylesheet" href="%RESOURCEURI%jquery.nyroModal-2.custom.css"></style>
	<link type="text/css" media="all" rel="stylesheet" href="%RESOURCEURI%styles.css"></style>
        <!-- The following block takes precedence over the external stylesheets, and
             must stay after them despite the small performance hit. -->
	<style type="text/css" media="all">
            .foswikiMakeVisible {
                display:inline;
            }
            .foswikiMakeVisibleInline {
                display:inline;
            }
            .foswikiMakeVisibleBlock {
                display:block;
            }
            .foswikiMakeHidden {
                display:none;
            }
          body.configureShowOneSection .configureToggleSection {
              display:none;
          }
          body.configureShowOneSection .configureShowSection {
              display:block;
          }
        </style>
	<script type="text/javascript" src="%RESOURCEURI%jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="%RESOURCEURI%jquery.nyroModal-2.custom.min.js"></script>
	<script type="text/javascript" src="%RESOURCEURI%bootstrap-affix.js"></script>
	<script type="text/javascript" src="%RESOURCEURI%scripts.js"></script>
</head>
<body class="configureShowOneSection">
<div id="standardFeedbackItem" class="configureFeedback" style="display:none;"></div>
<div class="configurePageHeader">
    <div class="section">
        ${logout}
        <div class="configureLogo">
            <a href="${scriptName}"><img src="%RESOURCEURI%foswiki-configure-logo.png" alt="Foswiki configuration" /></a>
        </div>
    </div>
</div>

<div class="configurePageBodyWrapper">
<#if messages??>
    <div class="section">
        <div class="foswikiNotification foswiki${style}" id="messages">
            ${messages}
        </div>
    </div>
</#if>

<form method="post" action="${formAction}" enctype="multipart/form-data" name="update">
<input type="hidden" name="time" value="${time}"  />
