<!-- Modal form segment for requesting authentication.  This is invoked
     from the main screen or added to a modal action form. -->
<div id="configureAuthenticateContent" class="configureModalForm configureAuthenticateForm">
  <h1>Configure Password Required</h1>
<#if displayStatus == 16><div class="foswikiNotification foswikiAlert"> Password incorrect. Try again below.</div></#if>
${authenticationReason} requires you to enter the configure password.<p>
    <input type="password" name="password" size="30" maxlength="80" class='foswikiInputField foswikiFocus' placeholder='Configure password' /><br />
</div> 
