<div class='foswikiNotification foswikiAlert noAuthWarning'>
<h3 style="margin-top:0;">High security risk!</h3>

<p><b>Configure does not have a password set.</b> Before doing anything else, access the password dialog by selecting
the <code>Change password</code> checkbox next to the Save changes button in the lower right of the screen
and click <code>Save changes</code> to set a password.</p>

<p>See <a href="http://foswiki.org/Support/ProtectingYourConfiguration">
Protecting Your Configuration</a> for more information on
limiting access to configuration.</p>
</div>
