<div class='foswikiNotification foswikiAlert noAuthWarning'>
<h3 style="margin-top:0;">High security risk!</h3>

<p>This screen was accessed without requiring authentication. You should always make sure the configuration
interface requires authentication, or it may be used by a hacker
to modify your Foswiki configuration.</p>

<p>See <a href="http://foswiki.org/Support/ProtectingYourConfiguration">
Protecting Your Configuration</a> for more information on
limiting access to configuration.</p>
</div>