<#-- TEST SENDING EMAIL INITIAL BUTTON TEMPLATE  -->

<#assign localErrorMessage>
	<div class='foswikiAlert configureWarn'>
		Cannot load the extensions installer.<br />
		Check 'Perl Modules' in the 'CGI Setup' section above, and install any
		missing modules required for the Extensions Installer.
	</div>
</#assign>

<#assign localOkMessage>
	<div class='foswikiNotification enableWhenSomethingChanged foswikiHidden'>
		<p>
			<span class="foswikiAlert"><strong>You've made some changes! Consider saving them first. If you proceed, changes will be lost!</strong></span>
		</p>
	</div>
    <div class='foswikiNotification'>
	    <p>
	    	This action will temporarily enable email along with the email debugging flag and will attempt to send an email to the admin email address. Errors will be reported back to the web interface instead of to the server logs.
        </p>
        <p>
        	<a href='${scriptName}?action=TestEmail' class='foswikiButton'>Start test</a>
        </p>
    </div>
</#assign>

<#if hasError == 1>
${localErrorMessage}
<#else>
${localOkMessage}
</#if>
