<!-- Modal form for listing unsaved items -->

<div id="configureUnsavedDetailForm" class="configureModalForm configureUnsavedDetailForm">

<#if pendingCount == 0>
<h1>There are no unsaved changes</h1>
</#if>
<#if pendingCount gt 0>
<h1>Changes to the following items have not been saved</h1>
</#if>
<p>

  <form method="post" action="${formAction}" enctype="multipart/form-data" name="unsavedDetails" onsubmit="return false;">
    <input type="hidden" name="time" value="${time}"  />

<#if pendingCount gt 0>
The last unsaved change was made on ${timesaved}
<p>
</#if>

<#assign pendingList>
    <table class="configureUnsaved">
    <#list pendingItems as i>
        <tr><td>${i.item}<td>${i.value}</tr>
    </#list>
    </table>
</#assign>

<#assign saveWork>
<#if passwordChanged == 1><p>A password change is pending.</#if>
<p>Save your work by clicking the Save changes button.
</#assign>

<#assign noPending>
     <h2>No unsaved changes</h2>
</#assign>

<#assign onePending>
    <h2>1 unsaved change</h2>
        ${pendingList}
        ${saveWork}
</#assign>

<#assign nPending>
    <h2>${pendingCount} unsaved changes</h2>
        ${pendingList}
        ${saveWork}
</#assign>

<#if pendingCount == -1>
    ${noPending}
</#if>
<#if pendingCount == 1> 
    ${onePending}
</#if>
<#if pendingCount gt 1 > 
      ${nPending}
</#if>

<$authenticationReason>Viewing unsaved items</$authenticationReason>
${authenticationNeeded}
<!-- No buttons -->
${unsavedDetailFormFeedback}
  </form>
</div> 
