%TMPL:INCLUDE{twistyplugin}%

%TMPL:DEF{twisty:header}%<style type="text/css" media="all">
@import url("%PUBURL%/%SYSTEMWEB%/TwistyContrib/twist.css");
</style>
<!-- style type="text/css">
        @import "dojoroot/dijit/themes/tundra/tundra.css";
        @import "dojoroot/dojo/resources/dojo.css"
</style
-->
<script type="text/javascript" src="%PUBURLPATH%/%SYSTEMWEB%/DojoToolkitContrib/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
<script type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/JavascriptFiles/foswikiPref.js"></script>
<script type="text/javascript" src="%PUBURLPATH%/%SYSTEMWEB%/TwistyPlugin/twisty.dojo.js"></script>
<script type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/JavascriptFiles/foswikiStyles.js"></script>
%TMPL:END%