%TMPL:INCLUDE{twistyplugin}%

%TMPL:DEF{"twisty:header:js"}%
%ADDTOHEAD{"
  "TWISTYPLUGIN::JS"
  requires="DOJOTOOLKITCONTRIB"
  text="
<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/DojoToolkitContrib/dojo/dojo.js' djConfig='parseOnLoad: true'></script>
<script type='text/javascript' src='%PUBURL%/%SYSTEMWEB%/JavascriptFiles/foswikiPref.js'></script>
<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/TwistyPlugin/twisty.dojo.js'></script>
<script type='text/javascript' src='%PUBURL%/%SYSTEMWEB%/JavascriptFiles/foswikiStyles.js'></script>
"}%
%TMPL:END%
