%TMPL:INCLUDE{twistyplugin}%

%TMPL:DEF{twisty:header:js}%
%ADDTOHEAD{
  "TWISTYPLUGIN::JS"
  text="
<script type='text/javascript' src='%PUBURL%/%SYSTEMWEB%/JavascriptFiles/foswikiPref.js'></script>
<script type='text/javascript' src='%PUBURL%/%SYSTEMWEB%/JavascriptFiles/foswikiCSS.js'></script>
<script type='text/javascript' src='%PUBURL%/%SYSTEMWEB%/TwistyPlugin/twisty.js'></script>
"}%
%TMPL:END%
