
%TMPL:INCLUDE{twistyplugin}%

%TMPL:DEF{twisty:header}%
<style type="text/css" media="all">
@import url("%PUBURL%/%SYSTEMWEB%/TwistyPlugin/twistie.jquery.css");
</style>
<script type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/TwistyPlugin/twistie.jquery.js"></script>
<script type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/JavascriptFiles/foswikiPref.js"></script>
<script type="text/javascript">
// <![CDATA[
var styleText = '<style type="text/css" media="all">.twikiMakeVisible{display:inline;}.twikiMakeVisibleInline{display:inline;}.twikiMakeVisibleBlock{display:block;}.twikiMakeHidden{display:none;}</style>';
document.write(styleText);
// ]]>
</script>
%TMPL:END%

