%TMPL:INCLUDE{twistyplugin}%

%TMPL:DEF{twisty:header}%<link rel="stylesheet" href="%PUBURLPATH%/%SYSTEMWEB%/TwistyPlugin/twisty.jquery.css" type="text/css" media="all" />
<script type="text/javascript" src="%PUBURLPATH%/%SYSTEMWEB%/TwistyPlugin/twisty.jquery.js"></script>
<script type="text/javascript" src="%PUBURLPATH%/%SYSTEMWEB%/JavascriptFiles/foswikiPref.js"></script>
<script type="text/javascript" src="%PUBURLPATH%/%SYSTEMWEB%/JavascriptFiles/foswikiStyles.js"></script>
%TMPL:END%
