%{ This is a default template }%%TMPL:INCLUDE{"oops"}%
%TMPL:INCLUDE{"passwordmessages"}%

%TMPL:DEF{"titleaction"}% %TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Password Management"}%%TMPL:END%
%TMPL:DEF{"topicaction"}%%TMPL:END%

%TMPL:DEF{"message"}%
%INSTANTIATE%
%TMPL:END%
