%{ This is a default template

   SYSTEM MESSAGES related to Password Change and Reset.
}%
%{==============================================================================}%
%TMPL:DEF{"email_disabled"}%
---+++ %MAKETEXT{"Email disabled"}%

%MAKETEXT{"The Administrator has disabled email on this system. Password reset is not supported."}%

%MAKETEXT{"Please contact [_1]." args="%WIKIWEBMASTER%"}%

%MAKETEXT{"Your password has not been changed."}%

*[[%TOPIC%][%MAKETEXT{"OK"}%]]*
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"passwords_disabled"}%
---+++ %MAKETEXT{"Passwords disabled"}%

%MAKETEXT{"The Administrator has disabled password changes. Password change and reset are not supported."}%

%MAKETEXT{"Please contact [_1]." args="%WIKIWEBMASTER%"}%

%MAKETEXT{"Your password has not been changed."}%

*[[%TOPIC%][%MAKETEXT{"OK"}%]]*
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_users_to_reset"}%
---+++ %MAKETEXT{"Password reset failed"}%
%MAKETEXT{"No users to reset passwords for."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"reset_bad"}%
---+++ %MAKETEXT{"Password reset failed."}%
%PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"non_unique_email"}%
---+++ %MAKETEXT{"Password reset failed"}%
%MAKETEXT{"Multiple users share the entered email address. Please used your !WikiName to reset your password."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"rej_email"}%
---+++ %MAKETEXT{"Invalid e-mail address"}%
%MAKETEXT{"The requested e-mail address has been rejected by system filters."}%

%PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"dup_email"}%
---+++ %MAKETEXT{"Invalid e-mail address"}%
%MAKETEXT{"The new e-mail address that you requested is already registered to another user."}%

%MAKETEXT{"Please contact [_1] if you need assistance." args="%WIKIWEBMASTER%"}%

%PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"email_not_supported"}%
---+++ %MAKETEXT{"Password reset failed"}%
%MAKETEXT{"This Foswiki is not configured to permit login by email address. Please enter a WikiName or Login name to reset the password."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"password_mismatch"}%
---+++ %MAKETEXT{"Passwords do not match"}%
%MAKETEXT{"The two passwords you entered do not match."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_password"}%
---+++ %MAKETEXT{"Bad password"}%
%MAKETEXT{"This site requires at least [_1] character passwords" args="%PARAM1%"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bad_email"}%
---+++ %MAKETEXT{"Invalid e-mail address"}%
%MAKETEXT{"The e-mail address for this account is not valid."}%

%PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"bulk_not_admin"}%
---+++ %MAKETEXT{"Invalid user [_1]" args="%PARAM1%"}%
%MAKETEXT{"The bulk reset password function is restricted to administrators."}%

*[[%USERSWEB%.%HOMETOPIC%][%MAKETEXT{"OK"}%]]*
%{==============================================================================}%
%TMPL:DEF{"change_not_admin"}%
---+++ %MAKETEXT{"Invalid user [_1]" args="%PARAM1%"}%
%MAKETEXT{"Changing the password of another user is restricted to administrators."}%

*[[%USERSWEB%.%HOMETOPIC%][%MAKETEXT{"OK"}%]]*
%{==============================================================================}%
%TMPL:DEF{"no_change_admin"}%
---+++ %MAKETEXT{"Invalid user [_1]" args="%PARAM1%"}%
%MAKETEXT{"The super admin username may not be changed here. See [[[_1]][configure =Security and Authentication -> Passwords= tab]]"  args="%SCRIPTURL{"configure"}%"}%

%MAKETEXT{"For more information, see [[[_1]][The Installation Guide]]." args="%SCRIPTURLPATH{"view" topic="System.InstallationGuide" #="Establishing_an_internal_admin_login_40optional_41"}%"}%

%MAKETEXT{"See [_1] for a list of existing users or register as new user in [_2]." args="%USERSWEB%.%WIKIUSERSTOPIC%, %SYSTEMWEB%.UserRegistration"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"no_change_base"}%
---+++ %MAKETEXT{"Invalid user [_1]" args="%PARAM1%"}%
%MAKETEXT{"The four default system users can not have passwords assigned or changed.  They cannot be used to login."  args="%SCRIPTURL{"configure"}%"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"not_a_user"}%
---+++ %MAKETEXT{"Invalid user [_1]" args="%PARAM1%"}%
%MAKETEXT{"The username you entered may not exist, or may not be eligible for password reset.  Check the spelling of [_1] and try again. If you get stuck, please contact [_2]." args="%PARAM1%, %WIKIWEBMASTER%"}%

%MAKETEXT{"See [_1] for a list of existing users or register as new user in [_2]." args="%USERSWEB%.%WIKIUSERSTOPIC%, %SYSTEMWEB%.UserRegistration"}% %TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"email_changed"}%
---+++ %MAKETEXT{"E-mail changed successfully!"}%

%MAKETEXT{"Remember to update your user topic [[[_1]]] if you want your e-mail change to be reflected there as well." args="%PARAM2%"}%

%MAKETEXT{"Your registered e-mail address(es) are updated to: <noautolink>[_1]</noautolink>." args="%PARAM1%"}%

%MAKETEXT{"Return to [_1]." args="%SYSTEMWEB%.ChangeEmailAddress"}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"wrong_password"}%
---+++ %MAKETEXT{"Incorrect Password"}%
%MAKETEXT{"The password you entered in the *old password* field is incorrect."}% %PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"reset_ok"}%

%MAKETEXT{"An email has been sent to one or more addresses on file for this account. You can use the link in that message for one-time access to the [[[_1]][PasswordChange]] topic, where you can change your password." arg1="%SYSTEMWEB%.ChangePassword" }%

%MAKETEXT{"This link will only be valid for a brief time. ([*,_1,minute]). If you decide to not change your password, you may safely ignore the message and the old password will remain valid." arg1="%PARAM1%"}%

%IF{"'%PARAM2%'='1'" then="
%MAKETEXT{"Sending to one or more email addresses failed. If you do not receive a reset message, contact [_1] for assistance." arg1="%WIKIWEBMASTER%"}%
"}%

*[[%BASEWEB%.%BASETOPIC%][%MAKETEXT{"OK"}%]]*
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"password_not_changed"}%
---+++ %MAKETEXT{"Password could not be changed"}%

%MAKETEXT{"Your system may not support changing passwords through Foswiki. Check with your Wiki administrator."}%

%PARAM1%

*[[%TOPIC%][%MAKETEXT{"OK"}%]]*
%TMPL:END%
%{==============================================================================}%
%TMPL:DEF{"password_changed"}%
---+++ %MAKETEXT{"Password changed successfully!"}%

%IF{
  "{LoginManager} = 'Foswiki::LoginManager::ApacheLogin'"
  then="%MAKETEXT{"You may need to close your browser to make this change take effect."}%"
}%

*[[%USERSWEB%.%HOMETOPIC%][%MAKETEXT{"OK"}%]]*
%TMPL:END%
