*,v
*,pfv
*.gz
/CommentPlugin.md5
/CommentPlugin.sha1
/CommentPlugin.tgz
/CommentPlugin.txt
/CommentPlugin.zip
/CommentPlugin_installer
/CommentPlugin_installer.pl
/pub/System/CommentPlugin/comment.css
/pub/System/CommentPlugin/comment.js
pub/System/CommentPlugin/comment.js
pub/System/CommentPlugin/comment.css
